<app-bd-dialog>
  <app-bd-dialog-toolbar header="Change Password" [panel]="true" [route]="['..']"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div class="flex flex-col gap-2.5">
      <form class="flex flex-col gap-2.5" #pwForm="ngForm" (ngSubmit)="onSave()">
        <app-bd-form-input
          type="password"
          label="Current Password"
          [(ngModel)]="passOrig"
          name="passOrig"
          [passwordShowable]="true"
          required
        ></app-bd-form-input>
        <app-bd-form-input
          type="password"
          label="New Password"
          [(ngModel)]="passNew"
          name="passNew"
          [passwordShowable]="true"
          minlength="12"
          maxlength="128"
          required
        ></app-bd-form-input>
        <app-bd-form-input
          type="password"
          label="Repeat New Password"
          [(ngModel)]="passVerify"
          name="passVerify"
          minlength="12"
          maxlength="128"
          required
          [passwordShowable]="true"
          [appPasswordVerification]="passNew"
        ></app-bd-form-input>
        <password-strength-meter [password]="passNew"></password-strength-meter>
        <div class="bd-warning-text" *ngIf="remoteError">{{ remoteError }}</div>
        <app-bd-button
          color="primary"
          type="submit"
          text="Save"
          icon="save"
          [disabled]="pwForm.invalid"
          [collapsed]="false"
        ></app-bd-button>
      </form>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
