<app-bd-dialog>
  <app-bd-dialog-toolbar header="Change Password" [closeablePanel]="true"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px">
      <form fxLayout="column" fxLayoutGap="10px" #pwForm="ngForm" (ngSubmit)="onSave()">
        <app-bd-form-input type="password" label="Current Password" [(ngModel)]="passOrig" name="passOrig" required></app-bd-form-input>
        <app-bd-form-input type="password" label="New Password" [(ngModel)]="passNew" name="passNew" required></app-bd-form-input>
        <app-bd-form-input
          type="password"
          label="Repeat New Password"
          [(ngModel)]="passVerify"
          name="passVerify"
          required
          [appPasswordVerification]="passNew"
        ></app-bd-form-input>
        <div class="bd-text-warn" *ngIf="remoteError">{{ remoteError }}</div>
        <app-bd-button color="toolbar" type="submit" text="SAVE" [disabled]="pwForm.invalid" [collapsed]="false"></app-bd-button>
      </form>
      <app-bd-panel-button
        #backButton
        [collapsed]="false"
        text="Back to overview"
        icon="arrow_back"
        [toggle]="false"
        [route]="['..']"
        [relative]="true"
      ></app-bd-panel-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
