<div fxLayout="row wrap" fxFlex="1 0 auto" class="local-sizing" fxLayoutAlign="start" *ngIf="!grouping">
  <app-bd-data-card
    [style.padding.px]="5"
    *ngFor="let record of records"
    fxFlex.lt-sm="0 0 100%"
    fxFlex.sm="0 0 50%"
    fxFlex.md="0 0 33.33%"
    fxFlex.lg="0 0 25%"
    fxFlex.gt-lg="0 0 20%"
    [record]="record"
    [columns]="_columns"
    (recordClick)="recordClick.emit($event)"
  >
  </app-bd-data-card>
</div>

<mat-tab-group *ngIf="grouping" [style.width]="'100%'">
  <ng-container *ngFor="let group of getGroupValues()">
    <mat-tab *ngIf="!grouping.selected?.length || grouping.selected.includes(group)" [label]="group">
      <div fxLayout="row wrap" fxFlex="1 0 auto" class="local-sizing" fxLayoutAlign="start">
        <app-bd-data-card
          [style.padding.px]="5"
          *ngFor="let record of getGroupRecords(group)"
          fxFlex.lt-sm="0 0 100%"
          fxFlex.sm="0 0 50%"
          fxFlex.md="0 0 33.33%"
          fxFlex.lg="0 0 25%"
          fxFlex.gt-lg="0 0 20%"
          [record]="record"
          [columns]="_columns"
          (recordClick)="recordClick.emit($event)"
        >
        </app-bd-data-card>
      </div>
    </mat-tab>
  </ng-container>
</mat-tab-group>
