<mat-toolbar class="mat-elevation-z1 header-toolbar">
  <span class="fill-space"></span>
  <mat-form-field class="search">
    <mat-label></mat-label>
    <input matInput type="text" hint="Filter" [(ngModel)]="instanceGroupList.searchString" (ngModelChange)="instanceGroupList.applyFilter()">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</mat-toolbar>
<div *ngIf="groupsLoading || recentLoading" class="loading-container">
  <mat-progress-spinner [mode]="'indeterminate'" class="loading-spinner" mode></mat-progress-spinner>
</div>

<ng-container *ngIf='!groupsLoading && instanceGroupList.isEmpty()'>
  <div class="center">
    <app-logo [size]='128'></app-logo>
    <p>
      <span class='welcomeText'>Welcome to BDeploy!</span>
    </p>
    <p>
      <span class='headerText'>To get you started quickly, consider reading our <a href='https://bdeploy.io/user/index.html#_getting_started' target="_blank">documentation</a>!</span>
    </p>
    <mat-divider></mat-divider>
    <ng-container *ngIf='isAddAllowed()'>
      <p>
        <span class="headerText">No instance groups have been created yet. Start by creating a new one.</span>
      </p>
      <p>
        <span class="material-icons headerIcon">add</span>
        <span class="headerText"><a [routerLink]="['/instancegroup/add']">Create Instance Group</a></span>
      </p>
    </ng-container>
    <ng-container *ngIf='isAttachAllowed()'>
      <p>
        <span class="headerText">No instance groups have been attached yet. Start by attaching one from the central server.</span>
      </p>
      <p>
        <span class="material-icons headerIcon">link</span>
        <span class="headerText"><a [routerLink]="['/servers/attach/central']">Attach Instance Group</a></span>
      </p>
    </ng-container>
  </div>
</ng-container>

<div *ngIf="!instanceGroupList.isEmpty() && (displayRecent | async)">
    <p class="list-heading">Recently used:</p>
    <mat-grid-list cols="{{columns}}" rowHeight="200px" gutterSize="10px">
      <mat-grid-tile *ngFor="let recentGroup of filterRecent(recent) | slice:0:columns">
        <app-instance-group-card [instanceGroup]='recentGroup' (removeEvent)=removeGroup(recentGroup) [isAttachAllowed]='isAttachManagedAllowed()'></app-instance-group-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider class="list-divider"></mat-divider>
    <p class="list-heading">All Instance Groups:</p>
</div>

<mat-grid-list cols="{{columns}}" rowHeight="200px" gutterSize="10px">
  <mat-grid-tile *ngFor="let group of instanceGroupList.filtered">
    <app-instance-group-card [instanceGroup]='group' (removeEvent)=removeGroup(group) [isAttachAllowed]='isAttachManagedAllowed()'></app-instance-group-card>
  </mat-grid-tile>
</mat-grid-list>

<button mat-fab class="add-button" *ngIf='isAddAllowed()' [routerLink]="['/instancegroup/add']"><mat-icon>add</mat-icon></button>
<button mat-fab class="add-button" *ngIf='isAttachAllowed()' [routerLink]="['/servers/attach/central']" matTooltip="Attach Instance Group from Central Server"><mat-icon>link</mat-icon></button>
