.add-button {
  top: auto !important;
  right: 40px !important;
  bottom: 40px !important;
  left: auto !important;
  position: fixed !important;
}

.fill-space {
  flex: 1 0 auto;
}

.loading-container {
  flex: 1 0 auto;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.list-grouping {
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
}

.list-heading {
  margin-top: 30px;
  margin-left: 20px;
}

.center {
  text-align: center;
}

.headerText {
  font-size: 1.1em;
  vertical-align: middle;
}

.welcomeText {
  font-size: 2em;
  vertical-align: middle;
}

.headerIcon {
  font-size: 1.7em;
  vertical-align: middle;
}

.headerButton{
  font-size:1.1em
}

.headerButton .mat-icon{
  margin:0 5px 3px 0;
}

.instanceGroup-Wrapper{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:10px 10px 10px 55px;
}

.recentGroup-Wrapper{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow:hidden;
  height:200px;
  padding:10px 10px 10px 55px;
}

.group-card{
  margin:15px;
}
