<mat-toolbar class="mat-elevation-z1 header-toolbar">
  <span class="fill-space"></span>
  <mat-form-field class="search">
    <mat-label></mat-label>
    <input matInput type="text" hint="Filter" [(ngModel)]="instanceGroupList.searchString" (ngModelChange)="instanceGroupList.applyFilter()">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</mat-toolbar>
<div *ngIf="groupsLoading || recentLoading" class="loading-container">
    <mat-spinner  [diameter]='48'></mat-spinner>
</div>

<ng-container *ngIf='!groupsLoading && instanceGroupList.isEmpty()'>
  <div class="center">
    <app-logo [size]='128'></app-logo>
    <p>
      <span class='welcomeText'>Welcome to BDeploy!</span>
    </p>
    <p>
      <span class='headerText' *ngIf="authService.isGlobalAdmin()">To get you started quickly, consider reading our <a rel="noopener noreferrer" href='https://bdeploy.io/user/index.html#_getting_started' target="_blank">documentation</a>!</span>
    </p>
    <mat-divider></mat-divider>
    <ng-container *ngIf='authService.isGlobalAdmin() && isAddAllowed()'>
      <p>
        <span class="headerText">No instance groups have been created yet. Start by creating a new one.</span>
      </p>
      <p>
        <button mat-raised-button class="headerButton"[routerLink]="['/instancegroup/add']"><mat-icon>add</mat-icon> Instance Group</button>
      </p>
    </ng-container>
    <ng-container *ngIf='authService.isGlobalAdmin() && isAttachAllowed()'>
      <p>
        <span class="headerText">No instance groups have been attached yet. Start by attaching one from the central server.</span>
      </p>
      <p>
        <span class="material-icons headerIcon">link</span>
        <span class="headerText"><a [routerLink]="['/servers/attach/central']">Attach Instance Group</a></span>
      </p>
    </ng-container>
    <ng-container *ngIf='!authService.isGlobalAdmin()'>
      <p>
        <span class="headerText">No instance groups found.</span>
      </p>
    </ng-container>
  </div>
</ng-container>

<div *ngIf="!instanceGroupList.isEmpty() && (displayRecent | async)">
    <p class="list-heading">Recently used:</p>
    <div class="recentGroup-Wrapper" >
      <app-instance-group-card class="group-card" *ngFor="let recentGroup of filterRecent(recent)" [instanceGroup]='recentGroup' (removeEvent)=removeGroup(recentGroup) [isAttachAllowed]='isAttachManagedAllowed()'></app-instance-group-card>
    </div>


    <mat-divider class="list-divider"></mat-divider>
    <p class="list-heading">All Instance Groups:</p>
</div>

<div class="instanceGroup-Wrapper">
  <app-instance-group-card class="group-card" *ngFor="let group of instanceGroupList.filtered" [instanceGroup]='group' (removeEvent)=removeGroup(group) [isAttachAllowed]='isAttachManagedAllowed()'></app-instance-group-card>
</div>

<button mat-fab class="add-button" *ngIf='isAddAllowed()' [routerLink]="['/instancegroup/add']" matTooltip="Add Instance Group" matTooltipShowDelay="1000" [disabled]="!authService.isGlobalAdmin()"><mat-icon>add</mat-icon></button>
<button mat-fab class="add-button" *ngIf='isAttachAllowed()' [routerLink]="['/servers/attach/central']" [disabled]="!authService.isGlobalAdmin()" matTooltip="Attach Instance Group from Central Server"><mat-icon>link</mat-icon></button>
