<app-bd-data-table
  #table
  *ngIf="!_grid && !!records?.length"
  [caption]="caption"
  [columns]="columns"
  [sortData]="sortData"
  [searchData]="searchData"
  [searchable]="searchable"
  [grouping]="grouping"
  [records]="records"
  [checkMode]="checkMode"
  [checked]="checked"
  [checkedFrozenWhen$]="checkedFrozenWhen$"
  [recordRoute]="recordRoute"
  (checkedChange)="checkedChange.emit($event)"
  (recordClick)="recordClick.emit($event)"
></app-bd-data-table>

<app-bd-data-grid
  #grid
  *ngIf="_grid && !!records?.length"
  [columns]="columns"
  [searchData]="searchData"
  [searchable]="searchable"
  [grouping]="!!grouping && !!grouping.length ? grouping[0] : null"
  [records]="records"
  [recordRoute]="recordRoute"
  (recordClick)="recordClick.emit($event)"
></app-bd-data-grid>

<ng-content *ngIf="!records?.length"></ng-content>
