.mat-dialog-container {
  overflow: visible!;
}

.mat-dialog-content {
  overflow: visible!;
  padding: 0px 4px;
  margin: 10px 0px;
}

.container {
  height: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  width: 100%;
}

.mat-cell {
  padding: 5px;
  word-break: break-all;
}

.mat-header-cell {
  padding: 5px;
}

.mat-column-status {
  width: 10px;
}

.mat-column-name {
  width: 30%;
}

.actions {
  justify-content: flex-end;
}
