<!-- Dialog which shows result messages if there are any. -->
<ng-template #msgTemplate>
  <div class="flex flex-col gap-1">
    <div>The following possible problems occured:</div>
    <app-bd-data-table [records]="messages" [columns]="msgColumns" [sortData]="null"></app-bd-data-table>
    <div>You can choose to cancel and discard changes, or apply them despite the warnings.</div>
  </div>
</ng-template>

<app-bd-dialog [loadingWhen$]="loading$">
  <app-bd-dialog-toolbar header="Instance Templates" [panel]="true" [route]="['..']"></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    @if (instanceTemplates && instanceTemplates.length) {
    <div>
      @if (servers.isCurrentInstanceSynchronized$ | async) {
      <div class="flex flex-col gap-2.5">
        <mat-stepper #stepper [linear]="true" orientation="vertical">
          <mat-step label="Apply instance templates" [completed]="template">
            <div class="instance-templates-top-space">
              <div>
                You can apply instance templates to the current instance by choosing below. An instance template will
                create and configure all required processes.
              </div>
              <app-bd-form-select
                [values]="instanceTemplates"
                [labels]="instanceTemplateLabels"
                [(ngModel)]="template"
                (ngModelChange)="selectTemplate()"
                label="Template"
                name="Template"
              ></app-bd-form-select>
              <app-bd-button
                [collapsed]="false"
                color="primary"
                text="Next"
                (click)="stepper.next()"
                [disabled]="!template"
                [tooltip]="template ? 'Proceed to group selection' : 'A template must be selected'"
              ></app-bd-button>
            </div>
          </mat-step>
          <mat-step label="Assign Template Groups" [completed]="areAssignedGroupsValid">
            @if (template) {
            <div class="instance-templates-top-space">
              <div>
                Instance Templates can contain multiple groups of applications. These groups can be assigned to
                compatible target nodes.
              </div>
              <div class="instance-templates-top-space">
                @for (group of template?.groups; track group) {
                <app-bd-form-select
                  [label]="'Group \'' + group.name + '\''"
                  [matTooltip]="group.description"
                  matTooltipPosition="above"
                  [attr.name]="group.name"
                  [(ngModel)]="groups[group.name]"
                  [values]="groupNodes[group.name]"
                  [labels]="groupLabels[group.name]"
                  (ngModelChange)="assignGroup()"
                ></app-bd-form-select>
                }
                <app-bd-button
                  [collapsed]="false"
                  color="primary"
                  text="Next"
                  (click)="stepper.next()"
                  [disabled]="!(template && areAssignedGroupsValid)"
                  [tooltip]="groupSelectionNextButtonTooltip()"
                ></app-bd-button>
              </div>
            </div>
            }
          </mat-step>
          <mat-step
            label="Assign Variable Values"
            [completed]="template && areAssignedGroupsValid && hasAllRequiredVariables"
          >
            <div class="instance-templates-top-space">
              @for (requiredVariable of allRequiredVariables; track requiredVariable) { @if (template &&
              areAssignedGroupsValid) {
              <app-bd-form-template-variable
                [templateVariable]="requiredVariable"
                [(ngModel)]="variables[requiredVariable.id]"
                (ngModelChange)="checkVariables()"
              ></app-bd-form-template-variable>
              } } @if (!allRequiredVariables.length) {
              <div class="bd-description-text pb-5">No template variables</div>
              }
              <app-bd-button
                [collapsed]="false"
                color="primary"
                text="Confirm"
                (click)="applyStageFinal()"
                [disabled]="!(template && areAssignedGroupsValid && hasAllRequiredVariables)"
                [tooltip]="finalConfirmButtonTooltip()"
              ></app-bd-button>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
      }
    </div>
    } @else {
    <app-bd-no-data> This product has no instance templates</app-bd-no-data>
    }
  </app-bd-dialog-content>
</app-bd-dialog>
