<app-bd-dialog>
  <app-bd-dialog-toolbar header="Import Instance Version" [panel]="true" [route]="['..']"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div class="flex flex-col gap-2.5">
      <div>
        Drop an instance version you previously exported to upload it.
        <strong>Note</strong> that the product used in the instance version must be available on the server.
      </div>
      <app-bd-file-drop (fileAdded)="fileAdded($event)" [types]="['.zip', '.jar']"></app-bd-file-drop>
      @for (file of files; track file; let i = $index) {
        <app-bd-file-upload
          [file]="file.file"
          [parameters]="file.parameters"
          [url]="instances.importURL$ | async"
          (dismiss)="onDismiss(i)"
          [resultEvaluator]="resultEval"
        ></app-bd-file-upload>
      }
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
