<div class="local-dialog flex">
  <div
    class="local-logo-area bd-glow-bg flex-auto flex flex-col justify-center items-center"
  >
    <app-bd-logo [size]="64" class="local-logo-pulse"></app-bd-logo>
  </div>
  <div class="grow-[2] flex flex-col justify-center items-center gap-7">
    <div class="local-header">Server Version Changed</div>
    <div
      *ngIf="mode === 'NODE'; else versionChange"
      class="flex flex-col gap-2.5 justify-center items-center"
    >
      <div>The server version has changed to <code>NODE</code></div>
      <div>BDeploy must be reloaded to apply changes.</div>
    </div>
    <ng-template #versionChange>
      <div class="flex flex-col gap-2.5 justify-center items-center">
        <div>The server version has changed to:</div>
        <div>
          <strong>{{ newVersion }}</strong>
        </div>
        <div>BDeploy must be reloaded to apply changes.</div>
      </div>
    </ng-template>
    <app-bd-button
      icon="cached"
      text="Reload BDeploy"
      [collapsed]="false"
      (click)="onReload()"
    ></app-bd-button>
    <div *ngIf="mode !== 'NODE'" class="bd-hint-text">
      Previous Server Version: {{ oldVersion }}
    </div>
  </div>
</div>
