<div class="local-dialog flex">
  <div
    class="local-logo-area bd-glow-bg flex-auto"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <app-bd-logo [size]="64" class="local-logo-pulse"></app-bd-logo>
  </div>
  <div
    class="grow-[2]"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="30px"
  >
    <div class="local-header">Server Version Changed</div>
    <div
      *ngIf="mode === 'NODE'; else versionChange"
      fxLayout="column"
      fxLayoutGap="10px"
      fxLayoutAlign="center center"
    >
      <div>The server version has changed to <code>NODE</code></div>
      <div>BDeploy must be reloaded to apply changes.</div>
    </div>
    <ng-template #versionChange>
      <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <div>The server version has changed to:</div>
        <div>
          <strong>{{ newVersion }}</strong>
        </div>
        <div>BDeploy must be reloaded to apply changes.</div>
      </div>
    </ng-template>
    <app-bd-button
      icon="cached"
      text="Reload BDeploy"
      [collapsed]="false"
      (click)="onReload()"
    ></app-bd-button>
    <div *ngIf="mode !== 'NODE'" class="bd-hint-text">
      Previous Server Version: {{ oldVersion }}
    </div>
  </div>
</div>
