.fill-space {
  flex: 1 1 auto;
}

.box {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.datafiles-card {
  margin: 20px;
  min-width: 90%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.datafiles-card-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.filelist-table {
  width: 100%;
}

.icon-column {
  min-width: 40px;
  cursor: pointer;
}

.wide-column {
  width: 100%;
  cursor: pointer;
}

.size-column {
  min-width: 80px;
}

.lastModified-column {
  min-width: 180px;
}

.output-overlay {
  max-width: 100%;
  min-width: 100%;
}

.datafile-search-header {
  margin-right: 64px;
}

.datafile-search-field {
  min-width: 525px;
}
