<mat-nav-list>
    <mat-list-item *ngFor='let version of softwareVersions'>
      <div class='software-row'>
          <div>{{version.name}}:{{version.tag}}</div>
          <div class='spacer'></div>
          <button mat-icon-button *ngIf='exporting !== version' [disabled]='exporting' (click)="export(version)" class="icon-button" matTooltip='Download software package version as ZIP'><mat-icon>cloud_download</mat-icon></button>
          <mat-spinner *ngIf='exporting === version' diameter='24' class='progress-spinner'></mat-spinner>
          <button mat-icon-button (click)="delete(version)" [disabled]="isReadOnly()"class="icon-button"><mat-icon>delete</mat-icon></button>
      </div>
    </mat-list-item>
  </mat-nav-list>
