<app-bd-button-popup
  #popup
  text="Data Grouping"
  icon="filter_alt"
  tooltip="below"
  [collapsed]="true"
  [badge]="filteredGroups.length"
>
  <mat-card
    [style.padding.px]="10"
    class="mat-typography"
    fxLayout="column"
    fxLayoutGap="5px"
  >
    <div fxLayout="row" fxLayoutGap="5px">
      <!-- a grouping panel per grouping -->
      <div
        fxLayout="row"
        fxLayoutGap="5px"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="onDrop($event)"
      >
        <app-bd-data-grouping-panel
          *ngFor="let grp of groupings; let i = index"
          cdkDrag
          [definitions]="definitions"
          [records]="records"
          [index]="i"
          [(grouping)]="groupings[i]"
          (groupingChange)="fireUpdate()"
          [popupEmitter]="popup.popupOpened"
          [removeDisabled]="groupings.length === 1 && !groupings[0].definition"
          (removeClicked)="removeGrouping($event)"
        ></app-bd-data-grouping-panel>
      </div>

      <!-- the management panel (add/remove/save) -->
      <div fxLayout="column" fxLayoutGap="5px">
        <ng-container *ngIf="multiple">
          <app-bd-button
            text="Add"
            icon="add"
            tooltip="above"
            (click)="addGrouping()"
            [disabled]="groupings.length >= 5"
          ></app-bd-button>
          <mat-divider
            [style.position]="'relative'"
            [style.top.px]="5"
            [style.padding-bottom.px]="10"
          ></mat-divider>
        </ng-container>
        <app-bd-button
          *ngIf="presetKey"
          tooltip="above"
          text="Save as local preset"
          icon="push_pin"
          (click)="savePreset()"
        ></app-bd-button>
        <app-bd-button
          *ngIf="presetKey && hasGlobalPreset && (auth.isCurrentScopeAdmin$ | async)"
          tooltip="above"
          text="Save as global preset"
          svgIcon="global_pin"
          (click)="saveGlobalPreset()"
        ></app-bd-button>
        <app-bd-dialog></app-bd-dialog>
      </div>
    </div>
  </mat-card>
</app-bd-button-popup>
