<app-bd-button-popup
  #popup
  [text]="groupBy"
  tooltip="below"
  [collapsed]="false"
>
  <mat-card
    appearance="outlined"
    class="mat-typography flex flex-col gap-1 p-2.5"
  >
    <div class="flex gap-1 justify-end items-center">
      <mat-form-field class="preset-select" appearance="outline">
        <mat-label>Favorite</mat-label>
        <mat-select [value]="presetType" (valueChange)="setPresetType($event)">
          <mat-option *ngFor="let fav of presetTypes" [value]="fav"
            >{{ capitalize(fav) }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <app-bd-button
        tooltip="above"
        text="Save preset"
        icon="save"
        (click)="savePreset()"
        [disabled]="disabled"
      ></app-bd-button>
      <app-bd-button
        tooltip="above"
        text="Reset preset"
        icon="settings_backup_restore"
        (click)="deletePreset()"
        [disabled]="disabled"
      ></app-bd-button>
    </div>
    <mat-divider class="relative top-1 pb-2.5"></mat-divider>
    <div class="flex gap-1">
      <!-- a grouping panel per grouping -->
      <div
        class="flex gap-1 grow"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="onDrop($event)"
      >
        <app-bd-data-grouping-panel
          *ngFor="let grp of groupings; let i = index"
          cdkDrag
          [definitions]="availableDefinitions"
          [records]="records"
          [index]="i"
          [(grouping)]="groupings[i]"
          (groupingChange)="fireUpdate()"
          [popupEmitter]="popup.popupOpened"
          [removeDisabled]="groupings.length === 1 && !groupings[0].definition"
          (removeClicked)="removeGrouping($event)"
        >
          <mat-icon cdkDragHandle class="local-drag-handle cursor-grab mb-[1px]"
            >drag_indicator</mat-icon
          >
        </app-bd-data-grouping-panel>
      </div>

      <!-- the management panel add new groupings -->
      <div class="flex flex-col gap-1 pt-1 items-center" *ngIf="multiple">
        <ng-container>
          <app-bd-button
            text="Add"
            icon="add"
            tooltip="above"
            (click)="addGrouping()"
            [disabled]="groupings.length >= 5"
          ></app-bd-button>
        </ng-container>
      </div>
    </div>
  </mat-card>
</app-bd-button-popup>
