<app-bd-button-popup
  #popup
  [text]="groupBy"
  tooltip="below"
  [collapsed]="false"
>
  <mat-card
    [style.padding.px]="10"
    class="mat-typography"
    fxLayout="column"
    fxLayoutGap="5px"
  >
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end center">
      <mat-form-field class="preset-select" appearance="outline">
        <mat-label>Favorite</mat-label>
        <mat-select
          placeholder="Select preset"
          [value]="presetType"
          (valueChange)="setPresetType($event)"
        >
          <mat-option *ngFor="let fav of presetTypes" [value]="fav"
            >{{ capitalize(fav) }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <app-bd-button
        tooltip="above"
        text="Save preset"
        icon="save"
        (click)="savePreset()"
        [disabled]="disabled"
      ></app-bd-button>
      <app-bd-button
        tooltip="above"
        text="Reset preset"
        icon="settings_backup_restore"
        (click)="deletePreset()"
        [disabled]="disabled"
      ></app-bd-button>
    </div>
    <mat-divider
      [style.position]="'relative'"
      [style.top.px]="5"
      [style.padding-bottom.px]="10"
    ></mat-divider>
    <div fxLayout="row" fxLayoutGap="5px">
      <!-- a grouping panel per grouping -->
      <div
        fxLayout="row"
        fxLayoutGap="5px"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="onDrop($event)"
      >
        <app-bd-data-grouping-panel
          *ngFor="let grp of groupings; let i = index"
          cdkDrag
          [definitions]="availableDefinitions"
          [records]="records"
          [index]="i"
          [(grouping)]="groupings[i]"
          (groupingChange)="fireUpdate()"
          [popupEmitter]="popup.popupOpened"
          [removeDisabled]="groupings.length === 1 && !groupings[0].definition"
          (removeClicked)="removeGrouping($event)"
        >
          <mat-icon
            cdkDragHandle
            [style.cursor]="'grab'"
            [style.margin-bottom.px]="1"
            class="local-drag-handle"
            >drag_indicator</mat-icon
          >
        </app-bd-data-grouping-panel>
      </div>

      <!-- the management panel add new groupings -->
      <div
        fxLayout="column"
        fxLayoutGap="5px"
        [style.padding-top.px]="5"
        *ngIf="multiple"
      >
        <ng-container>
          <app-bd-button
            text="Add"
            icon="add"
            tooltip="above"
            (click)="addGrouping()"
            [disabled]="groupings.length >= 5"
          ></app-bd-button>
        </ng-container>
        <app-bd-dialog></app-bd-dialog>
      </div>
    </div>
  </mat-card>
</app-bd-button-popup>
