.cdk-drag-preview {
  background-color: var(--bd-bg-dialog);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.25;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.preset-select .mat-mdc-form-field-infix {
  padding: 0.5em 0 !important;
}

.preset-select .mat-mdc-text-field-wrapper {
  height: 36px;
}

.preset-select .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.preset-select .mat-mdc-floating-label {
  top: 16px !important;
  pointer-events: none !important;

  --mat-mdc-form-field-label-transform: translateY(-22px) scale(0.75) !important;
}
