<app-bd-dialog>
  <app-bd-dialog-toolbar
    header="Process Console for {{ (details.processConfig$ | async)?.name }}"
    [panel]="true"
    [route]="['..']"
    >
    <div class="flex-auto"></div>
    @if ((hasStdin$ | async) && (available$ | async)) {
      <div class="flex justify-center items-center">
        <div
          class="local-stdin-badge"
          [ngClass]="(stdin$ | async) ? 'local-stdin-attached' : 'local-stdin-detached'"
          [matTooltip]="
            (stdin$ | async)
              ? 'Input is available and will be directed to the process when you type.'
              : 'Input is not availble. Either the process is not running, the node has restarted, or the user has no write permission on this Instance.'
          "
          >
          {{ (stdin$ | async) ? 'Input available' : 'Input unavailable' }}
        </div>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
    }
    <app-bd-button
      icon="cloud_download"
      text="Download Full Content"
      (click)="doDownload()"
      [disabled]="!(available$ | async)"
      tooltipPosition="below"
    ></app-bd-button>
    <mat-divider [vertical]="true"></mat-divider>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    @if (available$ | async) {
      <app-bd-terminal
        [content$]="content$"
        [allowInput]="true"
        (userInput)="onUserInput($event)"
      ></app-bd-terminal>
    }
    @if (!(available$ | async) && (instances.current$ | async)?.managedServer) {
      <app-bd-no-data>
        <p>Process details are unavailable.</p>
        @if (!(servers.isCurrentInstanceSynchronized$ | async)) {
          <p class="text-center">
            <strong>{{ (instances.current$ | async).instanceConfiguration.name }}</strong>
            is not synchronized with the controlling server
            <strong>{{ (instances.current$ | async).managedServer.hostName }}</strong>
          </p>
        }
        <p>Synchronize the instance to (re-)enable editing.</p>
        <app-bd-server-sync-button
          [collapsed]="false"
          [server]="(instances.current$ | async).managedServer"
          (click)="content$.next(content$.value)"
        ></app-bd-server-sync-button>
      </app-bd-no-data>
    }
  </app-bd-dialog-content>
</app-bd-dialog>
