<mat-toolbar class="bd-page-toolbar">
  <mat-toolbar-row class="gap-1">
    <div class="flex flex-col truncate">
      @if (!panel || (areas.panelMaximized$ | async)) {
        <app-bd-current-scope></app-bd-current-scope>
      }
      <span [matTooltip]="header" [matTooltipShowDelay]="1000" class="truncate" data-cy="dialog-title"
        >{{ header }}</span
        >
      </div>
      <div class="flex-auto flex gap-1 items-center">
        <ng-content></ng-content>
      </div>
      @if (panel && !route) {
        <app-bd-button
          text="Close"
          icon="close"
          tooltip="left"
          [collapsed]="narrow$ | async"
          (click)="closePanel()"
        ></app-bd-button>
      }
      @if (panel && !!route) {
        <app-bd-panel-button
          #backButton
          [text]="actionText"
          [icon]="actionIcon"
          [toggle]="false"
          [relative]="relative"
          [route]="route"
          [collapsed]="narrow$ | async"
          tooltip="left"
        ></app-bd-panel-button>
      }
    </mat-toolbar-row>
  </mat-toolbar>
