<mat-toolbar class="bd-page-toolbar">
  <mat-toolbar-row fxLayoutGap="5px">
    <span [matTooltip]="header" [matTooltipShowDelay]="1000" class="bd-text-ellipsis">{{ header }}</span>
    <div fxLayout="row" fxLayoutGap="5px" fxFlex="1 0 auto">
      <ng-content></ng-content>
    </div>
    <app-bd-button *ngIf="panel && !route" text="Close" icon="close" tooltip="left" [collapsed]="actionCollapsed" (click)="closePanel()"></app-bd-button>
    <app-bd-panel-button
      #backButton
      *ngIf="panel && !!route"
      [text]="actionText"
      [icon]="actionIcon"
      [toggle]="false"
      [relative]="relative"
      [route]="route"
      [collapsed]="actionCollapsed"
      tooltip="left"
    ></app-bd-panel-button>
  </mat-toolbar-row>
</mat-toolbar>
