.add-button {
  top: auto !important;
  right: 40px !important;
  bottom: 40px !important;
  left: auto !important;
  position: fixed !important;
  z-index: 9999;
}

.list-heading {
  margin-top: 30px;
  margin-left: 15px;
}

.center {
  text-align: center;
}

.headerText {
  font-size: 1.5em;
  margin-left: 15px;
  vertical-align: middle;
}

.headerIcon {
  font-size: 2em;
  vertical-align: middle;
}

.loading-container {
  flex: 1 0 auto;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content-container {
  margin: 20px;
}

.header-title {
  align-items: center;
}

.header-description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerButton{
  font-size:1.1em
}

.headerButton .mat-icon{
  margin:0 5px 3px 0;
}
