.grouping-level-number {
  font-weight: 500;
}

.grouping-remove-icon {
  color: var(--bd-text-disabled);
}

.grouping-remove-icon:hover {
  color: black;
  cursor: pointer;
}

.grouping-values-container {
  max-height: 40vh;
  overflow-y: auto;
}

.grouping-panel-filter:not(.mat-focused) mat-icon {
  color: var(--bd-text-secondary);
}

.grouping-panel-filter.mat-focused mat-icon {
  color: var(--bd-primary);
}

.grouping-panel-filter mat-icon {
  position: relative;
  top: -10px;
}

.grouping-panel-filter .mat-mdc-form-field-infix {
  padding: 0.5em 0 !important;
}

.grouping-panel-filter .mat-mdc-text-field-wrapper {
  height: 36px;
}

.grouping-panel-filter .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.grouping-panel-filter .mat-mdc-floating-label {
  top: 16px !important;
  --mat-mdc-form-field-label-transform: translateY(-22px) scale(0.75) !important;
}

.grouping-select .mat-mdc-form-field-infix {
  padding: 0.5em 0 !important;
}

.grouping-select .mat-mdc-text-field-wrapper {
  height: 36px;
}

.grouping-select .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.grouping-select .mat-mdc-floating-label {
  top: 16px !important;
  pointer-events: none !important;

  --mat-mdc-form-field-label-transform: translateY(-22px) scale(0.75) !important;
}
