.grouping-level-number {
  font-weight: 500;
}

.grouping-remove-icon {
  color: var(--bd-text-disabled);
}

.grouping-remove-icon:hover {
  color: black;
  cursor: pointer;
}

.grouping-values-container {
  max-height: 40vh;
  overflow-y: auto;
}

.grouping-panel-filter .mat-form-field-infix {
  padding: 0.25em 0;
}

.grouping-panel-filter .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}

.grouping-panel-filter:not(.mat-form-field-should-float) .mat-form-field-label {
  top: 1.1em;
}

.grouping-panel-filter:not(.mat-focused) mat-icon {
  color: var(--bd-text-secondary);
}

.grouping-panel-filter.mat-focused mat-icon {
  color: var(--bd-primary);
}

.grouping-panel-filter input {
  transform: translateY(-0.1em);
}

.grouping-panel-filter mat-icon {
  transform: translateY(-0.1em);
}

.grouping-select .mat-form-field-infix {
  padding: 0.5em 0;
}

.grouping-select .mat-form-field-wrapper {
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.grouping-select.mat-form-field-hide-placeholder .mat-form-field-label {
  top: 1.1em;
}
