<app-bd-dialog [loadingWhen$]="loading$">
  <app-bd-dialog-toolbar header="Edit Logging Configuration" [panel]="true">
    <div class="flex-auto"></div>
    <app-bd-button
      text="Apply"
      color="primary"
      icon="done"
      [collapsed]="false"
      [disabled]="!(config !== origConfig)"
      (click)="onSave()"
    ></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    @if (!(loading$ | async)) {
      <div class="flex flex-col h-full">
        <app-bd-editor class="flex-auto" [(content)]="config" path="log4j2.xml"></app-bd-editor>
      </div>
    }
  </app-bd-dialog-content>
</app-bd-dialog>
