<app-bd-dialog [loadingWhen$]="nodesAdmin.loading$">
  <app-bd-dialog-toolbar
    header="Convert to Node"
    [panel]="true"
    [route]="['..']"
  ></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <form #form="ngForm">
      <div fxLayout="column" fxLayoutGap="10px">
        <span
          >Drag the <strong>identification card</strong> below to another
          <code>STANDALONE</code> or <code>MANAGED</code> server to convert this
          server to a <code>NODE</code> attached to that server.</span
        >
        <span
          >Existing Instances will be moved to the target server. This server
          will become a node which is configured in all migrated
          instances.</span
        >
        <mat-card
          *ngIf="data"
          fxLayout="column"
          fxLayoutAlign="center center"
          draggable="true"
          (dragstart)="onDragStart($event)"
          class="bd-drag-card"
        >
          <div>Drag me to the target server!</div>
        </mat-card>
      </div>
    </form>
  </app-bd-dialog-content>
</app-bd-dialog>
