@import '~@angular/material/theming';

@mixin file-upload-theme($theme) {
  $dark: map-get($theme, 'is-dark');

  $primary: map-get($theme, 'primary');
  $accent: map-get($theme, 'accent');
  $warn: map-get($theme, 'warn');

  .dropZoneActive {
    border: 2px dashed mat-color($primary) !important;
  }

  .browseButton {
    color: mat-color($primary);
  }

  .uploadSuccessful {
    color: mat-color($primary);
  }

  .uploadError {
    color: mat-color($warn);
  }
}
