.container {
  max-height: 360px;
  min-width: 800px;
}

.title {
  padding: 10px 0px;
}

.title-header {
  font-size: 1.2em;
  font-weight: bolder;
}

.title-hint {
  font-size: 1em;
}

.console {
  max-height: 300px;
  max-width: 1000px;
  overflow-y: auto;
  border: 1px solid;
}

.executable {
  font-style: italic;
}

.argument {
  margin-left: 10px;
  word-break: keep-all;
  white-space: nowrap;
}
