<app-bd-dialog [loadingWhen$]="loading$">
  <app-bd-dialog-toolbar header="Edit {{ (file$ | async)?.path }}" [panel]="true">
    <div fxFlex="1 0 auto"></div>
    <app-bd-button text="Save" color="primary" icon="save" [collapsed]="false" [disabled]="!isDirty()" (click)="onSave()"></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div *ngIf="!(loading$ | async) && file$ | async as file" [style.height]="'100%'" fxLayout="column">
      <app-bd-editor *ngIf="!(binary$ | async)" fxFlex="1 0 0" [(content)]="content" [path]="file.path"></app-bd-editor>
      <app-bd-no-data *ngIf="binary$ | async">Binary data cannot be edited online.</app-bd-no-data>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
