<app-bd-dialog [loadingWhen$]="loading$">
  <app-bd-dialog-toolbar
    header="Edit {{ (file$ | async)?.path + (content !== originalContent ? '*' : '') }}"
    [panel]="true"
    [route]="['..', 'view']"
    actionText="Back to Viewer"
    >
    <div class="flex-auto"></div>
    <app-bd-button
      text="Save"
      color="primary"
      icon="save"
      [collapsed]="false"
      [disabled]="!(content !== originalContent)"
      (click)="onSave()"
    ></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    @if (!(loading$ | async) && file$ | async; as file) {
      <div class="flex flex-col h-full">
        @if (!(binary$ | async)) {
          <app-bd-editor
            class="grow basis-0"
            [(content)]="content"
            [path]="file.path"
          ></app-bd-editor>
        }
        @if (binary$ | async) {
          <app-bd-no-data>Binary data cannot be edited online.</app-bd-no-data>
        }
      </div>
    }
  </app-bd-dialog-content>
</app-bd-dialog>
