<div class="flex justify-start" *ngIf="column.data(record) as item">
  <div
    class="bd-text-ellipsis"
    [appBdPopup]="popup"
    appBdPopupTrigger="hover"
    [appBdPopupDelay]="500"
    [appBdPopupPosition]="'above-right'"
  >
    {{ item }}
    <ng-template #popup>
      <mat-card
        appearance="outlined"
        class="mat-typography flex flex-col gap-1 p-2.5 max-w-[400px]"
      >
        <p [style.word-break]="'break-word'">{{ item }}</p>
      </mat-card>
    </ng-template>
  </div>
</div>
