@import '~@angular/material/theming';

@mixin process-details-theme($theme) {
  $dark: map-get($theme, is-dark);

  .process-uid {
    color: if($dark, mat-color($mat-grey, 400), mat-color($mat-grey, 600));
  }

  .out-of-sync {
    color: #fff;
    background-color: if($dark, #da0808, #640000);
  }
}
