.sw-card {
  flex: 1 0 auto;
  margin: 15px;
  padding: 0 !important;
}

.sw-card-header {
  padding: 10px !important;
  border-radius: 5px 5px 0px 0px;
}

.sw-card-content {
  padding: 15px !important;
}

.sw-card-subtitle {
  margin-top: -11px !important;
  margin-bottom: 0;
}

.sw-avatar {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.sw-avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  flex: 1 0 auto;
}

.add-button {
  top: auto !important;
  right: 40px !important;
  bottom: 40px !important;
  left: auto !important;
  position: fixed !important;
}

.loading-spinner-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
