<div fxLayout="column" class="bd-rect-card">
  <app-node-header fxLayout="column" [node]="node">
    <div fxLayout="row">
      <div fxLayout="column">
        <div class="bd-type-text">NODE</div>
        <div class="bd-title-text">{{ node.nodeName }}</div>
      </div>
      <div fxFlex="1 0 auto"></div>
      <div
        fxLayout="row"
        fxLayoutGap="5px"
        [style.pointer-events]="'all'"
        fxLayoutAlign="center center"
      >
        <app-bd-panel-button
          text="Details"
          icon="info"
          [route]="['panels', 'instances', 'node', node.nodeName]"
          tooltip="below"
        ></app-bd-panel-button>
      </div>
    </div>
  </app-node-header>
  <app-node-state-panel
    [items]="nodeStateItems$ | async"
    [narrowWhen$]="narrowWhen$"
    [lastRefreshAt$]="processes.processStatesLoadTime$"
    (manualRefresh)="processes.reload()"
  ></app-node-state-panel>
  <ng-container *ngIf="!(collapsedWhen$ | async)">
    <mat-divider></mat-divider>
    <app-node-process-list
      class="bd-default-padding"
      [node]="node"
      [gridWhen$]="gridWhen$"
      [groupingWhen$]="groupingWhen$"
      [bulkMode]="bulkMode"
    ></app-node-process-list>
  </ng-container>
</div>
