<div class="bd-rect-card flex flex-col">
  <app-node-header class="flex flex-col" [node]="node">
    <div class="flex">
      <div class="flex flex-col">
        <div class="bd-type-text">NODE</div>
        <div class="bd-title-text">{{ node.nodeName }}</div>
      </div>
      <div class="flex-auto"></div>
      <div class="flex gap-1 justify-center items-center pointer-events-auto">
        <app-bd-panel-button
          text="Details"
          icon="info"
          [route]="['panels', 'instances', 'node', node.nodeName]"
          tooltip="below"
        ></app-bd-panel-button>
      </div>
    </div>
  </app-node-header>
  <app-node-state-panel
    [items]="nodeStateItems$ | async"
    [narrowWhen$]="narrowWhen$"
    [lastRefreshAt$]="processes.processStatesLoadTime$"
    (manualRefresh)="processes.reload()"
  ></app-node-state-panel>
  <ng-container *ngIf="!(collapsedWhen$ | async)">
    <mat-divider></mat-divider>
    <app-node-process-list
      class="bd-default-padding"
      [node]="node"
      [gridWhen$]="gridWhen$"
      [groupingWhen$]="groupingWhen$"
      [bulkMode]="bulkMode"
    ></app-node-process-list>
  </ng-container>
</div>
