<app-bd-dialog [loadingWhen$]="groups.loading$">
  <app-bd-dialog-toolbar header="Instance Groups">
    <div class="flex-auto"></div>
    <app-bd-data-sorting
      [columns]="groupColumns.defaultGroupColumns"
      [sort]="sort"
      [disabled]="!isCardView"
      (sortChange)="dataTable.sort = $event"
    ></app-bd-data-sorting>
    <app-bd-data-grouping
      [multiple]="!isCardView"
      (groupingChange)="dataTable.grouping = $event"
      [definitions]="grouping"
      [records]="groups.groups$ | async"
      [presetKey]="presetKeyValue"
    ></app-bd-data-grouping>
    <app-bd-button
      [isToggle]="true"
      icon="grid_view"
      text="Toggle Card Mode"
      [(toggle)]="isCardView"
      tooltip="below"
    ></app-bd-button>
    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-panel-button
      *ngIf="!isManaged; else managed"
      icon="add"
      text="Add Instance Group..."
      [route]="['panels', 'groups', 'add']"
      [disabled]="!isAddAllowed"
      tooltip="below"
    ></app-bd-panel-button>
    <ng-template #managed>
      <app-bd-panel-button
        icon="link"
        text="Link Instance Group..."
        [route]="['panels', 'servers', 'link', 'central']"
        [disabled]="!isAttachAllowed"
        tooltip="below"
      ></app-bd-panel-button>
    </ng-template>
  </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <app-bd-data-display
      #dataTable
      [columns]="groupColumns.defaultGroupColumns"
      [records]="groups.groups$ | async"
      [recordRoute]="getRecordRoute"
      [searchable]="true"
      [searchData]="searchInstanceGroupData"
      [presetKey]="presetKeyValue"
      [grid]="isCardView"
      (recordClick)="onRecordClick($event)"
    >
      <app-bd-no-data header="Welcome to BDeploy!">
        <p class="text-center">
          To get you started quickly, consider reading our
          <a
            rel="noopener noreferrer"
            href="https://bdeploy.io/user/index.html#_getting_started"
            target="_blank"
            >documentation</a
          >!
        </p>
        <ng-container *ngIf="isAddAllowed">
          <p class="text-center">
            No instance groups have been created yet. Start by creating a new
            one.
          </p>
          <app-bd-panel-button
            icon="add"
            text="Add Instance Group..."
            [collapsed]="false"
            [route]="['panels', 'groups', 'add']"
          ></app-bd-panel-button>
        </ng-container>
        <ng-container *ngIf="isAttachAllowed">
          <p class="text-center">
            No instance groups have been linked yet. Start by linking one from a
            central server.
          </p>
          <app-bd-panel-button
            icon="link"
            text="Link Instance Group..."
            [collapsed]="false"
            [route]="['panels', 'servers', 'link', 'central']"
          ></app-bd-panel-button>
        </ng-container>
      </app-bd-no-data>
    </app-bd-data-display>
  </app-bd-dialog-content>
</app-bd-dialog>
