<div class="flex justify-center items-center">
  <app-bd-button-popup
    text="Details"
    icon="info"
    tooltip="below"
    preferredPosition="left-below"
  >
    <app-bd-notification-card
      header="Problem Details"
      [dismissable]="false"
      [icon]="record.message.icon"
      [style.min-width.px]="350"
      background="dialog"
    >
      <div class="bd-default-padding flex flex-col gap-1">
        <div>
          While applying <strong>{{ record.group }}</strong> to
          <strong>{{ record.node }}</strong
          ><span *ngIf="!!record.appname"
            >, when processing <strong>{{ record.appname }}</strong></span
          >:
        </div>
        <div>
          <em>{{ record.message.message }}</em>
        </div>
      </div>
    </app-bd-notification-card>
  </app-bd-button-popup>
</div>
