<div class="flex justify-center items-center">
  <app-bd-button-popup text="Details" icon="info" tooltipPosition="below" preferredPosition="left-below">
    <app-bd-notification-card
      header="Problem Details"
      [dismissable]="false"
      [icon]="record.message.icon"
      class="min-w-[350px]"
      background="dialog"
      >
      <div class="bd-default-padding flex flex-col gap-1">
        <div>
          While applying <strong>{{ record.group }}</strong> to <strong>{{ record.node }}</strong
          >@if (!!record.appname) {
          <span>, when processing <strong>{{ record.appname }}</strong></span
          >
          }:
        </div>
        <div>
          <em>{{ record.message.message }}</em>
        </div>
      </div>
    </app-bd-notification-card>
  </app-bd-button-popup>
</div>
