.local-search-group {
  min-width: 90px;
  max-width: 500px;

  min-height: 30px;

  border-radius: 3px;
  border: 1px solid;
}

.local-search-group-disabled {
  opacity: 0.75;
}

.local-search {
  background-color: inherit;
  color: inherit;
  border: none;
  width: 50px; /* flex will expand it, but this is the minimum width */
}

.local-search:focus {
  outline: none;
}

.local-search::placeholder {
  opacity: 0.7;
  color: inherit;
}

.local-search-group > * {
  margin-left: 3px;
  margin-right: 3px;
}

.local-search-clear {
  cursor: pointer;
}
