<div class="flex-auto flex justify-center items-center">
  <div
    class="local-search-group flex-auto flex justify-start items-center"
    [class.local-search-group-disabled]="disabled"
  >
    <mat-icon>search</mat-icon>
    <input
      #searchField
      class="local-search flex-auto"
      type="text"
      [placeholder]="disabled ? 'Search not possible here' : 'Search current page'"
      [(ngModel)]="value"
      (ngModelChange)="queueChange()"
      [disabled]="disabled"
    />
    <mat-icon
      class="local-search-clear"
      *ngIf="searchField.value"
      (click)="searchField.value = ''; value = ''; valueChange.emit(value)"
      >clear</mat-icon
    >
  </div>
</div>
