<mat-sidenav-container class="admin-shell-container">
  <mat-sidenav mode="side" opened class="admin-shell-nav mat-elevation-z2">
    <mat-nav-list>
      <a mat-list-item [routerLink]="[{ outlets: { panel: ['general'] } }]" routerLinkActive="active-setting"
        ><mat-icon class="nav-icon">settings</mat-icon>General Settings</a
      >
      <a mat-list-item [routerLink]="[{ outlets: { panel: ['instancegroup'] } }]" routerLinkActive="active-setting"
        ><mat-icon class="nav-icon">view_carousel</mat-icon>Instance Group Settings</a
      >
      <a mat-list-item [routerLink]="[{ outlets: { panel: ['plugins'] } }]" routerLinkActive="active-setting"
        ><mat-icon class="nav-icon">extension</mat-icon>Plugins</a
      >

      <div class="menu-group">User Management</div>
      <a mat-list-item [routerLink]="[{ outlets: { panel: ['authentication'] } }]" routerLinkActive="active-setting"
        ><mat-icon class="nav-icon">security</mat-icon>Authentication</a
      >
      <a mat-list-item [routerLink]="[{ outlets: { panel: ['users'] } }]" routerLinkActive="active-setting"
        ><mat-icon class="nav-icon">account_circle</mat-icon>User Accounts</a
      >

      <div class="menu-group">Housekeeping</div>
      <a mat-list-item [routerLink]="[{ outlets: { panel: ['manualcleanup'] } }]" routerLinkActive="active-setting"
        ><mat-icon class="nav-icon">delete_sweep</mat-icon>Manual Cleanup</a
      >
      <a mat-list-item [routerLink]="[{ outlets: { panel: ['hive'] } }]" routerLinkActive="active-setting"
        ><mat-icon class="nav-icon">sd_storage</mat-icon>Hive Browser</a
      >
      <a mat-list-item [routerLink]="[{ outlets: { panel: ['hiveauditlogs'] } }]" routerLinkActive="active-setting"
        ><mat-icon class="nav-icon">message</mat-icon>Hive Audit Logs</a
      >

      <div class="menu-group">Maintenance</div>
      <a mat-list-item [routerLink]="[{ outlets: { panel: ['metrics'] } }]" routerLinkActive="active-setting"
        ><mat-icon class="nav-icon">timeline</mat-icon>Metrics</a
      >
      <a mat-list-item [routerLink]="[{ outlets: { panel: ['auditlogs'] } }]" routerLinkActive="active-setting"
        ><mat-icon class="nav-icon">message</mat-icon>Auditing</a
      >
      <a mat-list-item [routerLink]="[{ outlets: { panel: ['logFiles'] } }]" routerLinkActive="active-setting"
        ><mat-icon class="nav-icon">subject</mat-icon>Logging</a
      >
      <a mat-list-item [routerLink]="[{ outlets: { panel: ['systemsoftware'] } }]" routerLinkActive="active-setting"
        ><mat-icon class="nav-icon">system_update</mat-icon>BDeploy Update</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="admin-shell-content">
    <router-outlet name="panel"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
