<app-bd-notification-card
  [header]="header$ | async"
  [icon]="icon$ | async"
  [disabled]="(isUploadProcessing$ | async) || (isImporting$ | async)"
  [type]="(isUploadFailed$ | async) || (isImportFailed$ | async) ? 'warning' : 'generic'"
  (dismiss)="onDismiss()"
  [dismissable]="!(!!uploadStatus.detail && !(!!uploadStatus?.detail?.isHive || !!uploadStatus?.detail?.isProduct) && !!!importStatus)"
  >
  <div class="flex flex-col p-1 gap-2">
    @if ((isUploadProcessing$ | async) || (isUploading$ | async) || (isImporting$ | async)) {
      <mat-progress-bar
        [mode]="(isUploading$ | async) ? 'determinate' : 'indeterminate'"
        [value]="uploadStatus.progressObservable | async"
      ></mat-progress-bar>
    }
    @if ((isUploading$ | async) || (isUploadProcessing$ | async) || (isImporting$ | async)) {
      <div
        class="break-all bd-description-text"
        >
        Working on it...
      </div>
    }
    @if (isUploadFailed$ | async) {
      <div class="break-all bd-description-text">{{ uploadStatus.detail }}</div>
    }
    @if (isUploadFinished$ | async) {
      <div class="break-all bd-description-text">
        {{ this.uploadStatus?.detail?.details }}
      </div>
    }
    @if (isImportFailed$ | async) {
      <div class="break-all bd-description-text">{{ importStatus?.detail }}</div>
    }
    @if (isImportFinished$ | async) {
      <div class="break-all bd-description-text">{{ importStatus?.detail }}</div>
    }
    @if (!!uploadStatus.detail && !(!!uploadStatus?.detail?.isHive || !!uploadStatus?.detail?.isProduct) && !!!importStatus) {
      <app-bd-form-input
        label="Name"
        name="name"
        [(ngModel)]="uploadStatus.detail.name"
        required
        appTrimmed
      ></app-bd-form-input>
      <app-bd-form-input
        label="Version"
        name="tag"
        [(ngModel)]="uploadStatus.detail.tag"
        required
        appTrimmed
      ></app-bd-form-input>
      <div class="package-os-buttons">
        <app-bd-form-toggle
          label="Operating System Independent"
          name="allOs"
          [(ngModel)]="supportAllOs"
        ></app-bd-form-toggle>
        <app-bd-form-toggle label="Windows" name="windows" [(ngModel)]="supportWindows"></app-bd-form-toggle>
        <app-bd-form-toggle label="Linux" name="linux" [(ngModel)]="supportLinux"></app-bd-form-toggle>
      </div>
      <app-bd-button
        color="primary"
        [collapsed]="false"
        text="Import"
        [disabled]="
        !(
          !!uploadStatus.detail &&
          uploadStatus?.detail?.name?.length > 0 &&
          uploadStatus?.detail?.tag?.length > 0 &&
          (uploadStatus?.detail?.supportedOperatingSystems === undefined || uploadStatus?.detail?.supportedOperatingSystems.length > 0)
        )
      "
        (click)="import()"
      ></app-bd-button>
      <app-bd-button text="Cancel" (click)="onDismiss()" [collapsed]="false"></app-bd-button>
    }
  </div>
</app-bd-notification-card>
