.not-found {
  margin: 20px;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}

.loading-container {
  flex: 1 0 auto;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
