<app-bd-dialog>
  <app-bd-dialog-toolbar header="Theme" [panel]="true"> </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div class="flex flex-col gap-2.5">
      <div class="bd-description-text">The selected theme is stored in the browser's local storage.</div>
      @for (t of themeService.getThemes(); track t) {
        <div
          class="local-theme-item cursor-pointer flex gap-2.5 justify-start items-center"
          (click)="themeService.updateTheme(t)"
          >
          <div [ngClass]="t + '-chooser'" class="basis-[56px]">
            <div class="preview-background">
              <div class="preview-circle"></div>
              <div class="preview-accent"></div>
            </div>
          </div>
          <div class="flex-auto">{{ themeService.getThemeDescription(t) }}</div>
          <div class="flex justify-center items-center w-9">
            @if (t === themeService.getCurrentTheme()) {
              <div class="preview-selected">
                <mat-icon>check_circle_outline</mat-icon>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
