<h1 mat-dialog-title>Application Template Variables</h1>
<form #f="ngForm">
  <div mat-dialog-content class='flex-content'>
    <p>
      The selected application template requires template variables to be provided.
    </p>
    <mat-form-field *ngFor='let variable of variables'>
      <input matInput [matAutocomplete]='auto' type='text' name='variable.uid' required [(ngModel)]='variable.value' [placeholder]='variable.name' [matTooltip]='variable.description'>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let suggestedValue of variable.suggestedValues" [value]="suggestedValue">
          {{suggestedValue}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</form>
<div mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="null">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="variables" [disabled]='f.invalid'>Apply</button>
</div>
