<ng-template #addDialog>
  <div class="flex flex-col gap-2.5 min-w-[400px]">
    <app-bd-form-input
      #tempFileInput
      name="path"
      label="File Name"
      [(ngModel)]="tempFilePath"
      required
      appCfgFileNameValidator
    ></app-bd-form-input>
    <app-bd-file-drop
      (fileAdded)="doAddFileContent($event)"
      hintText="Optionally drop file to add initial content"
    ></app-bd-file-drop>
    <div *ngIf="tempFileContentLoading$ | async">Loading...</div>
    <div *ngIf="tempFileError" class="bd-warning-text">{{ tempFileError }}</div>
    <div *ngIf="tempFileContent">Loaded {{tempFileContent.length}} bytes</div>
  </div>
</ng-template>

<app-bd-dialog>
  <app-bd-dialog-toolbar header="Configuration Files" [panel]="true" [route]="['..']">
    <div class="flex-auto"></div>
    <app-bd-button
      *ngIf="bulkMode && (bulkSelection$ | async).length"
      text="Delete Selected Files"
      icon="delete"
      (click)="bulkDelete()"
      tooltip="below"
    ></app-bd-button>
    <app-bd-button
      icon="library_add_check"
      text="Bulk Manipulation"
      (click)="bulkMode = !bulkMode"
      tooltip="below"
    ></app-bd-button>
    <app-bd-button text="Add File" icon="add" (click)="doAddFile(addDialog)"></app-bd-button>
    <mat-divider [vertical]="true"></mat-divider>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <app-bd-data-table
      [grouping]="grouping"
      [records]="records$ | async"
      [columns]="columns"
      [sort]="{ active: 'name', direction: 'asc' }"
      [checkMode]="bulkMode"
      [checked]="bulkSelection$ | async"
      (checkedChange)="bulkSelection$.next($event)"
      [checkChangeForbidden]="checkChangeForbidden"
    ></app-bd-data-table>
  </app-bd-dialog-content>
</app-bd-dialog>
