<app-bd-dialog>
  <app-bd-dialog-toolbar
    header="Compare version {{ (edit.current$ | async)?.instance?.tag }} with local changes"
    [panel]="true"
    [route]="['..']"
    [actionCollapsed]="narrow$ | async"
  >
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px" *ngIf="configPair$ | async as pair" [style.padding-top.px]="2">
      <div class="bd-rect-card" fxLayout="column">
        <div fxLayout="column">
          <div fxLayout="row" class="bd-default-padding" [style.padding-bottom.px]="0">
            <div fxLayout="column">
              <div class="bd-type-text">Instance Configuration</div>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px" class="bd-default-padding">
          <div fxLayout="row" fxLayoutGap="10px">
            <div class="local-compare-header" fxFlex="50%" fxLayout="row">{{ pair.base.version }}</div>
            <div class="local-compare-header" fxFlex="50%">{{ pair.compare.version }}</div>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <app-history-header-config
              fxFlex="50%"
              diffSide="left"
              [baseConfig]="pair.header.base"
              [compareConfig]="pair.header.compare"
            ></app-history-header-config>
            <app-history-header-config
              fxFlex="50%"
              diffSide="right"
              [baseConfig]="pair.header.compare"
              [compareConfig]="pair.header.base"
            ></app-history-header-config>
          </div>
        </div>
      </div>

      <!-- Nodes. -->
      <ng-container *ngFor="let nodePair of pair.nodes">
        <div class="bd-rect-card" *ngIf="!!nodePair?.applications?.length">
          <div fxLayout="column">
            <div fxLayout="row" class="bd-default-padding" [style.padding-bottom.px]="0">
              <div fxLayout="column">
                <div class="bd-type-text">NODE</div>
                <div class="bd-title-text">{{ getNodeName(nodePair) }}</div>
              </div>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="10px" class="bd-default-padding">
            <div fxLayout="row" fxLayoutGap="10px">
              <div class="local-compare-header" fxFlex="50%" fxLayout="row">
                <div>{{ pair.base.version }}</div>
                <div class="bd-description-text local-order-changed" *ngIf="nodePair.isOrderChanged">
                  &nbsp;- Note: The order of the processes is not exactly as configured in this version.
                </div>
              </div>
              <div class="local-compare-header" fxFlex="50%">{{ pair.compare.version }}</div>
            </div>

            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="stretch stretch" *ngFor="let appPair of nodePair.applications">
              <app-history-process-config
                fxFlex="50%"
                [baseConfig]="appPair.base"
                [compareConfig]="appPair.compare"
                [baseDescriptor]="appPair.baseDesc"
                [hasProcessControl]="hasProcessControl(nodePair)"
                diffSide="left"
              ></app-history-process-config>
              <app-history-process-config
                fxFlex="50%"
                [baseConfig]="appPair.compare"
                [compareConfig]="appPair.base"
                [baseDescriptor]="appPair.compareDesc"
                [hasProcessControl]="hasProcessControl(nodePair)"
                diffSide="right"
              ></app-history-process-config>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
