<div class="flex gap-1 justify-start items-center">
  <ng-container [ngSwitch]="record.type">
    <mat-checkbox
      *ngSwitchCase="'BOOLEAN'"
      [checked]="booleanValue"
      disabled
    ></mat-checkbox>
    <div *ngSwitchCase="'PASSWORD'" class="bd-text-ellipsis">
      {{ '*'.repeat(record.value?.length) }}
    </div>
    <div
      *ngSwitchDefault
      class="bd-text-ellipsis"
      [matTooltip]="record.value"
      matTooltipShowDelay="500"
    >
      {{ record.value }}
    </div>
  </ng-container>
  <ng-container *ngIf="record.type === 'SERVER_PORT'">
    <mat-icon
      *ngIf="(portState$ | async)?.state === false"
      matTooltip="Port is not in open state."
      class="local-greyed"
      >link_off</mat-icon
    >
    <mat-icon
      *ngIf="(portState$ | async)?.state === true"
      matTooltip="Port is in open state."
      >link</mat-icon
    >
    <mat-icon
      *ngIf="(portState$ | async)?.state === undefined"
      class="local-greyed"
      >help</mat-icon
    >
  </ng-container>
</div>
