<div class="flex gap-1 justify-start items-center">
  @switch (record.type) {
    @case ('BOOLEAN') {
      <mat-checkbox [checked]="booleanValue" disabled></mat-checkbox>
    }
    @case ('PASSWORD') {
      <div class="truncate">{{ '*'.repeat(record.value?.length) }}</div>
    }
    @default {
      <div class="truncate" [matTooltip]="record.value" matTooltipShowDelay="500">
        {{ record.value }}
      </div>
    }
  }
  @if (record.type === 'SERVER_PORT') {
    <mat-icon [matTooltip]="portStateDisplay().tooltip"
              [ngClass]="{'local-greyed': portStateDisplay()?.isBad}">
      {{ portStateDisplay().icon }}
    </mat-icon>
  }
</div>
