.box {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  height: 100%;
}

.stepper-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
  padding: 50px 50px 10px 50px;
}

.stepper {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.hflex {
  display: flex;
  flex-direction: row;
}

.intro {
  flex: 0 0 auto;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.button-container * {
  margin-right: 5px;
}

.spacer {
  flex: 1 0 auto;
}

.column {
  width: 100%;
  margin: 5px;
}

.product-list {
  border: 1px dotted;
  min-height: 200px;
  max-height: 200px;
  overflow: auto;
}

.product-row {
  display: flex;
  flex-direction: row;
  /* justify-items: center; */
  align-items: center;
  flex: 1 1 auto;
}


.sel-caption {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sel-caption-text {
  padding-left: 4px;
}

.transfer-spinner {
  float: left;
  position: relative;
  margin-right: 1em;
}

.icon-and-text {
  margin-right: 0.2em;
  position: relative;
  top: 5px;
}

.loading-hint {
  display: flex;
  flex-direction: row;

  align-items: center;
}
