<mat-card appearance="outlined" class="flex flex-col gap-1 p-2.5 max-w-[750px]">
  <div class="flex flex-col gap-2.5 w-full h-full">
    <mat-tab-group class="h-[400px]" [animationDuration]="0">
      <mat-tab label="Instance & System Variables" [disabled]="!varRecords?.length">
        <app-bd-data-table
          [records]="varRecords"
          [columns]="varColumns"
          (recordClick)="onSelect($event)"
        ></app-bd-data-table>
      </mat-tab>
      <mat-tab label="Process Parameters" [disabled]="!paramRecords?.length">
        <app-bd-data-table
          [records]="paramRecords"
          [columns]="varColumns"
          [grouping]="paramGrouping"
          [expandGroups]="false"
          (recordClick)="onSelect($event)"
        ></app-bd-data-table>
      </mat-tab>
      <mat-tab label="Paths" [disabled]="!pathRecords?.length">
        <app-bd-data-table
          [records]="pathRecords"
          [columns]="varColumns"
          (recordClick)="onSelect($event)"
        ></app-bd-data-table>
      </mat-tab>
      <mat-tab label="Special" [disabled]="!specialRecords?.length">
        <app-bd-data-table
          [records]="specialRecords"
          [columns]="varColumns"
          (recordClick)="onSelect($event)"
        ></app-bd-data-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>
