<ng-template #previewTemplate>
  <div class="flex w-[800px] h-[500px]">
    <app-bd-editor
      class="flex-auto"
      [content]="previewContent$ | async"
      [path]="previewName$ | async"
      [readonly]="true"
    ></app-bd-editor>
  </div>
</ng-template>

<app-bd-dialog [loadingWhen$]="hives.loading$">
  <app-bd-dialog-toolbar
    [header]="'Browse ' + (bhive$ | async)"
    [panel]="true"
    [relative]="true"
    [route]="['..', '..']"
  >
    <div class="flex-auto"></div>
    <app-bd-button
      *ngIf="(path$ | async)?.length > 0"
      icon="cloud_download"
      text="Download All"
      (click)="downloadAll()"
    ></app-bd-button>
    <mat-divider *ngIf="(path$ | async)?.length > 0" [vertical]="true"></mat-divider>
    <app-bd-button
      *ngIf="(crumbs$ | async)?.length > 1"
      icon="navigate_before"
      text="Back to Parent"
      color="primary"
      (click)="onNavigateUp()"
    ></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div class="mx-1.5">
      <app-bd-breadcrumbs [crumbs]="crumbs$ | async"></app-bd-breadcrumbs>
    </div>
    <app-bd-data-table
      [records]="entries$ | async"
      [columns]="columns"
      [sort]="sort"
      (recordClick)="onClick($event)"
    ></app-bd-data-table>
  </app-bd-dialog-content>
</app-bd-dialog>
