@import '~@angular/material/theming';

@mixin instance-notifications-theme($theme) {
  $dark: map-get($theme, is-dark);
  $prim: map-get($theme, 'primary');
  $warn: map-get($theme, 'warn');
  $errorLight: #ee0000;
  $errorDark: #990000;

  $notificationBg: if($dark, #535353, #eeeeee);

  .infoNotificationIconTheme {
    color: if($dark, mat-color($prim, 400), mat-color($prim, 600));
  }

  @keyframes errorNotificationBlink {
    0%   { color: $errorLight }
    50%  { color: $errorDark }
    100% { color: $errorLight }
  }

  @keyframes errorNotificationBounce {
    0%,
    25%,
    50%,
    75%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-6px);
    }
  }

  .errorNotificationIconTheme {
    animation: errorNotificationBlink 1s infinite ease-in-out,
               errorNotificationBounce 2s 3;
  }

  .errorStaticNotificationIconTheme {
    color: if($dark, $errorDark, $errorLight);
  }

  .warningNotificationIconTheme {
    color: if($dark, mat-color($warn, 400), mat-color($warn, 600));
  }

  .notificationItem {
    z-index: 3;
    position: relative;
    background-color: $notificationBg;
  }

  .notificationItem:before {
    right: calc(100% - 7px);
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    background-color: $notificationBg;
    border-width: 7px;
    margin-top: -7px;
    transform: rotate(45deg);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2);
  }

}
