@use '~@angular/material' as mat;

@mixin application-edit-theme($theme) {
  $dark: map-get($theme, 'is-dark');
  $bg: map-get($theme, 'background');

  $header-color: if($dark, mat.get-color-from-palette(mat.$grey-palette, 800), mat.get-color-from-palette(mat.$grey-palette, 200));
  $content-color: if($dark, mat.get-color-from-palette(mat.$grey-palette, 700), #fff);
  $card-color: map-get($bg, 'card');

  .title-theme {
    background-color: $header-color !important;
    @include mat.elevation-transition(0.3s, ease-in-out);
  }

  .mat-expansion-panel-header {
    background-color: $header-color !important;
  }

  .mat-expansion-panel-body {
    background-color: $content-color;
  }

  input[type='text']:read-only,
  input[type='number']:read-only {
    color: if($dark, #bababa, #969696);
  }

  .console-theme {
    background-color: $content-color;
  }

  .error-theme {
    color: if($dark, rgb(207, 0, 0), rgb(180, 0, 0));
  }

  .unknown-parameter-theme {
    background-color: if($dark, #984747, #efabab);
  }

  .info-theme {
    color: if($dark, #bababa, #969696);
  }

  .boolean-param-field {
    padding: 2px;
    border-bottom-color: if($dark, #bababa, #969696);
  }

  .boolean-param-label {
    color: if($dark, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.54));
  }

  .info-card::after {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    top: calc(100% - 10px);
    right: 25px;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent $card-color $card-color transparent;
    box-shadow: #{rgba(#000, 1 * 0.12)} 2px 2px 2px;
  }

  .info-card-below::after {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    top: -10px;
    right: 25px;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: $card-color transparent transparent $card-color;
    box-shadow: #{rgba(#000, 1 * 0.12)} -2px -3px 4px;
  }
}
