<app-bd-dialog [loadingWhen$]="instances.loading$" *ngIf="groups.current$ | async as group">
  <app-bd-dialog-toolbar header="Instances of {{ group.title }}">
    <div fxFlex="1 0 auto"></div>
    <app-bd-data-grouping
      [multiple]="!dataTable.grid"
      (groupingChange)="dataTable.grouping = $event"
      [definitions]="grouping"
      [defaultGrouping]="[defaultGrouping]"
      [records]="instances.instances$ | async"
      presetKey="instances"
    ></app-bd-data-grouping>
    <app-bd-button
      [isToggle]="true"
      icon="grid_view"
      text="Toggle Card Mode"
      [(toggle)]="dataTable.grid"
      tooltip="below"
      [disabled]="bulkMode.isActive()"
    ></app-bd-button>
    <app-bd-panel-button
      #bulkMode
      icon="library_add_check"
      text="Bulk Manipulation"
      [route]="['panels', 'instances', 'bulk-manip']"
      tooltip="below"
      [disabled]="!(authService.isCurrentScopeWrite$ | async) || dataTable.grid"
    ></app-bd-panel-button>
    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-panel-button
      svgIcon="group-settings"
      text="Group Settings"
      [route]="['panels', 'groups', 'settings']"
      tooltip="below"
      [disabled]="!!(authService.isCurrentScopedExclusiveReadClient$ | async)"
    ></app-bd-panel-button>

    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-panel-button
      icon="add"
      text="Add Instance"
      [route]="['panels', 'instances', 'add']"
      tooltip="below"
      [disabled]="!(authService.isCurrentScopeWrite$ | async)"
    ></app-bd-panel-button>
  </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <app-bd-data-display
      #dataTable
      [columns]="instanceColumns.defaultInstancesColumns"
      [records]="instances.instances$ | async"
      [recordRoute]="getRecordRoute"
      [searchable]="true"
      [checkMode]="bulkMode.isActive()"
      [checked]="bulk.selection$ | async"
      (checkedChange)="bulk.selection$.next($event)"
      [checkedFrozenWhen$]="bulk.frozen$"
    >
      <app-bd-no-data>
        <p>No instances have been created yet.</p>
        <ng-container *ngIf="(authService.isCurrentScopeWrite$ | async) && (hasProducts$ | async)">
          <p>Start by creating a new one.</p>
          <app-bd-panel-button icon="add" text="Add Instance" [collapsed]="false" [route]="['panels', 'instances', 'add']"></app-bd-panel-button>
        </ng-container>
        <ng-container *ngIf="!(hasProducts$ | async)">
          <p>No product is available yet to create one.</p>
          <app-bd-button
            icon="apps"
            text="Manage Products"
            [collapsed]="false"
            [routerLink]="['/products', 'browser', areas.groupContext$.value]"
          ></app-bd-button>
        </ng-container>
      </app-bd-no-data>
    </app-bd-data-display>
  </app-bd-dialog-content>
</app-bd-dialog>
