<app-bd-button
  class="flex-auto"
  [text]="text"
  [icon]="icon"
  [svgIcon]="svgIcon"
  [isToggle]="toggle"
  [toggle]="!!rla?.isActive"
  [toggleOnClick]="false"
  (click)="toggleRoute()"
  [collapsed]="collapsed"
  [color]="color"
  [disabled]="disabled"
  [tooltip]="tooltip"
  [tooltipPosition]="tooltipPosition"
  [routerLink]="['', { outlets: { panel: generatedRoute$ | async } }]"
  routerLinkActive
  queryParamsHandling="preserve"
  [loadingWhen$]="loadingWhen$"
>
  <ng-content></ng-content>
</app-bd-button>
