<div fxLayout="column" fxLayoutGap="5px" [style.width.px]="800">
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
    <app-bd-form-input fxFlex="1 0 auto" name="user" label="User" [(ngModel)]="testUser" required></app-bd-form-input>
    <app-bd-form-input fxFlex="1 0 auto" name="pass" label="Password" type="password" [(ngModel)]="testPass" required></app-bd-form-input>
    <app-bd-button
      [style.position]="'relative'"
      [style.top.px]="-10"
      text="Perform Test"
      [collapsed]="false"
      [disabled]="!testUser?.length || !testPass?.length"
      icon="person"
      (click)="performTest()"
    ></app-bd-button>
  </div>
  <app-bd-terminal [content$]="testResult$"></app-bd-terminal>
</div>
