<app-bd-dialog [loadingWhen$]="loading$" [resetWhen$]="singleProduct.product$">
  <app-bd-dialog-toolbar
    header="Details"
    [panel]="true"
  ></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div
      class="flex flex-col gap-2.5"
      *ngIf="singleProduct.product$ | async as prod"
    >
      <div class="grid grid-cols-[70px_auto] gap-1">
        <strong>ID:</strong>
        <div>{{ prod.product }}</div>
        <strong>Name:</strong>
        <div>{{ prod.name }}</div>
        <strong>Version:</strong>
        <div>{{ prod.key.tag }}</div>
        <strong>Vendor:</strong>
        <div>{{ prod.vendor }}</div>
      </div>
      <app-bd-expand-button [text]="'Used In'" icon="settings_system_daydream">
        <app-bd-data-display
          [records]="singleProduct.getUsedIn() | async"
          [columns]="instanceColumns"
        >
          <app-bd-no-data>
            <div
              *ngIf="singleProduct.usedInLoading$ | async; else notUsed"
              class="flex justify-center items-center gap-2.5"
            >
              <mat-spinner [diameter]="24"></mat-spinner>
              <div>Calculating...</div>
            </div>
            <ng-template #notUsed>
              <div>This version is not used in any instance.</div>
            </ng-template>
          </app-bd-no-data>
        </app-bd-data-display>
      </app-bd-expand-button>
      <ng-container *ngIf="singleProduct.product$ | async as prod">
        <app-bd-expand-button [text]="'Labels'" icon="label">
          <app-bd-data-display
            [records]="singleProduct.labels$ | async"
            [columns]="labelColumns"
          >
            <app-bd-no-data>
              <div>This product has no labels.</div>
            </app-bd-no-data>
          </app-bd-data-display>
        </app-bd-expand-button>

        <app-bd-expand-button
          text="Application Templates"
          icon="bookmark_border"
        >
          <app-bd-data-display
            [records]="prod.applicationTemplates"
            [columns]="appTemplColumns"
          >
            <app-bd-no-data>
              <div>This product has no application templates.</div>
            </app-bd-no-data>
          </app-bd-data-display>
        </app-bd-expand-button>

        <app-bd-expand-button text="Instance Templates" icon="bookmarks">
          <app-bd-data-display
            [records]="prod.instanceTemplates"
            [columns]="instTemplColumns"
          >
            <app-bd-no-data>
              <div>This product has no instance templates.</div>
            </app-bd-no-data>
          </app-bd-data-display>
        </app-bd-expand-button>

        <app-bd-expand-button text="Plugins" icon="extension">
          <app-bd-data-display
            [records]="singleProductPlugins$ | async"
            [columns]="pluginColumns"
          >
            <app-bd-no-data>
              <div>This product has no plugins.</div>
            </app-bd-no-data>
          </app-bd-data-display>
        </app-bd-expand-button>

        <app-bd-expand-button text="Dependencies" icon="lan">
          <app-bd-data-display
            [records]="prod.references"
            [columns]="refColumns"
          >
            <app-bd-no-data>
              <div>This product has no dependencies.</div>
            </app-bd-no-data>
          </app-bd-data-display>
        </app-bd-expand-button>
      </ng-container>

      <app-bd-button
        [collapsed]="false"
        text="Download BHive"
        icon="cloud_download"
        (click)="doDownload(false)"
        [loadingWhen$]="preparingBHive$"
        [disabled]="preparingBHive$ | async"
      ></app-bd-button>
      <app-bd-button
        [collapsed]="false"
        text="Download Content"
        icon="cloud_download"
        (click)="doDownload(true)"
        [loadingWhen$]="preparingContent$"
        [disabled]="preparingContent$ | async"
      ></app-bd-button>
      <app-bd-button
        [collapsed]="false"
        text="Create new Instance..."
        icon="settings_system_daydream"
        (click)="
          areas.navigateBoth(
            ['instances', 'browser', areas.groupContext$.value],
            ['panels', 'instances', 'add'],
            {},
            { queryParams: { productKey: prod.key.name, productTag: prod.key.tag } }
          )
        "
        [disabled]="!(auth.isCurrentScopeAdmin$ | async)"
      ></app-bd-button>
      <app-bd-button
        [collapsed]="false"
        text="Delete"
        icon="delete"
        (click)="doDelete(prod)"
        [loadingWhen$]="singleProduct.usedInLoading$"
        [disabled]="!(auth.isCurrentScopeAdmin$ | async) || (singleProduct.usedInLoading$ | async) || !!(singleProduct.getUsedIn() | async).length"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
