<div fxLayout="column">
  <mat-form-field
    #formField
    appearance="fill"
    class="bd-form-input-form-field"
    appClickStopPropagation
  >
    <mat-label>{{ label }}</mat-label>
    <app-bd-content-assist-menu
      #assistContent
      [attachTo]="elementRef.nativeElement"
      [values]="assistValues"
      [prefixes]="assistPrefixes"
    ></app-bd-content-assist-menu>
    <input
      matInput
      [matAutocomplete]="auto"
      [(ngModel)]="value"
      (blur)="onBlur()"
      [id]="name"
      [name]="name"
      autocomplete="off"
      [required]="required"
      [disabled]="disabled || passwordLock"
      [type]="type"
      [errorStateMatcher]="this"
      [appBdContentAssist]="assistContent"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let suggestedValue of filteredSuggested$ | async"
        [value]="suggestedValue"
      >
        {{ suggestedValue }}
      </mat-option>
    </mat-autocomplete>
    <div *ngIf="prefix" matPrefix>
      <ng-container *ngTemplateOutlet="prefix"></ng-container>
    </div>
    <div matSuffix class="bd-form-input-suffix">
      <ng-content></ng-content>
    </div>
    <mat-error *ngIf="errorFallback || (ngControl && ngControl.invalid)"
      >{{ getErrorMessage() }}</mat-error
    >
    <mat-hint class="bd-text-ellipsis" *ngIf="statusMessage"
      ><div fxLayout="row" fxLayoutAlign="center">
        {{statusMessage}}
      </div></mat-hint
    >
  </mat-form-field>
</div>
