<div fxLayout="column">
  <mat-form-field appearance="fill" class="local-form-field">
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      [matAutocomplete]="auto"
      [(ngModel)]="value"
      (blur)="onBlur()"
      [id]="name"
      [name]="name"
      autocomplete="off"
      [required]="required"
      [disabled]="disabled"
      [type]="type"
      [errorStateMatcher]="this"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let suggestedValue of filteredSuggested$ | async" [value]="suggestedValue">
        {{ suggestedValue }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="isInvalid()">{{ getErrorMessage() }}</mat-error>
  </mat-form-field>
</div>
