<div class="flex flex-col">
  <mat-form-field #formField appearance="fill" class="bd-form-input-form-field" appClickStopPropagation>
    <mat-label>{{ label }}</mat-label>
    <app-bd-content-assist-menu
      #assistContent
      [attachTo]="elementRef.nativeElement"
      [values]="assistValues"
      [prefixes]="assistPrefixes"
    ></app-bd-content-assist-menu>
    <input
      (cdkAutofill)="autoFilled = $event.isAutofilled"
      matInput
      [matAutocomplete]="auto"
      [matAutocompleteDisabled]="!(filteredSuggested$ | async)?.length"
      [(ngModel)]="value"
      (blur)="onBlur()"
      [id]="name"
      [name]="name"
      autocomplete="off"
      [required]="required"
      [disabled]="disabled || passwordLock"
      [type]="showPassword ? 'text' : type"
      [placeholder]="placeholder"
      [errorStateMatcher]="this"
      [appBdContentAssist]="assistContent"
      (focus)="focusIn.emit(true)"
      />
    <mat-autocomplete #auto="matAutocomplete">
      @for (suggestedValue of filteredSuggested$ | async; track suggestedValue) {
        <mat-option [value]="suggestedValue">
          {{ suggestedValue }}
        </mat-option>
      }
    </mat-autocomplete>
    @if (prefix) {
      <div matPrefix class="bd-form-input-prefix">
        <ng-container *ngTemplateOutlet="prefix"></ng-container>
      </div>
    }
    @if (!passwordShowable) {
      <div matSuffix class="bd-form-input-suffix">
        <ng-content></ng-content>
      </div>
    }
    @if (passwordShowable) {
      <div matSuffix class="bd-form-input-suffix">
        <mat-icon (click)="showPassword = !showPassword" class="cursor-pointer"
          >{{ showPassword ? 'visibility_off' : 'visibility'}}</mat-icon
          >
      </div>
    }
    @if (hasErrorMessage()) {
      <mat-error>{{ getErrorMessage() }}</mat-error>
    }
    @if (!hasErrorMessage() && warningMessage) {
      <mat-hint class="warning">{{ warningMessage }}</mat-hint>
    }
    <ng-template #statusPopup>
      <mat-card appearance="outlined" class="flex flex-col gap-2.5 p-2.5 break-all">
        <div class="flex">{{statusMessage}}</div>
      </mat-card>
    </ng-template>
    @if (!hasErrorMessage() && !warningMessage && statusMessage) {
        <mat-hint
        class="truncate"
        [appBdPopup]="statusPopup"
        [appBdPopupDelay]="750"
        appBdPopupTrigger="hover"
        >
        {{statusMessage}}
      </mat-hint>
    }
  </mat-form-field>
</div>
