.bd-form-input-form-field mat-hint {
  position: relative;

  transition: transform 300ms cubic-bezier(0.55, 0, 0.55, 0.2),
    opacity 300ms cubic-bezier(0.55, 0, 0.55, 0.2);
}

.bd-form-input-form-field.mat-focused mat-hint {
  color: var(--bd-primary);
}

.bd-form-input-form-field:not(.mat-focused) mat-hint {
  transform: translateY(-5px);
  opacity: 0;
}

.bd-form-input-prefix {
  padding-left: 1.14em;
}
.bd-form-input-suffix {
  padding-right: 1.14em;
}
