  <form [formGroup]="formGroup" autocomplete="off">
    <input autocomplete="false" name="hidden" type="text" style="display:none;">
    <input type="password" style="display:none;">
    <div class="title title-theme">
      <div class="title-header">Process Settings</div>
      <div class="title-hint info-theme">{{appDesc.name}}</div>
      <div class="title-toolbar" *ngIf="readonly">
        <mat-icon matTooltip="Read-only view. No changes are possible.">lock</mat-icon>
      </div>
    </div>
    <div class="container">
      <mat-grid-list cols="12" rowHeight="5em">
        <mat-grid-tile colspan="3">
          <mat-form-field>
            <input matInput placeholder="Description" [formControlName]="'$appCfgName'" type="text" />
            <mat-error *ngIf="!isCtrlValid('$appCfgName')">{{getCtrlErrorMessage('$appCfgName')}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!isClientApplication()" colspan="3">
          <mat-form-field>
            <mat-label>Start Type</mat-label>
            <mat-select [formControlName]="'$appStartType'">
              <mat-option *ngFor="let startType of getSupportedStartTypes()" [value]="startType">
                {{startType}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!isCtrlValid('$appStartType')">{{getCtrlErrorMessage('$appStartType')}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!isClientApplication()" colspan="2">
          <div class="boolean-param-field">
            <mat-slide-toggle class="boolean-param-widget" [formControlName]="'$appKeepAlive'"> </mat-slide-toggle>
            <label class="boolean-param-label"> Keep Alive </label>
          </div>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!isClientApplication()" colspan="2">
          <div class="boolean-param-field">
            <mat-slide-toggle class="boolean-param-widget" [formControlName]="'$appAttachStdin'"> </mat-slide-toggle>
            <label class="boolean-param-label"> Attach STDIN </label>
          </div>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!isClientApplication()" colspan="2">
          <mat-form-field>
            <input matInput placeholder="Stop Timeout [ms]" [formControlName]="'$appGracePeriod'" type="number"
              matTooltip="Maximum time the process may take to terminate after it retrieved a stop signal. If the time exceeds, the application is terminated forcefully." />
            <mat-error *ngIf="!isCtrlValid('$appGracePeriod')">{{getCtrlErrorMessage('$appGracePeriod')}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="title title-theme" [ngClass]='searchVisible ? "mat-elevation-z1" : ""'>
      <div class="title-header">Parameter Settings</div>
      <div class="title-hint info-theme">Configuration of the command line arguments used to launch the application.</div>
      <div class="title-toolbar">
        <button mat-icon-button (click)='searchVisible = !searchVisible; searchString = ""; searchField.value = ""; searchField.focus()' matTooltip="Toggle search bar">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button (click)="openCommandLinePreview()" matTooltip="Show command line preview">
          <mat-icon>input</mat-icon>
        </button>
      </div>
    </div>
    <div [ngClass]='searchVisible ? "search-bar-down" : "search-bar-up"'>
      <div class="search-title title-theme">
        <mat-form-field class="search">
          <mat-label></mat-label>
          <input #searchField matInput type="text" placeholder="Type to filter parameters" (input)='searchString = $event.target.value'>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="container" *ngIf="unknownParameters.length > 0">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="error-theme"> Unknown Parameters </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="unknown-parameter-hint unknown-parameter-theme">
            The application is using the following parameters that are not defined in the current product version. <br />
            If they are still required they need to be converted to custom parameters. Otherwise they must be removed.
          </div>

          <mat-grid-list cols="2" rowHeight="5em">
            <mat-grid-tile *ngFor="let param of unknownParameters" class='allow-overflow'>
              <mat-form-field>
                <input matInput placeholder="{{param.descriptor.name}}" value={{param.getValue(appService)}} readonly disabled />
              </mat-form-field>
              <div class="icons">
                  <button mat-icon-button type="button" (click)="covertUnknownToCustomParameter(param.descriptor.uid)" matTooltip="Convert to custom parameter">
                    <mat-icon>save_alt</mat-icon>
                  </button>
                  <button mat-icon-button type="button" (click)="removeUnknownParameter(param.descriptor.uid)" matTooltip="Delete parameter">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="container">
      <mat-accordion>
        <ng-container *ngFor="let groupName of sortedGroups; let i = index">
          <ng-container *ngFor='let matches of [numberOfMatches(groupName, false)]'>
            <ng-container *ngFor='let optionalMatches of [numberOfMatches(groupName, true)]'>
              <mat-expansion-panel *ngIf='matches !== 0' (opened)="setExpandedGroup(groupName)" [expanded]="expandedGroup === groupName">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span >{{groupName}}</span>
                    <span class="group-hint error-theme" *ngIf="getErrorTextForGroup(groupName)">&nbsp; {{getErrorTextForGroup(groupName)}}</span>
                    <span class="group-hint info-theme" *ngIf="!getErrorTextForGroup(groupName)">&nbsp; {{getHintTextForGroup(groupName)}}</span>
                    <span *ngIf='matches !== -1' class='mat-badge mat-badge-small mat-badge-accent fake-badge-padding'><span class='mat-badge-content mat-badge-active'>{{matches}}</span></span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div id="param-group-content-{{i}}" class="param-hint" *ngIf="getParametersOfGroup(groupName).length === 0 && matches === -1" >
                  <span> No parameters of this group have been configured.</span>
                </div>

                <div id="param-group-content-{{i}}" class="param-hint" *ngIf="matches !== -1 && matches === optionalMatches" >
                  <span> No parameters of this group match the given search.</span>
                </div>

                <mat-grid-list cols="2" rowHeight="5em" id="param-group-content-{{i}}" *ngIf="getParametersOfGroup(groupName).length > 0 && (matches === -1 || matches !== optionalMatches)">
                  <ng-container *ngFor="let param of getParametersOfGroup(groupName)">
                    <mat-grid-tile *ngIf='matchesSearch(param)' [ngSwitch]="param.desc.type" class='allow-overflow'>

                      <ng-container *ngSwitchCase="parameterType.BOOLEAN">
                        <!-- HasValue=true;  Mandatory=false: Optional parameter, value slider   -> Parameter present if configured with slider value as value -->
                        <!-- HasValue=false; Mandatory=true:  Mandatory parameter, value slider  -> Value slider controls whether parameter is present on command line -->
                        <!-- HasValue=true;  Mandatory=true:  Mandatory parameter, value slider  -> Parameter always present with slider value as value -->
                        <div [ngClass]="['boolean-param-field', param.desc.fixed ? 'boolean-param-field-readonly' : '']" *ngIf="param.desc.hasValue || param.desc.mandatory">
                          <mat-slide-toggle class="boolean-param-widget" [formControlName]="param.desc.uid"> </mat-slide-toggle>
                          <label class="boolean-param-label">{{ getCtrlPlaceholderText(param.desc) }}</label>
                        </div>

                        <!-- HasValue=false;  Mandatory=false:  Optional parameter, no value slider   -> Parameter either present or not -->
                        <div class="boolean-param-field" *ngIf="!param.desc.hasValue &&! param.desc.mandatory">
                          {{param.desc.name}}
                        </div>
                      </ng-container>

                      <mat-form-field *ngSwitchCase="parameterType.STRING">
                        <div *ngIf="param.desc.hasValue || param.desc.mandatory">
                          <input matInput [matAutocomplete]="auto" name="{{instanceGroup}}-{{appConfigContext.instanceNodeConfigurationDto.nodeConfiguration.uuid}}-{{param.desc.uid}}" placeholder="{{getCtrlPlaceholderText(param.desc)}}" [formControlName]="param.desc.uid" type="{{getCtrlInputType(param.desc.type)}}"/>
                          <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let suggestedValue of param.desc.suggestedValues" [value]="suggestedValue">
                              {{suggestedValue}}
                            </mat-option>
                          </mat-autocomplete>
                        </div>
                        <mat-error *ngIf="!isCtrlValid(param.desc.uid)">{{getCtrlErrorMessage(param.desc.uid)}}</mat-error>
                      </mat-form-field>

                      <mat-form-field *ngSwitchDefault>
                        <input matInput name="{{instanceGroup}}-{{appConfigContext.instanceNodeConfigurationDto.nodeConfiguration.uuid}}-{{param.desc.uid}}" placeholder="{{getCtrlPlaceholderText(param.desc)}}" [formControlName]="param.desc.uid" type="{{getCtrlInputType(param.desc.type)}}"/>
                        <mat-error *ngIf="!isCtrlValid(param.desc.uid)">{{getCtrlErrorMessage(param.desc.uid)}}</mat-error>
                      </mat-form-field>

                      <ng-template #infoPopup>
                        <mat-card class="info-card">
                          <div class="mat-title">{{param.desc.name}}</div>
                            <mat-card-content class="info-grid">
                              <div><strong>Description:</strong></div>
                              <div class="info-grid-span-2">{{param.desc.longDescription ? param.desc.longDescription : '(none)'}}</div>
                              <div><strong>Raw Parameter:</strong></div>
                              <div class="info-grid-span-2">{{param.desc.parameter}} (value: {{param.desc.hasValue ? "yes" : "no"}}{{ (param.desc.hasValue && !param.desc.valueAsSeparateArg) ? (", separator: " + param.desc.valueSeparator) : ""}})</div>
                              <div><strong>Default:</strong></div>
                              <div class="info-default-value">{{param.desc.defaultValue ? (param.desc.type === parameterType.PASSWORD ? '*'.repeat(param.desc.defaultValue.length) : param.desc.defaultValue) : '(none)'}}</div>
                                <button mat-icon-button type="button" class="info-restore-button" [disabled]="!param.desc.defaultValue || readonly" (click)="revertValue(param)" matTooltip="Restore default value">
                                <mat-icon>undo</mat-icon>
                              </button>
                            </mat-card-content>
                        </mat-card>
                      </ng-template>
                      <ng-template #globalPopup>
                        <mat-card class="info-card">
                          <div class="mat-title">{{param.desc.name}}</div>
                            <mat-card-content>
                              This is a global parameter. All applications of this instance referring to this parameter will be affected when the value is changed.
                            </mat-card-content>
                          </mat-card>
                      </ng-template>

                      <div class="icons">
                        <div #unlockDiv [hidden]='param.desc.type !== parameterType.PASSWORD' matTooltip='Unlock editing of this parameter'>
                          <button mat-icon-button #unlockButton (click)='enablePasswordControl(param, unlockButton)'><mat-icon>{{ unlockButton.disabled ? 'lock_open' : 'lock' }}</mat-icon></button>
                        </div>
                        <app-custom-editor *ngIf='param.desc.customEditor' [readonly]="readonly" (valueConfirmed)='customValueConfirmed(param, $event)' (pluginLoaded)='disableForCustomEditor(param, $event, unlockDiv)' [instanceGroup]='instanceGroup' [descriptor]='param.desc' [value]='param.conf' [product]='appConfigContext.product'></app-custom-editor>

                        <button mat-icon-button type="button" #globalButton (click)="openOverlay(param, globalButton, globalPopup)" *ngIf="param.desc.global">
                          <mat-icon class="icons">public</mat-icon>
                        </button>
                        <button mat-icon-button type="button" #infoButton (click)="openOverlay(param, infoButton, infoPopup)">
                          <mat-icon class="info-icon">info</mat-icon>
                        </button>
                      </div>
                    </mat-grid-tile>
                  </ng-container>
                </mat-grid-list>
                <mat-action-row>
                  <button type="button" mat-button (click)="manageOptionalParameters(groupName)" [disabled]="readonly" *ngIf="hasOptionalParameters(groupName)" [matBadge]='optionalMatches' [matBadgeHidden]='optionalMatches < 0' matBadgeSize='small' matBadgeColor='accent'>Manage Optional Parameters</button>
                  <button type="button" mat-button (click)="manageCustomParameters()" [disabled]="readonly" *ngIf="hasCustomParameters(groupName)">Manage Custom Parameters</button>
                  <ng-container nfIf*="hasMultipleGroups()">
                    <button type="button" mat-button (click)="expandPreviousGroup()" *ngIf="hasPreviousGroup(groupName)">Previous</button>
                    <button type="button" mat-button (click)="expandNextGroup()" *ngIf="hasNextGroup(groupName)">Next</button>
                  </ng-container>
                </mat-action-row>
              </mat-expansion-panel>
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-accordion>
    </div>
  </form>
