<app-bd-dialog>
  <app-bd-dialog-toolbar header="Software Repository Settings" [panel]="true"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div class="flex flex-col gap-2.5">
      <div class="p-3 grid grid-cols-[22px_80px_auto] gap-2.5 items-center">
        <mat-icon class="bd-secondary-text">fingerprint</mat-icon>
        <div class="bd-secondary-text">ID:</div>
        <div class="bd-secondary-text">
          <app-bd-identifier [showCopyButton]="true" [id]="(repositories.current$ | async)?.name"></app-bd-identifier>
        </div>
      </div>

      <app-bd-panel-button
        text="Edit Software Repository..."
        icon="edit"
        [collapsed]="false"
        [toggle]="false"
        [route]="['edit']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeWrite$ | async)"
      ></app-bd-panel-button>

      <app-bd-panel-button
        text="Software Repository Permissions"
        icon="security"
        [collapsed]="false"
        [toggle]="false"
        [route]="['permissions']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeAdmin$ | async)"
      ></app-bd-panel-button>

      @if (repositories.current$ | async; as repository) {
        <app-bd-button
          text="Delete Software Repository"
          icon="delete"
          [collapsed]="false"
          (click)="onDelete(repository)"
          [disabled]="!(auth.isGlobalAdmin$ | async) || (deleting$ | async)"
          [loadingWhen$]="deleting$"
        ></app-bd-button>
      }
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
