<app-bd-dialog>
  <app-bd-dialog-toolbar header="Software Repository Settings" [panel]="true"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div class="flex flex-col gap-2.5">
      <app-bd-panel-button
        text="Edit Software Repository..."
        icon="edit"
        [collapsed]="false"
        [toggle]="false"
        [route]="['edit']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeWrite$ | async)"
      ></app-bd-panel-button>

      <app-bd-panel-button
        text="Software Repository Permissions"
        icon="security"
        [collapsed]="false"
        [toggle]="false"
        [route]="['permissions']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeAdmin$ | async)"
      ></app-bd-panel-button>

      <app-bd-button
        *ngIf="repositories.current$ | async as repository"
        text="Delete Software Repository"
        icon="delete"
        [collapsed]="false"
        (click)="onDelete(repository)"
        [disabled]="!(auth.isGlobalAdmin$ | async) || (deleting$ | async)"
        [loadingWhen$]="deleting$"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
