<app-bd-dialog
  [loadingWhen$]="history.loading$"
  (scrollTo)="onScrollContent($event)"
  [restoreScrollAfterLoad]="true"
  [hideContentWhenLoading]="false"
  >
  <app-bd-dialog-toolbar header="History">
    <div class="flex-auto"></div>
    @if (isCentral) {
      @if (instances.current$ | async; as instance) {
        <app-bd-server-sync-button [server]="instance.managedServer"></app-bd-server-sync-button>
        <mat-divider [vertical]="true"></mat-divider>
      }
    }
    <app-bd-button
      [isToggle]="true"
      [toggle]="showCreate$.value"
      (toggleChange)="showCreate$.next($event)"
      icon="add_circle_outline"
      text="Show Creation Events"
      tooltipPosition="below"
    ></app-bd-button>
    <app-bd-button
      [isToggle]="true"
      [toggle]="showDeploy$.value"
      (toggleChange)="showDeploy$.next($event)"
      icon="downloading"
      text="Show Deployment Events"
      tooltipPosition="below"
    ></app-bd-button>
    <app-bd-button
      [isToggle]="true"
      [toggle]="showRuntime$.value"
      (toggleChange)="showRuntime$.next($event)"
      icon="run_circle"
      [text]="isCentral ? 'Show Runtime Events - requires connection to managed server' : 'Show Runtime Events'"
      tooltipPosition="below"
      [disabled]="runtimeLocked$ | async"
    ></app-bd-button>
  </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <app-bd-data-table
      [records]="history.history$ | async"
      [columns]="columns.defaultHistoryColumns"
      [sortData]="null"
      [searchable]="false"
      [recordRoute]="getRecordRoute"
    ></app-bd-data-table>
  </app-bd-dialog-content>
</app-bd-dialog>
