<div class="container">
  <h1 mat-dialog-title>Copy Product from Software Repository</h1>
  <mat-form-field>
    <mat-label>Software Repository</mat-label>
    <mat-select [ngModel]="selectedRepository" (ngModelChange)="selectionRepository($event)" [disabled]="processing">
      <mat-option *ngFor="let repo of repositories" [value]="repo">{{repo.name}} - {{repo.description}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="main-content">
    <div class="col col-products">
      <h2 mat-dialog-title>Products</h2>
      <div class="products-wrapper">
        <app-product-card *ngFor="let prod of productsKeys"
          [instanceGroup]='selectedRepository.name'
          [product]="prod"
          [productVersions]='products.get(prod)'
          [isSelected]='!processing && prod === this.selectedProductKey'
          (select)='selectProduct(prod)'
        ></app-product-card>
      </div>
    </div>
    <div class="col col-versions">
      <h2 mat-dialog-title>Versions {{selectedProductLatestVersion ? "of " + selectedProductLatestVersion.name : ""}}</h2>
      <div class='versions-wrapper'>
        <app-product-list
          [products]='selectedProductVersions'
          [instanceGroup]='selectedRepository?.name'
          [showUsedIn]='false'
          [showDownload]='false'
          [showDelete]='false'
          [selectable]='!processing'
          (selected)='selectProductVersion($event)'
        ></app-product-list>
      </div>
    </div>
  </div>

  <mat-dialog-actions class="actions">
    <div *ngIf="processing" class="processing">
      <mat-spinner class="update-spinner" diameter="24"></mat-spinner>
      <span>Copying {{selectedProductVersion.name}}...</span>
    </div>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="processing || !selectedProductVersion" (click)="onCopyButtonPressed()">Copy</button>
  </mat-dialog-actions>

</div>
