.actions {
  justify-content: flex-end;
  margin-bottom: -12px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-content {
  height: 100%;
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

h2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.col-products {
  min-width: 66%;
  margin-right: 8px;
}

.col-versions {
  min-width: 33%;
}

.products-wrapper {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
}

.versions-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

app-product-card {
  margin:15px;
}

.processing {
  display: flex;
  flex-direction: row;
  font-size: smaller;
  align-items: center;
  flex: 1 1 auto;
}

.processing mat-spinner {
  margin-right: 8px;
}

