@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin process-port-list-theme($theme) {
  $dark: map-get($theme, is-dark);
  $warn: map-get($theme, 'warn');

  .rating-ok {
    color: if($dark, mat.get-color-from-palette(mat.$green-palette, 400), mat.get-color-from-palette(mat.$green-palette, 600));
  }

  .rating-failed {
    color: mat.get-color-from-palette($warn);
  }

  .dim-link-off {
    color: if($dark, mat.get-color-from-palette(mat.$grey-palette, 600), mat.get-color-from-palette(mat.$grey-palette, 400));
  }
}
