@use '~@angular/material' as mat;

@mixin managed-server-update-theme($theme) {
  $accent: map-get($theme, 'accent');

  .update-card-header-theme {
    color: mat.get-color-from-palette($accent, default-contrast);
    background-color: mat.get-color-from-palette($accent);
  }
}
