<app-bd-dialog [loadingWhen$]="loading$">
  <app-bd-dialog-toolbar header="Edit {{ file$ | async }}" [panel]="true" [route]="['..']">
    <div class="flex-auto"></div>
    <app-bd-button
      text="Apply"
      color="primary"
      icon="done"
      [collapsed]="false"
      [disabled]="!(content !== originalContent)"
      (click)="onSave()"
    ></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div *ngIf="!(loading$ | async) && file$ | async as file" class="flex flex-col h-full">
      <app-bd-editor
        class="grow basis-0"
        [(content)]="content"
        [path]="file"
        [completions]="completions"
      ></app-bd-editor>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
