.term-card {
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;
}

.spacer {
  flex: 1 0 auto;
}

.smaller-toggle {
  padding-top: 4px;
  font-size: smaller;
}

pre {
  white-space: pre-line;
}
