@import '~@angular/material/theming';

@mixin main-nav-theme($theme) {
  $dark: map-get($theme, 'is-dark');
  $palette: map-get($theme, 'main-toolbar');

  .main-toolbar {
    background-color: mat-color($palette);
    color: mat-color($palette, default-contrast);

    transition: background-color .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1)
  }
}
