<div [class.bd-editor-initializing]="!(inited$ | async)" class="max-w-full flex-auto flex flex-col w-full h-full">
  <div class="flex w-full justify-between mb-2 font-medium">
    <div>Original</div>
    <div class="mr-11">Modified</div>
  </div>
  <ngx-monaco-diff-editor
    name="content"
    class="h-full!"
    [originalModel]="{ code: undefined, language: undefined }"
    [modifiedModel]="{ code: undefined, language: undefined }"
    [options]="editorOptions"
    (onInit)="onMonacoInit($event)"
  ></ngx-monaco-diff-editor>
</div>
