<mat-toolbar class="mat-elevation-z1 instance-history_main-toolbar">
  <mat-toolbar-row class="toolbar-row-1st">
    <button mat-icon-button (click)="routingHistoryService.back('instance/overview/'+groupParam+'/'+uuidParam)"> <mat-icon>chevron_left</mat-icon></button>
    <div class="toolbar-title"> <span> Instance: </span><app-instance-group-title [instanceGroup]="groupParam"></app-instance-group-title>/ {{instance? instance.name:""}}</div>

    <mat-menu xPosition="before"  #showMenu="matMenu">
      <button mat-menu-item appClickStopPropagation (click)="showCreate=!showCreate; onTypeFilterChanged()">
        <mat-icon>{{showCreate?'check_box':'check_box_outline_blank'}}</mat-icon> Configuration
      </button>
      <button mat-menu-item appClickStopPropagation (click)="showDeployment=!showDeployment; onTypeFilterChanged()">
        <mat-icon>{{showDeployment?'check_box':'check_box_outline_blank'}}</mat-icon> Deployment
      </button>
      <button mat-menu-item appClickStopPropagation (click)="showRuntime=!showRuntime; onTypeFilterChanged()">
        <mat-icon>{{showRuntime?'check_box':'check_box_outline_blank'}}</mat-icon> Runtime
      </button>
    </mat-menu>

    <div class="compare-versions">
      <span>Compare Versions</span>
      <div>
        <mat-form-field class="history-compare-input">
          <input matInput #compareA type='number' min="0" (input)="compareInputKeydown($event,0)" />
        </mat-form-field>
        <mat-icon>arrow_right_alt</mat-icon>
        <mat-form-field class="history-compare-input">
          <input matInput #compareB type='number' min="0" (input)="compareInputKeydown($event,1)" />
        </mat-form-field>
      </div>
    </div>
    <button #compareButton mat-icon-button matTooltip="Compare versions" matTooltipShowDelay="1000" (click)="compareVersion()" disabled="true">
      <mat-icon>compare_arrows</mat-icon>
    </button>
    <div class='vert-speparator'></div>
    <button mat-icon-button [matMenuTriggerFor]="showMenu" matTooltip="Filter Events" matTooltipShowDelay="1000"><mat-icon>filter_list_alt</mat-icon></button>
    <button matTooltip="Show only one at a time" matTooltipShowDelay="1000" mat-icon-button (click)="accordionBehaviour = !accordionBehaviour; accordionBehaviour? closeAll() : null"><mat-icon color="accent" *ngIf="accordionBehaviour">view_day</mat-icon><mat-icon *ngIf="!accordionBehaviour">view_day</mat-icon></button>
    <button mat-icon-button matTooltip="Close all cards" matTooltipShowDelay="1000" [disabled]="accordionBehaviour" (click)="closeAll()"><mat-icon>indeterminate_check_box</mat-icon></button>

    <mat-form-field class="search">
      <mat-label></mat-label>
      <input matInput type="text" hint="Filter" [(ngModel)]="filterText" (ngModelChange)="onTextFilterChanged()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="loading" class="loading-spinner">
  <mat-spinner [diameter]="48"></mat-spinner>
</div>

<app-instance-history-timeline [accordion-behaviour]="accordionBehaviour"
  (add-to-comparison)="addVersionToCompare($event)" [entry-list]="history" #timeline (scrolled-down)="onScrolledDown()">
</app-instance-history-timeline>

<div *ngIf="!loading && history.length == 0">
  <div class="not-found">No results found matching the current filter settings.</div>
</div>
