mat-toolbar {
  z-index: 1;
}

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

::ng-deep .history-search-field span.ng-tns-c108-3 {
  color: rgb(180, 180, 180);
}

:host ::ng-deep .instance-history-card-button:active {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

:host ::ng-deep .instance-history-card-button {
  transition: all 0.5s;
}

.toolbar-title span {
  font-weight: lighter;
}

.toolbar-title {
  font-weight: normal;
  margin-right: 30px;
}

.show-filter-button {
  margin-left: 20px;
}

.history-compare-input {
  background-color: inherit;
  border: none;
  width: 30px;
  font-family: inherit;
  color: inherit;
  padding: 0 5px;
  outline: none;
}

.compare-versions {
  margin-left: auto;
  font-size: 0.6em;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compare-versions mat-icon {
  position: relative;
  top: 5px;
}

.compare-versions div {
  margin-top: -10px;
}

.search-history {
  margin-left: 20px;
}

.loading-spinner {
  margin-top: 1em;
  margin: 0 auto;
}

.not-found {
  margin: 20px;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}
