mat-card {
  margin-bottom: 3px;
}

.flex-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spacer {
  flex: 1 0 auto;
}

.divider {
  height: 20px;
  width: 2px;
  margin: 3px;
}

.os-icon {
  margin-right: 10px;
}
