<section class="mat-typography dialog">
  <mat-toolbar class="mat-elevation-z1 header-toolbar">
    <button mat-icon-button type="button" (click)="routingHistoryService.back('instance/browser/' + nameParam)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span>Instance Group: <app-instance-group-title [instanceGroup]="nameParam"></app-instance-group-title></span>
    <span class="fill-space"></span>
    <mat-slide-toggle class="search" [(ngModel)]="showGlobal">Show User with Global Access</mat-slide-toggle>
    <mat-form-field class="search" [floatLabel]="'never'">
      <mat-icon matSuffix>search</mat-icon>
      <input matInput [(ngModel)]="filterValue" placeholder="Search..." />
    </mat-form-field>
    <button mat-button type="button" (click)="onDiscardChanges()" *ngIf="isDirty()">DISCARD</button>
    <button mat-raised-button color="primary" type="submit" (click)="onSave()" [disabled]="!isDirty()">SAVE</button>
  </mat-toolbar>

  <div class="content">
    <table
      mat-table
      class="users-table"
      [dataSource]="dataSource"
      matSort
      [matSortActive]="INITIAL_SORT_COLUMN"
      [matSortDirection]="INITIAL_SORT_DIRECTION"
    >
      <caption style="display: none;">
        Users
      </caption>

      <ng-container matColumnDef="gravatar">
        <th scope="col" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <app-user-avatar
            class="gravatar"
            [gravatar]="!settings.isLoading() && settings.getSettings().general.enableGravatar"
            [mail]="element.email"
          ></app-user-avatar>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Account&nbsp;name</th>
        <td mat-cell *matCellDef="let element" class="wide">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Display&nbsp;name</th>
        <td mat-cell *matCellDef="let element" class="wide">{{ element.fullName }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element" class="wide">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="read">
        <th scope="col" mat-header-cell *matHeaderCellDef>Read</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button disabled *ngIf="!hasGlobalRead(element)">
            <mat-icon data-cy="revoke-read">check_box</mat-icon>
          </button>
          <button mat-icon-button disabled *ngIf="hasGlobalRead(element)">
            <mat-icon data-cy="global-read">public</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="write">
        <th scope="col" mat-header-cell *matHeaderCellDef>Write</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            *ngIf="!hasWrite(element) && !hasGlobalWrite(element)"
            (click)="onGrantWrite(element)"
          >
            <mat-icon data-cy="grant-write">check_box_outline_blank</mat-icon>
          </button>
          <button
            mat-icon-button
            [disabled]="hasAdmin(element)"
            *ngIf="hasWrite(element) && !hasGlobalWrite(element)"
            (click)="onRevokeWrite(element)"
          >
            <mat-icon data-cy="revoke-write">check_box</mat-icon>
          </button>
          <button mat-icon-button disabled *ngIf="hasGlobalWrite(element)">
            <mat-icon data-cy="global-write">public</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="admin">
        <th scope="col" mat-header-cell *matHeaderCellDef>Admin</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            *ngIf="!hasAdmin(element) && !hasGlobalAdmin(element)"
            (click)="onGrantAdmin(element)"
          >
            <mat-icon data-cy="grant-admin">check_box_outline_blank</mat-icon>
          </button>
          <button
            mat-icon-button
            *ngIf="hasAdmin(element) && !hasGlobalAdmin(element)"
            (click)="onRevokeAdmin(element)"
          >
            <mat-icon data-cy="revoke-admin">check_box</mat-icon>
          </button>
          <button mat-icon-button disabled *ngIf="hasGlobalAdmin(element)">
            <mat-icon data-cy="global-admin">public</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th scope="col" mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button *ngIf="hasScoped(element)" (click)="onDelete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 1000]" showFirstLastButtons> </mat-paginator>
  </div>

  <button
    mat-fab
    class="add-button"
    matTooltip="Add User"
    matTooltipShowDelay="1000"
    (click)="onAdd()"
    [disabled]="loading"
  >
    <mat-icon>add</mat-icon>
  </button>
</section>
