:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.local-global-switch {
  font-size: smaller;
  margin-right: 10px;
}

.add-button {
  top: auto !important;
  right: 40px !important;
  bottom: 40px !important;
  left: auto !important;
  position: absolute;
}

.mat-header-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.fill-space {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
}

.users-table {
  width: 100%;
}

.wide {
  flex: 1 1 25%;
}

.mat-column-gravatar {
  width: 45px;
}

.mat-column-read,
.mat-column-write,
.mat-column-admin,
.mat-column-delete {
  width: 60px;
}
