.container {
  height: 100%;
  padding: 10px 5px;
}

.mat-dialog-content {
  margin-top: 1.5em;
  padding: 0.5em 1.5em;
}

.mat-table {
  width: 100%;
  margin-bottom: 1em;
}

.mat-header-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-cell {
  padding: 10px;
  word-break: break-all;
}

.mat-column-status {
  width: 45px;
}

.mat-column-action {
  width: 45px;
}

.mat-column-fileName {
  width: 20%;
}

.url-param-column {
  width: 1%;
  word-break: normal;
}

.actions {
  justify-content: flex-end;
}

.dropZone {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  border: 1px dashed #ccc;
}

.dropZoneIcon {
  margin-right: 10px;
}

.browseButton {
  position: relative;
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}
