<app-bd-dialog [loadingWhen$]="loading$">
  <app-bd-dialog-toolbar header="Import Product" [panel]="true"></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div class="flex flex-col gap-2.5 h-full">
      <mat-stepper
        #stepper
        [linear]="true"
        orientation="vertical"
        (selectionChange)="onStepSelectionChange($event)"
        class="flex-auto overflow-auto"
      >
        <mat-step label="Choose Source Repository" [completed]="!!selectedRepo">
          <div class="flex flex-col gap-1">
            <span>Choose the repository to import from.</span>
            <app-bd-form-select
              errorDisplay="immediate"
              name="repository"
              [values]="repos"
              [labels]="repoLabels"
              label="Repository"
              [(ngModel)]="selectedRepo"
              (ngModelChange)="stepper.selected.completed = true; stepper.next()"
              required
            ></app-bd-form-select>
          </div>
        </mat-step>
        <mat-step label="Choose Product" [completed]="!!selectedProductId">
          <div class="min-h-[63px]">
            <app-bd-loading-overlay [show]="productsLoading$ | async" mode="hide">
              <div class="flex flex-col gap-1">
                <span>Choose the product to import.</span>
                <span class="bd-description-text">Only products with importable versions are shown.</span>
                <app-bd-form-select
                  name="product"
                  errorDisplay="immediate"
                  [values]="prodIds"
                  [labels]="prodLabels"
                  label="Product"
                  [(ngModel)]="selectedProductId"
                  (ngModelChange)="stepper.selected.completed = true; stepper.next()"
                  required
                ></app-bd-form-select>
              </div>
            </app-bd-loading-overlay>
          </div>
        </mat-step>
        <mat-step label="Import Version(s)" [completed]="!!selectedProductId">
          <div class="flex flex-col gap-1">
            <app-bd-data-table
              #versionTable
              [records]="prodsById[selectedProductId]"
              [columns]="prodVersionColumns"
              [checkMode]="true"
              [checked]="selectedVersions$.value"
              (checkedChange)="selectedVersions$.next($event)"
              [checkedFrozenWhen$]="importing$"
              [headerHidden]="true"
            ></app-bd-data-table>
          </div>
        </mat-step>
      </mat-stepper>
      <app-bd-button
        text="Import"
        icon="drive_file_move"
        color="primary"
        [collapsed]="false"
        (click)="importVersions()"
        [disabled]="!selectedVersions$.value?.length || (mappedImporting$ | async)"
        [loadingWhen$]="mappedImporting$"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
