.dropZone {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  border: 1px dashed #ccc;
}

.dropZoneIcon {
  margin-right: 10px;
}

.browseButton {
  position: relative;
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

mat-dialog-content{
  overflow:visible;
  height: calc(80vh - 330px);
  min-height: 225px;
}

.file-table{
  margin-top: 24px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  max-height: 100%;
  overflow:auto;
}

.flexRow{
  display:flex;
  flex-direction: row;
  height: 56px;
}

.flexRow>div{
  padding: 0 10px;
}

.table-header{
  position:sticky;
  z-index:4;
  font-size: 12px;
  top:0;
}

.table-header>div{
  line-height: 56px;
}

.file-data{
  justify-content: space-around;
}

.table-item>.flexRow>div{
  display:flex;
  flex-direction:row;
  align-items: center;
}

.status{
  flex-basis:45px;
  padding-left: 24px !important;
}

.hive{
  flex-basis: 45px;
}

.action{
  flex-basis: 45px;
  padding-right: 24px !important;
}

.file-name{
  width:25%;
  min-width: 0;
  flex-shrink: 1;
}

.file-name span{
  min-width: 0;
  flex-shrink: 1;
  overflow:hidden;
  word-wrap: break-word;
  max-height: 56px;
}

.progress{
  flex-grow: 1;
}

.package-name{
  flex-direction: column !important;
  justify-content: center;
  min-width:200px;
  flex-shrink: 1;
  padding-left: 24px !important;
}

.package-label{
  opacity: 0.6;
  font-size:0.8em;
}

.file-data span[contenteditable]{
  height:1em;
  padding: 5px;
  width: 100%;
  border-bottom: rgb(89,89,89) 1px solid;
  overflow:hidden;
  font-size:1em;
  text-align: center;
}

.package-tag{
  flex-direction: column !important;
  justify-content: center;
  min-width:100px;
  flex-shrink: 2;
  padding-left: 24px !important;
}

.package-os{
  flex-direction: column !important;
  justify-content: center;
  padding-right: 24px !important;
}

.package-os mat-button-toggle-group{
  margin-top: 5px;
}

.package-os mat-icon{
  transform:scale(0.7);
}

::ng-deep .mat-button-toggle-label-content{
  line-height: 24px !important;
}

mat-dialog-actions{
  justify-content: flex-end;
}
