<mat-toolbar class="mat-elevation-z1">
  <span class="fill-space"></span>
  <mat-form-field class="search datafile-search-field" [floatLabel]="'never'">
    <mat-icon matSuffix>search</mat-icon>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search..." />
  </mat-form-field>
</mat-toolbar>

<div class="content centered" *ngIf="isLoading()">
  <mat-spinner [diameter]="48"></mat-spinner>
</div>
<div class="content" [hidden]="isLoading()">
  <table
    mat-table
    class="plugins-table"
    [dataSource]="dataSource"
    matSort
    [matSortActive]="INITIAL_SORT_COLUMN"
    [matSortDirection]="INITIAL_SORT_DIRECTION"
  >
    <caption style="display: none;">
      Plugins
    </caption>

    <ng-container matColumnDef="global">
      <th scope="col" mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.global">public</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="version">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
      <td mat-cell *matCellDef="let element">{{ element.version }}</td>
    </ng-container>

    <ng-container matColumnDef="editors">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Editors</th>
      <td mat-cell *matCellDef="let element">{{ formatEditors(element) }}</td>
    </ng-container>

    <ng-container matColumnDef="loaded">
      <th scope="col" mat-header-cell *matHeaderCellDef>Loaded</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.loaded">check</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th scope="col" mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" align="right">
        <mat-menu #appMenu="matMenu" xPosition="before">
          <button mat-menu-item *ngIf="!element.loaded" (click)="onLoad(element)">
            <mat-icon>play_arrow</mat-icon>Load
          </button>
          <button mat-menu-item *ngIf="element.loaded" (click)="onUnload(element)">
            <mat-icon>stop</mat-icon>Unload
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="onDelete(element)" [disabled]="!element.global">
            <mat-icon>delete</mat-icon>Delete
          </button>
        </mat-menu>
        <button class="option-button" mat-icon-button [matMenuTriggerFor]="appMenu" appClickStopPropagation>
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons> </mat-paginator>

  <button
    mat-fab
    class="upload-button"
    (click)="openUploadDialog()"
    matTooltip="Upload Plugin"
    matTooltipShowDelay="1000"
  >
    <mat-icon>cloud_upload</mat-icon>
  </button>
</div>
