.upload-button {
  top: auto !important;
  right: 40px !important;
  bottom: 40px !important;
  left: auto !important;
  position: absolute;
}

.mat-header-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.fill-space {
  flex: 1 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.centered {
  align-items: center;
}

.plugins-table {
  width: 100%;
}

.mat-column-global {
  padding-right: 0px;
}

.mat-column-editors {
  width: 90%;
}

.mat-column-actions {
  width: 60px;
}
