<app-bd-dialog>
  <app-bd-dialog-toolbar [panel]="true" header="System Variables - {{ system?.config?.name }}" [route]="['..']">
    <div class="flex-auto"></div>
    <app-bd-button
      text="Save"
      icon="save"
      color="primary"
      [collapsed]="false"
      [loadingWhen$]="saving$"
      [disabled]="!isDirty() || (saving$ | async) || !(auth.isCurrentScopeWrite$ | async)"
      (click)="onSave()"
    ></app-bd-button>
    <mat-divider [vertical]="true"></mat-divider>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <bd-variable-groups
      [groups]="groups$ | async"
      [completionPrefixes]="completionPrefixes"
      [completions]="completions"
      [system]="system?.config"
      [dialog]="dialog"
      [variableList]="(edit.current$ | async).config.systemVariables"
      (variableListChanged)="onVariableListChange($event)"
    ></bd-variable-groups>
  </app-bd-dialog-content>
</app-bd-dialog>
