<mat-card>
    <div class='flex-line'>
      <strong>{{version.tag}}</strong>&nbsp;({{version.snapshot ? 'SNAPSHOT' : 'RELEASE'}})<ng-container *ngIf='version.current'>&nbsp;-&nbsp;<strong>current</strong></ng-container>
      <div class='spacer'></div>
      <ng-container *ngFor='let os of version.oss'>
        <button mat-icon-button (click)='getDownload(os)' [disabled]='deleteRunning' matTooltip="Download for {{os}}">
          <mat-icon [svgIcon]='os' class='os-icon'>
          </mat-icon>
        </button>
      </ng-container>
      <mat-divider [vertical]='true' class='divider'></mat-divider>
      <button mat-icon-button matTooltip='Remove this version.' [disabled]='version.current || deleteRunning' (click)='onDelete(version)'><mat-icon>delete</mat-icon></button>
      <button mat-icon-button matTooltip='Install this version.' [disabled]='version.current || deleteRunning' (click)='update.emit(version)' *ngIf='allowUpdate'><mat-icon>system_update</mat-icon></button>
    </div>
</mat-card>
