<ng-template #infoPopup>
    <mat-card class="info">
        <div class="mat-title">{{productDto.name}}</div>
        <p>Product: <strong>{{productDto.product}}</strong> Version: <strong>{{productDto.key.tag}}</strong></p>
        <p>Vendor: <strong>{{productDto.vendor ? productDto.vendor : '(unknown)'}}</strong></p>
        <hr>
        <mat-card-content class="labels-card">
          <mat-chip-list>
            <mat-chip *ngFor="let labelKey of getLabelKeys()"><span class="label-key">{{labelKey}}: </span><span>{{productDto.labels[labelKey]}}</span></mat-chip>
          </mat-chip-list>
        </mat-card-content>
        <div class='scrollable-container'>
          <ng-container *ngIf='productDto.instanceTemplates?.length'>
            <hr>
            <div>
              Instance Templates
              <ul>
                <li *ngFor='let template of productDto.instanceTemplates'>{{template.name}}</li>
              </ul>
            </div>
          </ng-container>
          <ng-container *ngIf='productDto.applicationTemplates?.length'>
            <hr>
            <div>
              Application Templates
              <ul>
                <li *ngFor='let template of productDto.applicationTemplates'>{{template.name}}</li>
              </ul>
            </div>
          </ng-container>
        </div>
    </mat-card>
  </ng-template>

  <button mat-icon-button type="button" #infoButton (click)="openOverlay(infoButton, infoPopup)">
    <mat-icon class="info-icon">info</mat-icon>
  </button>
