<mat-toolbar class="mat-elevation-z1">
  <div class="spacer"></div>
  <button mat-raised-button [disabled]="settings.isLoading() || !settings.isDirty()" (click)="settings.revert()">
    DISCARD
  </button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="settings.isLoading() || !settings.isDirty()"
    (click)="settings.save()"
  >
    SAVE
  </button>
</mat-toolbar>
<div class="content centered">
  <mat-tab-group class="tab-container" dynamicHeight="true">
    <mat-tab label="Global Attributes">
      <div class="content centered" *ngIf="settings.isLoading()">
        <mat-spinner [diameter]="48"></mat-spinner>
      </div>
      <div class="content" *ngIf="!settings.isLoading()">
        <p>
          Configure global attributes that are available for all Instance Groups on this server.
        </p>
        <div class="attributes-grid" *ngIf="hasAttributes()">
          <ng-container *ngFor="let p of getAttributes(); let i = index">
            <div>{{ p.name }}</div>
            <div>{{ p.description }}</div>
            <div>
              <button mat-icon-button [disabled]="!isAttributesEditable()" (click)="edit(p, i)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div>
              <button mat-icon-button [disabled]="!isAttributesEditable()" (click)="remove(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-container>
        </div>
        <div *ngIf="!hasAttributes()">
          No Attributes have been configured yet.
        </div>
        <button mat-mini-fab style="align-self: flex-end;" [disabled]="!isAttributesEditable()" (click)="add()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
