.content {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.tab-container {
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
}

.centered {
  align-items: center;
}

.attributes-grid {
  margin: 20px;

  display: grid;
  grid-template-columns: auto auto 32px 32px;

  row-gap: 5px;
  column-gap: 10px;

  align-items: center;
}

.spacer {
  flex: 1 0 auto;
}

mat-toolbar button {
  margin-left: 5px;
}

