<app-bd-dialog>
  <app-bd-dialog-toolbar header="Software Repository Maintenance" [panel]="true" [route]="['..']"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px" *ngIf="repositories.current$ | async as repository">
      <div>The following maintenance actions are to be used with care.</div>
      <app-bd-button
        text="Delete Software Repository"
        icon="delete"
        [collapsed]="false"
        (click)="onDelete(repository)"
        [disabled]="!auth.isGlobalAdmin() || (deleting$ | async)"
        [loadingWhen$]="deleting$"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
