<app-bd-dialog [loadingWhen$]="saving$">
  <app-bd-dialog-toolbar header="Add Software Repository" [panel]="true"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <form #repositoryForm="ngForm" (ngSubmit)="onSave()">
      <div fxLayout="column" fxLayoutGap="10px">
        <app-bd-form-input label="Name" name="name" [(ngModel)]="repository.name" required appGroupId></app-bd-form-input>
        <app-bd-form-input label="Description" name="description" [(ngModel)]="repository.description"></app-bd-form-input>

        <app-bd-button color="toolbar" [collapsed]="false" text="SAVE" [disabled]="repositoryForm.invalid"></app-bd-button>
      </div>
    </form>
  </app-bd-dialog-content>
</app-bd-dialog>
