<app-bd-dialog [loadingWhen$]="saving$">
  <app-bd-dialog-toolbar header="Add Software Repository" [panel]="true"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <form #form="ngForm" (ngSubmit)="onSave()">
      <div class="flex flex-col gap-2.5">
        <app-bd-form-input
          label="Name"
          name="name"
          [(ngModel)]="repository.name"
          required
          appIdentifier
          appEditUniqueValueValidator
          [disallowedValues]="usedNames"
        ></app-bd-form-input>
        <app-bd-form-input
          label="Description"
          name="description"
          [(ngModel)]="repository.description"
        ></app-bd-form-input>

        <app-bd-button
          color="primary"
          [collapsed]="false"
          text="Save"
          icon="save"
          [disabled]="form.invalid"
        ></app-bd-button>
      </div>
    </form>
  </app-bd-dialog-content>
</app-bd-dialog>
