<mat-card class="product-card" (click)='clickIt()'>
  <mat-card-header>
    <mat-card-title class="title">{{latestProductVersion.name}}</mat-card-title>
    <mat-card-subtitle>Product</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <p>Vendor: <b>{{latestProductVersion.vendor ? latestProductVersion.vendor : '(unknown)'}}</b></p>
      <p><b>{{productVersions.length}}</b>&nbsp;version{{productVersions.length > 1 ? 's' : ''}} available</p>
      <p><b>{{diskUsage}}</b>&nbsp;total disk usage</p>
  </mat-card-content>
</mat-card>
