<mat-expansion-panel #panel (opened)="cardOpened()" (closed)="cardClosed()">
  <mat-expansion-panel-header>
    <div class="timeline-card-header"> <p>{{entry.title}}</p><div>{{formatDate(entry.timestamp)}}</div> </div>
  </mat-expansion-panel-header>

  <div class="content-info">
    <app-user-avatar *ngIf="this.entry.user!=null" [avatarSize]="20" [hostSize]="20" [mail]="this.entry.email != ''?this.entry.email:null"></app-user-avatar>
    <span *ngIf="this.entry.user!=null else userNotRecorded ">{{this.entry.user}}</span>
    <ng-template #userNotRecorded><em class="not-recorded">No recorded user</em></ng-template>
    <button *ngIf="entry.type==entryType.CREATE" mat-icon-button matTooltip="Compare Versions" matTooltipShowDelay="500" (click)="addToComparisonClick()"><mat-icon>compare_arrows</mat-icon></button>
  </div>
  <div *ngIf="entry.type==entryType.RUNTIME" class="content-runtime-info">
    <p *ngIf="entry.runtimeEvent.pid >0"> PID <em>{{entry.runtimeEvent.pid}}</em> </p>
    <p *ngIf="entry.runtimeEvent.exitCode"> Exit Code <em>{{entry.runtimeEvent.exitCode}}</em> </p>
    <p>Version <em>{{entry.instanceTag}}</em> on node <em>{{entry.runtimeEvent.node}}</em></p>
  </div>

  <div *ngIf="entry.type==entryType.CREATE" class="changes-compared-text">
    Changes compared to previous version
    <mat-divider></mat-divider>
  </div>
  <app-instance-history-timeline-content [history]="entry.content"></app-instance-history-timeline-content>

</mat-expansion-panel>
