.example-container {
  height: 400px;
  overflow: auto;
}

.spacer {
  width: 10px;
}

table {
  width: 100%;
}

.td-clickable {
  cursor: pointer;
}

.td-default {
  cursor: default;
}

.wide {
  width: 100%;
}

.mat-column-type {
  width: 40px;
}

.mat-header-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-spacer {
  flex: 1 0 auto;
}

.title {
  line-height: 40px;
}

.file-content {
  overflow: auto;
  font-size: smaller;
}

.file-nocontent {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.icon-button{
  cursor:pointer;
}
