<app-bd-dialog>
  <app-bd-dialog-toolbar [header]="app?.endpoint?.endpoint?.id" [panel]="true" [route]="returnPanel" [relative]="false">
    <div class="flex-auto"></div>
    <app-bd-button
      text="Reload"
      icon="refresh"
      tooltip="left"
      (click)="reloadIFrame()"
      [disabled]="!app?.endpoint?.endpoint?.proxying"
    ></app-bd-button>
    <app-bd-button
      text="Fullscreen"
      icon="fullscreen"
      tooltip="left"
      (click)="setIFrameFullscreen()"
      [disabled]="!app?.endpoint?.endpoint?.proxying"
    ></app-bd-button>
    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-button
      text="Open in new Tab"
      icon="open_in_new"
      tooltip="left"
      (click)="openUiEndpoint()"
      [disabled]="!app?.endpoint?.endpoint?.proxying"
    ></app-bd-button>
    <app-bd-button
      text="Open directly on host in new Tab"
      icon="open_in_browser"
      tooltip="left"
      [disabled]="!directUri"
      [matTooltip]="directUri ? null : 'Direct URI to application not available.'"
      matTooltipPosition="left"
      (click)="openUiEndpointDirect()"
    ></app-bd-button>
  </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div class="local-group flex flex-col w-full h-full">
      <div class="local-loading" *ngIf="!app">Application or Endpoint not found.</div>
      <div
        *ngIf="!app?.endpoint?.endpoint?.proxying"
        class="flex flex-col gap-2.5 justify-center items-center w-full h-full"
      >
        <span>This endpoint does not support proxying and can thus not be displayed inline.</span>
        <app-bd-button
          *ngIf="directUri"
          [collapsed]="false"
          text="Open directly on host in new Tab"
          icon="open_in_browser"
          (click)="openUiEndpointDirect()"
        ></app-bd-button>
      </div>
      <ng-container *ngIf="app?.endpoint?.endpoint?.proxying">
        <div class="local-loading" [class.local-loading-done]="frameLoaded">Loading...</div>
        <iframe
          #iframe
          title="Inline Application"
          class="local-app-frame w-full h-full"
          [src]="url ? url : 'about:blank'"
          [name]="app?.endpoint?.endpoint?.id"
          allowfullscreen="true"
          referrerpolicy="no-referrer"
          (load)="frameLoaded = true"
        ></iframe>
      </ng-container>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
