.local-app-frame {
  /* use outline instead of border to inherit bg-color of theme */
  outline: 2px dashed var(--bd-accent);
  margin: 2px;
  border: none;
}

.local-group {
  position: relative; /* allows absolute positioning of children */
}

.local-loading {
  position: absolute;
  top: 30px;
  left: calc(50% - 140px);

  width: 240px;

  text-align: center;

  border-radius: 5px;
  padding: 20px;

  color: var(--bd-text);
  background-color: var(--bd-bg-toolbar);

  z-index: 99;
}

.local-loading-done {
  display: none;
}
