<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="60">
	<Appenders>
		<Routing name="GlobalRoute">
			<Routes pattern="$${ctx:TARGET_LOG_DIR}">
				<Route>
					<RollingFile name="Rolling-Log" fileName="${ctx:TARGET_LOG_DIR}/${ctx:TARGET_LOG_FILE}.log" filePattern="${ctx:TARGET_LOG_DIR}/${ctx:TARGET_LOG_FILE}-%i.log" createOnDemand="true">
						<PatternLayout
							pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} | %25.25t | %-5level | %-35.35MDC{BDEPLOY} | %-80msg - (%F:%L)%n" />

						<!-- Roll over whenever the file grows larger than 50 MB -->
						<SizeBasedTriggeringPolicy size="50 MB"/>
						<DefaultRolloverStrategy max="5" fileIndex="min"/>
					</RollingFile>
				</Route>
				<Route key="$${ctx:TARGET_LOG_DIR}">
					<Console name="Console" target="SYSTEM_OUT">
						<PatternLayout
							pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} | %25.25t | %-5level | %-35.35MDC{BDEPLOY} | %-80msg - (%F:%L)%n" />
					</Console>
				</Route>
			</Routes>
		</Routing>
	</Appenders>
	<Loggers>
		<!-- Disable logging for all unless enabled -->
		<Root level="error">
			<AppenderRef ref="GlobalRoute" />
		</Root>
		
		<!-- By default we are using INFO for all our classes -->
		<Logger name="io.bdeploy" level="info" additivity="false">
			<AppenderRef ref="GlobalRoute" />
		</Logger>

		<!-- JerseyServer's log level also controls Grizzly and Jersey log levels! -->
		<Logger name="io.bdeploy.jersey.JerseyServer" level="info" additivity="false">
			<AppenderRef ref="GlobalRoute" />
		</Logger>

		<!-- Always set Grizzly and Jersey levels to maximum, use JerseyServer 
			above to control actual level -->
		<Logger name="org.glassfish" additivity="false" level="trace">
			<AppenderRef ref="GlobalRoute" />
		</Logger>

		<!-- UI Interface -->
		<Logger name="io.bdeploy.ui" additivity="false" level="info" >
			<AppenderRef ref="GlobalRoute" />
		</Logger>
		
		<!-- Actions -->
		<Logger name="io.bdeploy.jersey.actions" additivity="false" level="info" >
			<AppenderRef ref="GlobalRoute" />
		</Logger>
		
		<!-- Pooling -->
		<Logger name="io.bdeploy.bhive.BHivePoolOrganizer" additivity="false" level="info" >
			<AppenderRef ref="GlobalRoute" />
		</Logger>
		
		
		<!-- Cleanup - set all three to debug or trace depending on information required. -->
		<Logger name="io.bdeploy.ui.cleanup" additivity="false" level="info" ><AppenderRef ref="GlobalRoute" /></Logger>
		<Logger name="io.bdeploy.minion.remote.jersey.NodeCleanupResourceImpl" additivity="false" level="info" ><AppenderRef ref="GlobalRoute" /></Logger>
		<Logger name="io.bdeploy.dcu.InstanceNodeController" additivity="false" level="info" ><AppenderRef ref="GlobalRoute" /></Logger>

		<!-- Poor man's profiling by observing activities in the logs -->
		<Logger name="io.bdeploy.jersey.JerseySseActivity" additivity="false" level="info">
			<AppenderRef ref="GlobalRoute" />
		</Logger>
		
		<!-- Track the amount of ObjectMapper instances created using 'debug' - those are heavyweight and should be avoided. -->
		<Logger name="io.bdeploy.common.util.JacksonHelper" additivity="false" level="info">
			<AppenderRef ref="GlobalRoute" />
		</Logger>

		<!-- PCU -->
		<Logger name="io.bdeploy.pcu" additivity="false" level="info" >
			<AppenderRef ref="GlobalRoute" />
		</Logger>

        <!-- Authentication -->
		<Logger name="io.bdeploy.minion.user" additivity="false" level="info" >
			<AppenderRef ref="GlobalRoute" />
		</Logger>
		
		<!-- Node Management -->
		<Logger name="io.bdeploy.minion.nodes" additivity="false" level="info" >
			<AppenderRef ref="GlobalRoute" />
		</Logger>
	</Loggers>
</Configuration>