.large-text {
  flex: 1 0 auto;

  height: 200px;
}

.flex-content {
  display: flex;
  flex-direction: column;
}

.title-box {
  border-bottom: 1px solid;
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
}

textarea {
  resize: none;
}
