.fill-space {
  flex: 1 1 auto;
}

.field-container {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  flex: 1 1 auto;
}

.logo-box {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-title {
  flex: 1 1 auto;
}

.logo {
  flex: 0 0 auto;
  max-width: 200px;
}

.logo-button {
  flex: 0 0 auto;
}

.logo-preview {
  padding: 20px 0px 20px 0px;
  justify-content: center;
}

.boolean-param-field {
  flex: 1 1 auto;
  justify-content: left;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.boolean-param-widget {
  margin: -1em 0em 0em 0em;
}

.boolean-param-label {
  position: absolute;
  left: 0;
  margin: -2.5em 1em;
  padding: 0.5em;
  font-size: 0.75em;
  text-overflow: ellipsis;
}
