.fill-space {
  flex: 1 1 auto;
}

.box {
  display: flex;
  flex-direction: row;
}

.logo-container {
  min-width: 240px;
  max-width: 240px;
  min-height: 280px;
  max-height: 280px;
  display: flex;
  flex-direction: column;
}

.logo-title-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}

.logo-title {
  flex: 1 1 auto;
  line-height: 40px;
  padding-left: 20px;
}

.logo-button {
  flex: 0 0 auto;
}

.logo-preview-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.logo {
  object-fit: contain;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
}

.logo-dummy {
  width: 120px;
  height: 120px;
}

.fields-container {
  flex: 1 1 auto;
  margin: 40px 0px 20px 20px;
}

mat-form-field {
  flex: 1 1 auto;
}

.boolean-param-field {
  flex: 1 1 auto;
  justify-content: left;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.boolean-param-widget {
  margin: -1em 0em 0em 0em;
}

.boolean-param-label {
  position: absolute;
  left: 0;
  margin: -2.5em 1em;
  padding: 0.5em;
  font-size: 0.75em;
  text-overflow: ellipsis;
}

.tab-container {
  padding-top: 20px;
}

.tab-content {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.attributes-grid {
  margin: 20px;

  display: grid;
  grid-template-columns: auto auto 32px 32px 32px;

  row-gap: 5px;
  column-gap: 10px;

  align-items: center;
}

mat-toolbar button {
  margin-left: 5px;
}
