<mat-toolbar class="mat-elevation-z1 header-toolbar">
  <button mat-icon-button type="button" (click)="routingHistoryService.back('l/instancegroup/browser')">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span>Attach to Central Server</span>
</mat-toolbar>

<div class="stepper-container">
  <mat-vertical-stepper #stepper class="stepper" linear>
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>

    <mat-step label="Introduction" [completed]="!!attachPayload" #introStep>
      <p>
        This page can be used to attach this BDeploy server to a central, controlling server. You will need to open the
        counterpart on the central server as well to be able to drag between the two pages. The page on the central
        server can be found by clicking the <strong>Add</strong> button after selecting the
        <strong>Managed Servers</strong> dialog in the drop down context menu of an instance group.
      </p>
      <div class="button-container">
        <button mat-raised-button matStepperNext [disabled]="!attachPayload">Next</button>
        <mat-spinner *ngIf="!attachPayload" diameter="24"></mat-spinner>
      </div>
    </mat-step>
    <mat-step label="Publish Managed Server" #attachStep>
      <p>Drag the below card to the drop zone on the central server.</p>
      <div class="drag-container">
        <mat-card draggable="true" (dragstart)="onDragStart($event)" class="drag-card">
          <div>Drag me to the central server!</div>
        </mat-card>
      </div>
      <p>
        After dragging, complete configuration of the connection on the central server. The wizard will continue
        automatically once the connection is established. If the connection cannot be established, click
        <strong>Continue Manually</strong> to manually proceed with attaching.
      </p>
      <div class="button-container">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Continue Manually</button>
        <div class="spacer"></div>
        <span>Waiting for incoming connection...</span>
        <mat-progress-spinner mode="indeterminate" diameter="24"></mat-progress-spinner>
      </div>
    </mat-step>
    <mat-step label="Manual Configuration of Central Server" optional="true" #manualStep>
      <p>
        Note that this step is only necessary if the central server cannot contact this managed server (temporarily or
        permanently). If not even drag and drop to the central server works, click
        <strong>Download for manual setup</strong> and drag the file to the central server instead.
      </p>
      <div class="drag-container">
        <button mat-raised-button (click)="downloadManualJson()">Download for manual setup</button>
        <mat-card class="drag-card drop-card" (drop)="onDrop($event)" (dragover)="onOver($event)">
          Drop central server information here!
        </mat-card>
      </div>
      <div class="button-container">
        <button mat-raised-button matStepperPrevious>Back</button>
        <ng-container *ngIf="manualLoading">
          <div class="spacer"></div>
          <span>Waiting for incoming connection...</span>
          <mat-progress-spinner mode="indeterminate" diameter="24"></mat-progress-spinner>
        </ng-container>
      </div>
    </mat-step>
    <mat-step label="Done" #doneStep>
      <div class="success-icon">
        <ng-container *ngIf="remoteAttached">
          <mat-icon>check_circle_outline</mat-icon>
          <p>
            This managed server has been attached and the Instance Group <strong>{{ remoteAttached.name }}</strong> has
            been added.
          </p>
          <div class="drag-container">
            <app-instance-group-card [instanceGroup]="remoteAttached"></app-instance-group-card>
          </div>
        </ng-container>
        <button mat-raised-button routerLink="/groups/browser" class="done-button" [replaceUrl]="true">Done</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
