@import '~@angular/material/theming';

@mixin attach-central-theme($theme) {
  $dark: map-get($theme, 'is-dark');
  $success-color: if($dark, mat-color($mat-green, 300), mat-color($mat-green, 700));

  .success-icon mat-icon {
    color: $success-color;
  }
}
