<app-bd-dialog>
  <app-bd-dialog-toolbar header="Instance Maintenance" [panel]="true" [route]="['..']"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px">
      <app-bd-button
        [loadingWhen$]="deleting$"
        [disabled]="deleting$ | async"
        text="Delete Instance"
        icon="delete"
        color="primary"
        [collapsed]="false"
        (click)="doDelete()"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
