:host {
  /* see main-nav-top which is 114px high - we want to overlap that a little */
  position: relative;
  top: 84px;

  height: calc(100% - 114px);
  max-width: 100%;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}
