:host {
  height: 100%;
  max-width: 100%;

  display: flex;
  flex-direction: column;
}

.local-sizing-common {
  position: relative;
  flex: 1 0 auto;

  overflow: hidden;

  top: -32px;
  height: 100%;

  z-index: 10;
}

.local-sizing-inner {
  overflow: auto;

  width: 100%;
  height: 100%;
}
