.add-button {
  top: auto !important;
  right: 40px !important;
  bottom: 40px !important;
  left: auto !important;
  position: fixed !important;
}

.list-divider {
  margin-top: 30px;
}

.fill-space {
  flex: 1 0 auto;
}

.loading-container {
  flex: 1 0 auto;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-heading {
  margin-top: 30px;
}

.center {
  text-align: center;
}

.headerText {
  font-size: 1.3em;
  vertical-align: middle;
}

.welcomeText {
  font-size: 2em;
  vertical-align: middle;
}

.headerIcon {
  font-size: 1.7em;
  vertical-align: middle;
}
