<div class="bd-page-root" fxLayout="column">
  <mat-toolbar class="bd-page-toolbar">
    <mat-toolbar-row fxLayoutGap="5px">
      <div fxFlex="1 0 auto"></div>
      <mat-select [(value)]="popTest.preferredPosition" [style.font-size]="'smaller'">
        <mat-option *ngFor="let opt of testValues" [value]="opt">{{ opt }}</mat-option>
      </mat-select>
      <app-bd-button-popup #popTest icon="help"><mat-card>This is the popup</mat-card></app-bd-button-popup>
      <app-bd-data-grouping
        [multiple]="!dataTable.grid"
        (groupingChange)="dataTable.grouping = $event"
        [definitions]="definitions"
        [values]="boundGetGroupingValues"
        presetKey="instanceGroups"
      ></app-bd-data-grouping>
      <app-bd-button
        [isToggle]="true"
        icon="dashboard"
        text="Toggle Card Mode"
        [(toggle)]="dataTable.grid"
      ></app-bd-button>
      <app-bd-button
        [isToggle]="true"
        icon="check_box"
        text="Toggle Check mode"
        [(toggle)]="dataTable.checkMode"
      ></app-bd-button>
      <app-bd-button icon="add" text="Add Rows" (click)="addRows()" [badge]="rows.value.length"></app-bd-button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="bd-scroll-container bd-default-margin">
    <app-bd-data-display
      #dataTable
      [columns]="columns"
      [records]="rows | async"
      [sortData]="sort"
      [(checked)]="checked"
      (checkedChange)="onCheckChange()"
      (recordClick)="onRecordClick($event)"
      [searchable]="true"
    ></app-bd-data-display>
  </div>
</div>
