<ng-template #detailsPopup>
  <div class="flex">
    <mat-card appearance="outlined" class="local-details-popup-sizing flex flex-col gap-1 p-2.5">
      <div class="m-2">
        <div class="grid grid-cols-[110px_auto] gap-1">
          <strong>Name:</strong>
          <div class="truncate">{{ record.managedServer.hostName }}</div>
          <strong>Description:</strong>
          <div class="truncate">{{ record.managedServer.description }}</div>
          <strong>URI:</strong>
          <div class="truncate">{{ record.managedServer.uri }}</div>
          <strong>Last Sync.:</strong>
          <div>{{ record.managedServer.lastSync | date: 'dd.MM.yyyy HH:mm' }}</div>
          @if ((auth.isCurrentScopeAdmin$ | async)) {
            <div class="mt-2">
              <a class="local-link" (click)="goToServerPage()">Configure</a>
            </div>
          }
        </div>
      </div>
    </mat-card>
  </div>
</ng-template>

@if (record.managedServer) {
  <mat-icon
    class="local-icon bd-accent-text ml-1"
    [appBdPopup]="detailsPopup"
    [appBdPopupDelay]="300"
    appBdPopupTrigger="hover"
    >dns</mat-icon
    >
  }
