<app-bd-dialog>
  <app-bd-dialog-toolbar header="Link Managed Server" [panel]="true"></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div class="flex flex-col gap-2.5">
      <div>
        Visit the managed server you want to link in a separate window now, and drag the
        <em>link information card</em> from the <strong>Link Instance Group</strong> panel to the zone below.
      </div>
      <input type="file" hidden (change)="onUpload($event)" data-testid="managed-ident" />
      <app-bd-file-drop
        hintText="Drop managed server information here"
        (drop)="onDrop($event)"
        (dragover)="onOver($event)"
        (fileAdded)="fileAdded($event)"
      ></app-bd-file-drop>
      @if (!!payload) {
        <form class="flex flex-col gap-2.5" #form="ngForm" (ngSubmit)="onSave()">
          <div>Details for server to link:</div>
          <app-bd-form-input
            label="Server Name"
            name="hostName"
            [(ngModel)]="payload.hostName"
            required
            appTrimmed
          ></app-bd-form-input>
          <app-bd-form-input
            label="Description"
            name="description"
            [(ngModel)]="payload.description"
            required
          ></app-bd-form-input>
          <app-bd-form-input label="URI" name="uri" [(ngModel)]="payload.uri" required appTrimmed></app-bd-form-input>
          <app-bd-button
            text="Save"
            color="primary"
            icon="save"
            [collapsed]="false"
            [disabled]="form.invalid || (formSubmitted$ | async)"
          ></app-bd-button>
          @if (manual) {
            <div class="flex flex-col gap-2.5">
              <div>
                The managed server has been added, but unfortunately the managed server could not be informed about this
                fact.
              </div>
              <div>
                Please download the <em>authorization file</em> below which instructs the managed server on what to do.
              </div>
              <div>
                You can upload the file using the manual mode on the managed server in the
                <strong>Link Instance Group</strong> panel.
              </div>
              <app-bd-button
                text="Download Authorization File"
                icon="cloud_download"
                (click)="onDownloadCentralIdent()"
                [collapsed]="false"
                [loadingWhen$]="loadingIdent$"
                [disabled]="!ident"
              ></app-bd-button>
            </div>
          }
        </form>
      }
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
