<ng-template #addEditDialog>
  <div fxLayout="column" [style.min-width.px]="250">
    <app-bd-form-input label="Name/ID" name="name" [(ngModel)]="tempAttribute.name" required></app-bd-form-input>
    <app-bd-form-input label="Description" name="description" [(ngModel)]="tempAttribute.description" required></app-bd-form-input>
  </div>
</ng-template>

<div class="bd-default-padding">
  <p>Global attributes can be assigned to <strong>Instance Groups</strong> as additional grouping and sorting criteria.</p>
  <app-bd-data-table #attributeTable [records]="(settings.settings$ | async)?.instanceGroup?.attributes" [columns]="attributeColumns"></app-bd-data-table>
</div>
