<app-bd-dialog>
  <app-bd-dialog-toolbar
    header="Bulk Control"
    [panel]="true"
  ></app-bd-dialog-toolbar>

  <app-bd-dialog-content *ngIf="instances.active$ | async as instance">
    <app-bd-notification-card
      icon="history"
      [type]="'warning'"
      [dismissable]="false"
      header="Server Not Synchronized"
      *ngIf="!(servers.isCurrentInstanceSynchronized$ | async); else currentInstanceSynchronized"
    >
      <div [style.text-align]="'justify'">
        The managed server responsible for this instance is not synchronized,
        bulk controls are unavailable. Please synchronize the server to use
        these controls.
      </div>
    </app-bd-notification-card>
    <ng-template #currentInstanceSynchronized>
      <div class="flex flex-col gap-2.5">
        <app-bd-button
          [collapsed]="false"
          icon="play_arrow"
          text="Start Instance"
          (click)="doStart(instance)"
          [loadingWhen$]="starting$"
          [disabled]="starting$ | async"
        ></app-bd-button>
        <app-bd-button
          [collapsed]="false"
          icon="stop"
          text="Stop Instance"
          (click)="doStop(instance)"
          [loadingWhen$]="stopping$"
          [disabled]="stopping$ | async"
        ></app-bd-button>
        <app-bd-button
          [collapsed]="false"
          icon="replay"
          text="Restart Instance"
          (click)="doRestart(instance)"
          [loadingWhen$]="restarting$"
          [disabled]="restarting$ | async"
        ></app-bd-button>
        <mat-divider></mat-divider>
        <div class="flex flex-col gap-2.5">
          <div>
            Control
            <strong>{{ bulkSelection.length || 0 }}</strong>
            selected processes.
          </div>
          <app-bd-notification-card
            *ngIf="bulkContainsConfirmed"
            type="warning"
            header="Confirmation Required"
            [dismissable]="false"
          >
            The selection contains one or more processes which require
            confirmation. Those processes can not be controlled in a bulk.
          </app-bd-notification-card>
        </div>
        <app-bd-button
          [collapsed]="false"
          icon="play_arrow"
          text="Start Selected Processes"
          (click)="doStartMulti(instance)"
          [loadingWhen$]="startingMulti$"
          [disabled]="(startingMulti$ | async) || !bulkSelection.length || bulkContainsConfirmed"
        ></app-bd-button>
        <app-bd-button
          [collapsed]="false"
          icon="stop"
          text="Stop Selected Processes"
          (click)="doStopMulti(instance)"
          [loadingWhen$]="stoppingMulti$"
          [disabled]="(stoppingMulti$ | async) || !bulkSelection.length || bulkContainsConfirmed"
        ></app-bd-button>
        <app-bd-button
          [collapsed]="false"
          icon="replay"
          text="Restart Selected Processes"
          (click)="doRestartMulti(instance)"
          [loadingWhen$]="restartingMulti$"
          [disabled]="(restartingMulti$ | async) || !bulkSelection.length || bulkContainsConfirmed"
        ></app-bd-button>
      </div>
    </ng-template>
  </app-bd-dialog-content>
</app-bd-dialog>
