<section class="mat-typography dialog">
  <form [formGroup]="instanceFormGroup" (ngSubmit)="onSubmit()">
    <mat-toolbar class="mat-elevation-z1 header-toolbar">
      <mat-toolbar-row>
        <button mat-icon-button type="button" [disabled]="loading" (click)='location.back()'><mat-icon>chevron_left</mat-icon></button>
        <span *ngIf="isCreate()">Instance Group: {{groupParam}}</span>
        <span *ngIf="!isCreate()">Instance: {{groupParam}} - {{nameControl.value}}</span>
        <span class="fill-space"></span>
        <button mat-raised-button color="primary" type="submit" [disabled]="loading || !isModified() || !instanceFormGroup.valid">SAVE</button>
      </mat-toolbar-row>
      <mat-toolbar-row class="subHeader">
        <span> UUID: <b>{{uuidControl.value}}</b> </span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="container">
      <mat-grid-list cols="3" rowHeight="5em">
        <mat-grid-tile>
          <mat-form-field>
            <input type="text" class="input-field" matInput formControlName="name" placeholder="Name" />
            <mat-error *ngIf="nameControl.invalid">{{getErrorMessage(nameControl)}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-select formControlName="purpose" placeholder="Purpose">
              <mat-option *ngFor="let purpose of purposes" value="{{purpose}}">{{purpose}}</mat-option>
            </mat-select>
            <mat-error *ngIf="purposeControl.invalid">{{getErrorMessage(purposeControl)}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="boolean-param-field">
            <mat-slide-toggle class="boolean-param-widget" formControlName="autoStart"> </mat-slide-toggle>
            <label class="boolean-param-label"> Automatic Startup</label>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
          <mat-form-field>
            <input type="text" class="input-field" matInput formControlName="description" placeholder="Description" />
            <mat-error *ngIf="descriptionControl.invalid">{{getErrorMessage(descriptionControl)}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <ng-template #infoPopup>
            <mat-card class="info-card">
              <div class="mat-title">Automatically uninstall old instance versions</div>
              <mat-card-content>
                If this option is enabled, instance versions that are older than<br>
                the activated and the previously activated instance version<br>
                are uninstalled automatically.
              </mat-card-content>
            </mat-card>
          </ng-template>
          <div class="boolean-param-field">
            <mat-slide-toggle class="boolean-param-widget" formControlName="autoUninstall"></mat-slide-toggle>
            <label class="boolean-param-label">Automatic Uninstallation</label>
          </div>
          <div class="icons">
            <button mat-icon-button type="button" #infoButton (click)="openOverlay(infoButton, infoPopup)">
              <mat-icon class="info-icon">info</mat-icon>
            </button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div formGroupName="product" class="container">
      <h3 class="header"> Product </h3>
      <mat-grid-list cols="2" rowHeight="5em">
        <mat-grid-tile>
          <mat-form-field>
            <mat-select formControlName="name" placeholder="Product">
              <mat-option *ngFor="let pname of getProductNames()" value="{{pname}}">{{getProductDisplayName(pname)}}</mat-option>
            </mat-select>
            <mat-error *ngIf="productNameControl.invalid">{{getErrorMessage(productNameControl)}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-select formControlName="tag" placeholder="Version">
              <mat-option *ngFor="let tag of getTagsForProduct()" value="{{tag}}">{{tag}}</mat-option>
            </mat-select>
            <mat-error *ngIf="productTagControl.invalid">{{getErrorMessage(productTagControl)}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </form>
  <form [formGroup]="formGroup">
    <div formGroupName="managedServer" class="container" *ngIf='isCentral()'>
        <h3 class="header"> Managed Server </h3>
        <mat-grid-list cols="1" rowHeight="5em">
          <mat-grid-tile *ngIf='servers.length === 0'>
            <div class='warning-tile'>
              <mat-icon class='warning-icon' color='warn'>warning</mat-icon>It seems that there are no managed servers attached to this instance group. Attach a managed server from the instance group's drop down context menu.
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-select formControlName="name" placeholder="Managed Server">
                <mat-option *ngFor="let server of servers" value="{{server.name}}">{{server.name}} - {{server.description}}</mat-option>
              </mat-select>
              <mat-error *ngIf="managedServerControl.invalid">{{getErrorMessage(managedServerControl)}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
  </form>
</section>
