<div class="flex flex-col">
  <mat-form-field appearance="fill" class="local-form-field">
    <mat-label>{{ label }}</mat-label>
    <mat-select
      [(ngModel)]="value"
      [id]="name"
      [name]="name"
      [required]="required"
      [disabled]="disabled"
      [errorStateMatcher]="this"
      >
      @if (!component) {
        @if (!values || !values.length || allowNone) {
          <mat-option>--</mat-option>
        }
        @for (value of values; track value; let i = $index) {
          <mat-option [value]="value"
            >{{ !!labels && !!labels[i] ? labels[i] : values[i] }}</mat-option
            >
          }
        }

        @if (component) {
          @for (value of values; track value; let i = $index) {
            <mat-option [value]="value">
              <app-bd-form-select-component-option
                [componentType]="component"
                [option]="value"
              ></app-bd-form-select-component-option>
            </mat-option>
          }
        }
      </mat-select>
      @if (prefix) {
        <div matPrefix>
          <ng-container *ngTemplateOutlet="prefix"></ng-container>
        </div>
      }
      @if (ngControl && ngControl.invalid) {
        <mat-error>{{ getErrorMessage() }}</mat-error>
      }
    </mat-form-field>
  </div>
