<app-bd-dialog [loadingWhen$]="nodesAdmin.loading$">
  <app-bd-dialog-toolbar header="Nodes">
    <div class="flex-auto"></div>
    <app-bd-button text="Refresh" icon="refresh" (click)="nodesAdmin.reload()"></app-bd-button>
    <app-bd-panel-button
      [collapsed]="false"
      color="primary"
      text="Add Node..."
      tooltipPosition="below"
      icon="add"
      [route]="['panels', 'admin', 'add-node']"
    ></app-bd-panel-button>
    <app-bd-panel-button
      [collapsed]="false"
      color="primary"
      text="Add Multi-Node..."
      tooltipPosition="below"
      icon="add"
      [route]="['panels', 'admin', 'add-multi-node']"
    ></app-bd-panel-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div class="bd-default-padding">
      <app-bd-data-table
        #dataDisplay
        [records]="nodesAdmin.nodes$ | async"
        [columns]="columns"
        [recordRoute]="getRecordRoute"
        [sort]="sort"
      >
      </app-bd-data-table>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
