<app-bd-dialog>
  <app-bd-dialog-toolbar
    header="Select managed server"
    [panel]="true"
    [relative]="true"
    [route]="['..', '..']"
  ></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div class="flex flex-col gap-2.5">
      <div>Select the managed server you want to transfer from/to.</div>
    </div>
    <app-bd-data-display
      [records]="servers.servers$ | async"
      [columns]="columns.defaultReducedServerColumns"
      [recordRoute]="getRecordRoute"
    ></app-bd-data-display>
  </app-bd-dialog-content>
</app-bd-dialog>
