.flex-content {
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mat-dialog-actions {
  justify-content: flex-end;
}
