.fill-space {
  flex: 1 1 auto;
}

.spacer {
  flex: 1 0 auto;
}

.subHeader {
  font-size: smaller;
  font-weight: lighter;
  height: 32px;
  padding-left: 55px;
  margin-top: -10px;
}

.box {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  height: 100%;
}

.drawer-container {
  flex: 1 0 auto;
}

.drawer-wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
}

.drawer-content {
  overflow: auto;
  flex: 1 1 auto;
}

.add-button {
  top: auto !important;
  right: 40px !important;
  bottom: 40px !important;
  left: auto !important;
  position: fixed !important;
}

.sync-button {
  top: auto !important;
  right: 40px !important;
  bottom: 110px !important;
  left: auto !important;
  position: fixed !important;
}

.loading-container {
  flex: 1 0 auto;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.list-heading {
  margin-top: 30px;
  margin-left: 15px;
}

.center {
  text-align: center;
}

.headerText {
  font-size: 1.5em;
  margin-left: 15px;
  vertical-align: middle;
}

.headerIcon {
  font-size: 2em;
  vertical-align: middle;
}

.headerButton{
  font-size: 1.1em;
}

.headerButton .mat-icon{
  margin:0 5px 2px 0;
}

.products-browser-wrapper{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:15px;
}

app-product-card {
  margin:15px;
}
