<mat-card class="product-card" (click)='clickIt()'>
  <mat-card-header>
    <mat-card-title class="title">{{latestProductVersion.name}}</mat-card-title>
    <mat-card-subtitle>Product</mat-card-subtitle>
    <span class="spacer"></span>
    <mat-menu #appMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="clickIt()">Versions</button>
    </mat-menu>
    <button class="option-button" mat-icon-button [matMenuTriggerFor]="appMenu" appClickStopPropagation>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
      <p>Vendor: <b>{{latestProductVersion.vendor ? latestProductVersion.vendor : '(unknown)'}}</b></p>
      <p><b>{{productVersions.length}}</b>&nbsp;version{{productVersions.length > 1 ? 's' : ''}} available</p>
      <p><b>{{diskUsage}}</b>&nbsp;total disk usage</p>
  </mat-card-content>
</mat-card>
