@if (!!items?.length) {
  <div class="local-state-panel flex gap-5">
    @for (item of itemsToDisplay; track item) {
      <div
        class="flex gap-1"
        [matTooltip]="item.tooltip ? (item.tooltip | async) : (item.name | async)"
        matTooltipClass="tooltip-with-newline"
        [matTooltipShowDelay]="300"
        matTooltipPosition="above"
        [class.cursor-pointer]="item.click"
        (click)="item.click ? item.click() : null"
        >
        @if (item.type | async; as type) {
          @if (type === 'warning') {
            <mat-icon class="bd-warning-text">warning</mat-icon>
          }
          @if (type === 'ok') {
            <mat-icon class="local-ok">done</mat-icon>
          }
          @if (type === 'info') {
            <mat-icon class="local-info">info</mat-icon>
          }
          @if (type === 'product') {
            <mat-icon class="local-hint">apps</mat-icon>
          }
          @if (type === 'update') {
            <mat-icon class="local-hint">system_update</mat-icon>
          }
          @if (type === 'unknown') {
            <mat-icon class="local-hint">help</mat-icon>
          }
        }
        @if ((narrowWhen$ | async) === false) {
          <div>{{ item.name | async }}</div>
        }
      </div>
    }
    <div class="flex-auto"></div>
    @if (lastRefreshAt$) {
      <div class="bd-secondary-text flex gap-1 justify-start items-center">
        <div>Last state refresh: {{ lastRefreshAt$ | async | date: 'HH:mm:ss' }}</div>
        @if (refreshingWhen$ | async) {
          <mat-spinner [diameter]="16"></mat-spinner>
        } @else {
          <app-bd-micro-icon-button [size]="16" (click)="manualRefresh.emit(null)">refresh</app-bd-micro-icon-button>
        }
      </div>
    }
  </div>
}
