.local-state-panel {
  font-size: smaller;
  padding: 5px 10px;
}

.local-state-panel mat-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
}

.local-ok {
  color: var(--bd-text-success);
}

.local-info {
  color: var(--bd-primary);
}

.local-hint {
  color: var(--bd-text-secondary);
}
