@import '~@angular/material/theming';

@mixin client-info-theme($theme) {
  $dark: map-get($theme, is-dark);
  $warn: map-get($theme, 'warn');

  .subHeaderTheme {
    color: if($dark, mat-color($mat-grey, 400), mat-color($mat-grey, 600));
  }

  .launcher-warn-theme {
    background-color: mat-color($warn);
  }
}
