<div class='page-container'>
  <h1>Manual Cleanup</h1>

  <p>This page allows to perform manual cleanup on a local master. Note that this does not work on a <b>remote</b> master.</p>
  <p *ngIf='!cleanupModel && !loadingCleanupModel'>Note that this can be an expensive operation. Click 'Calculate Cleanup Actions' once ready.</p>

  <ng-container *ngIf='!loadingCleanupModel'>
    <button mat-raised-button [color]='cleanupModel ? "primary" : "warn"' (click)='onCalculate()'>{{ (cleanupModel ? 'Re-' : '') + 'Calculate Cleanup Actions' }}</button>
  </ng-container>

  <ng-container *ngIf='cleanupModel'>
    <button mat-raised-button color='warn' (click)='onPerform()' [disabled]='!hasAction()' class='margin-button'>Execute all Actions</button>
    <button mat-raised-button color='primary' (click)='onClear()' class='margin-button'>Reset (Auto. in {{ clearCounter }} s)</button>
  </ng-container>

  <ng-container *ngIf='loadingCleanupModel'>
    <div class='spinner-container'>
      <mat-spinner [diameter]='48'></mat-spinner>
      <div>Calculating Actions...</div>
    </div>
  </ng-container>

  <ng-container *ngIf='cleanupModel'>
    <ng-container *ngFor='let group of cleanupModel'>
      <h3 [ngClass]='group.minion == null ? "offline-minion" : null'>{{group.name}}</h3>
      <table mat-table [dataSource]='(group.minion ? (group.actions.length ? group.actions : emptyActions) : offlineActions)' class='mat-elevation-z3 action-table'>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Action Type</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <ng-container matColumnDef="what">
          <th mat-header-cell *matHeaderCellDef>Target Object</th>
          <td mat-cell *matCellDef="let element">{{ element.what }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef='columns'></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
    </ng-container>
  </ng-container>
</div>
