@use '~@angular/material' as mat;

@mixin instance-card-theme($theme) {
  $prod-border: mat.get-color-from-palette(map-get($theme, 'warn'));
  $test-border: mat.get-color-from-palette(map-get($theme, 'primary'));
  $dev-border: mat.get-color-from-palette(map-get($theme, 'accent'));

  .instance-card-DEVELOPMENT {
    border-left: 10px solid $dev-border;
  }

  .instance-card-TEST {
    border-left: 10px solid $test-border;
  }

  .instance-card-PRODUCTIVE {
    border-left: 10px solid $prod-border;
  }

  .intance-card-row {
    @include mat.typography-level(mat.define-typography-config(), title);

    font-weight: lighter;
    font-size: medium;
  }
}
