@use '~@angular/material' as mat;

@mixin client-apps-theme($theme) {
  $dark: map-get($theme, 'is-dark');
  $warn: map-get($theme, 'warn');
  $info: map-get($theme, 'accent');

  .banner-warn-theme {
    color: #fff;
    background-color: mat.get-color-from-palette($warn);
  }

  .banner-info-theme {
    color: #fff;
    background-color: mat.get-color-from-palette($info);
  }

  .toolbar-icon-active {
    border-bottom: 4px solid mat.get-color-from-palette(map-get($theme, 'warn'));
  }

  .instance-card-theme {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    background-color: if($dark, #424242, #fff);
  }

  .instance-card-header-theme {
    background: if($dark, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.03));
  }
}
