mat-card {
  min-width: 340px;
  max-width: 340px;
  min-height: 120px;
  margin: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.title-row {
  display: flex;
  flex-direction: row;
}

.app-title {
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-row {
  height: 28px;
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}

.app-description {
  align-self: center;
}

.spacer {
  flex: 1 1 auto;
}

.icons {
  align-self: flex-end;
  margin-right: 0.6em;
}

.icon {
  align-self: center;
}
