<div class='loading-container' *ngIf='loading'>
  <mat-spinner diameter="24"></mat-spinner>
</div>

<div class='node-table-container' *ngIf='!loading && dataSource'>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 node-table">
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

    <ng-container matColumnDef="minion">
      <th mat-header-cell *matHeaderCellDef>
        Minion Name
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.key }}
      </td>
    </ng-container>

    <ng-container matColumnDef="os">
      <th mat-header-cell *matHeaderCellDef>OS</th>
      <td mat-cell *matCellDef="let row">
        {{ row.status.os }}
      </td>
    </ng-container>
    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef>System Version</th>
      <td mat-cell *matCellDef="let row">
        {{ row.status.version }}
      </td>
    </ng-container>
    <ng-container matColumnDef="startup">
        <th mat-header-cell *matHeaderCellDef>Up Since</th>
        <td mat-cell *matCellDef="let row">
          {{ getDate(row.status.startup) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="master">
          <th mat-header-cell *matHeaderCellDef>Master</th>
          <td mat-cell *matCellDef="let row">
            {{ row.status.master ? '*' : '' }}
          </td>
        </ng-container>
  </table>
</div>

<mat-action-row>
  <button mat-button (click)='doDelete()'>Delete</button>
</mat-action-row>
