<mat-card appearance="outlined" class="flex flex-col gap-1 p-2.5 max-w-[400px]">
  <!-- Intentionally not using ngSwitch because there is no type checking on it. ngIf has full type checking. -->

  <!-- AppBaseFields -->

  <div *ngIf="field === 'cfg.name'">
    The name of the process configuration, not to be confused with the name of the application launched by the process.
  </div>
  <div *ngIf="field === 'cfg.id'">The ID of the process, which is unique within the instance.</div>

  <!-- AppCommandFields -->

  <div *ngIf="field === 'cfg.executable'">The main command executed by BDeploy when running the process.</div>

  <!-- AppProcessCtrlFields -->

  <div *ngIf="field === 'cfg.control.startType'">
    The start type of the process. This controls how a process can be started and whether it is considered
    <em>vital</em> for the instance.
    <ul class="list-disc list-inside">
      <li>
        <strong>INSTANCE</strong>: The process will be started/stopped when bulk controlling the instance, and is
        considered <em>vital</em>, i.e. the instance receives a warning marker if the process is not running.
      </li>
      <li>
        <strong>MANUAL</strong>: The process will never be started automatically. A user needs to manually start the
        process.
      </li>
      <li>
        <strong>MANUAL_CONFIRM</strong>: Same as <strong>MANUAL</strong>, except that the user will additionally be
        prompted to confirm starting the application.
      </li>
    </ul>
  </div>
  <div *ngIf="field === 'cfg.control.keepAlive'">
    Determines whether BDeploy tries to keep the process alive upon exit, restarting it after an increasing back-off
    period.
  </div>
  <div *ngIf="field === 'cfg.control.noRetries'">
    The amount of times BDeploy will try to restart a process which has
    <em>Keep Alive</em> enabled after the processes exited. The number of retries is reset once the process has been
    running for a certain amount of time.
  </div>
  <div *ngIf="field === 'cfg.control.gracePeriod'">
    The time that BDeploy will wait for the process to shut down once instructed to do so. If the process does not exit
    within this time, BDeploy will start to apply more force.
  </div>
  <div *ngIf="field === 'cfg.control.attachStdin'">
    Determines whether the console in the UI should be attached remotely to the processes <em>stdin</em> stream. This
    allows to send commands to the process if the process supports this.
  </div>
  <div *ngIf="field === 'cfg.control.autostart'">
    Determines whether the application automatically starts upon system bootup.
  </div>

  <!-- AppEndpointFields -->

  <div *ngIf="field === 'cfg.ep.path'">
    The endpoints path. The final <em>URI</em> is constructed using by appending this path to the constructed base
    <em>URI</em> calculated from the rest of the endpoint configuration.
  </div>
  <div *ngIf="field === 'cfg.ep.port'">The port this endpoint is hosted on.</div>
  <div *ngIf="field === 'cfg.ep.secure'">Whether to use HTTPS instead of HTTP.</div>
  <div *ngIf="field === 'cfg.ep.trustAll'">Whether to trust all certificates.</div>
  <div *ngIf="field === 'cfg.ep.trustStore'">
    If not trusting all certificates, gives an optional path on the server file system to a Java TrustStore holding
    required certificates to trust.
  </div>
  <div *ngIf="field === 'cfg.ep.trustStorePass'">A passphrase for the configured Java TrustStore.</div>
  <div *ngIf="field === 'cfg.ep.authType'">
    The authentication type to use when opening a connection to the endpoint.
  </div>
  <div *ngIf="field === 'cfg.ep.authUser'">
    If authentication is required, the user to send to the endpoint for authentication.
  </div>
  <div *ngIf="field === 'cfg.ep.authPass'">
    If authentication is required, the password to send to the endpoint for authentication.
  </div>
  <div *ngIf="field === 'cfg.ep.tokenUrl'">The URL of the OpenID Connect token.</div>
  <div *ngIf="field === 'cfg.ep.clientId'">The ID of the OpenID Connect client.</div>
  <div *ngIf="field === 'cfg.ep.clientSecret'">The secret of the OpenID COnnect client.</div>

  <!-- InstFields -->

  <div *ngIf="field === 'inst.name'">The name of the instance.</div>
  <div *ngIf="field === 'inst.description'">A descriptive text for humans.</div>
  <div *ngIf="field === 'inst.purpose'">
    The intended purpose of the instance, hinting how <em>critical</em> changes to the instance can be.
  </div>
  <div *ngIf="field === 'inst.productTag'">
    The configured version of the product in use by this instance. The version dictates which applications are
    available, how to configure them, as well as the final binaries installed on the target system.
  </div>
  <div *ngIf="field === 'inst.autoStart'">
    Whether all processes of start type <strong>INSTANCE</strong> will be started automatically when the BDeploy server
    starts.
  </div>
  <div *ngIf="field === 'inst.autoUninstall'">
    Whether old versions of the instance will be uninstalled automatically. Versions older than the currently
    <em>active</em> version are eligible.
  </div>
  <div *ngIf="field === 'inst.configTree'">
    The internal ID of the configuration files. A change in this ID will show that <em>any</em> configuration file has
    changed.
  </div>
  <div *ngIf="field === 'inst.systemId'">The internal ID of the system used by this instance.</div>
  <div *ngIf="field === 'inst.systemTag'">
    The version of the system in use. This changes when the system is modified.
  </div>
</mat-card>
