<mat-card class="software-card" (click)='clickIt()'>
  <mat-card-header>
    <mat-card-title class="title">{{softwarePackageName}}</mat-card-title>
    <mat-card-subtitle>Software Package</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item><b>{{softwarePackageVersions.length}}</b>&nbsp;version{{softwarePackageVersions.length > 1 ? 's' : ''}} available</mat-list-item>
      <mat-list-item><b>{{diskUsage}}</b>&nbsp;total disk usage</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
