<mat-card class="software-card" (click)='clickIt()'>
  <mat-card-header>
    <mat-card-title class="title">{{softwarePackageGroup.name}}</mat-card-title>
    <mat-card-subtitle>Software Package</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item><strong>{{versionsCount}}</strong>&nbsp;version{{versionsCount > 1 ? 's' : ''}} available
        <div class="os-container">
          <mat-icon [svgIcon]='os' class='os-icon' *ngFor='let os of operatingSystems'></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item><strong>{{diskUsage}}</strong>&nbsp;total disk usage</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
