<div
  *ngIf="message$ | async as msg"
  class="local-sizing bd-normal-backdrop"
  fxLayout="column"
  fxLayoutAlign="center center"
  [@delayedFadeIn]="{ value: 'dummy', params: { delay: '0s' } }"
>
  <app-bd-notification-card
    class="mat-typography mat-elevation-z3"
    [dismissable]="msg.dismissResult !== undefined"
    (dismiss)="complete(msg.dismissResult)"
    [header]="msg.header"
    [icon]="msg.icon ? msg.icon : 'info'"
    [style.max-height]="'99%'"
    [style.max-width]="'98%'"
  >
    <div fxLayout="column" fxLayoutGap="10px">
      <ng-container *ngIf="msg.template">
        <ng-container *ngTemplateOutlet="msg.template"></ng-container>
      </ng-container>
      <app-bd-dynamic *ngIf="!msg.template" [html]="msg.message"></app-bd-dynamic>
      <ng-container *ngIf="!!msg.confirmation">
        <app-bd-form-input [label]="msg.confirmationHint ? msg.confirmationHint : 'Enter confirmation'" [(ngModel)]="userConfirmation"></app-bd-form-input>
      </ng-container>
      <app-bd-action-row *ngIf="!!msg.actions?.length">
        <app-bd-button
          *ngFor="let action of msg.actions"
          [text]="action.name"
          [collapsed]="false"
          (click)="complete(action.result)"
          [disabled]="(action.confirm && (!(confirmed$ | async) || (msg.validation && !msg.validation()))) || (!!action.disabled && action.disabled())"
        ></app-bd-button>
      </app-bd-action-row>
    </div>
  </app-bd-notification-card>
</div>
