<div class="flex flex-col gap-1">
  <div *ngFor="let act of activities.activities$ | async; trackBy: doTrack">
    <app-bd-notification-card
      [collapsed]="true"
      *ngIf="squashActivity(act) as squashed"
      icon="hourglass_bottom"
      [dismissable]="!squashed?.current?.snapshot?.cancel && (auth.isCurrentScopeWrite$ | async)"
      (dismiss)="onDismiss(squashed)"
      [header]="squashed.header"
    >
      <div class="flex flex-col gap-1">
        <ng-container *ngIf="squashed.current.snapshot.max <= 0">
          <mat-progress-bar
            mode="indeterminate"
            color="accent"
          ></mat-progress-bar>
          <div class="flex">
            <div class="flex-auto"></div>
            <span><em>{{ formatDuration(squashed.parent) }}</em></span>
            <span>&nbsp;({{ formatDuration(squashed.current) }})</span>
          </div>
        </ng-container>

        <ng-container *ngIf="squashed.current.snapshot.max > 0">
          <mat-progress-bar
            mode="determinate"
            color="accent"
            [value]="calculatePercentDone(squashed)"
          ></mat-progress-bar>
          <div class="flex">
            <span
              >{{ squashed.current.snapshot.current }} of {{
              squashed.current.snapshot.max }}</span
            >
            <div class="flex-auto"></div>
            <span><em>{{ formatDuration(squashed.parent) }}</em></span>
            <span>&nbsp;({{ formatDuration(squashed.current) }})</span>
          </div>
        </ng-container>

        <div class="local-user-hint flex">
          <div class="flex-auto"></div>
          <div class="bd-hint-text">
            {{ squashed.current.snapshot.uuid }}, ~{{
            squashed.current.snapshot.user }}.
          </div>
        </div>
      </div>
    </app-bd-notification-card>
  </div>
</div>

<app-bd-no-data *ngIf="!(activities.activities$ | async)?.length">
  <p>There are currently no background activities in the current scope.</p>
</app-bd-no-data>
