<mat-toolbar class="mat-elevation-z1 header-toolbar">
  <button mat-icon-button type="button" (click)='location.back()'><mat-icon>chevron_left</mat-icon></button>
  <span>Managed Servers for Instance Group: {{instanceGroupName}}</span>
</mat-toolbar>

<div *ngIf="loading" class="loading-container">
  <mat-progress-spinner [mode]="'indeterminate'" class="loading-spinner" mode></mat-progress-spinner>
</div>

<ng-container *ngIf="!loading">
  <div *ngIf="!managedServers || managedServers.length == 0" class="list-heading center">
    <p>
      <span class="headerText">No managed servers are attached to this instance group.</span>
    </p>
    <p>
      <span class="material-icons headerIcon">link</span>
      <span class="headerText"><a [routerLink]="['/attach/managed', instanceGroupName]">Attach Managed Server</a></span>
    </p>
  </div>
  <div *ngIf="managedServers && managedServers.length > 0" class="content-container">
    <mat-accordion multi='true'>
      <mat-expansion-panel *ngFor='let server of managedServers' expanded='true'>
        <mat-expansion-panel-header>
          <mat-panel-title class='header-title'>
            {{server.name}} - {{server.description}}
          </mat-panel-title>
          <mat-panel-description class='header-description'>
            {{server.uri}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-managed-server-detail [server]='server' [instanceGroupName]='instanceGroupName' (reload)='load()'></app-managed-server-detail>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>

<button mat-fab class="add-button" [routerLink]="['/attach/managed', instanceGroupName]"><mat-icon>add</mat-icon></button>
