<mat-card #appNodeCard class="node-card instance-node-card-theme">
  <!-- server applications node header -->
  <mat-card-header *ngIf="!isClientApplicationsNode()" class='node-card-header instance-node-card-header-theme'>
    <div mat-card-avatar class='instance-node-avatar-container'>
      <mat-icon class='instance-node-avatar' *ngIf='node.status' [svgIcon]='node.status.os'></mat-icon>
      <mat-icon class='instance-node-avatar' *ngIf='!node.status'>device_unknown</mat-icon>
    </div>
    <mat-card-title>{{ node.nodeName }}</mat-card-title>
    <mat-card-subtitle class='node-card-subtitle'>Published server applications</mat-card-subtitle>
    <span class="fill-space"></span>

    <mat-icon class='instance-node-online' *ngIf='node.status' [matTooltip]="node.statusHint">flight_takeoff</mat-icon>
    <mat-icon class='instance-node-offline' *ngIf='!node.status' [matTooltip]="node.statusHint">warning</mat-icon>
  </mat-card-header>

  <!-- client applications node header -->
  <mat-card-header *ngIf="isClientApplicationsNode()" class='node-card-header instance-node-card-header-theme'>
    <div mat-card-avatar class='instance-node-avatar-container'>
      <mat-icon class='instance-node-avatar'>computer</mat-icon>
    </div>
    <mat-card-title>Client Applications</mat-card-title>
    <mat-card-subtitle class='node-card-subtitle'>Published client applications</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class='node-card-content'>
    <div *ngIf='!hasApps() && manageApplications' class='init-hint'>
      <span *ngIf="!isClientApplicationsNode()" class='init-hint-center'>Drop server application here</span>
      <span *ngIf="isClientApplicationsNode()" class='init-hint-center'>Drop client application here</span>
    </div>
    <div class="new-flex-container" #dragulaContainer dragula="APPS" [dragulaModel]="nodeApps" [ngClass]="getDragulaNodeClasses()">
      <div *ngIf='!hasApps() && !manageApplications' class='empty-hint'>
        <span *ngIf="!isClientApplicationsNode()">There are currently no server applications assigned to this node.</span>
        <span *ngIf="isClientApplicationsNode()">There are currently no client applications assigned to this node.</span>
      </div>
      <app-application-configuration-card *ngFor="let process of nodeApps"
        class="process-card"
        [ngClass]="getDragulaAppClasses(process)"
        [appConfig]="process"
        [instanceVersion]="processConfig.version"
        [activatedTag]="activatedInstanceTag"
        [productMissing]="productMissing"
        (removeEvent)="removeProcess(process)"
        (editEvent)="fireEditAppConfigEvent(process)"
        (click)="onSelect(process)"
        (downloadClickAndStartEvent)="downloadClickAndStartEvent.next($event)"
        (downloadInstallerEvent)="downloadInstallerEvent.next($event)"
        [isReadonly]="isReadonly"
        [isClient]="isClientApplicationsNode()"
        [isInstanceDirty]="isInstanceDirty">
      </app-application-configuration-card>
    </div>

    <div *ngIf='!isClientApplicationsNode() && node.foreignNodeConfigurations && node.foreignNodeConfigurations.length > 0'>
      <mat-expansion-panel class='foreign-panel'>
        <mat-expansion-panel-header>
          <mat-panel-title class='foreign-panel-header'>
            Other instances: {{getForeignInstanceText()}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let nodeCfg of node.foreignNodeConfigurations">
          <div class="foreign-header">
            Foreign Applications of Instance
            <a [routerLink]="['/instance/overview', instanceGroupName, nodeCfg.uuid]">{{ nodeCfg.name }}</a>
          </div>
          <div class="app-foreign-card-container">
            <div *ngFor="let cfg of nodeCfg.applications">
              <app-application-configuration-card
                class="process-card foreign-process-card"
                [isForeign]="'true'"
                [appConfig]="cfg"
              ></app-application-configuration-card>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-card-content>
</mat-card>
