<app-bd-dialog>
  <app-bd-dialog-toolbar
    header="Edit Attribute{{ tempAttribute?.description !== initialAttribute?.description ? '*' : '' }}"
    [panel]="true"
  ></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <form #form="ngForm" (ngSubmit)="onSave()" class="flex flex-col gap-1">
      @if (!(loading$ | async) && tempAttribute) {
        <app-bd-form-input
          label="Name"
          name="name"
          [(ngModel)]="tempAttribute.name"
          required
          appTrimmed
          appEditUniqueValueValidator
          [disallowedValues]="tempUsedIds"
          [disabled]="true"
        ></app-bd-form-input>
        <app-bd-form-input
          label="Description"
          name="description"
          [(ngModel)]="tempAttribute.description"
          required
        ></app-bd-form-input>
        <app-bd-button
          color="primary"
          [collapsed]="false"
          text="Apply"
          icon="check"
          [disabled]="form.invalid || tempAttribute.description === initialAttribute.description"
        ></app-bd-button>
      }
    </form>
  </app-bd-dialog-content>
</app-bd-dialog>
