<app-bd-dialog>
  <app-bd-dialog-toolbar
    header="Edit Attribute{{ tempAttribute?.description !== initialAttribute?.description ? '*' : '' }}"
    [panel]="true"
  ></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <form
      #form="ngForm"
      (ngSubmit)="onSave()"
      fxLayout="column"
      fxLayoutGap="5px"
    >
      <ng-container *ngIf="!(loading$ | async) && tempAttribute">
        <app-bd-form-input
          label="Name/ID"
          name="name"
          [(ngModel)]="tempAttribute.name"
          required
          appTrimmed
          appEditUniqueValueValidator
          [disallowedValues]="tempUsedIds"
          disabled
        ></app-bd-form-input>
        <app-bd-form-input
          label="Description"
          name="description"
          [(ngModel)]="tempAttribute.description"
          required
        ></app-bd-form-input>
        <app-bd-button
          color="primary"
          [collapsed]="false"
          text="Apply"
          icon="save"
          [disabled]="form.invalid || tempAttribute.description === initialAttribute.description"
        ></app-bd-button>
      </ng-container>
    </form>
  </app-bd-dialog-content>
</app-bd-dialog>
