<ng-template #infoPopup>
  <mat-card class="info">
    <div class="mat-title">History of Instance Version {{ instanceVersionDto.key.tag }}</div>
    <mat-card-content class="labels-card">
      <div class="table-container mat-elevation-z1" *ngIf="!loading">
        <table mat-table [dataSource]="dataSource">
          <caption style="display: none;">
            History
          </caption>
          <ng-container matColumnDef="action">
            <th scope="col" mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">{{ element.action }}</td>
          </ng-container>
          <ng-container matColumnDef="user">
            <th scope="col" mat-header-cell *matHeaderCellDef>User</th>
            <td mat-cell *matCellDef="let element">{{ element.user }}</td>
          </ng-container>
          <ng-container matColumnDef="timestamp">
            <th scope="col" mat-header-cell *matHeaderCellDef>Timestamp</th>
            <td mat-cell *matCellDef="let element">{{ formatTime(element.timestamp) }}</td>
          </ng-container>
          <ng-container matColumnDef="comment">
            <th scope="col" mat-header-cell *matHeaderCellDef>Comment</th>
            <td mat-cell *matCellDef="let element">{{ element.comment }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <span *ngIf="loading">Loading...</span>
    </mat-card-content>
  </mat-card>
</ng-template>

<button mat-icon-button type="button" #infoButton (click)="openOverlay(infoButton, infoPopup)">
  <mat-icon class="info-icon">history</mat-icon>
</button>
