.content {
  display: block;
  padding-top: 20px;
}

.load-spinner {
  margin-left: auto;
  margin-right: auto;
}

.load-more-spinner {
  display: inline-block;
}

.centered {
  align-items: center;
}

.no-break {
  white-space: nowrap;
  word-break: normal;
}

.mat-table {
  width: 100%;
}

.mat-header-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-parameters {
  word-break: break-all;
}

.footer-total {
  padding: 0px 10px 0px 24px;
  text-align: left;
}

.footer-actions {
  padding: 0px 24px 0px 10px;
  text-align: right;
}

.footer-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.footer-actions button {
  margin-left: 8px;
}

.level-box {
  display: flex;
  flex-direction: row;
}

.level-text {
  line-height: 24px;
  margin-left: 4px;
}

.full-text-button {
  font-size: 14px;
  height:14px;
  width:14px;
}

.full-text-button::before {
  content: "...";
}

.full-text-card {
  max-width: 90vh;
  max-height: 90vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1 0 auto;
}

.full-text-content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
