<div class="content" *ngIf='loading'>
  <mat-spinner [diameter]='48' class="load-spinner"></mat-spinner>
</div>

<ng-template #fullTextOverlay>
  <mat-card class="full-text-card">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Full Text</span>
        <div class='spacer'></div>
        <button mat-icon-button (click)='closeOverlay()'><mat-icon>close</mat-icon></button>
      </mat-toolbar-row>
    </mat-toolbar>
      <div class="full-text-content" #contentDiv>
        <pre>{{ fullTextContent }}</pre>
      </div>
  </mat-card>
</ng-template>

<div class="content" *ngIf='!loading'>

  <table mat-table [dataSource]="data">

    <ng-container matColumnDef="instant">
      <th mat-header-cell *matHeaderCellDef class="no-break">Instant</th>
      <td mat-cell *matCellDef="let element" class="no-break">{{ formatInstant(element.instant) }}</td>
      <th mat-footer-cell *matFooterCellDef class="footer-total">{{data.length}} Records</th>
    </ng-container>

    <ng-container matColumnDef="endOfBatch">
      <th mat-header-cell *matHeaderCellDef>End&nbsp;of&nbsp;batch</th>
      <td mat-cell *matCellDef="let element">{{ element.endOfBatch }}</td>
      <th mat-footer-cell *matFooterCellDef></th>
    </ng-container>

    <ng-container matColumnDef="thread">
      <th mat-header-cell *matHeaderCellDef>Thread</th>
      <td mat-cell *matCellDef="let element">{{ element.thread }}</td>
      <th mat-footer-cell *matFooterCellDef></th>
    </ng-container>

    <ng-container matColumnDef="threadId">
      <th mat-header-cell *matHeaderCellDef>Thread&nbsp;Id</th>
      <td mat-cell *matCellDef="let element">{{ element.threadId }}</td>
      <th mat-footer-cell *matFooterCellDef></th>
    </ng-container>

    <ng-container matColumnDef="threadPriority">
      <th mat-header-cell *matHeaderCellDef>Thread&nbsp;Priority</th>
      <td mat-cell *matCellDef="let element">{{ element.threadPriority }}</td>
      <th mat-footer-cell *matFooterCellDef></th>
    </ng-container>

    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef>Level</th>
      <td mat-cell *matCellDef="let element">
        <span class="level-box">
        <mat-icon *ngIf='element.level === "ERROR"' class='errorIconTheme'>error</mat-icon>
        <mat-icon *ngIf='element.level === "WARN"' class='warningIconTheme'>warning</mat-icon>
        <mat-icon *ngIf='element.level !== "ERROR" && element.level !== "WARN"' class='infoIconTheme'>info</mat-icon>
        <span class="level-text">{{ element.level }}</span>
        </span>
      </td>
      <th mat-footer-cell *matFooterCellDef></th>
    </ng-container>

    <ng-container matColumnDef="who">
      <th mat-header-cell *matHeaderCellDef class="no-break">Who</th>
      <td mat-cell *matCellDef="let element" class="no-break">{{ element.who }}</td>
      <th mat-footer-cell *matFooterCellDef></th>
    </ng-container>

    <ng-container matColumnDef="method">
      <th mat-header-cell *matHeaderCellDef class="no-break">Method</th>
      <td mat-cell *matCellDef="let element" class="no-break">{{ element.method }}</td>
      <th mat-footer-cell *matFooterCellDef></th>
    </ng-container>

    <ng-container matColumnDef="what">
      <th mat-header-cell *matHeaderCellDef class="no-break">What</th>
      <td mat-cell *matCellDef="let element" class="no-break">{{ element.what }}</td>
      <th mat-footer-cell *matFooterCellDef></th>
    </ng-container>

    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef>Message</th>
      <td mat-cell *matCellDef="let element">
        <span (click)="openOverlay(element.message, fullTextOverlay)">{{ formatLongText(element.message) }}<mat-icon class="full-text-button" *ngIf="isLongText(element.message)">open_in_new</mat-icon></span>
      </td>
      <th mat-footer-cell *matFooterCellDef></th>
    </ng-container>

    <ng-container matColumnDef="parameters">
      <th mat-header-cell *matHeaderCellDef>Parameters</th>
      <td mat-cell *matCellDef="let element">
        <span (click)="openOverlay(element.parameters, fullTextOverlay)">{{ formatLongText(element.parameters) }}<mat-icon class="full-text-button" *ngIf="isLongText(element.parameters)">open_in_new</mat-icon></span>
      </td>
      <th mat-footer-cell *matFooterCellDef class="footer-actions">
        <mat-spinner diameter="24" class="load-more-spinner" *ngIf="loadingMore"></mat-spinner>
        <div class="footer-buttons" *ngIf="!loadingMore">
        <button mat-raised-button color="primary" (click)="loadMore(10000)" [disabled]="noMoreData">Load More (~10000)...</button>
        <button mat-raised-button color="primary" (click)="loadMore(1000)" [disabled]="noMoreData">Load More (~1000)...</button>
        </div>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
    <tr mat-footer-row *matFooterRowDef="getDisplayedColumns()"></tr>
  </table>
</div>
