@use '~@angular/material' as mat;

@mixin audit-log-theme($theme) {
  $dark: map-get($theme, is-dark);
  $prim: map-get($theme, 'primary');
  $warn: map-get($theme, 'warn');
  $errorLight: #ee0000;

  .infoIconTheme {
    color: if($dark, mat.get-color-from-palette($prim, 400), mat.get-color-from-palette($prim, 600));
  }

  .warningIconTheme {
    color: if($dark, mat.get-color-from-palette($warn, 400), mat.get-color-from-palette($warn, 600));
  }

  .errorIconTheme {
    color: $errorLight;
  }
}
