.local-sizing {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.local-watermark {
  position: absolute;
  bottom: 7px;
  right: 7px;

  font-size: small;
  color: var(--bd-text-secondary);
}

.local-content-sizing {
  /* see main-nav-top which is 114px high */
  max-height: calc(100% - 114px);
}

.local-unauth-content {
  /* adjust to compensate empty space since no header visible */
  position: absolute;

  width: 80%;
  left: 10%;

  height: 75%;
  top: 12%;

  padding: 0px !important;
  margin: 0px !important;
}

.local-activity-popup-sizing {
  max-width: calc(100% - 10px);
  width: 700px;
}
