@import '~@angular/material/theming';

@mixin _bd-button-popup-theme-colored($name, $card-color) {
  .bd-button-popup-panel-below-left-#{$name} > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    top: -6px;
    right: 12px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: $card-color $card-color $card-color $card-color;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} -2px -3px 4px;
  }

  .bd-button-popup-panel-above-left-#{$name} > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    top: calc(100% - 6px);
    right: 12px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: $card-color $card-color $card-color $card-color;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} 2px 2px 2px;
  }

  .bd-button-popup-panel-below-right-#{$name} > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    top: -6px;
    left: 18px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: $card-color $card-color $card-color $card-color;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} -2px -3px 4px;
  }

  .bd-button-popup-panel-above-right-#{$name} > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    top: calc(100% - 6px);
    left: 18px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: $card-color $card-color $card-color $card-color;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} 2px 2px 2px;
  }

  .bd-button-popup-panel-left-below-#{$name} > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(135deg);
    top: 12px;
    right: -6px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: $card-color $card-color $card-color $card-color;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} -2px -3px 4px;
  }

  .bd-button-popup-panel-right-below-#{$name} > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(315deg);
    top: 12px;
    left: 0px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: $card-color $card-color $card-color $card-color;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} -2px -3px 4px;
  }

  .bd-button-popup-panel-left-above-#{$name} > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(135deg);
    top: calc(100% - 25px);
    right: -6px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: $card-color $card-color $card-color $card-color;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} -2px -3px 4px;
  }

  .bd-button-popup-panel-right-above-#{$name} > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(315deg);
    top: calc(100% - 25px);
    left: 0px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: $card-color $card-color $card-color $card-color;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} -2px -3px 4px;
  }
}

/** These classes are applied to the panel of the popup, thus they MUST be global */
@mixin bd-button-popup-theme($theme) {
  $dark: map-get($theme, 'is-dark');
  $bg: map-get($theme, 'background');

  @include _bd-button-popup-theme-colored('default', map-get($bg, 'card'));
  @include _bd-button-popup-theme-colored('primary', mat-color(map-get($theme, 'primary')));
  @include _bd-button-popup-theme-colored('accent', mat-color(map-get($theme, 'accent')));
  @include _bd-button-popup-theme-colored('warn', mat-color(map-get($theme, 'warn')));
}
