@import '~@angular/material/theming';

/** These classes are applied to the panel of the popup, thus they MUST be global */
@mixin bd-button-popup-theme($theme) {
  $dark: map-get($theme, 'is-dark');
  $bg: map-get($theme, 'background');

  $card-color: map-get($bg, 'card');

  .bd-button-popup-panel-below-left > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    top: -6px;
    right: 12px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: $card-color transparent transparent $card-color;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} -2px -3px 4px;
  }

  .bd-button-popup-panel-above-left > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    top: calc(100% - 6px);
    right: 12px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent $card-color $card-color transparent;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} 2px 2px 2px;
  }

  .bd-button-popup-panel-below-right > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    top: -6px;
    left: 18px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: $card-color transparent transparent $card-color;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} -2px -3px 4px;
  }

  .bd-button-popup-panel-above-right > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    top: calc(100% - 6px);
    left: 18px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent $card-color $card-color transparent;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} 2px 2px 2px;
  }

  .bd-button-popup-panel-left-below > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(135deg);
    top: 12px;
    right: -6px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: $card-color transparent transparent $card-color;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} -2px -3px 4px;
  }

  .bd-button-popup-panel-right-below > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(315deg);
    top: 12px;
    left: 0px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: $card-color transparent transparent $card-color;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} -2px -3px 4px;
  }

  .bd-button-popup-panel-left-above > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(135deg);
    top: calc(100% - 25px);
    right: -6px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: $card-color transparent transparent $card-color;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} -2px -3px 4px;
  }

  .bd-button-popup-panel-right-above > mat-card::after {
    content: '';
    position: absolute;
    transform: rotate(315deg);
    top: calc(100% - 25px);
    left: 0px;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: $card-color transparent transparent $card-color;
    box-shadow: #{rgba($mat-elevation-color, $mat-elevation-opacity * 0.12)} -2px -3px 4px;
  }
}
