<mat-card appearance="outlined" class="flex flex-col gap-1 p-2.5 max-w-[550px]">
  <div>Variable <strong>{{ variable?.id }}</strong></div>
  <div class="p-2.5 grid grid-cols-[100px_auto] gap-1">
    <strong><div>Description:</div></strong>
    <div>{{ variable?.description }}</div>
    <strong><div>Type:</div></strong>
    <div>
      <code>{{ variable?.type || 'STRING' }}</code>
    </div>
    <ng-container *ngIf="variable?.customEditor">
      <strong><div>Custom Editor:</div></strong>
      <div>
        <code>{{ variable?.customEditor }}</code>
      </div>
    </ng-container>
  </div>
</mat-card>
