<div class="box">
  <mat-toolbar class="mat-elevation-z1 header-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button type="button" (click)='location.back()'><mat-icon>chevron_left</mat-icon></button>
      <span>Instance Group: {{instanceGroup}}</span>
      <span class="spacer"></span>
      <app-remote-progress [scope]='[instanceGroup, "transfer"]'></app-remote-progress>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer-container class="drawer-container" (backdropClick)='sidenav.close()'>
    <mat-drawer #appsidenav mode="over" position="end" disableClose>
      <div class='drawer-wrapper'>
        <mat-toolbar class="mat-elevation-z1 fixed-toolbar">Product Versions for&nbsp;<b>{{selectedProductLatestVersion ? selectedProductLatestVersion.name : 'none'}}</b></mat-toolbar>
        <app-product-list class='drawer-content' [products]='selectedProductVersions' [instanceGroup]='instanceGroup' (deleted)='versionDeleted()'></app-product-list>
      </div>
    </mat-drawer>

    <mat-drawer-content>
      <div *ngIf="loading" class="loading-container">
        <mat-progress-spinner [mode]="'indeterminate'" class="loading-spinner" mode></mat-progress-spinner>
      </div>
      <div *ngIf="!loading">
        <div *ngIf="products.size === 0" class="list-heading center">
          <p>
            <span class="material-icons headerIcon">cloud_upload</span>
            <span class="headerText">No products are defined. Start by uploading a new one.</span>
          <p>
        </div>
        <mat-grid-list cols="{{columns}}" rowHeight="220px" gutterSize="10px">
          <mat-grid-tile *ngFor="let prod of productsKeys">
            <app-product-card [instanceGroup]='instanceGroup' [product]="prod" [productVersions]='products.get(prod)' (select)='openProduct(prod)'></app-product-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <button mat-fab class="add-button" (click)="openUploadDialog()"><mat-icon>cloud_upload</mat-icon></button>
      <button mat-fab class="sync-button" *ngIf='isCentral()' [routerLink]='["/product-sync", instanceGroup]' color="primary"><mat-icon>sync_alt</mat-icon></button>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
