.fill-space {
  flex: 1 1 auto;
}

.box {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

.config-card {
  margin: 20px;
  min-width: 90%;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

.config-card-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.config-title-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.filelist-table {
  width: 100%;
}

.wide-column {
  width: 100%;
}

.icon-column {
  min-width: 40px;
}

.deletedFile {
  text-decoration: line-through;
  color: red;
}

.modifiedFile {
  margin-left: 10px;
  color: red;
}

.path-field {
  margin-top: 15px !important;
  width: 100%;
}

.content-field {
  width: 100%;
}

.config-card-form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.ace-editor {
  flex: 1 1 auto;
  margin-top: 10px;
  width: 100%;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
}

.add-button {
  top: auto !important;
  right: 40px !important;
  bottom: 40px !important;
  left: auto !important;
  position: fixed !important;
  z-index: 10;
}

.mat-column-delete {
  text-align: center;
}

.mat-column-copy {
  text-align: center;
}

.mat-column-edit {
  text-align: center;
}

.edit-card-title {
  margin-top: 8px;
  margin-bottom: 0px !important;
}

