<mat-card [ngClass]="getCardStyle()" matRipple>
  <div class="flex-row">
    <div class='header-icon'>
        <mat-progress-spinner *ngIf="isLoading" diameter="24" color="accent" mode="indeterminate"></mat-progress-spinner>
        <ng-container *ngIf="!isLoading">
          <mat-icon class='icon-margin' *ngIf="isActive" matTooltip="Installed and active">check_circle</mat-icon>
          <mat-icon class='icon-margin' *ngIf="isDeployed" matTooltip="Installed">check_circle_outline</mat-icon>
          <mat-icon class='icon-margin' *ngIf="isOffline" matTooltip="Designated master not reachable">sync_problem</mat-icon>
        </ng-container>
    </div>
    <div class="mat-title title">{{ instanceVersionDto.product.tag }}</div>
    <span class="spacer"></span>
    <mat-menu #appMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="install.emit(instanceVersionDto.key)" [disabled]='dirty || isDeployed || isActive'>Install</button>
      <button mat-menu-item (click)="uninstall.emit(instanceVersionDto.key)" [disabled]='dirty || !isDeployed || isActive'>Uninstall</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="activate.emit(instanceVersionDto.key)" [disabled]='dirty || !isDeployed'>Activate</button>
    </mat-menu>
    <button class="option-button" mat-icon-button [matMenuTriggerFor]="appMenu" appClickStopPropagation>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="content-row">
    <div class="description" *ngIf="!dirty">[Version {{ instanceVersionDto.key.tag }}]</div>
    <div class="description" *ngIf="dirty">[Locally Modified]</div>
    <span class="spacer"></span>
    <div class="icons" *ngIf="!dirty">
      <app-process-status [instanceTag]="instanceVersionDto.key.tag" [activatedTag]="state.activatedVersion" [outOfSyncIcon]="true"></app-process-status>
    </div>
  </div>
</mat-card>
