<app-bd-dialog [loadingWhen$]="products.loading$">
  <app-bd-dialog-toolbar
    header="Update Product"
    [panel]="true"
    [route]="['..']"
  >
    <div class="flex-auto"></div>
    <app-bd-button
      icon="refresh"
      text="Refresh"
      (click)="products.reload()"
    ></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px">
      <app-bd-data-table
        [sortData]="null"
        [records]="records$ | async"
        [columns]="columns"
      ></app-bd-data-table>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
