<app-bd-dialog>
  <app-bd-dialog-toolbar [header]="'BHive ' + (bhive$ | async)" [panel]="true"></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div class="flex flex-col gap-1">
      <app-bd-panel-button
        icon="message"
        text="Browse Logs"
        [collapsed]="false"
        [relative]="true"
        [route]="['logs']"
      ></app-bd-panel-button>
      <app-bd-panel-button
        icon="folder_special"
        text="Browse Contents"
        [collapsed]="false"
        [relative]="true"
        [route]="['browse']"
      ></app-bd-panel-button>
      <app-bd-button
        icon="construction"
        text="Repair and Prune Unused Objects"
        [collapsed]="false"
        (click)="doRepairAndPrune()"
        [loadingWhen$]="mappedRepair$"
        [disabled]="mappedRepair$ | async"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
