mat-card {
  min-width: 340px;
  max-width: 340px;
  margin: 5px;
  cursor: pointer;
  box-sizing: border-box;
  border-left: 10px solid transparent;
}

.title-row {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.tag-title {
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}
