<mat-card matRipple [ngClass]="current.tag === product.key.tag ? 'product-tag-selected' : ''">
  <div class="title-row">
    <div class="mat-title tag-title">{{ product.key.tag }}</div>
    <span class="spacer"></span>
    <app-product-info-card [productDto]="product"></app-product-info-card>
    <button
      class="option-button"
      mat-icon-button
      [disabled]="isCurrent"
      (click)="select.emit(product)"
      [matTooltip]="isDowngrade ? 'Downgrade...' : isUpgrade ? 'Upgrade...' : ''"
    >
      <mat-icon *ngIf='isCurrent'>check</mat-icon>
      <mat-icon *ngIf='isDowngrade'>arrow_downward</mat-icon>
      <mat-icon *ngIf='isUpgrade'>arrow_upward</mat-icon>
    </button>
  </div>
</mat-card>
