<app-bd-dialog [loadingWhen$]="loading$" [hideContentWhenLoading]="false">
  <app-bd-dialog-toolbar [panel]="true" header="{{ processConfig?.name }}">
    <div class="flex-auto"></div>
    <app-process-status-icon
      [record]="processConfig"
      class="flex justify-center items-center"
    ></app-process-status-icon>
    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-button
      text="Jump to Configuration"
      icon="settings"
      tooltip="below"
      [disabled]="!(auth.isCurrentScopeWrite$ | async)"
      (click)="
          areas.navigateBoth(['/instances', 'configuration', areas.groupContext$.value, instances.current$.value.instanceConfiguration.id], ['panels', 'instances', 'config', 'process', nodeCfg.nodeName, processConfig.id])
        "
    ></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <app-bd-notification-card
      *ngIf="outdated$ | async"
      icon="warning"
      header="Outdated"
      [dismissable]="false"
      [type]="'warning'"
    >
      <div class="text-justify">
        The process is currently running from an instance version (<strong
          >{{ processDetail?.status.instanceTag }}</strong
        >) which is not the active version (<strong>{{ (instances.active$ | async)?.instance?.tag }}</strong>). Stop the
        process and start it again to launch it from the active version instead.
      </div>
    </app-bd-notification-card>
    <app-bd-notification-card
      *ngIf="!(servers.isCurrentInstanceSynchronized$ | async)"
      icon="history"
      [type]="'warning'"
      [dismissable]="false"
      header="Server Not Synchronized"
    >
      <div class="text-justify">
        The managed server hosting this instance is not synchronized, runtime details are unavailable. Please
        synchronize the server to see additional details.
      </div>
    </app-bd-notification-card>
    <div *ngIf="processConfig" class="p-5 grid grid-cols-[24px_90px_auto] gap-2.5 items-center">
      <mat-icon class="local-id-labels">fingerprint</mat-icon>
      <div class="local-id-labels">Process ID:</div>
      <div class="local-id-labels"><app-bd-identifier [id]="processConfig?.id"></app-bd-identifier></div>

      <mat-icon>flight_takeoff</mat-icon>
      <div>Start Type:</div>
      <div>{{ startType }}</div>

      <mat-icon>favorite_outline</mat-icon>
      <div>Keep Alive:</div>
      <div>{{ processConfig?.processControl.keepAlive ? 'Enabled' : 'Disabled' }}</div>

      <ng-container *ngIf="processDetail">
        <ng-container *ngIf="!isRunning && !isCrashedWaiting">
          <ng-container *ngIf="processDetail?.status.exitCode || processDetail?.stopTime > 0">
            <mat-icon>exit_to_app</mat-icon>
            <div>Exit Code:</div>
            <div>{{ processDetail?.status.exitCode }}</div>
          </ng-container>

          <ng-container *ngIf="processDetail?.stopTime > 0">
            <mat-icon>timer</mat-icon>
            <div>Stopped At:</div>
            <div *ngIf="!!processDetail?.stopTime">{{ processDetail?.stopTime | date: 'dd.MM.yyyy HH:mm' }}</div>
            <div *ngIf="!processDetail?.stopTime">-</div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="isRunning">
          <mat-icon>timelapse</mat-icon>
          <div>Up Time:</div>
          <div>{{ uptime$ | async }}</div>

          <mat-icon>timer</mat-icon>
          <div>Started At:</div>
          <div>{{ processDetail?.handle.startTime | date: 'dd.MM.yyyy HH:mm' }}</div>
        </ng-container>
        <ng-container *ngIf="isCrashedWaiting">
          <mat-icon>report</mat-icon>
          <div>Stopped At:</div>
          <div *ngIf="!!processDetail?.stopTime">{{ processDetail?.stopTime | date: 'dd.MM.yyyy HH:mm' }}</div>
          <div *ngIf="!processDetail?.stopTime">-</div>

          <mat-progress-spinner
            [value]="restartProgress$ | async"
            color="primary"
            [diameter]="24"
          ></mat-progress-spinner>
          <div>Restart In:</div>
          <div>{{ restartProgressText$ | async }}</div>
        </ng-container>
      </ng-container>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="!processDetail && !(details.loading$ | async)" class="bd-hint-text mt-2.5">
      No process details available.
    </div>
    <ng-container *ngIf="processDetail">
      <div class="flex justify-center items-center gap-2.5 p-2.5">
        <app-bd-button
          class="local-control-button"
          [collapsed]="false"
          color="primary"
          [disabled]="startDisabled$ | async"
          (click)="start()"
          matTooltip="Start Process"
        >
          <mat-icon class="material-symbols-filled flex-auto" *ngIf="!(mappedStart$ | async)">play_arrow</mat-icon>
          <div class="flex-auto flex justify-center items-center" *ngIf="mappedStart$ | async">
            <mat-spinner [diameter]="24"></mat-spinner>
          </div>
        </app-bd-button>
        <app-bd-button
          class="local-control-button"
          [collapsed]="false"
          [disabled]="stopDisabled$ | async"
          (click)="stop()"
          matTooltip="Stop Process"
        >
          <mat-icon class="material-symbols-filled flex-auto" *ngIf="!(mappedStop$ | async)">stop</mat-icon>
          <div class="flex-auto flex justify-center items-center" *ngIf="mappedStop$ | async">
            <mat-spinner [diameter]="24"></mat-spinner>
          </div>
        </app-bd-button>
        <app-bd-button
          class="local-control-button"
          [collapsed]="false"
          [disabled]="restartDisabled$ | async"
          (click)="restart()"
          matTooltip="Restart Process"
        >
          <mat-icon class="material-symbols-filled flex-auto" *ngIf="!(mappedRestart$ | async)">replay</mat-icon>
          <div class="flex-auto flex justify-center items-center" *ngIf="mappedRestart$ | async">
            <mat-spinner [diameter]="24"></mat-spinner>
          </div>
        </app-bd-button>
      </div>
      <mat-divider></mat-divider>
      <div class="flex flex-col gap-2.5 pt-2.5">
        <app-bd-expand-button
          *ngIf="!!processConfig?.processControl?.startupProbe?.endpoint || !!processConfig?.processControl?.startupProbe?.endpoint"
          text="Process Probes"
          icon="network_check"
        >
          <ng-container *ngFor="let probe of processDetail?.lastProbes; let isLast = last; trackBy: trackProbe">
            <app-probe-status [probe]="probe"></app-probe-status>
            <mat-divider *ngIf="!isLast"></mat-divider>
          </ng-container>
          <app-bd-no-data *ngIf="!processDetail?.lastProbes?.length"> No Probe Information. </app-bd-no-data>
        </app-bd-expand-button>
        <app-bd-panel-button
          [collapsed]="false"
          [toggle]="false"
          [relative]="true"
          [route]="['ports']"
          icon="power"
          text="Process Port Status"
        ></app-bd-panel-button>
        <app-bd-panel-button
          [collapsed]="false"
          [toggle]="false"
          [relative]="true"
          [route]="['natives']"
          icon="memory"
          text="Native Processes"
          [disabled]="!isRunning"
        ></app-bd-panel-button>
        <app-bd-panel-button
          [collapsed]="false"
          [toggle]="false"
          [relative]="true"
          [route]="['console']"
          icon="terminal"
          text="Process Console"
        ></app-bd-panel-button>
        <ng-container *ngIf="uiEndpoints?.length">
          <mat-divider></mat-divider>
          <app-bd-button
            *ngFor="let ep of uiEndpoints"
            [text]="'Open UI: ' + ep.id"
            icon="preview"
            [collapsed]="false"
            [disabled]="!ep.proxying && !ep.directUri"
            (click)="openUI(ep)"
          ></app-bd-button>
        </ng-container>
        <ng-container *ngIf="pinnedParameters?.length">
          <mat-divider></mat-divider>
          <app-bd-expand-button text="Pinned Parameters" icon="push_pin" [expanded]="true">
            <app-bd-data-table [records]="pinnedParameters" [columns]="pinnedColumns"></app-bd-data-table>
          </app-bd-expand-button>
        </ng-container>
        <app-bd-button
          icon="construction"
          text="Verify Installation"
          matTooltip="Verifies all files installed for this application, checking for modified and missing files."
          matTooltipShowDelay="500"
          [collapsed]="false"
          (click)="verify()"
          [loadingWhen$]="verifying$"
          [disabled]="verifyDisabled$ | async"
        >
        </app-bd-button>
      </div>
    </ng-container>
  </app-bd-dialog-content>
</app-bd-dialog>
