<app-bd-dialog [loadingWhen$]="details.loading$">
  <app-bd-dialog-toolbar
    [panel]="true"
    header="Process {{ processConfig?.name }}"
  >
    <div fxFlex="1 0 auto"></div>
    <app-process-status-icon [record]="processConfig"></app-process-status-icon>
    <mat-divider [vertical]="true"></mat-divider>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <app-bd-notification-card
      *ngIf="outdated$ | async"
      icon="warning"
      header="Outdated"
      [dismissable]="false"
      [type]="'warning'"
    >
      <div [style.text-align]="'justify'">
        The process is currently running from an instance version (<strong
          >{{ processDetail?.status.instanceTag }}</strong
        >) which is not the active version (<strong
          >{{ (instances.active$ | async)?.instance?.tag }}</strong
        >). Stop the process and start it again to launch it from the active
        version instead.
      </div>
    </app-bd-notification-card>
    <app-bd-notification-card
      *ngIf="!processDetail"
      icon="history"
      [type]="'warning'"
      [dismissable]="false"
      header="Server Not Synchronized"
    >
      <div [style.text-align]="'justify'">
        The managed server hosting this instance is not synchronized, runtime
        details are unavailable. Please synchronize the server to see additional
        details.
      </div>
    </app-bd-notification-card>
    <div
      *ngIf="processConfig"
      gdColumns="24px 90px auto"
      gdGap="10px"
      [style.padding.px]="20"
      gdAlignColumns="start center"
    >
      <mat-icon class="local-id-labels">fingerprint</mat-icon>
      <div class="local-id-labels">Process ID:</div>
      <div class="local-id-labels">{{ processConfig?.uid }}</div>

      <mat-icon>flight_takeoff</mat-icon>
      <div>Start Type:</div>
      <div>{{ startType }}</div>

      <mat-icon>favorite_outline</mat-icon>
      <div>Keep Alive:</div>
      <div>
        {{ processConfig?.processControl.keepAlive ? 'Enabled' : 'Disabled' }}
      </div>

      <ng-container *ngIf="processDetail">
        <ng-container *ngIf="!isRunning && !isCrashedWaiting">
          <ng-container
            *ngIf="processDetail?.status.exitCode || processDetail?.stopTime > 0"
          >
            <mat-icon>exit_to_app</mat-icon>
            <div>Exit Code:</div>
            <div>{{ processDetail?.status.exitCode }}</div>
          </ng-container>

          <ng-container *ngIf="processDetail?.stopTime > 0">
            <mat-icon>timer</mat-icon>
            <div>Stopped At:</div>
            <div *ngIf="!!processDetail?.stopTime">
              {{ processDetail?.stopTime | date: 'dd.MM.yyyy HH:mm' }}
            </div>
            <div *ngIf="!processDetail?.stopTime">-</div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="isRunning">
          <mat-icon>timelapse</mat-icon>
          <div>Up Time:</div>
          <div>{{ uptime$ | async }}</div>

          <mat-icon>timer</mat-icon>
          <div>Started At:</div>
          <div>
            {{ processDetail?.handle.startTime | date: 'dd.MM.yyyy HH:mm' }}
          </div>
        </ng-container>
        <ng-container *ngIf="isCrashedWaiting">
          <mat-icon>report</mat-icon>
          <div>Stopped At:</div>
          <div *ngIf="!!processDetail?.stopTime">
            {{ processDetail?.stopTime | date: 'dd.MM.yyyy HH:mm' }}
          </div>
          <div *ngIf="!processDetail?.stopTime">-</div>

          <mat-progress-spinner
            [value]="restartProgress$ | async"
            color="primary"
            [diameter]="24"
          ></mat-progress-spinner>
          <div>Restart In:</div>
          <div>{{ restartProgressText$ | async }}</div>
        </ng-container>
      </ng-container>
    </div>
    <mat-divider></mat-divider>
    <ng-container *ngIf="processDetail">
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        [style.padding.px]="10"
      >
        <app-bd-button
          class="local-control-button"
          [collapsed]="false"
          color="primary"
          [disabled]="!(!(auth.isCurrentScopeWrite$ | async) || (outdated$ | async) || (performing$ | async) ? false : !isRunning)"
          (click)="start()"
          matTooltip="Start Application"
        >
          <mat-icon
            fxFlex="1 0 auto"
            fontSet="material-icons-filled"
            *ngIf="!(starting$ | async)"
            >play_arrow</mat-icon
          >
          <div
            fxLayout="row"
            fxLayoutAlign="center center"
            fxFlex="1 0 auto"
            *ngIf="starting$ | async"
          >
            <mat-spinner [diameter]="24"></mat-spinner>
          </div>
        </app-bd-button>
        <app-bd-button
          class="local-control-button"
          [collapsed]="false"
          [disabled]="!(!(auth.isCurrentScopeWrite$ | async) || (performing$ | async) ? false : (isRunning || isCrashedWaiting) && !isStopping)"
          (click)="stop()"
          matTooltip="Stop Application"
        >
          <mat-icon
            fxFlex="1 0 auto"
            fontSet="material-icons-filled"
            *ngIf="!(stopping$ | async)"
            >stop</mat-icon
          >
          <div
            fxLayout="row"
            fxLayoutAlign="center center"
            fxFlex="1 0 auto"
            *ngIf="stopping$ | async"
          >
            <mat-spinner [diameter]="24"></mat-spinner>
          </div>
        </app-bd-button>
        <app-bd-button
          class="local-control-button"
          [collapsed]="false"
          [disabled]="!(!(auth.isCurrentScopeWrite$ | async) || (outdated$ | async) || (performing$ | async) ? false : isRunning || isCrashedWaiting)"
          (click)="restart()"
          matTooltip="Restart Application"
        >
          <mat-icon
            fxFlex="1 0 auto"
            fontSet="material-icons-filled"
            *ngIf="!(restarting$ | async)"
            >replay</mat-icon
          >
          <div
            fxLayout="row"
            fxLayoutAlign="center center"
            fxFlex="1 0 auto"
            *ngIf="restarting$ | async"
          >
            <mat-spinner [diameter]="24"></mat-spinner>
          </div>
        </app-bd-button>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="column" fxLayoutGap="10px" [style.padding-top.px]="10">
        <app-bd-expand-button
          *ngIf="!!processConfig?.processControl?.startupProbe?.endpoint || !!processConfig?.processControl?.startupProbe?.endpoint"
          text="Process Probes"
          icon="network_check"
        >
          <app-probe-status
            *ngFor="let probe of processDetail?.lastProbes; trackBy: trackProbe"
            [probe]="probe"
          ></app-probe-status>
          <app-bd-no-data *ngIf="!processDetail?.lastProbes?.length">
            No Probe Information.
          </app-bd-no-data>
        </app-bd-expand-button>
        <app-bd-panel-button
          [collapsed]="false"
          [toggle]="false"
          [relative]="true"
          [route]="['ports']"
          icon="power"
          text="Process Port Status"
        ></app-bd-panel-button>
        <app-bd-panel-button
          [collapsed]="false"
          [toggle]="false"
          [relative]="true"
          [route]="['natives']"
          icon="memory"
          text="Native Processes"
          [disabled]="!isRunning"
        ></app-bd-panel-button>
        <app-bd-panel-button
          [collapsed]="false"
          [toggle]="false"
          [relative]="true"
          [route]="['console']"
          icon="cast"
          text="Process Console"
        ></app-bd-panel-button>
      </div>
    </ng-container>
  </app-bd-dialog-content>
</app-bd-dialog>
