<mat-toolbar class="mat-elevation-z1">
  <div class="spacer"></div>
  <button mat-raised-button [disabled]="settings.isLoading() || !settings.isDirty()" (click)="settings.revert()">
    DISCARD
  </button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="settings.isLoading() || !settings.isDirty()"
    (click)="settings.save()"
  >
    SAVE
  </button>
</mat-toolbar>
<div class="content centered">
  <mat-tab-group class="tab-container" dynamicHeight="true">
    <mat-tab label="Local Users">
      <div class="content centered" *ngIf="settings.isLoading()">
        <mat-spinner [diameter]="48"></mat-spinner>
      </div>
      <div class="content" *ngIf="!settings.isLoading()">
        <p>
          You may disable local user login. Be aware that logging in will be impossible if no other authentication
          mechanism (e.g. LDAP) is able to authenticate users.
        </p>
        <mat-slide-toggle [(ngModel)]="settings.getSettings().auth.disableBasic"
          >Disable Local User Login</mat-slide-toggle
        >
      </div>
    </mat-tab>
    <mat-tab label="LDAP">
      <div class="content centered" *ngIf="settings.isLoading()">
        <mat-spinner [diameter]="48"></mat-spinner>
      </div>
      <div class="content" *ngIf="!settings.isLoading()">
        <p>
          Configure one or more LDAP servers to enable LDAP authentication. Users will be created on first login. The
          order of the servers in the configuration determines the order in which they are queried. Once a user is
          associated with a server, it will always authenticate against that server.
        </p>
        <div class="servers-grid" *ngIf="settings.getSettings().auth.ldapSettings.length">
          <ng-container
            *ngFor="let s of settings.getSettings().auth.ldapSettings; let f = first; let l = last; let i = index"
          >
            <div>{{ s.server }}</div>
            <div>{{ s.description }}</div>
            <div>
              <button mat-icon-button [disabled]="testRunning" (click)="testServer(i)" matTooltip="Test Connection">
                <mat-icon>offline_bolt</mat-icon>
              </button>
            </div>
            <div>
              <button mat-icon-button [disabled]="f" (click)="up(i)"><mat-icon>keyboard_arrow_up</mat-icon></button>
            </div>
            <div>
              <button mat-icon-button [disabled]="l" (click)="down(i)"><mat-icon>keyboard_arrow_down</mat-icon></button>
            </div>
            <div>
              <button mat-icon-button (click)="edit(s, i)"><mat-icon>edit</mat-icon></button>
            </div>
            <div>
              <button mat-icon-button (click)="remove(i)"><mat-icon>delete</mat-icon></button>
            </div>
          </ng-container>
        </div>
        <div *ngIf="!settings.getSettings().auth.ldapSettings.length">No Servers have been configured yet.</div>
        <button mat-mini-fab style="align-self: flex-end" (click)="add()"><mat-icon>add</mat-icon></button>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="tab-container">
    <button mat-raised-button (click)="testUser()" [disabled]="settings.isDirty()">Test User</button>
  </div>
</div>
