@use '~@angular/material' as mat;

@mixin product-sync-theme($theme) {
  $dark: map-get($theme, 'is-dark');

  $present-color: if($dark, mat.get-color-from-palette(mat.$grey-palette, 500), mat.get-color-from-palette(mat.$grey-palette, 500));

  .prod-already-present {
    color: $present-color;
  }
}
