:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-dialog-content {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

.mat-dialog-content textarea {
  flex: 1 1 auto;
  word-break: break-all;
  resize: none;
}

.mat-dialog-actions {
  justify-content: flex-end;
}
