@import '~@angular/material/theming';

@mixin process-configuration-theme($theme) {
  $dark: map-get($theme, is-dark);
  $warn: map-get($theme, 'warn');
  $accent: map-get($theme, 'accent');

  .sticky-header {
    background-color: if($dark, #5a5a5a, #eeeeee);
  }

  .drawer-content {
    background-color: if($dark, #363537, #ffffff);
  }

  .application-caption {
    background-color: if($dark, #5a5a5a, #eeeeee);
  }

  .app-process-outdated-text {
    color: #fff;
    background-color: mat-color($warn);
  }

  .need-sync-text {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent);
  }
}
