<ng-template #notificationOutOfSync>
  <div>
    Outdated: One or more applications are running in a version that is no longer activated.
  </div>
</ng-template>

<ng-template #notificationSyncCentral>
  <div>
    The last synchronized state of the instance is shown, so both editing and process control are not available.<br />
    Press
      <button mat-icon-button [disabled]="!authService.isScopedWrite(groupParam)" (click)='instanceNotifications.closeOverlay(); syncComponent.doSyncCentral()' matTooltip="Synchronize meta-data from the controlling server.">
        <mat-icon>dns</mat-icon>
      </button>
    to get the latest version from the managed master. This will unlock editing for 15 minutes.
  </div>
</ng-template>

<ng-template #notificationUpdate>
  <div class="update-container">
    <app-managed-server-update [showClose]='false' [serverName]="syncComponent.getServerName()" [instanceGroupName]="groupParam" [updateDto]="updateDto" (updateEvent)="onUpdateEvent($event)">
    </app-managed-server-update>
  </div>
</ng-template>

<ng-template #notificationNewerProduct>
  <div class='prod-update-notification'>
    A newer product version is available to update this instance to.
    <button mat-raised-button *ngIf="authService.isScopedAdmin(groupParam)" (click)="instanceNotifications.closeOverlay(); onNewerProductVersionAvailable()">Show Product Versions</button>
  </div>
</ng-template>

<ng-template #notificationValidationIssues>
  <div class='validation-container'>
    There are validation issues:
    <div class='validation-item-list'>
      <ng-container *ngFor='let item of issueCache'>
        <ng-container *ngIf='item.context'>
          <div><strong>{{item.context.applicationConfiguration.name}}:</strong> {{item.issue}}</div>
          <button mat-icon-button matTooltip="Edit affected application" (click)='instanceNotifications.closeOverlay(); onEditApp(item.context)'><mat-icon>arrow_forward</mat-icon></button>
        </ng-container>
        <ng-container *ngIf='!item.context'>
          <div><strong>{{item.issue}}</strong></div>
          <div></div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>

<div class="box">
  <mat-toolbar class="mat-elevation-z1 header-toolbar process-config-header">
    <mat-toolbar-row id="page-header">
      <button mat-icon-button type="button" (click)="routingHistoryService.back('instance/browser/'+groupParam)" *ngIf="!editMode">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button type="button" (click)="onDiscardAppChanges(true)" *ngIf="editMode">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <span>Instance: <app-instance-group-title [instanceGroup]='groupParam'></app-instance-group-title> - {{ selectedConfig?.instance?.name }}</span>
      <span class="fill-space"></span>
      <app-instance-notifications #instanceNotifications [notifications]='notifications'></app-instance-notifications>
      <ng-container *ngIf="!editMode">
        <button mat-button type="button" (click)="onDiscardChanges()" *ngIf="discardEnabled">DISCARD</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!saveEnabled" (click)="onSave()">SAVE</button>
      </ng-container>
      <ng-container *ngIf="editMode">
        <button mat-button type="button" [disabled]="!cancelEnabled" (click)="onDiscardAppChanges(false)">CANCEL</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!saveEnabled" (click)="editPortsMode ? onApplyPortChanges() : onApplyAppChanges()">APPLY</button>
      </ng-container>
    </mat-toolbar-row>
    <mat-toolbar-row class="subHeader">
      <app-instance-group-logo class="header-logo" [instanceGroup]="instanceGroup"></app-instance-group-logo>
      <div class="spacer"></div>
      <div class="toolbar-info-grid">
        <div>
          Product: <strong *ngIf="!loading">{{ isProductAvailable(selectedConfig) ? getProductOfInstance(selectedConfig).name : selectedConfig.instance.product.name }}</strong>
        </div>
        <div>
          Version: <strong *ngIf="!loading">{{ selectedConfig.instance.product.tag }}</strong>&nbsp;<span *ngIf="!productsLoading && !isProductAvailable(selectedConfig)" class="product-unavailable" matTooltip="Required product version is not available.">N/A</span>
        </div>
        <div>
          Purpose: <strong *ngIf="!loading">{{ selectedConfig.instance.purpose }}</strong>
        </div>
        <div>
          Auto Start: <strong *ngIf="!loading">{{ selectedConfig.instance.autoStart ? 'Enabled' : 'Disabled' }}</strong>
        </div>
      </div>
      <div class="spacer"></div>
      <app-instance-sync #syncComponent [invisible]='!isActionsVisible()' [confirmCallback]='onSyncCallbackBound' [instanceGroup]='groupParam' [instance]='uuidParam' [tag]='selectedConfig?.version?.key?.tag' (syncEvent)='onSyncManaged()' (stateUpdateEvent)='onSyncStateUpdate()'></app-instance-sync>
      <span class="fill-space"></span>
      <app-remote-progress *ngIf='isActionsVisible()' [scope]='[groupParam, uuidParam]' (events)='updateRemoteEvents($event)'></app-remote-progress>
      <ng-container *ngIf="isActionsVisible() && autoRefresh">
        <button mat-icon-button (click)="toggleAutoRefresh()"
          matTooltip="Auto refresh of process status enabled. Next refresh in {{nextAutoRefreshSec}} seconds. Click to disable.">
          <div class="toolbar-progress">{{getAutoRefreshSecFormatted()}}</div>
          <mat-icon>sync</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="isActionsVisible() && !autoRefresh">
        <button mat-icon-button (click)="toggleAutoRefresh()" [disabled]='isCentral() && !syncComponent.isInSync()' matTooltip="Auto refresh of process status disabled. Click to enable.">
          <mat-icon>sync_disabled</mat-icon>
        </button>
      </ng-container>
      <mat-menu #appMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="startInstance()" [disabled]='!authService.isScopedWrite(groupParam) || !isInstanceActivated() || (isReadonly() && !isActiveVersionSelected())' matTooltip="Starts all processes having the start type INSTANCE configured.">
          <mat-icon>play_arrow</mat-icon>Start Instance
        </button>
        <button mat-menu-item (click)="stopInstance()" [disabled]='!authService.isScopedWrite(groupParam) || !isInstanceActivated() || (isReadonly() && !isActiveVersionSelected())' matTooltip="Stops all processes.">
          <mat-icon>stop</mat-icon>Stop Instance
        </button>
        <button mat-menu-item (click)="restartInstance()" [disabled]='!authService.isScopedWrite(groupParam) || !isInstanceActivated() || (isReadonly() && !isActiveVersionSelected())' matTooltip="Stops all processes, then starts all having the start type INSTANCE configured.">
          <mat-icon>replay</mat-icon>Restart Instance
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="['/instance/edit', groupParam, uuidParam]" [disabled]="!authService.isScopedAdmin(groupParam) || !isEditable()">
          <mat-icon>edit</mat-icon>Edit Instance
        </button>
        <button mat-menu-item (click)="onConfigureBanner()" [disabled]="!authService.isScopedWrite(groupParam)">
          <mat-icon>speaker_notes</mat-icon>Configure Banner
        </button>
        <button mat-menu-item (click)="importInstanceVersion()" [disabled]='!authService.isScopedWrite(groupParam) || isReadonly()'>
          <mat-icon>import_export</mat-icon>Import Instance Version
        </button>
        <button mat-menu-item [disabled]='!authService.isScopedWrite(groupParam) || loading || isReadonly()' [routerLink]="['/configfiles/browser', groupParam, uuidParam, selectedConfig?.version.key.tag]" [disabled]="!isEditable()">
          <mat-icon>attachment</mat-icon>Configuration Files
        </button>
        <button mat-menu-item [disabled]='!authService.isScopedWrite(groupParam) || loading || isReadonly()' [routerLink]="['/instance/datafiles', groupParam, uuidParam, selectedConfig?.version.key.tag]">
          <mat-icon>folder</mat-icon>Data Files
        </button>
        <button mat-menu-item [routerLink]="['/instance/history',groupParam,uuidParam]">
          <mat-icon>history</mat-icon>Instance History
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="setSidenavApplications()" [disabled]="!authService.isScopedWrite(groupParam) || isSidenavApplications() || !isEditable() || !isProductAvailable(selectedConfig)">
          <mat-icon>layers</mat-icon>Configure Applications
        </button>
        <button mat-menu-item (click)="onEditPorts()" [disabled]="!authService.isScopedWrite(groupParam) || !isEditable() || !isProductAvailable(selectedConfig)">
          <mat-icon>power</mat-icon>Configure Ports
        </button>
        <button mat-menu-item (click)="setSidenavProducts()" [disabled]="!authService.isScopedWrite(groupParam) || isSidenavProducts() || !isEditable()">
          <mat-icon>apps</mat-icon>Change Product Version
        </button>
      </mat-menu>
      <button class="option-button" *ngIf='isActionsVisible()' mat-icon-button [matMenuTriggerFor]="appMenu" appClickStopPropagation>
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Nodes overview and sidebar -->
  <div class="drawer-container" *ngIf="!editMode">
    <div class="nodes-container">

      <mat-toolbar *ngIf="hasBanner()" class="fixed-toolbar mat-elevation-z1 banner" [ngStyle]="getBannerStyles()">
        <div class='banner-div'>{{instanceBanner.text}}</div>
      </mat-toolbar>

      <ng-template #emptyHint>
        <div class='center emptyHint' *ngIf='!loading && isProductAvailable(selectedConfig)'>
          <p class="headerText">No applications have been configured yet.</p>
          <div *ngIf='!isReadonly()'>
            You can start from scratch and
            <button class="headerButton" mat-raised-button (click)="setSidenavApplications(); $event.preventDefault();">
              <mat-icon>layers</mat-icon> Configure Applications</button>
          </div>
          <p *ngIf='!isReadonly() && getProductOfInstance(selectedConfig)?.instanceTemplates?.length'>
            <app-instance-template #instanceTemplate
              [instanceGroupName]='groupParam'
              [minionConfigs]='minionConfigs'
              [product]='getProductOfInstance(selectedConfig)'
              (templateApplied)='onApplyTemplateFinished()'></app-instance-template>
            Or you can start from a pre-built
            <button class="headerButton" mat-raised-button (click)="onApplyTemplate(instanceTemplate, $event)">
              <mat-icon>store</mat-icon> Instance Template</button>
          </p>
        </div>
      </ng-template>
      <ng-container *ngIf="!loading && !applyingTemplate && (!isEmptyInstance() || isSidenavApplications()); else emptyHint">
        <ng-container *ngFor="let node of selectedConfig.nodeList.nodeConfigDtos">
          <app-instance-node-card
            class="node"
            *ngIf="shouldShowNode(node)"
            [instanceGroupName]="groupParam"
            [activatedInstanceTag]="deploymentState.activeTag"
            [node]="node"
            [processConfig]="selectedConfig"
            [productTags]='productTags'
            [productMissing]="!productsLoading && !isProductAvailable(selectedConfig)"
            [manageApplications]="isSidenavApplications()"
            [isReadonly]="isReadonly()"
            [minionConfig]="minionConfigs[node.nodeName]"
            [minionState]="minionStates[node.nodeName]"
            [isInstanceDirty]="isDirtySelected()"
            [selectedProcess]="node == selectedNode? selectedProcess : null"
            (editAppConfigEvent)="onEditApp($event)"
            (editAppEndpointsEvent)="onEditAppEndpoints($event)"
            (editNodeAppsEvent)="onUpdateNodeApps()"
            (removeNodeAppEvent)="onUpdateNodeApps()"
            (selectAppConfigEvent)="onSelectApp(node, $event)"
            (downloadClickAndStartEvent)="onDownloadClickAndStart($event)"
            (downloadInstallerEvent)="onDownloadInstaller($event)">
          </app-instance-node-card>
        </ng-container>
      </ng-container>
      <div *ngIf="loading" class="loading-container">
        <mat-spinner [diameter]="48"></mat-spinner>
      </div>
    </div>
    <!-- sidenav (Versions / Applications / ... ) -->
    <div class="side-nav-container mat-elevation-z1">
      <mat-toolbar class="fixed-toolbar mat-elevation-z1">
        <div *ngIf="isSidenavApplications()">Configure Applications</div>
        <div *ngIf="isSidenavVersions()">Instance Versions</div>
        <div *ngIf="isSidenavProducts()">Change Product Version</div>
        <div *ngIf="isSidenavProcessStatus()">Process Control</div>
        <div *ngIf="isSidenavClientInfo()">Client Application</div>
        <span class="fill-space"></span>
        <button *ngIf="!isSidenavVersions()" mat-icon-button (click)="setSidenavVersions()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
      <div class="side-nav-container-content">
        <div class='card-list-container' *ngIf="isSidenavApplications()">
          <div *ngIf="hasServerApplications()">
            <div class='application-caption'>
              <mat-icon class="icon">storage</mat-icon>
              <span class="application-caption-text">Server Applications</span>
            </div>
            <div class="dragula-container dragula-nodeType-template" dragula="APPS" [dragulaModel]="selectedConfig.serverApps">
              <ng-container *ngFor='let group of selectedConfig.serverApps'>
                <app-application-descriptor-card class="app-card" [ngClass]="getDragulaClasses(group)" [applicationGroup]="group"> </app-application-descriptor-card>
              </ng-container>
            </div>
          </div>
          <div *ngIf="hasClientApplications()">
            <div class='application-caption'>
              <mat-icon class="icon">computer</mat-icon>
              <span class="application-caption-text">Client Applications</span>
            </div>
            <div class="dragula-container dragula-nodeType-template" dragula="APPS" [dragulaModel]="selectedConfig.clientApps">
              <ng-container *ngFor='let group of selectedConfig.clientApps'>
                <app-application-descriptor-card class="app-card" [ngClass]="getDragulaClasses(group)" [applicationGroup]="group"> </app-application-descriptor-card>
              </ng-container>
            </div>
          </div>
        </div>
        <div *ngIf="isSidenavVersions()">
          <mat-toolbar class='default-toolbar'>
            <mat-slide-toggle #showAllVersions>Show all</mat-slide-toggle>
          </mat-toolbar>
          <div class='card-list-container'>
            <ng-container *ngFor='let config of processConfigs'>
              <app-instance-version-card #appVersionCard
                *ngIf="shouldShowVersion(showAllVersions, config)"
                [instanceVersionDto]="config.version"
                [instanceGroup]='groupParam'
                [instanceUuid]='uuidParam'
                class="version-card"
                (click)="onSelectConfig(config)"
                (activate)="doActivateVersion($event, appVersionCard)"
                (install)="doInstallVersion($event, appVersionCard)"
                (uninstall)="doUninstallVersion($event, appVersionCard)"
                (export)="exportInstanceVersion($event)"
                (delete)="doDeleteVersion($event)"
                [state]='deploymentState'
                [isRunningOrScheduled]='isRunningOrScheduledVersion(config.version.key.tag)'
                [selected]="isVersionSelected(config)"
                [dirty]="config.dirty"
                [productAvailable]="productsLoading || isProductAvailable(config)"
                [disabled]="loading"
                [activity]='getInstanceVersionActivity(config)'
                [readOnly]='isCentral() && !syncComponent.isInSync()'
                [autoUninstallEnabled]='selectedConfig.instance.autoUninstall'>
              </app-instance-version-card>
            </ng-container>
          </div>
        </div>
        <div *ngIf='isSidenavProducts()'>
          <mat-toolbar class='products-toolbar'>
            <button mat-icon-button matTooltip="Refresh Product List" (click)='loadProducts(selectedConfig)'><mat-icon>refresh</mat-icon></button>
            <div class='vert-speparator'></div>
            <mat-slide-toggle #showAll>Show all</mat-slide-toggle>
          </mat-toolbar>
          <div class='card-list-container'>
            <mat-spinner [diameter]='48' *ngIf='productsLoading || productUpdating'></mat-spinner>
            <ng-container *ngFor='let tag of productTags'>
              <app-product-tag-card *ngIf='!productsLoading && shouldShowProduct(showAll, tag)'
                [instanceGroup]='groupParam'
                [product]='tag'
                [current]='selectedConfig.instance.product'
                (select)='updateProduct($event)'>
              </app-product-tag-card>
            </ng-container>
          </div>
        </div>
        <div *ngIf='isSidenavProcessStatus()'>
          <app-process-details
            [instanceGroup]='groupParam'
            [instanceId]='uuidParam'
            [instanceTag]='selectedConfig.version.key.tag'
            [activatedInstanceTag]="deploymentState.activeTag"
            [appConfig]='selectedProcess'
            [processConfig]='selectedConfig'>
          </app-process-details>
        </div>
        <div *ngIf='isSidenavClientInfo()'>
          <app-client-info
            [instanceGroup]='groupParam'
            [instanceId]='uuidParam'
            [instanceTag]='selectedConfig.version.key.tag'
            [appConfig]='selectedProcess'
            [deploymentState]='deploymentState'
            (downloadClickAndStartEvent)="onDownloadClickAndStart($event)"
            (downloadInstallerEvent)="onDownloadInstaller($event)">
          </app-client-info>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit component. Replaces nodes and sidebar -->
  <div class="drawer-container" *ngIf="editMode">
    <app-application-edit *ngIf='!editEndpointsMode && !editPortsMode' #editComponent
      class="nodes-container"
      [instanceGroup]="groupParam"
      [processConfig]="selectedConfig"
      [appConfigContext]="editAppConfigContext"
      [appDesc]="selectedConfig.nodeList.applications[editAppConfigContext.applicationConfiguration.application.name]"
      [readonly]="isReadonly()"
      (validationStateChanged)="updateDirtyStateAndValidate()">
    </app-application-edit>
    <app-application-edit-endpoints *ngIf='editEndpointsMode' #editComponent
      class="nodes-container"
      [instanceGroup]="groupParam"
      [processConfig]="selectedConfig"
      [appConfigContext]="editAppConfigContext"
      [appDesc]="selectedConfig.nodeList.applications[editAppConfigContext.applicationConfiguration.application.name]"
      [readonly]="isReadonly()"
      (validationStateChanged)="updateDirtyStateAndValidate()">
    </app-application-edit-endpoints>
    <app-instance-edit-ports *ngIf='editPortsMode' #editComponent
      class='nodes-container'
      [instanceGroup]="groupParam"
      [instanceId]='uuidParam'
      [processConfig]="editPortConfigContext"
      [minionConfigs]='minionConfigs'
      (validationStateChanged)="updateDirtyStateAndValidate()">
    </app-instance-edit-ports>
  </div>
</div>
