.sticky-header {
  position: fixed;
  top: 50px;
  transition: background-color 0.5s;
  transition: box-shadow 0.5s;
}

.mat-toolbar {
  height: 64px;
  min-height: 64px;
}

.fill-space {
  flex: 1 1 auto;
}

.process-config-header {
  height: 128px;
  min-height: 128px;
}

.subHeader {
  font-size: smaller;
  font-weight: lighter;
  padding-left: 55px;
  margin-top: -10px;
}

.header-logo {
  width: 64px;
  height: 64px;
}

.spacer {
  width: 20px;
}

.default-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.default-toolbar {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
}

.drawer-container {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  flex-direction: row;

  /** setting height destroys electron UI tests, use min-height */
  min-height: 0px; /** Required so that FF scrolls the content **/
}

.side-nav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 390px;
  max-width: 390px;
  align-items: center;
}

.side-nav-container-content {
  flex: 1 1 auto;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow: auto;
}

.version-card {
  display: flex;
  flex-direction: row;
}

.nodes-container {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.node {
  flex: 0 1 auto;
}

.box {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  height: 100%;
}

.app-card {
  display: flex;
  flex-direction: row;
  position: relative;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
}

.app-card:active {
  opacity: 0.9;
}

.loading-container {
  flex: 1 0 auto;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-info-grid {
  display: grid;
  column-gap: 40px;
  grid-template-columns: auto auto;
  align-items: center;
}

.toolbar-progress {
  position: absolute;
  top: -5px;
  left: 15px;
  width: 40px;
  line-height: 20px;
  font-size: smaller;
}

.card-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}

.card-list-divider {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.products-toolbar {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
}

.application-caption {
  /*
   * D&D removes elements from the DOM. That would shrink the caption.
   * Thus we need to set a fixed width to prevent that
  */
  width: 320px;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.application-caption-text {
  margin-left: 5px;
}

.app-process-out-of-sync-text {
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
}

.need-sync-text {
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.update-container {
  margin: 15px;
}

.prod-update-notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.validation-container {
  display: flex;
  flex-direction: column;
}

.validation-item-list {
  display: grid;
  grid-template-columns: auto 40px;

  align-items: center;
  margin-left: 10px;
}

.validation-item-list > button {
  justify-self: end;
}
