<ng-template #productChooser>
  <div class="flex flex-col gap-2.5">
    <span
      >Choose the target product version to set on
      <strong>{{ (bulk.selection$ | async)?.length }}</strong> instances</span
    >
    <app-bd-form-select
      name="prodVersion"
      [(ngModel)]="selectedTarget"
      [values]="selectableProducts"
      [labels]="selectableProductLabels"
    ></app-bd-form-select>
  </div>
</ng-template>

<ng-template #opResult>
  <div class="grid grid-cols-[16px_85px_auto] gap-x-1 gap-y-2 items-center max-h-60 overflow-auto pr-1 pl-0.5">
    <ng-container *ngFor="let res of bulkOpResult.results">
      <mat-icon [style.width.px]="16" [style.height.px]="16" [style.font-size.px]="16"
        >{{ res.type === 'INFO' ? 'info' : (res.type === 'ERROR' ? 'error' : 'warning') }}</mat-icon
      >
      <span class="text-xs font-mono tracking-tighter">{{res.target}}</span>
      <span class="text-xs">{{res.message}}</span>
    </ng-container>
  </div>
</ng-template>

<app-bd-dialog>
  <app-bd-dialog-toolbar header="Bulk Instance Manipulation" [panel]="true"></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div class="flex flex-col gap-2.5" *ngIf="bulk.selection$ | async as selections">
      <div><strong>{{ selections.length }}</strong> instances selected.</div>
      <mat-divider></mat-divider>
      <app-bd-button
        [collapsed]="false"
        [disabled]="!selections.length || (mappedStart$ | async)"
        [loadingWhen$]="mappedStart$"
        text="Start Selected Instances"
        icon="play_arrow"
        (click)="onStart()"
      ></app-bd-button>
      <app-bd-button
        [collapsed]="false"
        [disabled]="!selections.length || (mappedStop$ | async)"
        [loadingWhen$]="mappedStop$"
        text="Stop Selected Instances"
        icon="stop"
        (click)="onStop()"
      ></app-bd-button>
      <mat-divider></mat-divider>
      <app-bd-button
        [collapsed]="false"
        [disabled]="!selections.length || (instance.overallStatesLoading$ | async)"
        [loadingWhen$]="instance.overallStatesLoading$"
        text="Fetch Instance States"
        svgIcon="sync-all"
        (click)="onFetchStates()"
      ></app-bd-button>
      <mat-divider></mat-divider>
      <app-bd-button
        [collapsed]="false"
        [disabled]="!selections.length || !isAllSameProduct || (mappedUpdate$ | async)"
        [loadingWhen$]="mappedUpdate$"
        text="Set Product Version"
        icon="security_update_good"
        [toggle]="false"
        (click)="onUpdate()"
      ></app-bd-button>
      <mat-divider></mat-divider>
      <app-bd-button
        [collapsed]="false"
        [disabled]="!selections.length || (mappedInstall$ | async)"
        [loadingWhen$]="mappedInstall$"
        text="Install Latest Version"
        icon="layers"
        (click)="onInstall()"
      ></app-bd-button>
      <app-bd-button
        [collapsed]="false"
        [disabled]="!selections.length || (mappedActivate$ | async)"
        [loadingWhen$]="mappedActivate$"
        text="Activate Latest Version..."
        icon="star"
        (click)="onActivate()"
      ></app-bd-button>
      <mat-divider></mat-divider>
      <app-bd-button
        [collapsed]="false"
        [disabled]="!selections.length || (mappedDelete$ | async)"
        [loadingWhen$]="mappedDelete$"
        text="Delete Selected Instances"
        icon="delete"
        (click)="onDelete()"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
