<app-bd-dialog>
  <app-bd-dialog-toolbar
    header="Bulk Instance Manipulation"
    [panel]="true"
  ></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px" *ngIf="selections">
      <div><strong>{{ selections.length }}</strong> instances selected.</div>
      <mat-divider></mat-divider>
      <app-bd-button
        [collapsed]="false"
        [disabled]="!selections.length || (starting$ | async)"
        [loadingWhen$]="starting$"
        text="Start Selected Instances"
        icon="play_arrow"
        fontSet="material-icons-filled"
        (click)="onStart()"
      ></app-bd-button>
      <app-bd-button
        [collapsed]="false"
        [disabled]="!selections.length || (stopping$ | async)"
        [loadingWhen$]="stopping$"
        text="Stop Selected Instances"
        icon="stop"
        fontSet="material-icons-filled"
        (click)="onStop()"
      ></app-bd-button>
      <mat-divider></mat-divider>
      <app-bd-panel-button
        [collapsed]="false"
        [disabled]="!selections.length || !isAllSameProduct"
        text="Set Product Version"
        icon="security_update_good"
        [toggle]="false"
        [relative]="true"
        [route]="['update']"
      ></app-bd-panel-button>
      <mat-divider></mat-divider>
      <app-bd-button
        [collapsed]="false"
        [disabled]="!selections.length || (installing$ | async)"
        [loadingWhen$]="installing$"
        text="Install Latest Version"
        icon="layers"
        (click)="onInstall()"
      ></app-bd-button>
      <app-bd-button
        [collapsed]="false"
        [disabled]="!selections.length || (activating$ | async)"
        [loadingWhen$]="activating$"
        text="Activate Latest Version..."
        icon="star"
        (click)="onActivate()"
      ></app-bd-button>
      <mat-divider></mat-divider>
      <app-bd-button
        [collapsed]="false"
        [disabled]="!selections.length || (deleting$ | async)"
        [loadingWhen$]="deleting$"
        text="Delete Selected Instances"
        icon="delete"
        (click)="onDelete()"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
