<ng-template #cardContents>
  <div
    *ngIf="!!colType"
    class="local-card-type bd-text-ellipsis"
    [ngClass]="colType.classes ? colType.classes(record) : []"
  >
    <ng-container *ngIf="!colType.component" class="bd-text-ellipsis">{{ colType.data(record) }}</ng-container>
    <app-bd-data-component-cell
      *ngIf="!!colType.component"
      [componentType]="colType.component"
      [record]="record"
    ></app-bd-data-component-cell>
  </div>
  <div
    *ngIf="!!colTitle"
    class="local-card-title bd-text-ellipsis"
    [ngClass]="colTitle.classes ? colTitle.classes(record) : []"
    [matTooltip]="colTitle.data(record)"
    [matTooltipShowDelay]="1000"
  >
    <ng-container *ngIf="!colTitle.component" class="bd-text-ellipsis">{{ colTitle.data(record) }}</ng-container>
    <app-bd-data-component-cell
      *ngIf="!!colTitle.component"
      [componentType]="colTitle.component"
      [record]="record"
    ></app-bd-data-component-cell>
  </div>
  <div
    *ngIf="!!colDescription"
    class="bd-description-text local-card-description bd-text-ellipsis"
    [ngClass]="colDescription.classes ? colDescription.classes(record) : []"
    [matTooltip]="colDescription.data(record)"
    [matTooltipShowDelay]="1000"
  >
    <ng-container *ngIf="!colDescription.component" class="bd-text-ellipsis">{{
      colDescription.data(record)
    }}</ng-container>
    <app-bd-data-component-cell
      *ngIf="!!colDescription.component"
      [componentType]="colDescription.component"
      [record]="record"
    ></app-bd-data-component-cell>
  </div>
  <div
    class="local-card-actions"
    fxLayout="row"
    fxLayoutGap="5px"
    *ngIf="!!colActions?.length || !!colDetails?.length || !!colAvatar"
    [style.backgroundImage]="getImageUrl()"
    [style.backgroundBlendMode]="!!colActions?.length || !!colDetails?.length ? 'overlay' : undefined"
  >
    <div fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="center start">
      <div
        *ngIf="!!colDetails?.length"
        gdColumns="16px auto"
        gdGap="2px"
        gdAlignColumns="center center"
        class="local-card-detail-text"
      >
        <ng-container *ngFor="let detail of colDetails">
          <ng-container *ngIf="detail.component || !!detail.data(record)">
            <mat-icon class="bd-small-icon" [matTooltip]="detail.name" [matTooltipShowDelay]="1000">{{
              detail.icon(record)
            }}</mat-icon>
            <span *ngIf="!detail.component" class="bd-text-ellipsis">{{ detail.data(record) }}</span>
            <div *ngIf="!!detail.component">
              <app-bd-data-component-cell
                [componentType]="detail.component"
                [record]="record"
              ></app-bd-data-component-cell>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <ng-container *ngIf="!!colActions?.length">
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end center">
        <app-bd-button
          *ngFor="let action of colActions"
          [ngClass]="action.classes ? action.classes(record) : []"
          [icon]="action.icon(record)"
          [text]="action.data(record)"
          tooltip="below"
          (click)="action.action(record)"
          appClickStopPropagation
        ></app-bd-button>
      </div>
    </ng-container>
  </div>
  <div
    *ngIf="!!colFooter"
    class="local-card-footer bd-text-ellipsis"
    [ngClass]="colFooter.classes ? colFooter.classes(record) : []"
    [matTooltip]="colFooter.data(record)"
    [matTooltipShowDelay]="1000"
  >
    <ng-container *ngIf="!colFooter.component" class="bd-text-ellipsis">{{ colFooter.data(record) }}</ng-container>
    <app-bd-data-component-cell
      *ngIf="!!colFooter.component"
      [componentType]="colFooter.component"
      [record]="record"
    ></app-bd-data-component-cell>
  </div>
</ng-template>

<mat-card (click)="recordClick.emit(record)" *ngIf="!recordRoute" [style.cursor]="'pointer'">
  <ng-container *ngTemplateOutlet="cardContents"></ng-container>
</mat-card>

<mat-card
  *ngIf="!!recordRoute"
  [routerLink]="recordRoute(record)"
  routerLinkActive="mat-card-route-active"
  [style.cursor]="'pointer'"
  class="local-route-card"
>
  <ng-container *ngTemplateOutlet="cardContents"></ng-container>
</mat-card>
