<ng-template #cardContents>
  <div class="flex">
    <div class="flex flex-col">
      <div
        *ngIf="!!colType"
        class="bd-type-text truncate"
        [ngClass]="colType.classes ? colType.classes(record) : []"
      >
        <ng-container *ngIf="!colType.component" class="truncate"
          >{{ colType.data(record) }}</ng-container
        >
        <app-bd-data-component-cell
          *ngIf="!!colType.component"
          [componentType]="colType.component"
          [record]="record"
          [column]="colType"
        ></app-bd-data-component-cell>
      </div>
      <div
        *ngIf="!!colTitle"
        class="bd-title-text truncate"
        [ngClass]="colTitle.classes ? colTitle.classes(record) : []"
        [matTooltip]="!!colTitle.tooltip ? colTitle.tooltip(record) : colTitle.data(record)"
        [matTooltipShowDelay]="1000"
      >
        <ng-container *ngIf="!colTitle.component" class="truncate"
          >{{ colTitle.data(record) }}</ng-container
        >
        <app-bd-data-component-cell
          *ngIf="!!colTitle.component"
          [componentType]="colTitle.component"
          [record]="record"
          [column]="colTitle"
        ></app-bd-data-component-cell>
      </div>
      <div
        *ngIf="!!colDescription"
        class="bd-description-text h-4 truncate"
        [ngClass]="colDescription.classes ? colDescription.classes(record) : []"
        [matTooltip]="!!colDescription.tooltip ? colDescription.tooltip(record) : colDescription.data(record)"
        [matTooltipShowDelay]="1000"
      >
        <ng-container *ngIf="!colDescription.component" class="truncate"
          >{{ colDescription.data(record) }}</ng-container
        >
        <app-bd-data-component-cell
          *ngIf="!!colDescription.component"
          [componentType]="colDescription.component"
          [record]="record"
          [column]="colDescription"
        ></app-bd-data-component-cell>
      </div>
    </div>
    <div class="flex-auto"></div>
    <div
      *ngIf="!!colStatus"
      class="truncate"
      [ngClass]="colStatus.classes ? colStatus.classes(record) : []"
    >
      <ng-container *ngIf="!colStatus.component" class="truncate"
        >{{ colStatus.data(record) }}</ng-container
      >
      <app-bd-data-component-cell
        *ngIf="!!colStatus.component"
        [componentType]="colStatus.component"
        [record]="record"
        [column]="colStatus"
      ></app-bd-data-component-cell>
    </div>
  </div>
  <div
    class="local-card-actions flex-auto flex gap-1"
    *ngIf="!!colActions?.length || !!colDetails?.length || !!colAvatar"
    [style.backgroundImage]="getImageUrl()"
    [style.backgroundBlendMode]="!!colActions?.length || !!colDetails?.length ? 'overlay' : undefined"
  >
    <div class="grow basis-0 flex items-center">
      <div
        *ngIf="!!colDetails?.length"
        class="text-xs grid grid-cols-[16px_auto] items-center gap-0.5"
      >
        <ng-container *ngFor="let detail of colDetails">
          <ng-container *ngIf="!!detail.data(record)">
            <mat-icon
              class="bd-small-icon"
              [matTooltip]="detail.description ? detail.description : detail.name"
              [matTooltipShowDelay]="1000"
              >{{ detail.icon ? detail.icon(record) : 'error_outline'
              }}</mat-icon
            >
            <span *ngIf="!detail.component" class="truncate"
              >{{ detail.data(record) }}</span
            >
            <div *ngIf="!!detail.component">
              <app-bd-data-component-cell
                [componentType]="detail.component"
                [record]="record"
                [column]="detail"
              ></app-bd-data-component-cell>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <ng-container *ngIf="!!colActions?.length">
      <div class="flex gap-1 items-center justify-end">
        <ng-container *ngFor="let action of colActions">
          <app-bd-button
            *ngIf="!action.component"
            [ngClass]="action.classes ? action.classes(record) : []"
            [icon]="action.icon(record)"
            [text]="action.data(record)"
            tooltip="below"
            (click)="action.action(record)"
            [disabled]="!action.actionDisabled ? false : action.actionDisabled(record)"
            color="inherit"
            appClickStopPropagation
          ></app-bd-button>
          <div *ngIf="!!action.component">
            <app-bd-data-component-cell
              [componentType]="action.component"
              [record]="record"
              [column]="action"
            ></app-bd-data-component-cell>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div
    *ngIf="!!colFooter"
    class="text-xs truncate"
    [ngClass]="colFooter.classes ? colFooter.classes(record) : []"
    [matTooltip]="!!colFooter.tooltip ? colFooter.tooltip(record) : colFooter.data(record)"
    [matTooltipShowDelay]="1000"
  >
    <ng-container *ngIf="!colFooter.component" class="truncate"
      >{{ colFooter.data(record) }}</ng-container
    >
    <app-bd-data-component-cell
      *ngIf="!!colFooter.component"
      [componentType]="colFooter.component"
      [record]="record"
      [column]="colFooter"
    ></app-bd-data-component-cell>
  </div>
</ng-template>

<mat-card
  appearance="outlined"
  class="flex-auto cursor-pointer flex flex-col p-2.5"
  (click)="recordClick.emit(record)"
  *ngIf="!recordRoute"
>
  <ng-container *ngTemplateOutlet="cardContents"></ng-container>
</mat-card>

<mat-card
  appearance="outlined"
  *ngIf="!!recordRoute"
  [routerLink]="recordRoute(record)"
  routerLinkActive="mat-card-route-active"
  class="local-route-card flex-auto cursor-pointer flex flex-col p-2.5"
>
  <ng-container *ngTemplateOutlet="cardContents"></ng-container>
</mat-card>
