<ng-template #cardContents>
  <div class="flex">
    <div class="flex flex-col">
      @if (!!colType) {
        <div class="bd-type-text truncate" [ngClass]="colType.classes ? colType.classes(record) : []">
          @if (!colType.component) {
            <ng-container class="truncate">{{ colType.data(record) }}</ng-container>
          }
          @if (!!colType.component) {
            <app-bd-data-component-cell
              [record]="record"
              [column]="colType"
            ></app-bd-data-component-cell>
          }
        </div>
      }
      @if (!!colTitle) {
        <div
          class="bd-title-text truncate"
          [ngClass]="colTitle.classes ? colTitle.classes(record) : []"
          [matTooltip]="getTooltipTextFor(colTitle)"
          [matTooltipShowDelay]="1000"
          >
          @if (!colTitle.component) {
            <ng-container class="truncate">{{ colTitle.data(record) }}</ng-container>
          }
          @if (!!colTitle.component) {
            <app-bd-data-component-cell
              [record]="record"
              [column]="colTitle"
            ></app-bd-data-component-cell>
          }
        </div>
      }
      @if (!!colDescription) {
        <div
          class="bd-description-text h-4 truncate"
          [ngClass]="colDescription.classes ? colDescription.classes(record) : []"
          [matTooltip]="getTooltipTextFor(colDescription)"
          [matTooltipShowDelay]="1000"
          >
          @if (!colDescription.component) {
            <ng-container class="truncate"
              >{{ colDescription.data(record) }}</ng-container
              >
            }
            @if (!!colDescription.component) {
              <app-bd-data-component-cell
                [record]="record"
                [column]="colDescription"
              ></app-bd-data-component-cell>
            }
          </div>
        }
      </div>
      <div class="flex-auto"></div>
      @if (!!colStatus) {
        <div class="truncate" [ngClass]="colStatus.classes ? colStatus.classes(record) : []">
          @if (!colStatus.component) {
            <ng-container class="truncate">{{ colStatus.data(record) }}</ng-container>
          }
          @if (!!colStatus.component) {
            <app-bd-data-component-cell
              [record]="record"
              [column]="colStatus"
            ></app-bd-data-component-cell>
          }
        </div>
      }
    </div>
    @if (!!colActions?.length || !!colDetails?.length || !!colAvatar || !!extraCardDetails) {
      <div
        class="local-card-actions flex-auto flex gap-1"
        [style.backgroundImage]="getImageUrl()"
        [style.backgroundBlendMode]="!!colActions?.length || !!colDetails?.length ? 'overlay' : undefined"
        >
        <div class="grow basis-0 flex items-center">
          @if (!!colDetails?.length || !!extraCardDetails) {
            <div
              class="text-xs grid grid-cols-[16px_auto] items-center gap-0.5"
              >
              @for (detail of colDetails; track detail) {
                @if (!!detail.data(record)) {
                  <mat-icon
                    class="bd-small-icon"
                    [matTooltip]="detail.description ? detail.description : detail.name"
                    [matTooltipShowDelay]="1000"
                    >{{ detail.icon ? detail.icon(record) : 'error_outline' }}</mat-icon
                    >
                    @if (!detail.component) {
                      <span class="truncate">{{ detail.data(record) }}</span>
                    }
                    @if (!!detail.component) {
                      <div>
                        <app-bd-data-component-cell
                          [record]="record"
                          [column]="detail"
                        ></app-bd-data-component-cell>
                      </div>
                    }
                  }
                }
                <ng-container *ngTemplateOutlet="extraCardDetails; context: { record }"></ng-container>
              </div>
            }
          </div>
          @if (!!colActions?.length) {
            <div class="flex gap-1 items-center justify-end">
              @for (action of colActions; track action) {
                @if (!action.component) {
                  <app-bd-button
                    [ngClass]="action.classes ? action.classes(record) : []"
                    [icon]="action.icon(record)"
                    [text]="getDataAsStringFor(action)"
                    tooltipPosition="below"
                    (click)="action.action(record)"
                    [disabled]="!action.actionDisabled ? false : action.actionDisabled(record)"
                    color="inherit"
                    appClickStopPropagation
                  ></app-bd-button>
                }
                @if (!!action.component) {
                  <div>
                    <app-bd-data-component-cell
                      [record]="record"
                      [column]="action"
                    ></app-bd-data-component-cell>
                  </div>
                }
              }
            </div>
          }
        </div>
      }
      @if (!!colFooter) {
        <div
          class="text-xs truncate"
          [ngClass]="colFooter.classes ? colFooter.classes(record) : []"
          [matTooltip]="getTooltipTextFor(colFooter)"
          [matTooltipShowDelay]="1000"
          >
          @if (!colFooter.component) {
            <ng-container class="truncate">{{ colFooter.data(record) }}</ng-container>
          }
          @if (!!colFooter.component) {
            <app-bd-data-component-cell
              [record]="record"
              [column]="colFooter"
            ></app-bd-data-component-cell>
          }
        </div>
      }
    </ng-template>

    @if (!recordRoute) {
      <mat-card
        appearance="outlined"
        [class.local-card-selected]="isSelected"
        class="flex-auto cursor-pointer flex flex-col p-2.5"
        (click)="recordClick.emit(record)"
        >
        <ng-container *ngTemplateOutlet="cardContents"></ng-container>
        <ng-container *ngTemplateOutlet="extraCardDetails; context: { record }"></ng-container>
      </mat-card>
    }

    @if (!!recordRoute) {
      <mat-card
        appearance="outlined"
        [routerLink]="recordRoute(record)"
        routerLinkActive="mat-card-route-active"
        [class.local-card-selected]="isSelected"
        class="local-route-card flex-auto cursor-pointer flex flex-col p-2.5"
        >
        <ng-container *ngTemplateOutlet="cardContents"></ng-container>
      </mat-card>
    }
