@import '~@angular/material/theming';

@mixin bd-form-toggle-theme($theme) {
  // This is straight from angular materials mat-form-field styles.
  $config: mat-get-color-config($theme);
  $foreground: map-get($config, foreground);
  $is-dark-theme: map-get($config, is-dark);
  $label-color: mat-color($foreground, secondary-text, if($is-dark-theme, 0.7, 0.6));

  $fill-background: mat-color($foreground, base, if($is-dark-theme, 0.1, 0.04));
  $fill-disabled-background: mat-color($foreground, base, if($is-dark-theme, 0.05, 0.02));
  $underline-color: mat-color($foreground, divider, if($is-dark-theme, 0.5, 0.42));
  $label-disabled-color: mat-color($foreground, disabled-text);

  .bd-form-toggle-appearance-fill {
    .bd-form-toggle-flex {
      background-color: $fill-background;
    }

    .bd-form-toggle-label {
      color: $label-color;
    }

    &.bd-form-toggle-disabled .bd-form-toggle-flex {
      background-color: $fill-disabled-background;
    }

    .bd-form-toggle-underline::before {
      background-color: $underline-color;
    }

    &.bd-form-toggle-disabled {
      .bd-form-toggle-label {
        color: $label-disabled-color;
      }

      .bd-form-toggle-underline::before {
        background-color: transparent;
      }

      .bd-form-toggle-underline .bd-form-toggle-ripple {
        background-color: transparent;
      }
    }
  }

  .bd-form-toggle-underline::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
  }

  .bd-form-toggle-ripple {
    bottom: 0;
    height: 2px;

    background-color: if($is-dark-theme, white, black);

    position: absolute;
    left: 0;
    width: 100%;
    transform-origin: 50%;
    transform: scaleX(0.5);
    opacity: 0;
  }

  // Note that we need this specific of a selector because we don't want
  // the hover effect to show when the user hovers over the hints.
  &:not(.bd-form-toggle-disabled) .bd-form-toggle-flex:hover ~ .bd-form-toggle-underline {
    .bd-form-toggle-ripple {
      opacity: 1;
      transform: none;
      transition: opacity 300ms ease-out;
    }
  }
}
