.local-form-field-wrapper {
  padding: 0.86em 0.86em 0.86em 0.6em;
}

.local-slide-toggle {
  position: relative;
  top: -2px;
  margin-bottom: -4px;
}

.bd-form-toggle-flex {
  border-radius: 4px 4px 0 0;
}

.bd-form-toggle-appearance-fill {
  position: relative;
}
