<div class="flex flex-col">
  <div class="bd-form-toggle-appearance-fill flex flex-col" [ngClass]="disabled ? ['bd-form-toggle-disabled'] : []">
    <div
      class="bd-form-toggle-form-field-wrapper bd-form-toggle-flex flex justify-start items-center"
      matRipple
      [matRippleDisabled]="disabled"
      (click)="onClick()"
      [class.cursor-pointer]="!disabled"
      >
      @if (prefix) {
        <div class="max-h-[21px]">
          <ng-container *ngTemplateOutlet="prefix"></ng-container>
        </div>
      }
      <div class="bd-form-toggle-label mat-mdc-floating-label flex-auto">{{ label }}</div>
      <div class="bd-form-toggle-suffix">
        <ng-content></ng-content>
      </div>
      @if (appearance === 'checkbox') {
        <mat-checkbox
          class="pointer-events-none"
          [checked]="value"
          [disabled]="disabled"
          [attr.aria-label]="label"
        ></mat-checkbox>
      }
      @if (appearance === 'slide') {
        <mat-slide-toggle
          [checked]="value"
          [disabled]="disabled"
          class="bd-form-toggle-slide-toggle pointer-events-none"
          [attr.aria-label]="label"
        ></mat-slide-toggle>
      }
    </div>
    <div class="bd-form-toggle-underline">
      <span class="bd-form-toggle-ripple"></span>
    </div>
  </div>
  @if (warningMessage) {
    <mat-hint class="toggle-warning">
      {{ warningMessage }}
    </mat-hint>
  } @else {
    <div class="h-[1.34em]"></div>
  }
</div>
