.bd-form-toggle-form-field-wrapper {
  padding: 0.86em 0.86em 0.86em 0.6em;
}

.bd-form-toggle-slide-toggle {
  position: relative;
  top: -2px;
  margin-bottom: -4px;
}

.bd-form-toggle-flex {
  border-radius: 4px 4px 0 0;
}

.bd-form-toggle-appearance-fill {
  position: relative;
}

.bd-form-toggle-suffix {
  white-space: nowrap;
  flex: none;
  position: relative;

  top: -1px;
  right: -3px;
  max-height: 20px;
}

.bd-form-toggle-suffix mat-icon {
  font-size: 150%;
  line-height: 1.125;

  padding-left: 10px;
}
