.bd-form-toggle-form-field-wrapper {
  padding: 1.14em 1.14em 1.14em 1.14em;
}

.bd-form-toggle-slide-toggle {
  position: relative;
  top: -2px;
  margin-bottom: -4px;
}

.bd-form-toggle-flex {
  border-radius: 4px 4px 0 0;
}

.bd-form-toggle-appearance-fill {
  position: relative;
}

.bd-form-toggle-flex mat-checkbox {
  position: relative;
  top: -1px;
  left: -4px;
}

.bd-form-toggle-suffix {
  white-space: nowrap;
  flex: none;
  position: relative;

  top: -3px;
  max-height: 20px;
  padding-right: 18px;
}

.bd-form-toggle-suffix mat-icon {
  font-size: 24px;
  line-height: 1.125;
}
