<h1 mat-dialog-title *ngIf="data.isAdmin">Set Password for {{ data.user }}</h1>
<h1 mat-dialog-title *ngIf="!data.isAdmin">Change Password</h1>
<form [formGroup]="passwordForm">
  <div mat-dialog-content class="flex-content">
    <div class="flex-content vspace" *ngIf="!data.isAdmin">
      <mat-form-field>
        <input matInput type="password" formControlName="currentPassword" placeholder="Current password" />
        <mat-error>{{ getErrorMessage(currentPasswordControl) }}</mat-error>
      </mat-form-field>
    </div>
    <div class="flex-content" formGroupName="passwords">
      <mat-form-field>
        <input matInput type="password" autocomplete="new-password" formControlName="password" placeholder="New password" />
        <mat-error>{{ getErrorMessage(passwordControl) }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" autocomplete="new-password" formControlName="passwordRepeat" placeholder="Confirm new password" />
        <mat-error>{{ getErrorMessage(passwordRepeatControl) }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <mat-error *ngIf="passwordsGroup.invalid && passwordControl.valid" class="form-error"> Please confirm your new password! </mat-error>
    <button mat-raised-button type="button" [mat-dialog-close]="null">Cancel</button>
    <button mat-raised-button type="submit" color="primary" [mat-dialog-close]="getResult()" [disabled]="!passwordForm.valid">Ok</button>
  </div>
</form>
