<ng-template #addDialog>
  <div fxLayout="column" fxLayoutGap="10px">
    <div>Choose a user to add permission on {{ groups.current$.value.name }} for.</div>
    <app-bd-form-select
      name="addUser"
      label="Select User"
      [values]="available$ | async"
      [component]="optionComponent"
      [(ngModel)]="modUser"
    ></app-bd-form-select>
    <app-bd-form-select
      [disabled]="!modUser"
      name="addPerm"
      label="Select Permission"
      [values]="getAvailablePermissionsFor(modUser)"
      [(ngModel)]="modPerm"
    ></app-bd-form-select>
  </div>
</ng-template>

<ng-template #modDialog>
  <div fxLayout="column" fxLayoutGap="10px">
    <div>Choose the level of permission on {{ groups.current$.value.name }}.</div>
    <app-bd-form-select name="modPerm" label="Modify Permission" [values]="getAvailablePermissionsFor(modUser)" [(ngModel)]="modPerm"></app-bd-form-select>
  </div>
</ng-template>

<app-bd-dialog>
  <app-bd-dialog-toolbar header="Permissions - {{ (groups.current$ | async)?.name }}" [panel]="true" [route]="['..']">
    <div fxFlex="1 0 auto"></div>
    <app-bd-button text="Assign permission to existing user" icon="add" (click)="doAdd(addDialog)"></app-bd-button>
    <mat-divider [vertical]="true"></mat-divider>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <app-bd-data-table #dataTable [records]="records$ | async" [columns]="columns" [grouping]="grouping"></app-bd-data-table>
  </app-bd-dialog-content>
</app-bd-dialog>
