<app-bd-dialog [loadingWhen$]="servers.loading$">
  <app-bd-dialog-toolbar header="Managed Servers">
    <div class="flex-auto"></div>
    <app-bd-data-grouping
      [multiple]="!isCardView"
      (groupingChange)="dataTable.grouping = $event"
      [definitions]="grouping"
      [records]="servers.servers$ | async"
      presetKey="instanceGroups"
    ></app-bd-data-grouping>
    <app-bd-button
      [isToggle]="true"
      icon="grid_view"
      text="Toggle Card Mode"
      [(toggle)]="isCardView"
      tooltip="below"
    ></app-bd-button>
    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-panel-button
      icon="link"
      text="Link Managed Server"
      [route]="['panels', 'servers', 'link', 'managed']"
      tooltip="below"
    ></app-bd-panel-button>
  </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <app-bd-data-display
      #dataTable
      [columns]="columns.defaultServerColumns"
      [records]="servers.servers$ | async"
      [recordRoute]="getRecordRoute"
      [searchable]="true"
      [presetKey]="presetKeyValue"
      [grid]="isCardView"
    >
      <app-bd-no-data>
        <p class="text-center">No managed servers have been linked to this instance group yet.</p>
        <app-bd-panel-button
          icon="link"
          text="Link Managed Server..."
          [collapsed]="false"
          [route]="['panels', 'servers', 'link', 'managed']"
        ></app-bd-panel-button>
      </app-bd-no-data>
    </app-bd-data-display>
  </app-bd-dialog-content>
</app-bd-dialog>
