<app-bd-dialog [loadingWhen$]="saving$">
  <app-bd-dialog-toolbar header="Add Instance Group" [closeablePanel]="true"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <form #groupForm="ngForm" (ngSubmit)="onSave()">
      <div fxLayout="column" fxLayoutGap="10px">
        <app-bd-image-upload (imageSelected)="onSelectImage($event)"></app-bd-image-upload>

        <app-bd-form-input
          label="Group ID"
          name="name"
          [(ngModel)]="group.name"
          required
          appGroupId
        ></app-bd-form-input>
        <app-bd-form-input label="Title" name="title" [(ngModel)]="group.title" required></app-bd-form-input>
        <app-bd-form-input label="Description" name="description" [(ngModel)]="group.description"></app-bd-form-input>
        <app-bd-form-toggle
          label="Automatic Cleanup"
          name="autoDelete"
          [(ngModel)]="group.autoDelete"
        ></app-bd-form-toggle>

        <app-bd-action-row>
          <app-bd-button
            [inverseColor]="true"
            [collapsed]="false"
            text="SAVE"
            [disabled]="groupForm.invalid"
          ></app-bd-button>
        </app-bd-action-row>
      </div>
    </form>
  </app-bd-dialog-content>
</app-bd-dialog>
