<app-bd-dialog [loadingWhen$]="saving$">
  <app-bd-dialog-toolbar
    header="Add Instance Group"
    [panel]="true"
  ></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <form #form="ngForm" (ngSubmit)="onSave()">
      <div class="flex flex-col gap-2.5">
        <app-bd-image-upload
          (imageSelected)="onSelectImage($event)"
          (unsupportedDrop)="onUnsupportedFile($event)"
        ></app-bd-image-upload>

        <app-bd-form-input
          label="Group ID"
          name="name"
          [(ngModel)]="group.name"
          required
          appIdentifier
        ></app-bd-form-input>
        <app-bd-form-input
          label="Title"
          name="title"
          [(ngModel)]="group.title"
          required
          appTrimmed
        ></app-bd-form-input>
        <app-bd-form-input
          label="Description"
          name="description"
          [(ngModel)]="group.description"
        ></app-bd-form-input>
        <app-bd-form-toggle
          label="Automatic Cleanup"
          name="autoDelete"
          [(ngModel)]="group.autoDelete"
        ></app-bd-form-toggle>

        <app-bd-button
          color="primary"
          [collapsed]="false"
          text="Save"
          icon="save"
          [disabled]="form.invalid"
        ></app-bd-button>
      </div>
    </form>
  </app-bd-dialog-content>
</app-bd-dialog>
