<div class="box">
  <mat-toolbar class="mat-elevation-z1 header-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button type="button" (click)="routingHistoryService.back('instance/browser/' + instanceGroup)">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <span>Instance Group: <app-instance-group-title [instanceGroup]="instanceGroup"></app-instance-group-title></span>
      <span class="spacer"></span>
      <app-remote-progress [scope]="[instanceGroup, 'transfer']"></app-remote-progress>
      <mat-menu #appMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="openCopyDialog()" [disabled]="!authService.isScopedAdmin(instanceGroup)">
          <mat-icon>storage</mat-icon>Fetch from Software Repository
        </button>
        <button
          mat-menu-item
          *ngIf="isCentral()"
          [routerLink]="['/l/servers/product-sync', instanceGroup]"
          [disabled]="!authService.isScopedAdmin(instanceGroup)"
        >
          <mat-icon>sync_alt</mat-icon>Sync with Managed Server
        </button>
      </mat-menu>
      <button class="option-button" mat-icon-button [matMenuTriggerFor]="appMenu" appClickStopPropagation>
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer-container class="drawer-container" (backdropClick)="sidenav.close()">
    <mat-drawer #appsidenav mode="over" position="end" disableClose>
      <div class="drawer-wrapper">
        <mat-toolbar class="mat-elevation-z1 fixed-toolbar"
          >Product Versions for&nbsp;<strong>{{
            selectedProductLatestVersion ? selectedProductLatestVersion.name : 'none'
          }}</strong></mat-toolbar
        >
        <app-product-list
          class="drawer-content"
          [products]="selectedProductVersions"
          [instanceGroup]="instanceGroup"
          (deleted)="versionDeleted()"
        ></app-product-list>
      </div>
    </mat-drawer>

    <mat-drawer-content>
      <div *ngIf="loading" class="loading-container">
        <mat-spinner [diameter]="48" class="loading-spinner"></mat-spinner>
      </div>
      <div *ngIf="!loading">
        <div *ngIf="products.size === 0" class="list-heading center">
          <p class="headerText">No products are defined. Start by uploading a new one.</p>
          <button
            class="headerButton"
            (click)="openUploadDialog()"
            mat-raised-button
            [disabled]="!authService.isScopedAdmin(instanceGroup)"
          >
            <mat-icon>cloud_upload</mat-icon> Upload Product
          </button>
        </div>
        <div class="products-browser-wrapper">
          <app-product-card
            *ngFor="let prod of productsKeys"
            [instanceGroup]="instanceGroup"
            [product]="prod"
            [productVersions]="products.get(prod)"
            (select)="openProduct(prod)"
          ></app-product-card>
        </div>
      </div>
      <button
        mat-fab
        class="add-button"
        (click)="openUploadDialog()"
        [disabled]="!authService.isScopedAdmin(instanceGroup)"
        matTooltip="Upload Product"
        matTooltipShowDelay="1000"
      >
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
