<app-bd-dialog [loadingWhen$]="nodesAdmin.loading$">
  <app-bd-dialog-toolbar [header]="'Remote Maintenance: ' + (nodeName$ | async)" [panel]="true" [route]="['..']">
  </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div class="flex flex-col gap-1" *ngIf="state">
      <span
      >The operations below allow to remotely perform maintenance actions on the node. These actions can help in
        repairing or cleaning up node storage.</span
      >
      <app-bd-button
        text="Repair and Prune Default BHive"
        icon="build"
        [collapsed]="false"
        [disabled]="state.offline || (mappedRepair$ | async)"
        (click)="doRepairAndPrune()"
        [loadingWhen$]="mappedRepair$"
      ></app-bd-button>

      <app-bd-button
        text="Restart Node"
        icon="restart_alt"
        [collapsed]="false"
        [disabled]="state.offline"
        (click)="doRestartNode()"
        [loadingWhen$]="mappedRestart$">
      </app-bd-button>

      <app-bd-button
        text="Shutdown Node"
        icon="power_settings_new"
        [collapsed]="false"
        [disabled]="state.offline"
        (click)="doShutdownNode()"
        [loadingWhen$]="mappedShutdown$">
      </app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
