<app-bd-dialog [loadingWhen$]="nodesAdmin.loading$">
  <app-bd-dialog-toolbar
    [header]="'Remote Maintenance: ' + nodeName"
    [panel]="true"
    [route]="['..']"
  >
  </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div class="flex flex-col gap-1" *ngIf="state">
      <span
        >The operations below allow to remotely perform maintenance actions on
        the node. These actions can help in repairing or cleaning up node
        storage.</span
      >
      <app-bd-button
        text="Repair Default BHive and Prune"
        icon="build"
        [collapsed]="false"
        [disabled]="state.offline || (repairing$ | async)"
        (click)="doRepairAndPrune()"
        [loadingWhen$]="repairing$"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
