@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin process-status-theme($theme) {
  $dark: map-get($theme, 'is-dark');
  $warn: map-get($theme, 'warn');

  .app-process-running {
    color: if($dark, #55da08, #146400) !important;
  }

  .app-process-crash {
    color: if($dark, #da0808, #640000);
  }

  .app-process-stopped {
    color: if($dark, #bbbbbb, #414141) !important;
  }

  .app-process-outdated {
    opacity: 0.6;
  }

  .app-process-outdated-text {
    color: #fff;
    background-color: mat.get-color-from-palette($warn);
  }

  .app-process-not-loaded {
    color: if($dark, #5a5a5a, #d6d5d5);
  }
}
