<ng-template #handlingTypeInfo>
  <mat-card appearance="outlined" class="local-details-popup-sizing flex flex-col gap-1 p-2.5 max-w-[500px]">
    <div>
      The handling type describes how starting or stopping is handled by the process control unit during bulk control.
      <ul class="list-disc list-inside">
        <li>
          <code>SEQUENTIAL</code>: Processes are started in sequence and stopped in reverse sequence. Each process start
          is awaited according to the configured <em>Start Wait</em>. If <em>Start Wait</em> is set to
          <code>CONTINUE</code> this is similar to type <code>PARALLEL</code>. Stopping always uses wait handling
          <code>WAIT</code>.
        </li>
        <li>
          <code>PARALLEL</code>: All processes in the group are started/stopped in parallel. After initiating
          start/stop, the group still waits until all processes are done performing the respective action.
        </li>
      </ul>
    </div>
  </mat-card>
</ng-template>

<ng-template #waitTypeInfo>
  <mat-card appearance="outlined" class="local-details-popup-sizing flex flex-col gap-1 p-2.5 max-w-[500px]">
    <div>
      The wait type describes how a starting process is handled during bulk start.
      <ul class="list-disc list-inside">
        <li>
          <code>CONTINUE</code>: The process control unit will regard a process as started once the actual operating
          system process has been created.
        </li>
        <li>
          <code>WAIT</code>: The process control unit will regard a process as started once it has reached the proper
          <code>RUNNING</code> state. This is achieved once a configured startup probe signals process startup, or (if
          no probe is configured) immediately after the operating system process has been created.
        </li>
        <li>
          <code>WAIT_UNTIL_STOPPED</code>: The process control unit will make each process wait until its predecessor
          has stopped before starting the next process.
        </li>
      </ul>
    </div>
  </mat-card>
</ng-template>

<app-bd-dialog [loadingWhen$]="edit.loading$">
  <app-bd-dialog-toolbar header="Edit Control Group" [panel]="true"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div class="flex flex-col gap-2.5">
      <form #form="ngForm" (ngSubmit)="onSave()" class="flex flex-col gap-2.5">
        @if (!(servers.isCurrentInstanceSynchronized$ | async)) {
          <app-bd-notification-card
            icon="sync"
            type="warning"
            [dismissable]="false"
            header="Server Not Synchronized"
            >
            <div class="text-justify">
              The managed server responsible for this instance is not synchronized, details are unavailable. Please
              synchronize the server to enable editing.
            </div>
          </app-bd-notification-card>
        }
        @if (edit.state$ | async; as state) {
          <div class="flex flex-col gap-2.5">
            <div>Edit Control Group <strong>{{ group.name }}</strong></div>
            <app-bd-form-input label="Name" name="name" [(ngModel)]="group.name" required appTrimmed></app-bd-form-input>
            <app-bd-form-select
              [appBdPopup]="handlingTypeInfo"
              [appBdPopupDelay]="500"
              appBdPopupTrigger="hover"
              label="Start Type"
              name="startType"
              [values]="handlingTypeValues"
              [(ngModel)]="group.startType"
            ></app-bd-form-select>
            <app-bd-form-select
              [appBdPopup]="waitTypeInfo"
              [appBdPopupDelay]="500"
              appBdPopupTrigger="hover"
              label="Start Wait"
              name="startWait"
              [values]="waitTypeValues"
              [(ngModel)]="group.startWait"
            ></app-bd-form-select>
            <app-bd-form-select
              [appBdPopup]="handlingTypeInfo"
              [appBdPopupDelay]="500"
              appBdPopupTrigger="hover"
              label="Stop Type"
              name="stopType"
              [values]="handlingTypeValues"
              [(ngModel)]="group.stopType"
            ></app-bd-form-select>
            <app-bd-button
              type="submit"
              text="Apply"
              icon="done"
              [collapsed]="false"
              color="primary"
              [disabled]="!hasPendingChanges || form.invalid || !(servers.isCurrentInstanceSynchronized$ | async)"
            ></app-bd-button>
          </div>
        }
      </form>
      <mat-divider></mat-divider>
      <app-bd-button text="Delete" icon="delete" [collapsed]="false" (click)="onDelete()"></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
