<app-bd-dialog>
  <app-bd-dialog-toolbar
    header="Instance Group Settings"
    [panel]="true"
  ></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div class="flex flex-col gap-2.5">
      <app-bd-panel-button
        text="Edit Instance Group..."
        icon="edit"
        [collapsed]="false"
        [toggle]="false"
        [route]="['edit']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeAdmin$ | async)"
      ></app-bd-panel-button>

      <app-bd-panel-button
        text="Group Attribute Values"
        icon="local_offer"
        [collapsed]="false"
        [toggle]="false"
        [route]="['attributes', 'values']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeWrite$ | async)"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Instance Attribute Definitions"
        icon="more"
        [collapsed]="false"
        [toggle]="false"
        [route]="['attributes', 'definitions']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeAdmin$ | async)"
      ></app-bd-panel-button>

      <app-bd-panel-button
        text="Instance Group Permissions"
        icon="security"
        [collapsed]="false"
        [toggle]="false"
        [route]="['permissions']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeAdmin$ | async)"
      ></app-bd-panel-button>

      <ng-container *ngIf="groups.current$ | async as group">
        <mat-divider></mat-divider>

        <app-bd-button
          text="Repair BHive Problems"
          icon="build"
          [collapsed]="false"
          (click)="onRepair(group)"
          [loadingWhen$]="repairing$"
          [disabled]="!(auth.isCurrentScopeAdmin$ | async) || (repairing$ | async)"
        ></app-bd-button>
        <app-bd-button
          text="Prune unused data in BHive"
          icon="delete_sweep"
          [collapsed]="false"
          (click)="onPrune(group)"
          [loadingWhen$]="pruning$"
          [disabled]="!(auth.isCurrentScopeWrite$ | async) || (pruning$ | async)"
        ></app-bd-button>
        <app-bd-button
          text="Delete Instance Group"
          icon="delete"
          [collapsed]="false"
          (click)="onDelete(group)"
          [disabled]="!(auth.isCurrentScopeAdmin$ | async) || (deleting$ | async)"
          [loadingWhen$]="deleting$"
        ></app-bd-button>
      </ng-container>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
