<app-bd-dialog>
  <app-bd-dialog-toolbar header="Instance Group Settings" [panel]="true"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div class="p-5 grid grid-cols-[24px_90px_auto] gap-2.5 items-center">
      <mat-icon class="bd-secondary-text">fingerprint</mat-icon>
      <div class="bd-secondary-text">Group ID:</div>
      <div class="bd-secondary-text">
        <app-bd-identifier [showCopyButton]="true" [id]="(groups.current$ | async)?.name"></app-bd-identifier>
      </div>
    </div>
    <div class="flex flex-col gap-2.5">
      <app-bd-panel-button
        text="Edit Instance Group..."
        icon="edit"
        [collapsed]="false"
        [toggle]="false"
        [route]="['edit']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeAdmin$ | async)"
      ></app-bd-panel-button>

      <app-bd-panel-button
        text="Group Attribute Values"
        icon="local_offer"
        [collapsed]="false"
        [toggle]="false"
        [route]="['attributes', 'values']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeWrite$ | async)"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Instance Attribute Definitions"
        icon="more"
        [collapsed]="false"
        [toggle]="false"
        [route]="['attributes', 'definitions']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeAdmin$ | async)"
      ></app-bd-panel-button>

      <app-bd-panel-button
        text="Instance Group Permissions"
        icon="security"
        [collapsed]="false"
        [toggle]="false"
        [route]="['permissions']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeAdmin$ | async)"
      ></app-bd-panel-button>

      <ng-container *ngIf="groups.current$ | async as group">
        <mat-divider></mat-divider>

        <app-bd-button
          text="Repair BHive Problems and Prune"
          icon="build"
          [collapsed]="false"
          (click)="onRepairAndPrune(group)"
          [loadingWhen$]="mappedRepair$"
          [disabled]="!(auth.isCurrentScopeAdmin$ | async) || (mappedRepair$ | async)"
        ></app-bd-button>
        <app-bd-button
          text="Delete Instance Group"
          icon="delete"
          [collapsed]="false"
          (click)="onDelete(group)"
          [disabled]="!(auth.isCurrentScopeAdmin$ | async) || (mappedDelete$ | async)"
          [loadingWhen$]="mappedDelete$"
        ></app-bd-button>
      </ng-container>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
