@import '~@angular/material/theming';

@mixin application-configuration-card-theme($theme) {
  $dark: map-get($theme, 'is-dark');

  $invalid-border: if($dark, mat-color($mat-red, 300), mat-color($mat-red, 200));
  $modified-border: if($dark, mat-color($mat-yellow, 300), mat-color($mat-yellow, 200));

  .app-config-invalid {
    border-left: 10px solid $invalid-border;
  }

  .app-config-modified {
    border-left: 10px solid $modified-border;
  }

  .app-config-missing {
    border: 2px dotted $invalid-border;
    opacity: 0.5;

    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}
