<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <div class="flex-row" *ngIf="isWarning()">
    <div class="warn-icon"><mat-icon>warning</mat-icon></div>
    <div class="warn-text"><strong>WARNING:&nbsp;</strong></div>
    <div [innerHTML]="data.message"></div>
  </div>
  <div class="flex-row" *ngIf="isError()">
    <div class="warn-icon"><mat-icon>error</mat-icon></div>
    <div class="warn-text"><strong>ERROR:&nbsp;</strong></div>
    <div [innerHTML]="data.message"></div>
  </div>
  <div class="flex-row" *ngIf="!isError() && !isWarning()">
    <div [innerHTML]="data.message"></div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="false" *ngIf="requiresCancel()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" *ngIf="requiresOk()">OK</button>
  <button mat-raised-button [mat-dialog-close]="false" *ngIf="requiresYesNo()">No</button>
  <button mat-raised-button [mat-dialog-close]="true" *ngIf="requiresYesNo()">Yes</button>
</div>
