<div *ngIf='loading' class='loading-container'>
  <mat-spinner [diameter]='24'></mat-spinner>
</div>

<ng-container *ngIf='!loading'>
<div class='port-list-titlebar'>
  <h2>Server Ports of {{data.appName}} on {{data.minionName}}</h2>
  <span class='spacer'></span>
  <button mat-icon-button (click)='reload()'><mat-icon>refresh</mat-icon></button>
</div>
<div *ngIf='!data?.ports?.length'>
  No ports are configured for this application.
</div>
<div *ngIf='data?.ports?.length' class='port-list'>
  <strong>Description</strong>
  <strong>Port</strong>
  <strong>State</strong>
  <ng-container *ngFor='let port of data.ports; let i = index'>
    <span>{{data.labels[i]}}</span>
    <span>{{port}}</span>
    <span><mat-icon [ngClass]='states[port] ? "port-open" : "port-closed"'>{{states[port] ? 'done' : 'warning'}}</mat-icon></span>
  </ng-container>
</div>
</ng-container>
