<mat-card class="instance-group-card" (click)='onClick()' attr.data-cy="group-{{currentGroup.name}}">
  <mat-card-header>
    <app-instance-group-logo mat-card-avatar [instanceGroupName]='currentGroup.name'></app-instance-group-logo>
    <mat-card-title class="title">{{currentGroup.name}}</mat-card-title>
    <mat-card-subtitle>Instance Group</mat-card-subtitle>
    <span class="spacer"></span>
    <mat-menu #appMenu="matMenu" xPosition="before">
      <button mat-menu-item [routerLink]="['/instance/browser', currentGroup.name]">Open</button>
      <div [matTooltip]='isManagedServer() ? "Editing of instance group information must be done on the controlling central server" : ""'>
        <button mat-menu-item [routerLink]="['/instancegroup/edit', currentGroup.name]" [disabled]='isManagedServer()'>Edit</button>
      </div>
      <button mat-menu-item (click)="delete()">Delete</button>
      <mat-divider></mat-divider>
      <button mat-menu-item [routerLink]="['/admin/all', {outlets: { panel: ['hive', {hive: currentGroup.name}] } }]">Hive</button>
      <button mat-menu-item [routerLink]="['/instancegroup/products', currentGroup.name]">Products</button>
      <button mat-menu-item [routerLink]="['/instancegroup/permissions', currentGroup.name]">Permissions</button>
      <ng-container *ngIf='isAttachAllowed'>
          <mat-divider></mat-divider>
          <button mat-menu-item [routerLink]="['/servers/browser', currentGroup.name]">Managed Servers...</button>
      </ng-container>
    </mat-menu>
    <button class="option-button" mat-icon-button [matMenuTriggerFor]="appMenu" appClickStopPropagation>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>{{currentGroup.description}}</p>
  </mat-card-content>
</mat-card>
