<mat-card class="instance-group-card" (click)='onClick()' attr.data-cy="group-{{instanceGroup.name}}">
  <mat-card-header>
    <app-instance-group-logo mat-card-avatar [instanceGroup]='instanceGroup'></app-instance-group-logo>
    <mat-card-title class="title">{{instanceGroup.title ? instanceGroup.title : instanceGroup.name}}</mat-card-title>
    <mat-card-subtitle>{{instanceGroup.name}}</mat-card-subtitle>
    <span class="spacer"></span>
    <mat-menu #appMenu="matMenu" xPosition="before">
      <button mat-menu-item [routerLink]="['/instance/browser', instanceGroup.name]" [disabled]="!authService.isScopedRead(this.instanceGroup.name)">Open</button>
      <div [matTooltip]='isManagedServer() ? "Editing of instance group information must be done on the controlling central server" : ""'>
        <button mat-menu-item [routerLink]="['/instancegroup/edit', instanceGroup.name]" [disabled]='isManagedServer() || !authService.isScopedAdmin(this.instanceGroup.name)'>Edit</button>
      </div>
      <button mat-menu-item (click)="delete()" [disabled]="!authService.isGlobalAdmin()">Delete</button>
      <mat-divider></mat-divider>
      <button mat-menu-item [routerLink]="['/admin/all', {outlets: { panel: ['hive', {hive: instanceGroup.name}] } }]" [disabled]="!authService.isGlobalAdmin()">Hive</button>
      <button mat-menu-item [routerLink]="['/instancegroup/products', instanceGroup.name]">Products</button>
      <button mat-menu-item [routerLink]="['/instancegroup/permissions', instanceGroup.name]" [disabled]="!authService.isScopedAdmin(this.instanceGroup.name)">
        Permissions
      </button>
      <ng-container *ngIf='isAttachAllowed'>
          <mat-divider></mat-divider>
          <button mat-menu-item [routerLink]="['/servers/browser', instanceGroup.name]" [disabled]="!authService.isScopedAdmin(this.instanceGroup.name)">Managed Servers...</button>
      </ng-container>
    </mat-menu>
    <button class="option-button" mat-icon-button [matMenuTriggerFor]="appMenu" appClickStopPropagation>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p class='group-description'>{{instanceGroup.description}}</p>
  </mat-card-content>
</mat-card>
