.loading-container {
  flex: 1 0 auto;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.fill-space {
  flex: 1 0 auto;
}

.toolbar-icons {
  float: right;
  margin-left: 1.5em;
}

.toolbar-icon {
  padding: 4px;
}

.toolbar-text {
  font-size: 0.9em;
  font-weight: lighter;
}

.banner {
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
}

.headerText {
  font-size: 1em;
  margin-left: 15px;
  vertical-align: middle;
}

.headerIcon {
  font-size: 1.8em;
  vertical-align: middle;
}

.content-toolbar {
  display:flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 65px;
}

.content-toolbar button {
  font-weight: normal;
}

.content-toolbar mat-icon {
  margin-right: 10px;
}

.content-toolbar button {
  font-size: 1em;
}

.list-heading {
  margin-top: 30px;
  margin-left: 15px;
}

.card {
  margin-left: 40px;
  margin-right: 40px;
}

.instance-card {
  margin-bottom: 1em;
  max-width: 100%;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.instance-card-header-version {
  font-weight: lighter;
  justify-self: end;
  align-self: center;
}

.instance-card-title {
  justify-self: center;
  align-self: center;
}

.instance-card-subtitle {
  margin-bottom: 0px;
}

.mat-card-content {
  margin-top: 1em;
}

.app-card {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 45px 2fr 2fr 3fr;
  margin-top: 1em;
}

.app-card-icon {
  justify-self: center;
  align-self: center;
}

.app-card-description {
  justify-self: left;
  align-self: center;

  /** Apply same style as mat-button */
  line-height: 36px;
  font-weight: 500;
}

.app-card-link {
  justify-self: left;
  align-self: center;
}

.app-card-link span {
  margin-left: 0.5em;
}
