<app-bd-dialog>
  <app-bd-dialog-toolbar
    [header]="'Details for ' + (software$ | async)?.version"
    [panel]="true"
  ></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div class="flex flex-col gap-2.5">
      <div gdColumns="auto auto" gdGap="5px">
        <strong>Version:</strong>
        <span>{{ (software$ | async)?.version }}</span>
        <strong>System Supported OS:</strong>
        <span *ngIf="systemOs$ | async as os">
          <ng-container *ngIf="!!os?.length">{{ os.join(', ') }}</ng-container>
          <ng-container *ngIf="!os?.length">None</ng-container>
        </span>
        <strong>Launcher Supported OS:</strong>
        <span *ngIf="launcherOs$ | async as os">
          <ng-container *ngIf="!!os?.length">{{ os.join(', ') }}</ng-container>
          <ng-container *ngIf="!os?.length">None</ng-container>
        </span>
      </div>

      <app-bd-button
        color="accent"
        icon="system_update"
        text="Install Update"
        [collapsed]="false"
        (click)="doInstall()"
        [loadingWhen$]="installing$"
        [disabled]="!(software$ | async)?.system?.length || (software$ | async)?.current || (installing$ | async)"
      ></app-bd-button>
      <app-bd-button
        icon="delete"
        text="Delete"
        [collapsed]="false"
        (click)="doDelete()"
        [loadingWhen$]="deleting$"
        [disabled]="(deleting$ | async) || (software$ | async)?.current"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
