.prod-row {
  display: flex;
  flex-direction: row;
  /* justify-items: center; */
  align-items: center;
  flex: 1 1 auto;
}

.spacer {
  flex: 1 1 auto;
  min-width: 20px;
}

.progress-spinner {
  margin-left: 9px;
  margin-right: 9px;
}
