@use '~@angular/material' as mat;

@mixin product-list-theme($theme) {
  $accent: map-get($theme, 'accent');

  .prod-row-selected {
    border-left: mat.get-color-from-palette($accent) solid 10px;
  }

  .prod-row-unselected {
    margin-left: 10px;
  }
}
