.flex-content {
  display: flex;
  flex-direction: column;
}

.flex-horiz {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.flex-horiz *:not(:first-child) {
  margin-left: 10px;
}

.flex-horiz mat-form-field {
  flex: 1 1 auto;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.output {
  flex: 1 0 auto;
  height: 300px;
  resize: none;
}
