.instance-card {
  margin: 30px;
  max-width: 100%;
  cursor: pointer;
}

.fill-space {
  flex: 1 1 auto;
}

.header-image {
  background-size: cover;
  border-radius: 10%;
}

.intance-card-row {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.info-grid {
  display: grid;
  grid-template-columns: auto;
  row-gap: 5px;
}

.product-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
