<mat-card [ngClass]="['instance-card', 'instance-card-' + instanceDto.instanceConfiguration.purpose]"
    [routerLink]="['/instance/overview', instanceGroupName, instanceDto.instanceConfiguration.uuid]" attr.data-cy='instance-{{instanceDto.instanceConfiguration.uuid}}'>
  <mat-card-header>
    <app-instance-group-logo mat-card-avatar [instanceGroupName]='instanceGroupName'></app-instance-group-logo>
    <mat-card-title>{{instanceDto.instanceConfiguration.name}}</mat-card-title>
    <mat-card-subtitle>Instance ({{instanceDto.instanceConfiguration.uuid}})</mat-card-subtitle>
    <span class="fill-space"></span>
    <mat-menu #appMenu="matMenu" xPosition="before">
      <button mat-menu-item [routerLink]="['/instance/edit', instanceGroupName, instanceDto.instanceConfiguration.uuid]" [disabled]="!authService.isScopedAdmin('instanceGroupName')">Edit</button>
      <button mat-menu-item (click)="delete()" [disabled]="!authService.isScopedAdmin('instanceGroupName')">Delete</button>
    </mat-menu>
    <button class="option-button" mat-icon-button [matMenuTriggerFor]="appMenu" appClickStopPropagation>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class='intance-card-row'>
    <div class='info-grid'>
      {{instanceDto.instanceConfiguration.description}}
      <div>
        <span *ngIf='instanceDto.productDto'>Product: <b [matTooltip]='instanceDto.productDto.name'>{{instanceDto.productDto.name}}</b></span>
        <span *ngIf='!instanceDto.productDto'>Product: <b>{{instanceDto.instanceConfiguration.product.name}}</b></span>

        <span *ngIf='instanceDto.activeProduct'>&nbsp;
          Active Product Version: <b>{{instanceDto.activeProduct.tag}}</b>&nbsp;
          <span *ngIf='!instanceDto.activeProductDto' class="product-unavailable" matTooltip="Required product version is not available.">N/A</span>
        </span>

        <span *ngIf='!instanceDto.activeProduct'>&nbsp;
          Product Version: <b>{{instanceDto.instanceConfiguration.product.tag}}</b>&nbsp;
          <span *ngIf='!instanceDto.productDto' class="product-unavailable" matTooltip="Required product version is not available.">N/A</span>
        </span>
      </div>
    </div>
    <div class='fill-space'></div>
    <app-instance-sync [instanceGroup]='instanceGroupName' [instance]='instanceDto.instanceConfiguration.uuid'></app-instance-sync>
  </div>
</mat-card-content>
</mat-card>
