# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries
#
# This file is used for CSS processing and the Angular compiler to control generation
# of ES5 bundles - we try to avoid ES5, and stick with browsers that support ES6 (ES2015).
# This reduces build times for the webapp drastically.


# Desktop
Edge >76
Firefox >67
Chrome >63
#Safari >12.1 # seems broken...
Opera >63

# Mobile
iOS > 11
Android >76
ChromeAndroid >78
FirefoxAndroid >68
Samsung >9.2
