# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries
#
# This file is used for CSS processing and the Angular compiler to control generation
# of ES5 bundles - we try to avoid ES5, and stick with browsers that support ES6 (ES2015).
# This reduces build times for the webapp drastically.


# Desktop
last 2 Safari versions
last 3 Edge versions
last 5 Firefox versions
last 5 Chrome versions
Firefox ESR

# Mobile
last 1 Android version
last 1 iOS version
last 3 ChromeAndroid versions
last 3 FirefoxAndroid versions

not dead
