<ng-template #addTemplate>
  <div>Select an attribute and assign a value.</div>
  <app-bd-form-select [(ngModel)]="newAttr" label="Instance Attribute" [values]="defs" [labels]="getDefLabels()" required></app-bd-form-select>
  <app-bd-form-input [(ngModel)]="newValue" label="Attribute Value" required></app-bd-form-input>
</ng-template>

<app-bd-dialog [loadingWhen$]="loading$">
  <app-bd-dialog-toolbar header="Instance Attribute Values" [panel]="true" [route]="['..']"> </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px">
      <app-bd-notification-card
        *ngIf="!servers.isSynchronized(instance?.managedServer)"
        icon="history"
        [warning]="true"
        [dismissable]="false"
        header="Server Not Synchronized"
      >
        <div [style.text-align]="'justify'">
          The managed server responsible for this instance is not synchronized, details are unavailable. Please synchronize the server to enable editing.
        </div>
      </app-bd-notification-card>
      <app-bd-data-display [columns]="columns" [records]="records">
        <app-bd-no-data>
          <div>No attribute values</div>
        </app-bd-no-data>
      </app-bd-data-display>
      <app-bd-button
        #btn
        text="Add/Edit Attribute"
        icon="edit"
        [collapsed]="false"
        (click)="showAddDialog(addTemplate)"
        [disabled]="!servers.isSynchronized(instance?.managedServer)"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
