@if (!!descriptor) {
  <mat-card appearance="outlined" class="flex flex-col gap-1 p-2.5 max-w-[550px]">
    <div>Parameter <strong>{{ descriptor.name }}</strong>@if (descriptor.fixed) {
      <em> (fixed)</em>
    }</div>
  <div class="grid grid-cols-[100px_auto] gap-1 p-2.5">
    <strong><div>Name:</div></strong>
    <div>{{ descriptor?.name }}</div>
    <strong><div>Description:</div></strong>
    <div>{{ descriptor?.longDescription }}</div>
    <strong><div>Parameter:</div></strong>
    <div class="local-break">
      <code>{{ descriptor?.parameter }}</code>
    </div>
    <strong><div>Internal ID:</div></strong>
    <div>
      <code>{{ descriptor?.id }}</code>
    </div>
    <strong><div>Type:</div></strong>
    <div>
      <code>{{ descriptor?.type }}</code>
    </div>
    <strong><div>Default Value:</div></strong>
    <div class="local-break">
      @if (!!descriptor?.defaultValue?.value) {
        <code
        >{{
            descriptor?.defaultValue ? (descriptor?.type === 'PASSWORD' ?
              '*'.repeat(descriptor?.defaultValue?.value?.length) : descriptor?.defaultValue?.value) : '(none)'
          }}</code
        >
      } @else {
        <code
        >{{
            descriptor?.defaultValue ? (descriptor?.type === 'PASSWORD' ?
                '*'.repeat(descriptor?.defaultValue?.linkExpression?.length) : descriptor?.defaultValue?.linkExpression) :
              '(none)'
          }}</code
        >
      }
    </div>
    @if (!!descriptor.condition?.parameter || !!descriptor.condition?.expression) {
      <strong>
        <div>Condition:</div>
      </strong>
      <div class="local-break">
        @if (descriptor.condition.parameter) {
          Parameter <code>{{ descriptor.condition.parameter }}</code> must
        }
        @if (descriptor.condition.expression) {
          Resolved Expression <code>{{ descriptor.condition.expression }}</code> must
        }
        <code>{{ descriptor.condition.must }} {{ descriptor.condition.value }}</code>
      </div>
    }
    @if (descriptor?.mandatory) {
      <strong>
        <div>Mandatory:</div>
      </strong>
      <div class="local-break">This parameter cannot be removed</div>
    }
    @if (descriptor?.validateRegex) {
      <strong>
        <div>Validation:</div>
      </strong>
      <code>{{ descriptor.validateRegex }}</code>
    }
  </div>
  </mat-card>
}
@if (!descriptor) {
  <mat-card appearance="outlined" class="flex flex-col gap-1 p-2.5 max-w-[450px]">
    No further information about this parameter available.
  </mat-card>
}
