<mat-card
  *ngIf="!!descriptor"
  [style.padding.px]="10"
  [style.max-width.px]="550"
  class="mat-typography"
  fxLayout="column"
  fxLayoutGap="5px"
>
  <div>
    Parameter <strong>{{ descriptor.name }}</strong
    ><em *ngIf="descriptor.fixed"> (fixed)</em>
  </div>
  <div
    gdColumns="100px auto"
    gdGap="5px"
    gdAlignColumns="start start"
    [style.padding.px]="10"
  >
    <strong><div>Name:</div></strong>
    <div>{{ descriptor?.name }}</div>
    <strong><div>Description:</div></strong>
    <div>{{ descriptor?.longDescription }}</div>
    <strong><div>Parameter:</div></strong>
    <div class="local-break">
      <code>{{ descriptor?.parameter }}</code>
    </div>
    <strong><div>Internal ID:</div></strong>
    <div>
      <code>{{ descriptor?.uid }}</code>
    </div>
    <strong><div>Type:</div></strong>
    <div>
      <code>{{ descriptor?.type }}</code>
    </div>
    <strong><div>Default Value:</div></strong>
    <div class="local-break">
      <code *ngIf="!!descriptor?.defaultValue?.value; else defaultIsExpression"
        >{{ descriptor?.defaultValue ? (descriptor?.type === 'PASSWORD' ?
        '*'.repeat(descriptor?.defaultValue?.value?.length) :
        descriptor?.defaultValue?.value) : '(none)' }}</code
      >
      <ng-template #defaultIsExpression>
        <code
          >{{ descriptor?.defaultValue ? (descriptor?.type === 'PASSWORD' ?
          '*'.repeat(descriptor?.defaultValue?.linkExpression?.length) :
          descriptor?.defaultValue?.linkExpression) : '(none)' }}</code
        >
      </ng-template>
    </div>
    <ng-container *ngIf="!!descriptor.condition?.parameter">
      <strong><div>Condition:</div></strong>
      <div class="local-break">
        Parameter <code>{{ descriptor.condition.parameter }}</code> must
        <code
          >{{ descriptor.condition.must }} {{ descriptor.condition.value
          }}</code
        >
      </div>
    </ng-container>
    <ng-container *ngIf="descriptor?.mandatory">
      <strong><div>Mandatory:</div></strong>
      <div class="local-break">This parameter cannot be removed</div>
    </ng-container>
  </div>
</mat-card>
<mat-card
  *ngIf="!descriptor"
  [style.padding.px]="10"
  [style.max-width.px]="450"
  class="mat-typography"
  fxLayout="column"
  fxLayoutGap="5px"
>
  No further information about this parameter available.
</mat-card>
