<h1 mat-dialog-title>Delete Instance Group: {{data.name}}</h1>
<div mat-dialog-content>
  <div class="flex-row">
      <div class="warn-icon"><mat-icon>warning</mat-icon></div>
      <div><b>WARNING:</b> Deleting an instance group <b>cannot be undone</b>. Please enter the name of the instance group to confirm.</div>
  </div>
  <div class="flex-row instance-group-delete-warn" *ngIf="instanceCount > 0">
    <div class="warn-icon"><mat-icon>warning</mat-icon></div>
    <div><b>WARNING:</b> Deleting this instance group will delete <b>{{instanceCount}}</b> contained<span *ngIf="instanceCount > 1"> instances</span><span *ngIf="instanceCount == 1"> instance</span> as well.</div>
  </div>
  <mat-form-field>
    <input matInput required [(ngModel)]="data.confirmation" placeholder="Instance Group Name" cdkFocusInitial autocomplete="off">
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button [disabled]="!isDeleteEnabled()" [mat-dialog-close]="data.confirmation" color="warn">Delete</button>
</div>
