<h1 mat-dialog-title>Edit Managed Server</h1>
<form [formGroup]="formGroup">
  <div mat-dialog-content class="flex-content">
    <mat-form-field>
      <input matInput formControlName="description" placeholder="Description" />
      <mat-error>{{ getErrorMessage(descriptionControl) }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="uri"
        placeholder="Server URI"
        matTooltip="The full URI under which the server is reachable."
      />
      <mat-error>{{ getErrorMessage(uriControl) }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="auth"
        placeholder="Server Full Token (Experts)"
        matTooltip="The full token used for authentication. Update with care."
      />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="button" [mat-dialog-close]="null">Cancel</button>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [mat-dialog-close]="getResult()"
      [disabled]="!formGroup.valid"
    >
      Apply
    </button>
  </div>
</form>
