<h2 mat-dialog-title>Confirm Start</h2>
<mat-dialog-content class="mat-typography">
  <p>Starting of application '{{data.application}}' requires manual confirmation.</p>
  <div class="container">
    <mat-form-field hintLabel="Enter the name of the application as confirmation." >
      <input matInput required autocomplete="off" [(ngModel)]="data.confirmation">
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="'start'" [disabled]="data.confirmation !== data.application">Start</button>
</mat-dialog-actions>
