<h1 mat-dialog-title>Updating...</h1>
<div mat-dialog-content>
  <mat-progress-bar mode='indeterminate' *ngIf='!finished'></mat-progress-bar>
  <div *ngIf='waiting'>Waiting for the master to come back online...</div>
  <ng-container  *ngIf='finished'>
    <div *ngIf='!error'>A reload is required to update the web application. Press OK to reload now.</div>
    <div *ngIf='!error'>The server version after update is: {{versionAfterUpdate}}.</div>
    <div *ngIf='error'>Failed to await server to come back online. Please check server logs. Press OK to reload the application.</div>
  </ng-container>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="true" [disabled]='!finished'>OK</button>
</div>
