<app-bd-loading-overlay [show]="loadingWhen$ | async">
  <div class="bd-page-root flex flex-col">
    <!-- toolbar content -->
    <ng-content select="app-bd-dialog-toolbar"></ng-content>

    <!-- main content -->
    <div
      #scrollContainer
      class="overflow-auto h-full"
      [class.bd-default-padding]="padding"
      (scroll)="onScrollContent($event)"
      cdkScrollable
    >
      <ng-content *ngIf="showContent$ | async" select="app-bd-dialog-content"></ng-content>
    </div>
  </div>
</app-bd-loading-overlay>
<app-bd-dialog-message></app-bd-dialog-message>
