<div *ngIf='loading' class='loading-container'>
  <mat-spinner [diameter]='24'></mat-spinner>
</div>

<div class="content" [hidden]='loading'>
  <div class='port-list-titlebar'>
    <h2>Server Ports on {{minionName}}</h2>
    <span class='spacer'></span>
    <button mat-icon-button (click)='reload()'><mat-icon>refresh</mat-icon></button>
  </div>

  <div *ngIf='!dataSource.data.length'>
    No ports are configured on this node.
  </div>

  <table [hidden]='!dataSource.data.length' mat-table [dataSource]="dataSource" matSort [matSortActive]="INITIAL_SORT_COLUMN" [matSortDirection]="INITIAL_SORT_DIRECTION">
    <caption style="display: none;">Server Ports</caption>

    <ng-container matColumnDef="application">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Application</th>
      <td mat-cell *matCellDef="let element">{{ element.application }}</td>
    </ng-container>

    <ng-container matColumnDef="appState">
      <th scope="col" mat-header-cell *matHeaderCellDef>App. State</th>
      <td mat-cell *matCellDef="let element"><app-process-status class='icon-cell' [appId]='element.appId' [iconWhenStopped]='true' [instanceTag]='instanceTag' [activatedTag]='instanceActiveTag'></app-process-status></td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="port">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Port</th>
      <td mat-cell *matCellDef="let element">{{ element.port }}</td>
    </ng-container>

    <ng-container matColumnDef="portState">
      <th scope="col" mat-header-cell *matHeaderCellDef>State</th>
      <td mat-cell *matCellDef="let element"><mat-icon class='icon-cell' [ngClass]='states && states[element.port] ? null : "dim-link-off"'>{{states && states[element.port] ? 'link' : 'link_off'}}</mat-icon></td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th scope="col" mat-header-cell *matHeaderCellDef>Rating</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor='let rating of [isRatingOk(element)]'>
          <mat-icon class='icon-cell' [ngClass]='rating ? "rating-ok" : "rating-failed"' [matTooltip]='rating ? "The port state matches the application state" : "The port state does not match the application state. Something might be wrong."'>
            {{rating ? 'done' : 'warning'}}
          </mat-icon>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
