<div *ngIf='loading' class='loading-container'>
  <mat-spinner [diameter]='24'></mat-spinner>
</div>

<div class="content" [hidden]='loading'>
  <div class='port-list-titlebar'>
    <h2>Server Ports on {{data.minionName}}</h2>
    <span class='spacer'></span>
    <button mat-icon-button (click)='reload()'><mat-icon>refresh</mat-icon></button>
  </div>

  <table mat-table [dataSource]="dataSource" matSort [matSortActive]="INITIAL_SORT_COLUMN" [matSortDirection]="INITIAL_SORT_DIRECTION">
    <caption style="display: none;">Server Ports</caption>

    <ng-container matColumnDef="instance">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Instance</th>
      <td mat-cell *matCellDef="let element">{{ element.instance }}</td>
    </ng-container>

    <ng-container matColumnDef="application">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Application</th>
      <td mat-cell *matCellDef="let element">{{ element.application }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="port">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Port</th>
      <td mat-cell *matCellDef="let element">{{ element.port }}</td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th scope="col" mat-header-cell *matHeaderCellDef>State</th>
      <td mat-cell *matCellDef="let element">
        <span>
          <mat-icon [ngClass]='states && states[element.port] ? "port-open" : "port-closed"'>
            {{states && states[element.port] ? 'done' : 'warning'}}
          </mat-icon>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
