.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-table {
  width: 100%;
}

.mat-header-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.icon-cell {
  top: 2px;
  position: relative;
}

.mat-column-port {
  text-align: right;
  width: 40px;
}

.mat-column-portState,
.mat-column-appState,
.mat-column-rating {
  text-align: center;
  width: 40px;
}

.port-list-titlebar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spacer {
  flex: 1 0 auto;
}
