<app-bd-dialog [loadingWhen$]="software.loading$">
  <app-bd-dialog-toolbar header="System Software">
    <div class="flex-auto"></div>
    <app-bd-panel-button
      #bulkMode
      icon="library_add_check"
      text="Bulk Manipulation"
      [route]="['panels', 'admin', 'software', 'bulk-manipulation']"
      tooltip="below"
    ></app-bd-panel-button>
    <app-bd-button text="Restart Server" icon="restart_alt" (click)="restartServer()" tooltip="below"></app-bd-button>
    <app-bd-panel-button
      icon="cloud_upload"
      text="Upload Software"
      color="primary"
      [route]="['panels', 'admin', 'software', 'upload']"
      tooltip="below"
    ></app-bd-panel-button>
    <app-bd-button icon="refresh" text="Refresh" (click)="software.load()" tooltip="below"></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <app-bd-data-table
      [records]="software.software$ | async"
      [columns]="columns"
      [recordRoute]="getRecordRoute"
      [checkMode]="bulkMode.toggle && !!bulkMode.rla?.isActive"
      [checkedFrozenWhen$]="bulk.frozen$"
      (checkedChange)="bulk.selection$.next($event)"
    ></app-bd-data-table>
  </app-bd-dialog-content>
</app-bd-dialog>
