<app-bd-dialog [loadingWhen$]="loading$">
  <app-bd-dialog-toolbar
    [header]="(replace ? 'Replace ' : 'Edit ') + nodeName"
    [panel]="true"
    [route]="['..']"
  ></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <form #form="ngForm">
      <div fxLayout="column" fxLayoutGap="10px" *ngIf="data && orig">
        <span
          >You can either manually enter node information below, or drop a
          <code>node-ident</code> file which is created during the
          initialization process on the physical node.</span
        >
        <span *ngIf="replace">
          Note that <strong>replacing</strong> a node may take a while, since
          all software and configuration on the new node will be restored.
        </span>
        <mat-card
          fxLayout="column"
          fxLayoutAlign="center center"
          class="bd-drag-card bd-drop-card"
          (drop)="onDrop($event)"
          (dragover)="onOver($event)"
        >
          Drop node information here!
        </mat-card>
        <app-bd-form-input
          name="uri"
          label="Node URI"
          [(ngModel)]="data.uri"
          required
        ></app-bd-form-input>
        <app-bd-form-input
          name="auth"
          label="Full Auth. Token"
          [(ngModel)]="data.authPack"
          required
        ></app-bd-form-input>
        <app-bd-button
          color="primary"
          [disabled]="!canSave() || (saving$ | async)"
          [loadingWhen$]="saving$"
          [collapsed]="false"
          text="Save"
          icon="save"
          (click)="onSave()"
        ></app-bd-button>
      </div>
    </form>
  </app-bd-dialog-content>
</app-bd-dialog>
