@use "@angular/material" as mat;

@mixin settings-shell-theme($theme) {
  $background: map-get(mat.m2-get-color-config($theme), background);
  $dark: map-get($theme, is-dark);

  $groupTextColor: if(
    $dark,
    mat.m2-get-color-from-palette(mat.$m2-grey-palette, 600),
    mat.m2-get-color-from-palette(mat.$m2-grey-palette, 400)
  );
  $groupLineColor: if(
    $dark,
    mat.m2-get-color-from-palette(mat.$m2-grey-palette, 700),
    mat.m2-get-color-from-palette(mat.$m2-grey-palette, 300)
  );

  .active-setting {
    background-color: mat.m2-get-color-from-palette($background, selected-button);
  }

  .menu-group {
    color: $groupTextColor;
    font-size: smaller;

    border-bottom: solid 1px $groupLineColor;

    margin-top: 20px;
    margin-bottom: 5px;

    padding-left: 10px;
  }
}
