.process-container {
  max-height: 400px;
  max-width: 1024px;
  overflow-y: auto;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0px 10px;
}

.mat-column-pid {
  width: 80px;
  text-align: right;
}

.mat-column-user {
  width: 160px;
}

.mat-column-totalCpuDuration {
  width: 80px;
  text-align: right;
}

.mat-column-command {
  word-break: break-all;
  max-width: 350px;
  min-width: 100px;
}

.mat-column-arguments {
  word-break: break-all;
  max-width: 350px;
  min-width: 100px;
}
