<app-bd-dialog>
  <app-bd-dialog-toolbar header="Instance Settings" [panel]="true"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px">
      <app-bd-panel-button
        text="Base Configuration"
        icon="edit"
        [collapsed]="false"
        [toggle]="false"
        [route]="['config']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeWrite$ | async) || !(edit.hasCurrentProduct$ | async)"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Configuration Files"
        icon="attachment"
        [collapsed]="false"
        [toggle]="false"
        [route]="['config-files']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeWrite$ | async) || !(edit.hasCurrentProduct$ | async)"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Banner"
        icon="lightbulb"
        [collapsed]="false"
        [toggle]="false"
        [route]="['banner']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeWrite$ | async) || !(edit.hasCurrentProduct$ | async)"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Manage Network Ports"
        icon="power"
        [collapsed]="false"
        [toggle]="false"
        [route]="['ports']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeWrite$ | async) || !(edit.hasCurrentProduct$ | async)"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Manage Nodes"
        icon="dns"
        [collapsed]="false"
        [toggle]="false"
        [route]="['nodes']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeAdmin$ | async) || !(edit.hasCurrentProduct$ | async)"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Instance Attribute Values"
        icon="local_offer"
        [collapsed]="false"
        [toggle]="false"
        [route]="['attributes']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeWrite$ | async) || !(edit.hasCurrentProduct$ | async)"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Instance Templates"
        icon="auto_fix_high"
        [collapsed]="false"
        [toggle]="false"
        [route]="['templates']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeWrite$ | async) || !(edit.hasCurrentProduct$ | async)"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Import Instance Version"
        icon="file_upload"
        [collapsed]="false"
        [toggle]="false"
        [route]="['import']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeWrite$ | async)"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Update Product Version"
        icon="security_update_good"
        [collapsed]="false"
        [toggle]="false"
        [route]="['product']"
        [relative]="true"
        [disabled]="!(auth.isCurrentScopeWrite$ | async)"
        [color]="(edit.current$ | async)?.newerVersionAvailable || !(edit.hasCurrentProduct$ | async) ? 'accent' : null"
      ></app-bd-panel-button>
      <app-bd-button
        [loadingWhen$]="deleting$"
        [disabled]="!(auth.isCurrentScopeAdmin$ | async) || (deleting$ | async)"
        text="Delete Instance"
        icon="delete"
        [collapsed]="false"
        (click)="doDelete()"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
