<app-bd-dialog>
  <app-bd-dialog-toolbar header="Instance Settings" [closeablePanel]="true"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px">
      <app-bd-panel-button
        text="Configuration"
        icon="edit"
        [collapsed]="false"
        [toggle]="false"
        [route]="['config']"
        [relative]="true"
        [disabled]="!auth.isCurrentScopeWrite()"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Banner"
        icon="lightbulb"
        [collapsed]="false"
        [toggle]="false"
        [route]="['banner']"
        [relative]="true"
        [disabled]="!auth.isCurrentScopeWrite()"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Manage Nodes"
        icon="dns"
        [collapsed]="false"
        [toggle]="false"
        [route]="['nodes']"
        [relative]="true"
        [disabled]="!auth.isCurrentScopeAdmin()"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Instance Attribute Values"
        icon="local_offer"
        [collapsed]="false"
        [toggle]="false"
        [route]="['attributes']"
        [relative]="true"
        [disabled]="!auth.isCurrentScopeWrite()"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Instance Templates"
        icon="auto_fix_high"
        [collapsed]="false"
        [toggle]="false"
        [route]="['templates']"
        [relative]="true"
        [disabled]="!auth.isCurrentScopeWrite()"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Import Instance Version..."
        icon="file_upload"
        [collapsed]="false"
        [toggle]="false"
        [route]="['import']"
        [relative]="true"
        [disabled]="!auth.isCurrentScopeWrite()"
      ></app-bd-panel-button>
      <app-bd-panel-button
        text="Maintenance"
        icon="build"
        [collapsed]="false"
        [toggle]="false"
        [route]="['maintenance']"
        [relative]="true"
        [disabled]="!auth.isCurrentScopeAdmin()"
      ></app-bd-panel-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
