@if (templateVariable.type === TemplateVariableType.BOOLEAN) {
  <app-bd-form-toggle
    [(ngModel)]="value"
    [attr.name]="templateVariable.name"
    [label]="templateVariable.name"
    [matTooltip]="templateVariable.description"
    matTooltipPosition="above"
    required
    errorDisplay="immediate"
  ></app-bd-form-toggle>
}
@if (templateVariable.type !== TemplateVariableType.BOOLEAN) {
  <app-bd-form-input
    [(ngModel)]="value"
    [type]="type"
    [attr.name]="templateVariable.name"
    [label]="templateVariable.name"
    [matTooltip]="templateVariable.description"
    matTooltipPosition="above"
    [suggested]="templateVariable.suggestedValues"
    required
    errorDisplay="immediate"
    [passwordShowable]="templateVariable.type === TemplateVariableType.PASSWORD"
  ></app-bd-form-input>
}
