<div class="bd-rect-card">
  <div class="local-header flex flex-col">
    <div class="bd-default-padding flex justify-start items-center">
      <div class="flex flex-col">
        <div class="bd-type-text">{{ nodeType }}</div>
        <div class="bd-title-text">{{ nodeLabel }}</div>
      </div>
      @if (node$ | async; as node) {
        <mat-icon class="self-center ml-5" [svgIcon]="node.os"></mat-icon>
      }
      <div class="flex-auto"></div>
      <div class="flex gap-1">
        @if (!isClientNode) {
          <app-bd-panel-button
            text="Add Process Control Group"
            icon="more_time"
            [route]="['panels', 'instances', 'config', 'add-control-group', nodeName]"
            tooltipPosition="below"
          ></app-bd-panel-button>
        }
        <app-bd-panel-button
          text="Add Process Configuration"
          icon="add"
          [route]="['panels', 'instances', 'config', 'add-process', nodeName]"
          tooltipPosition="below"
          class="pr-4"
        ></app-bd-panel-button>
      </div>
    </div>
  </div>
  <div class="bd-default-padding flex flex-col gap-2.5">
    @if (!isClientNode) {
      @for (group of (config$ | async)?.nodeConfiguration.controlGroups; track doTrack($index, group)) {
        <app-control-group
          [group]="group"
          [node$]="config$"
          [(expanded)]="groupExpansion[group.name]"
          >
          <app-bd-data-table
            [id]="nodeName + '||' + group.name"
            [records]="(groupedProcesses$ | async)[group.name]"
            [columns]="cols"
            [sortData]="null"
            [recordRoute]="getRecordRoute"
            [dragConnected]="allowedSources$ | async"
            [dragReorderMode]="true"
            (dragReorder)="onReorder($event)"
          ></app-bd-data-table>
        </app-control-group>
      }
    } @else {
      <app-bd-data-table
        [id]="nodeName + '||' + clientTableName"
        [records]="(config$ | async)?.nodeConfiguration.applications"
        [columns]="cols"
        [sortData]="null"
        [recordRoute]="getRecordRoute"
        [dragReorderMode]="true"
        (dragReorder)="onReorder($event)"
      ></app-bd-data-table>
    }
  </div>
</div>
