<div class="bd-rect-card">
  <div fxLayout="column" class="local-header">
    <div fxLayout="row" class="bd-default-padding" fxLayoutAlign="start center">
      <div fxLayout="column">
        <div class="bd-type-text">{{ getNodeType() }}</div>
        <div class="bd-title-text">{{ getNodeName() }}</div>
      </div>
      <ng-container *ngIf="node$ | async as node">
        <mat-icon [style.padding-left.px]="20" fxFlexAlign="center" [svgIcon]="node.os"></mat-icon>
      </ng-container>
      <div fxFlex="1 0 auto"></div>
      <div fxLayout="row" fxLayoutGap="5px">
        <app-bd-panel-button text="Add Application..." icon="add" [route]="['panels', 'instances', 'config', 'add-process', nodeName]"></app-bd-panel-button>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="10px" class="bd-default-padding">
    <app-bd-data-table
      #data
      [records]="(config$ | async)?.nodeConfiguration?.applications"
      [columns]="isClientNode() ? columns.defaultProcessesConfigClientColumns : columns.defaultProcessesConfigColumns"
      [sortData]="null"
      [recordRoute]="getRecordRoute"
      [dragReorderMode]="true"
      (dragReorder)="onReorder($event)"
    ></app-bd-data-table>
  </div>
</div>
