<app-bd-button-popup
  #popup
  [text]="sortBy"
  tooltip="below"
  [collapsed]="false"
  [hidden]="disabled"
>
  <mat-card
    appearance="outlined"
    class="mat-typography flex flex-col gap-1 p-2.5"
  >
    <mat-radio-group
      class="flex flex-col"
      [ngModel]="selectedColumn"
      (ngModelChange)="updateSortColumn($event)"
    >
      <mat-radio-button
        class="sort-column-radio-button"
        *ngFor="let column of _columns"
        [value]="column"
      >
        {{column.name}}
      </mat-radio-button>
    </mat-radio-group>
    <div class="flex justify-center items-center">
      <mat-button-toggle-group
        class="sort-toggle"
        name="sortDirection"
        [value]="sort?.direction"
        (valueChange)="updateSortDirection($event)"
      >
        <mat-button-toggle value="asc">
          <mat-icon svgIcon="sort_asc"></mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="desc">
          <mat-icon svgIcon="sort_desc"></mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-card>
</app-bd-button-popup>
