@use "@angular/material" as mat;

@mixin _bd-popup-theme-colored($name, $card-color, $outline-var) {
  .bd-popup-panel-below-left-#{$name}::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $card-color;
    color: $card-color;
    position: absolute;
    transform: rotate(45deg);
    top: -6px;
    right: 12px;
    margin-left: -6px;
    border-width: 1px;
    border-style: solid;
    border-color: $outline-var $card-color $card-color $outline-var;
  }

  .bd-popup-panel-above-left-#{$name}::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $card-color;
    color: $card-color;
    position: absolute;
    transform: rotate(225deg);
    top: calc(100% - 8px); // includes card border - kinda hacky but works.
    right: 12px;
    margin-left: -6px;
    border-width: 1px;
    border-style: solid;
    border-color: $outline-var $card-color $card-color $outline-var;
  }

  .bd-popup-panel-below-right-#{$name}::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $card-color;
    color: $card-color;
    position: absolute;
    transform: rotate(45deg);
    top: -6px;
    left: 18px;
    margin-left: -6px;
    border-width: 1px;
    border-style: solid;
    border-color: $outline-var $card-color $card-color $outline-var;
  }

  .bd-popup-panel-above-right-#{$name}::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $card-color;
    color: $card-color;
    position: absolute;
    transform: rotate(225deg);
    top: calc(100% - 8px); // includes card border - kinda hacky but works.
    left: 18px;
    margin-left: -6px;
    border-width: 1px;
    border-style: solid;
    border-color: $outline-var $card-color $card-color $outline-var;
  }

  .bd-popup-panel-left-below-#{$name}::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $card-color;
    color: $card-color;
    position: absolute;
    transform: rotate(135deg);
    top: 12px;
    right: -6px;
    margin-left: -6px;
    border-width: 1px;
    border-style: solid;
    border-color: $outline-var $card-color $card-color $outline-var;
  }

  .bd-popup-panel-right-below-#{$name}::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $card-color;
    color: $card-color;
    position: absolute;
    transform: rotate(315deg);
    top: 12px;
    left: 0px;
    margin-left: -6px;
    border-width: 1px;
    border-style: solid;
    border-color: $outline-var $card-color $card-color $outline-var;
  }

  .bd-popup-panel-left-above-#{$name}::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $card-color;
    color: $card-color;
    position: absolute;
    transform: rotate(135deg);
    top: calc(100% - 25px);
    right: -6px;
    margin-left: -6px;
    border-width: 1px;
    border-style: solid;
    border-color: $outline-var $card-color $card-color $outline-var;
  }

  .bd-popup-panel-right-above-#{$name}::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $card-color;
    color: $card-color;
    position: absolute;
    transform: rotate(315deg);
    top: calc(100% - 25px);
    left: 0px;
    margin-left: -6px;
    border-width: 1px;
    border-style: solid;
    border-color: $outline-var $card-color $card-color $outline-var;
  }
}

/** These classes are applied to the panel of the popup, thus they MUST be global */
@mixin bd-popup-theme($theme) {
  $dark: map-get($theme, "is-dark");
  $bg: map-get(mat.m2-get-color-config($theme), "background");

  $outline: if($dark, #595959, #e0e0e0); // TODO: figure out better way to achieve this when re-writing themes.

  @include _bd-popup-theme-colored("default", map-get($bg, "card"), $outline);
  @include _bd-popup-theme-colored(
    "primary",
    mat.m2-get-color-from-palette(map-get(mat.m2-get-color-config($theme), "primary")),
    $outline
  );
  @include _bd-popup-theme-colored(
    "accent",
    mat.m2-get-color-from-palette(map-get(mat.m2-get-color-config($theme), "accent")),
    $outline
  );
  @include _bd-popup-theme-colored(
    "warn",
    mat.m2-get-color-from-palette(map-get(mat.m2-get-color-config($theme), "warn")),
    $outline
  );
}
