<h1 mat-dialog-title>Configure LDAP Server</h1>
<form #f="ngForm">
  <div mat-dialog-content class='flex-content'>
    <mat-form-field><input matInput type='text' name='server' required [(ngModel)]='server.server' placeholder="Server URL" matTooltip="The URL of the LDAP server, use 'ldaps://' protocol if possible."></mat-form-field>
    <mat-form-field><input matInput type='text' name='desc' required [(ngModel)]='server.description' placeholder="Description"></mat-form-field>
    <div class='flex-horiz'>
      <mat-form-field><input matInput type='text' name='user' required [(ngModel)]='server.user' placeholder="Server User" matTooltip="User used to bind to the server for user lookup"></mat-form-field>
      <mat-form-field><input matInput type='password' autocomplete="new-password" name='pass' [(ngModel)]='server.pass' placeholder="Server Password"></mat-form-field>
    </div>
    <mat-form-field><input matInput type='text' name='base' required [(ngModel)]='server.accountBase' placeholder="Account Base" matTooltip="The base to search in, e.g. 'dc=mycompany,dc=com'"></mat-form-field>
    <mat-form-field><input matInput type='text' name='pattern' required [(ngModel)]='server.accountPattern' placeholder="Account Pattern" matTooltip="Additional filters to apply when looking up accounts, e.g. '(objectCategory=person)(homeMDB=*)'"></mat-form-field>
    <mat-form-field><input matInput type='text' name='userField' required [(ngModel)]='server.accountUserName' placeholder="Result User Field" matTooltip="The name of the field containing the username in the LDAP query result"></mat-form-field>
    <div class='flex-horiz'>
      <mat-form-field><input matInput type='text' name='nameField' [(ngModel)]='server.accountFullName' placeholder="Result Full Name Field" matTooltip="The name of the field containing the users full name in the LDAP query result"></mat-form-field>
      <mat-form-field><input matInput type='text' name='mailField' [(ngModel)]='server.accountEmail' placeholder="Result E-Mail Field" matTooltip="The name of the field containing the users E-Mail address in the LDAP query result"></mat-form-field>
    </div>
    <mat-slide-toggle name='referrals' [(ngModel)]='server.followReferrals'>Follow Referrals</mat-slide-toggle>
  </div>
</form>
<div mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="null">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="server" [disabled]='loading || f.invalid'>Apply</button>
</div>
