<div class="box">
    <mat-toolbar class="mat-elevation-z1 header-toolbar">
      <mat-toolbar-row>
        <button mat-icon-button type="button" (click)="routingHistoryService.back('softwarerepo/browser')"><mat-icon>chevron_left</mat-icon></button>
        <span>Software Repository: {{softwareRepositoryName}}</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-drawer-container class="drawer-container" (backdropClick)='sidenav.close()'>
      <mat-drawer #appsidenav mode="over" position="end" disableClose>

        <div *ngIf="isProductSelected()" class='drawer-wrapper'>
          <mat-toolbar class="mat-elevation-z1 fixed-toolbar">Product Versions for&nbsp;<strong>{{selectedProductLatestVersion?.name}}</strong></mat-toolbar>
          <app-product-list class='drawer-content'
            [products]='selectedProductVersions'
            [instanceGroup]='softwareRepositoryName'
            (deleted)='versionDeleted()'
          ></app-product-list>
        </div>

        <div *ngIf="isExternalPackageSelected()" class='drawer-wrapper'>
          <mat-toolbar class="mat-elevation-z1 fixed-toolbar">
            Versions for&nbsp;<strong>{{selection}}</strong>
          </mat-toolbar>
          <mat-toolbar class='default-toolbar'>
            <span class="fill-space"></span>
            <ng-container *ngIf="!loading">
              <span class="toolbar-text">Platform:</span>
              <div class="toolbar-icons">
                <ng-container *ngFor="let os of getAllOs()">
                  <button mat-icon-button (click)='switchOs(os)' matTooltip="{{os}}">
                    <mat-icon [ngClass]="['toolbar-icon', os === activeOs ? 'toolbar-icon-active' : 'none']" [svgIcon]='os'></mat-icon>
                  </button>
                </ng-container>
              </div>
            </ng-container>
        </mat-toolbar>


          <app-software-list class='drawer-content'
            [softwareRepositoryName]='softwareRepositoryName'
            [softwarePackageGroup]='getSelectedExternalPackageGroup()'
            [activeOs]='activeOs'
            (deleted)='versionDeleted()'
          ></app-software-list>
        </div>
      </mat-drawer>

      <mat-drawer-content>
        <div *ngIf="loading" class="loading-container">
          <mat-spinner [diameter]="48"></mat-spinner>
        </div>

        <div *ngIf="!loading && products.size > 0">
          <p class="list-heading">PRODUCTS:</p>
          <div class="software-repo-package-wrapper">
            <app-product-card *ngFor="let p of productsKeys"
              [instanceGroup]='softwareRepositoryName'
              [product]="p"
              [productVersions]='products.get(p)'
              (select)='select(p)'
            ></app-product-card>
          </div>
        </div>

        <div *ngIf="!loading && externalPackageGroups.size > 0">
          <p class="list-heading">EXTERNAL SOFTWARE:</p>
          <div class="software-repo-package-wrapper">
            <app-software-card *ngFor="let g of externalPackageValues"
              [softwareRepositoryName]="softwareRepositoryName"
              [softwarePackageGroup]="g"
              (select)="select(g.name)"
            ></app-software-card>
          </div>
        </div>

        <p *ngIf="products.size === 0 && externalPackageGroups.size > 0" class="list-heading">NO PRODUCTS</p>
        <p *ngIf="products.size > 0 && externalPackageGroups.size === 0" class="list-heading">NO EXTERNAL SOFTWARE</p>
        <div *ngIf="products.size === 0 && externalPackageGroups.size === 0" class="list-heading center">
          <p>
            <span class="material-icons headerIcon">cloud_upload</span>
            <span class="headerText">No software packages.</span>
          <p>
        </div>

        <button mat-fab class="add-button" (click)="openUploadDialog()" [disabled]="isReadOnly()" matTooltip="Upload Software Packages" matTooltipShowDelay="1000"><mat-icon>cloud_upload</mat-icon></button>
      </mat-drawer-content>
    </mat-drawer-container>

  </div>
