html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-family: sans-serif;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex: 1 0 auto;

  position: relative;
  top: -20px;
}

code {
  background-color: whitesmoke;
  border-radius: 2px;
  padding: 1px 3px;
}

.logo {
  width: 250px;
  margin-bottom: 10px;
}
