@import '~@angular/material/theming';

@mixin process-configuration-theme($theme) {
  $dark: map-get($theme, is-dark);
  $warn: map-get($theme, 'warn');

  .drawer-content {
    background-color: if($dark, #363537, #ffffff);
  }

  .application-caption {
    background-color: if($dark, #5a5a5a, #eeeeee);
  }

  .app-process-out-of-sync-text {
    color: #fff;
    background-color: mat-color($warn);
  }
}
