.root-container {
  display: flex;
  flex-direction: column;

  margin: 15px;

  flex: 1 0 auto;
}

.charts-area {
  flex: 1 0 auto;

  display: flex;
  flex-direction: row;
}

.chart-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

.flex-chart-2 {
  flex: 50%;
  min-height: 250px;
  position: relative;
}

.details-group {
  display: flex;
  flex-direction: column;

  flex: 50%;
}

.details-element-group {
  display: flex;
  flex-direction: column;

  margin-left: 5px;
}

mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.count-chart {
  flex: 50%;
  margin-right: 20px;
}

.timer-chart {
  margin-top: 15px;
  margin-bottom: 15px;
}

.metrics-tabs-group {
  margin-bottom: 80px;
}
