<app-bd-dialog [loadingWhen$]="repository.loading$">
  <app-bd-dialog-toolbar
    header="Software Packages of {{ (repositories.current$ | async)?.name }}"
  >
    <div class="flex-auto"></div>
    <app-bd-data-grouping
      [multiple]="!isCardView"
      (groupingChange)="dataTable.grouping = $event"
      [definitions]="grouping"
      [defaultGrouping]="defaultGrouping"
      [records]="repository.data$ | async"
      [presetKey]="presetKeyValue"
    ></app-bd-data-grouping>
    <app-bd-button
      [isToggle]="true"
      icon="grid_view"
      text="Toggle Card Mode"
      [(toggle)]="isCardView"
      tooltip="below"
    ></app-bd-button>

    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-panel-button
      icon="settings"
      text="Repository Settings"
      [route]="['panels', 'repositories', 'settings']"
      tooltip="below"
      [disabled]="(auth.isCurrentScopeWrite$ | async) === false"
    ></app-bd-panel-button>

    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-panel-button
      icon="cloud_upload"
      text="Upload Software"
      [route]="['panels', 'repositories', 'upload']"
      [disabled]="(auth.isCurrentScopeWrite$ | async) === false"
      tooltip="below"
    ></app-bd-panel-button>
  </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <app-bd-data-display
      #dataTable
      [columns]="repositoryColumns.defaultRepositoryColumns"
      [records]="repository.data$ | async"
      [recordRoute]="getRecordRoute"
      [searchable]="true"
      [presetKey]="presetKeyValue"
      [grid]="isCardView"
    >
      <app-bd-no-data>
        <p>No products or external software packages have been uploaded yet.</p>
      </app-bd-no-data>
    </app-bd-data-display>
  </app-bd-dialog-content>
</app-bd-dialog>
