<app-bd-dialog [loadingWhen$]="repository.loading$">
  <app-bd-dialog-toolbar header="Software Packages and Products">
    <div class="flex-auto"></div>
    <app-bd-data-grouping
      [multiple]="!isCardView"
      (groupingChange)="dataTable.grouping = $event"
      [definitions]="grouping"
      [defaultGrouping]="defaultGrouping"
      [records]="repository.data$ | async"
      [presetKey]="presetKeyValue"
    ></app-bd-data-grouping>
    <app-bd-button
      [isToggle]="true"
      icon="grid_view"
      text="Toggle Card Mode"
      [(toggle)]="isCardView"
      tooltipPosition="below"
    ></app-bd-button>
    <app-bd-panel-button
      #bulkMode
      icon="library_add_check"
      text="Bulk Manipulation"
      [route]="['panels', 'repositories', 'bulk-manip']"
      tooltipPosition="below"
      [disabled]="!(auth.isCurrentScopeAdmin$ | async)"
    ></app-bd-panel-button>

    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-panel-button
      icon="settings"
      text="Repository Settings"
      [route]="['panels', 'repositories', 'settings']"
      tooltipPosition="below"
      [disabled]="(auth.isCurrentScopeWrite$ | async) === false"
    ></app-bd-panel-button>

    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-panel-button
      icon="cloud_upload"
      text="Upload Software"
      [route]="['panels', 'repositories', 'upload']"
      [disabled]="(auth.isCurrentScopeWrite$ | async) === false"
      tooltipPosition="below"
    ></app-bd-panel-button>
  </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <app-bd-data-display
      #dataTable
      [columns]="repositoryColumns.defaultRepositoryColumns"
      [records]="repository.data$ | async"
      [recordRoute]="getRecordRoute"
      [presetKey]="presetKeyValue"
      [grid]="isCardView"
      [checkMode]="bulkMode.toggle && !!bulkMode.rla?.isActive"
      [checked]="bulk.selection$ | async"
      (checkedChange)="bulk.selection$.next($event)"
      [checkedFrozenWhen$]="bulk.frozen$"
      [checkChangeForbidden]="checkChangeForbidden"
    >
      <app-bd-no-data>
        <p>No products or external software packages have been uploaded yet.</p>
      </app-bd-no-data>
    </app-bd-data-display>
  </app-bd-dialog-content>
</app-bd-dialog>
