<ng-template #addTemplate>
  <div>
    Provide an ID, a value and an optional description for the new variable.
  </div>
  <form #addForm="ngForm">
    <app-bd-form-input
      [(ngModel)]="newId"
      name="id"
      label="Variable ID"
      required
      appTrimmed
      appEditUniqueValueValidator
      [disallowedValues]="newUsedIds"
      errorDisplay="immediate"
    ></app-bd-form-input>
    <app-bd-value-editor
      [(ngModel)]="newValue.value"
      name="value"
      label="Value"
      [required]="true"
      [type]="newValue.type"
      [instance]="instance"
      [system]="system"
      [applications]="apps"
      [completionPrefixes]="completionPrefixes"
      [completions]="completions"
      [customEditor]="newValue.customEditor"
      [product]="instance?.config?.product"
      [group]="(groups.current$ | async)?.name"
    ></app-bd-value-editor>
    <app-bd-form-input
      [(ngModel)]="newValue.description"
      name="description"
      label="Description"
    ></app-bd-form-input>
    <mat-divider></mat-divider>
    <app-bd-form-select
      [(ngModel)]="newValue.type"
      [values]="typeValues"
      name="type"
      label="Value Type"
    ></app-bd-form-select>
    <app-bd-form-select
      [(ngModel)]="newValue.customEditor"
      [values]="editorValues"
      name="editor"
      label="Custom Editor (Plugin)"
      [allowNone]="true"
    ></app-bd-form-select>
  </form>
</ng-template>

<ng-template #editTemplate>
  <div>Provide a new value or description for <strong>{{newId}}</strong>.</div>
  <form #editForm="ngForm">
    <app-bd-value-editor
      [(ngModel)]="newValue.value"
      name="value"
      label="Value"
      [required]="true"
      [type]="newValue.type"
      [instance]="instance"
      [system]="system"
      [applications]="apps"
      [completionPrefixes]="completionPrefixes"
      [completions]="completions"
      [customEditor]="newValue.customEditor"
      [product]="instance?.config?.product"
      [group]="(groups.current$ | async)?.name"
    ></app-bd-value-editor>
    <app-bd-form-input
      [(ngModel)]="newValue.description"
      name="description"
      label="Description"
    ></app-bd-form-input>
    <mat-divider></mat-divider>
    <app-bd-form-select
      [(ngModel)]="newValue.type"
      [values]="typeValues"
      name="type"
      label="Value Type"
    ></app-bd-form-select>
    <app-bd-form-select
      [(ngModel)]="newValue.customEditor"
      [values]="editorValues"
      name="editor"
      label="Custom Editor (Plugin)"
      [allowNone]="true"
    ></app-bd-form-select>
  </form>
</ng-template>

<app-bd-dialog>
  <app-bd-dialog-toolbar
    [panel]="true"
    header="Instance Variables"
    [route]="['..']"
  >
    <div fxFlex="1 0 auto"></div>
    <app-bd-button
      *ngIf="!(edit.globalsMigrated$ | async)"
      text="Migrate Globals"
      icon="publish"
      [collapsed]="false"
      color="primary"
      (click)="edit.migrateGlobals(edit.state$.value.config)"
    ></app-bd-button>
    <app-bd-button
      text="Add"
      icon="add"
      (click)="onAdd(addTemplate)"
    ></app-bd-button>
    <app-bd-button
      text="Apply"
      icon="check"
      color="primary"
      [collapsed]="false"
      [disabled]="!isDirty()"
      (click)="onSave()"
    ></app-bd-button>
    <mat-divider [vertical]="true"></mat-divider>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxLayout="column" fxFlex="1 0 auto" fxLayoutGap="10px">
        <app-bd-data-table
          [records]="records"
          [columns]="columns"
        ></app-bd-data-table>
      </div>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
