<app-bd-dialog>
  <app-bd-dialog-toolbar [panel]="true" header="Instance Variables" [route]="['..']">
    <div class="flex-auto"></div>
    <app-bd-button
      text="Apply"
      icon="check"
      color="primary"
      [collapsed]="false"
      [disabled]="!isDirty()"
      (click)="onSave()"
    ></app-bd-button>
    <mat-divider [vertical]="true"></mat-divider>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <app-bd-variable-groups
      [groups]="groups$ | async"
      [completionPrefixes]="completionPrefixes"
      [completions]="completions"
      [instance]="instance"
      [system]="system$ | async"
      [apps]="apps"
      [editorValues]="editorValues"
      [dialog]="dialog"
      [overwriteIds]="overwriteIds"
      [variableList]="(edit.state$ | async)?.config?.config?.instanceVariables"
      (variableListChanged)="onVariableListChange($event)"
    ></app-bd-variable-groups>
  </app-bd-dialog-content>
</app-bd-dialog>
