<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{dd-HH:mm:ss.SSS} | %-5level | %-25.25t | %logger{1.}: %-80msg - (%F:%L)%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
		<!-- JerseyServer's log level also controls Grizzly and Jersey log levels! -->
		<Logger name="io.bdeploy.jersey.JerseyServer" level="info"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<!-- Always set Grizzly and Jersey levels to maximum, use JerseyServer 
			above to control actual level -->
		<Logger name="org.glassfish" level="trace" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<!-- UI Interface -->
		<Logger name="io.bdeploy.ui" level="info"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<!-- Poor man's profiling by observing activities in the logs -->
		<Logger
			name="io.bdeploy.jersey.JerseySseActivityReporter$SseActivity"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>