.local-button-color-inherit {
  color: inherit !important;
}

.local-button-no-color:hover:enabled {
  background-color: var(--bd-bg-hover) !important;
}

.local-button-color-toolbar {
  background-color: var(--bd-main-bar) !important;
  color: var(--bd-main-bar-contrast) !important;
}

.local-button-color-warn {
  color: var(--bd-warn-contrast) !important;
  background-color: var(--bd-warn) !important;
}

.local-button-color-accent {
  color: var(--bd-accent-contrast) !important;
  background-color: var(--bd-accent) !important;
}

.local-button-color-primary {
  color: var(--bd-primary-contrast) !important;
  background-color: var(--bd-primary) !important;
}

.local-button-collapsed {
  cursor: auto;
  padding: 0 6px;
  min-height: 36px;
  min-width: 36px;

  place-content: flex-start;
}

.local-button-expanded .local-icon-position {
  padding-right: 5px;
  margin-left: -4px;
}

.local-button-expanded.local-button-has-icon {
  place-content: flex-start;
}

.local-button-expanded {
  cursor: auto;
  padding: 0 10px;
}

.local-wrapper-collapsed {
  max-width: 24px;
  align-items: center;
  justify-content: center;
}

.local-wrapper-expanded {
  align-items: center;
}

.local-spinner {
  position: relative;
  left: -4px;
}
