.local-button-color-inherit {
  color: inherit !important;
}

.local-button-color-toolbar {
  background-color: var(--bd-main-bar);
  color: var(--bd-main-bar-contrast);
}

.local-button-color-warn {
  color: var(--bd-warn-contrast);
  background-color: var(--bd-warn);
}

.local-button-color-accent {
  color: var(--bd-accent-contrast);
  background-color: var(--bd-accent);
}

.local-button-color-primary {
  color: var(--bd-primary-contrast);
  background-color: var(--bd-primary);
}

.local-icon-position {
  position: absolute;
  top: 6px;
  left: 6px;
}

.local-label-position {
  padding-left: 30px;
}

.local-button-collapsed {
  cursor: auto;
  padding: 0 6px;
  min-height: 36px;
  min-width: 36px;
}

.local-button-expanded {
  cursor: auto;
  padding: 0 6px;
}

.local-wrapper-collapsed {
  max-width: 24px;
  align-items: center;
  justify-content: center;
}

.local-wrapper-expanded {
  align-items: center;
}
