<button
  [style.cursor]="'pointer'"
  mat-raised-button
  [attr.data-cy]="text"
  class="flex-auto shrink-0"
  [ngClass]="disabled ? 'bd-button-disabled' : isToggle && toggle ? 'bd-toggle-highlight' : color ? 'local-button-color-' + color : 'local-button-no-color'"
  [class.local-button-expanded]="!collapsed"
  [class.local-button-collapsed]="collapsed"
  [class.local-button-has-icon]="icon || svgIcon"
  [matTooltip]="tooltip ? text : ''"
  [matTooltipPosition]="tooltip"
  [disabled]="disabled"
  [type]="isSubmit ? 'submit' : 'button'"
  [attr.aria-label]="text"
>
  <div
    fxLayout="row"
    [class.local-wrapper-expanded]="!collapsed"
    [class.local-wrapper-collapsed]="collapsed"
  >
    <mat-icon
      *ngIf="icon && !svgIcon && !(loadingWhen$ | async)"
      class="local-icon-position"
      [matBadge]="badge"
      [matBadgeHidden]="!badge"
      matBadgeSize="small"
      [matBadgeColor]="badgeColor"
      >{{ icon }}</mat-icon
    >
    <mat-icon
      *ngIf="svgIcon && !(loadingWhen$ | async)"
      class="local-icon-position"
      [svgIcon]="svgIcon"
      [matBadge]="badge"
      [matBadgeHidden]="!badge"
      matBadgeSize="small"
      [matBadgeColor]="badgeColor"
    ></mat-icon>
    <mat-spinner
      *ngIf="loadingWhen$ | async"
      [diameter]="24"
      class="bd-inherited-spinner"
      [class.local-spinner]="!collapsed"
    ></mat-spinner>
    <span
      *ngIf="text && !collapsed"
      [ngClass]="(!!icon || !!svgIcon) && !(loadingWhen$ | async) ? 'local-label-position' : []"
      [class.flex-auto]="!icon && !svgIcon"
      [class.flex-none]="icon || svgIcon"
      >{{ text }}</span
    >
    <ng-content></ng-content>
  </div>
</button>
