<app-bd-dialog [loadingWhen$]="saving$">
  <app-bd-dialog-toolbar header="Add System" [panel]="true"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <form #form="ngForm" (ngSubmit)="onSave()">
      <div class="flex flex-col gap-2.5">
        <div>Creating system: <strong>{{ system.id }}</strong></div>
        <app-bd-form-input label="System Name" name="name" [(ngModel)]="system.name" required></app-bd-form-input>
        <app-bd-form-input label="Description" name="description" [(ngModel)]="system.description"></app-bd-form-input>
        <app-bd-form-select
          *ngIf="isCentral"
          label="Managed Server"
          name="server"
          [(ngModel)]="server"
          [values]="serverList"
          [labels]="serverNames"
          required
          appVariableServerValidator
        ></app-bd-form-select>

        <app-bd-button
          color="primary"
          [collapsed]="false"
          text="Save"
          icon="save"
          [disabled]="form.invalid"
        ></app-bd-button>
      </div>
    </form>
  </app-bd-dialog-content>
</app-bd-dialog>
