<app-bd-dialog [loadingWhen$]="settings.loading$">
  <app-bd-dialog-toolbar header="Settings">
    <div class="flex-auto"></div>
    @if (mailSendingTab.isActive) {
      <app-bd-panel-button
        [collapsed]="false"
        color="primary"
        text="Edit"
        icon="edit"
        [route]="['panels', 'admin', 'mail-sending']"
      ></app-bd-panel-button>
      <mat-divider [vertical]="true"></mat-divider>
    }
    @if (mailReceivingTab.isActive) {
      <app-bd-panel-button
        [collapsed]="false"
        color="primary"
        text="Edit"
        icon="edit"
        [route]="['panels', 'admin', 'mail-receiving']"
      ></app-bd-panel-button>
      <mat-divider [vertical]="true"></mat-divider>
    }
    @if (ldapTab.isActive) {
      <app-bd-panel-button
        [collapsed]="false"
        color="primary"
        text="New Server..."
        icon="add"
        [route]="['panels', 'admin', 'add-ldap-server']"
      ></app-bd-panel-button>
    }
    @if (generalTab.isActive || ldapTab.isActive || oidcTab.isActive) {
      <app-bd-panel-button
        [collapsed]="false"
        color="primary"
        text="Test Authentication..."
        [route]="['panels', 'admin', 'auth-test']"
      ></app-bd-panel-button>
      <mat-divider [vertical]="true"></mat-divider>
    }
    @if (attributeTab.isActive) {
      <app-bd-panel-button
        icon="add"
        [collapsed]="false"
        color="primary"
        text="New Attribute..."
        [route]="['panels', 'admin', 'global-attribute-add']"
      ></app-bd-panel-button>
      <mat-divider [vertical]="true"></mat-divider>
    }
    @if (pluginTab.isActive) {
      <app-bd-panel-button
        [collapsed]="false"
        color="primary"
        text="Upload Plugin..."
        icon="cloud_upload"
        [route]="['panels', 'admin', 'add-plugin']"
      ></app-bd-panel-button>
      <mat-divider [vertical]="true"></mat-divider>
    }
    <app-bd-button
      text="Discard"
      [collapsed]="false"
      [disabled]="!settings.isDirty()"
      (click)="settings.discard()"
    ></app-bd-button>
    <app-bd-button
      text="Save"
      [collapsed]="false"
      color="primary"
      icon="save"
      [disabled]="!settings.isDirty()"
      (click)="doSave().subscribe()"
    ></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div class="flex flex-col justify-start items-center">
      <mat-tab-group
        class="w-11/12 mt-5"
        dynamicHeight
        animationDuration="0ms"
        (selectedTabChange)="tabChanged($event)"
        [(selectedIndex)]="tabIndex"
        >
        <mat-tab #generalTab class="flex flex-col">
          <ng-template mat-tab-label
            ><div class="flex justify-start items-center gap-1"><mat-icon>settings</mat-icon>General</div></ng-template
            >
            <app-general-tab></app-general-tab>
          </mat-tab>
          <mat-tab #mailSendingTab class="flex flex-col">
            <ng-template mat-tab-label
              ><div class="flex justify-start items-center gap-1"><mat-icon>mail</mat-icon>Mail Sending</div></ng-template
              >
              <app-mail-sending-tab></app-mail-sending-tab>
            </mat-tab>
            <mat-tab #mailReceivingTab class="flex flex-col">
              <ng-template mat-tab-label
                ><div class="flex justify-start items-center gap-1">
                <mat-icon>mail</mat-icon>Mail Receiving
              </div></ng-template
              >
              <app-mail-receiving-tab></app-mail-receiving-tab>
            </mat-tab>
            <mat-tab #oidcTab class="flex flex-col">
              <ng-template mat-tab-label
                ><div class="flex justify-start items-center gap-1">
                <mat-icon>security</mat-icon>OpenID Connect
              </div></ng-template
              >
              <app-oidc-tab #oidc></app-oidc-tab>
            </mat-tab>
            <mat-tab #auth0Tab class="flex flex-col">
              <ng-template mat-tab-label
                ><div class="flex justify-start items-center gap-1">
                <mat-icon svgIcon="auth0"></mat-icon>Auth0
              </div></ng-template
              >
              <app-auth0-tab #auth0></app-auth0-tab>
            </mat-tab>
            <mat-tab #oktaTab class="flex flex-col">
              <ng-template mat-tab-label
                ><div class="flex justify-start items-center gap-1">
                <mat-icon svgIcon="okta"></mat-icon>Okta
              </div></ng-template
              >
              <app-okta-tab #okta></app-okta-tab>
            </mat-tab>
            <mat-tab #ldapTab class="flex flex-col">
              <ng-template mat-tab-label
                ><div class="flex justify-start items-center gap-1">
                <mat-icon>security</mat-icon>LDAP Auth.
              </div></ng-template
              >
              <app-ldap-tab #ldap></app-ldap-tab>
            </mat-tab>
            <mat-tab #attributeTab class="flex flex-col">
              <ng-template mat-tab-label
                ><div class="flex justify-start items-center gap-1">
                <mat-icon>more</mat-icon>Global Attributes
              </div></ng-template
              >
              <app-attributes-tab #attributes></app-attributes-tab>
            </mat-tab>
            <mat-tab #pluginTab class="flex flex-col">
              <ng-template mat-tab-label
                ><div class="flex justify-start items-center gap-1"><mat-icon>extension</mat-icon>Plugins</div></ng-template
                >
                <ng-template matTabContent>
                  <app-plugins-tab></app-plugins-tab>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </app-bd-dialog-content>
      </app-bd-dialog>
