<app-bd-dialog [loadingWhen$]="settings.loading$">
  <app-bd-dialog-toolbar header="Settings">
    <div fxFlex="1 0 auto"></div>
    <ng-container *ngIf="ldapTab.isActive">
      <app-bd-panel-button
        [collapsed]="false"
        color="primary"
        text="New Server..."
        icon="add"
        [route]="['panels', 'admin', 'add-ldap-server']"
      ></app-bd-panel-button>
    </ng-container>
    <ng-container
      *ngIf="generalTab.isActive || ldapTab.isActive || oidcTab.isActive"
    >
      <app-bd-panel-button
        [collapsed]="false"
        color="primary"
        text="Test Authentication..."
        [route]="['panels', 'admin', 'auth-test']"
      ></app-bd-panel-button>
      <mat-divider [vertical]="true"></mat-divider>
    </ng-container>
    <ng-container *ngIf="attributeTab.isActive">
      <app-bd-panel-button
        icon="add"
        [collapsed]="false"
        color="primary"
        text="New Attribute..."
        [route]="['panels', 'admin', 'global-attribute-add']"
      ></app-bd-panel-button>
      <mat-divider [vertical]="true"></mat-divider>
    </ng-container>
    <ng-container *ngIf="pluginTab.isActive">
      <app-bd-panel-button
        [collapsed]="false"
        color="primary"
        text="Upload Plugin..."
        icon="cloud_upload"
        [route]="['panels', 'admin', 'add-plugin']"
      ></app-bd-panel-button>
      <mat-divider [vertical]="true"></mat-divider>
    </ng-container>
    <app-bd-button
      text="Discard"
      [collapsed]="false"
      [disabled]="!settings.isDirty()"
      (click)="settings.discard()"
    ></app-bd-button>
    <app-bd-button
      text="Save"
      [collapsed]="false"
      color="primary"
      icon="save"
      [disabled]="!settings.isDirty()"
      (click)="doSave().subscribe()"
    ></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutAlign="start center">
      <mat-tab-group
        class="tab-container"
        mat-align-tabs="start"
        dynamicHeight
        animationDuration="0ms"
        (selectedTabChange)="tabChanged($event)"
        [(selectedIndex)]="tabIndex"
      >
        <mat-tab #generalTab fxLayout="column">
          <ng-template mat-tab-label
            ><mat-icon [style.margin-right.px]="5">settings</mat-icon
            >General</ng-template
          >
          <app-general-tab></app-general-tab>
        </mat-tab>
        <mat-tab #oidcTab fxLayout="column">
          <ng-template mat-tab-label
            ><mat-icon [style.margin-right.px]="5">security</mat-icon>OpenID
            Connect</ng-template
          >
          <app-oidc-tab #oidc></app-oidc-tab>
        </mat-tab>
        <mat-tab #ldapTab fxLayout="column">
          <ng-template mat-tab-label
            ><mat-icon [style.margin-right.px]="5">security</mat-icon>LDAP
            Auth.</ng-template
          >
          <app-ldap-tab #ldap></app-ldap-tab>
        </mat-tab>
        <mat-tab #attributeTab fxLayout="column">
          <ng-template mat-tab-label
            ><mat-icon [style.margin-right.px]="5">more</mat-icon>Global
            Attributes</ng-template
          >
          <app-attributes-tab #attributes></app-attributes-tab>
        </mat-tab>
        <mat-tab #pluginTab fxLayout="column">
          <ng-template mat-tab-label
            ><mat-icon [style.margin-right.px]="5">extension</mat-icon
            >Plugins</ng-template
          >
          <ng-template matTabContent>
            <app-plugins-tab></app-plugins-tab>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
