<!-- only provides the content of the mat-menu which must be the host -->
<ng-template #menu>
  <mat-card
    appearance="outlined"
    #itemContainer
    fxLayout="column"
    [style.width.px]="attachTo.offsetWidth"
    [style.padding.px]="5"
    class="mat-typography local-card"
  >
    <div
      *ngFor="let match of matches; let i = index"
      id="completionItem{{i}}"
      [class.local-selected]="i === selected"
      class="local-item"
      (mouseenter)="setSelected(i)"
      (mousedown)="onClickSelect(select())"
    >
      <div fxLayout="row" fxLayoutGap="5px">
        <div [style.width.px]="18" [style.height.px]="18">
          <mat-icon *ngIf="match.icon" class="local-icon"
            >{{match.icon}}</mat-icon
          >
        </div>
        <div>{{match.value}}</div>
        <div
          class="bd-description-text bd-text-ellipsis local-description grow basis-0"
        >
          {{match.description}}
        </div>
      </div>
    </div>
    <div class="bd-hint-text" *ngIf="tooManyMatches">
      Further matches hidden. Filter to find more.
    </div>
  </mat-card>
</ng-template>
