<!-- only provides the content of the mat-menu which must be the host -->
<ng-template #menu>
  <mat-card
    appearance="outlined"
    #itemContainer
    [style.width.px]="attachTo.offsetWidth"
    class="overflow-y-auto flex flex-col p-1"
    data-testid="content-assist-menu"
    >
    @for (match of matches; track match; let i = $index) {
      <div
        id="completionItem{{i}}"
        [class.local-selected]="i === selected"
        class="p-1 cursor-pointer"
        (mouseenter)="setSelected(i)"
        (mousedown)="onClickSelect(select())"
        >
        <div class="flex gap-1">
          <div class="w-[18px] h-[18px]">
            @if (match.icon) {
              <mat-icon class="local-icon">{{match.icon}}</mat-icon>
            }
          </div>
          <div>{{match.value}}</div>
          <div class="bd-description-text truncate text-right grow basis-0">{{match.description}}</div>
        </div>
      </div>
    }
    @if (tooManyMatches) {
      <div class="bd-hint-text">Further matches hidden. Filter to find more.</div>
    }
  </mat-card>
</ng-template>
