:host {
  z-index: 11;

  position: absolute;

  right: 0px;
  height: calc(100% - 114px);

  display: flex;
  flex-direction: column;
}

.local-sizing {
  position: relative;
  overflow: hidden;

  height: calc(100% - 114px);

  flex: 1 0 auto;
  top: -32px;
}
