<div class="flex justify-start items-center gap-1">
  <ng-container [ngSwitch]="status">
    <ng-container *ngSwitchCase="'local'">
      <div class="bd-secondary-text">File not in selected product version.</div>
    </ng-container>
    <ng-container *ngSwitchCase="'unsync'">
      <div>File differs from product.</div>
      <div class="flex-auto"></div>
      <app-bd-button
        *ngIf="!isText"
        text="Update from product template"
        icon="file_upload"
        (click)="doRestoreFromTemplate()"
        class="pr-8"
        tooltip="below"
      ></app-bd-button>
      <app-bd-panel-button
        text="Compare with product template."
        icon="compare"
        *ngIf="isText"
        [route]="['compare', path]"
        [relative]="true"
        class="pr-8"
        tooltip="below"
      ></app-bd-panel-button>
    </ng-container>
    <ng-container *ngSwitchCase="'missing'">
      <div>File only in product templates.</div>
      <div class="flex-auto"></div>
      <app-bd-button
        text="Create from product template"
        icon="add"
        (click)="doAddFromTemplate()"
        class="pr-8"
        tooltip="below"
      ></app-bd-button>
    </ng-container>
  </ng-container>
</div>
