.add-button {
  top: auto !important;
  right: 40px !important;
  bottom: 40px !important;
  left: auto !important;
  position: fixed !important;
}

.center {
  text-align: center;
}

.headerText {
  font-size: 1.5em;
  margin-left: 15px;
  vertical-align: middle;
}

.headerTextSmall {
  font-size: 1.2em;
  margin-left: 15px;
  vertical-align: middle;
}

.headerIcon {
  font-size: 2em;
  vertical-align: middle;
}

.headerButton{
  font-size:1.1em;
}

.headerButton .mat-icon{
  margin:0 5px 3px 0;
}

.repositories-Wrapper{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:10px 10px 10px 55px;
}

.software-repository-card{
  margin: 15px;
}
