<mat-toolbar class="mat-elevation-z1 header-toolbar">
  <span>&nbsp;</span>
  <span class="fill-space"></span>
</mat-toolbar>

<ng-container *ngIf='!loading && softwareRepositoryList.isEmpty()'>
  <div class="center">
      <p>
        <span class="headerText">No software repositories have been created yet. Start by creating a new one.</span>
      </p>
      <p>
        <span class='headerTextSmall'>
          Software repositories provide third-party software during product builds.<br/>
          You don't need a software repository to consume existing products.
        </span>
      </p>
      <p>
        <span class="material-icons headerIcon">add</span>
        <span class="headerText"><a [routerLink]="['/softwarerepo/add']">Create Software Repository</a></span>
      </p>
  </div>
</ng-container>


<mat-grid-list *ngIf='!loading' cols="{{columns}}" rowHeight="200px" gutterSize="10px">
  <mat-grid-tile *ngFor="let repository of softwareRepositoryList.data">
    <app-software-repository-card [repository]="repository" (removeEvent)="onRemoveRepo(repository)"></app-software-repository-card>
  </mat-grid-tile>
</mat-grid-list>

<button mat-fab class="add-button" [disabled]="isReadOnly()" [routerLink]="['/softwarerepo/add']"><mat-icon>add</mat-icon></button>
