<mat-toolbar class="mat-elevation-z1 header-toolbar">
  <span>&nbsp;</span>
  <span class="fill-space"></span>
</mat-toolbar>

<ng-container *ngIf="!loading && softwareRepositoryList.isEmpty()">
  <div class="center">
    <p>
      <span class="headerText">No software repositories have been created yet. Start by creating a new one.</span>
    </p>
    <p>
      <span class="headerTextSmall">
        Software repositories provide third-party software during product builds.<br />
        You don't need a software repository to consume existing products.
      </span>
    </p>
    <p>
      <button class="headerButton" mat-raised-button [routerLink]="['/softwarerepo/add']">
        <mat-icon>add</mat-icon>Create Software Repository
      </button>
    </p>
  </div>
</ng-container>

<div class="repositories-Wrapper">
  <app-software-repository-card
    class="software-repository-card"
    *ngFor="let repository of softwareRepositoryList.data"
    [repository]="repository"
    (removeEvent)="onRemoveRepo(repository)"
  ></app-software-repository-card>
</div>

<button
  mat-fab
  class="add-button"
  [disabled]="isReadOnly()"
  [routerLink]="['/softwarerepo/add']"
  matTooltip="Add Software Repository"
  matTooltipShowDelay="1000"
>
  <mat-icon>add</mat-icon>
</button>
