<ng-container *ngIf="server && !invisible">
  <ng-container>
    <div
      appClickStopPropagation
      class="sync-panel"
      [ngClass]="isSyncAllowed() ? ['sync-panel-active'] : []"
      matRipple
      [matRippleUnbounded]="false"
      [matRippleCentered]="true"
      (click)="doSyncCentral()"
      [matTooltip]="isSyncAllowed()
          ? 'Synchronize with ' + server.description + ' (' + server.hostName + ') to unlock editing.'
          : 'No permission to synchronize with ' + server.description + ' (' + server.hostName + ').'">
      <mat-icon>dns</mat-icon>
      <div><b>{{ server.description }}</b></div>
      <mat-icon [ngClass]="isInSync() || !isSyncAllowed() ? [] : ['sync-button-need-sync']">access_time</mat-icon>
      <div>{{ getDate(server.lastSync) }}<span class='press-to-sync' *ngIf='isSyncAllowed()'>(Press to sync)</span></div>
    </div>
  </ng-container>
</ng-container>
