.sync-panel {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 5px;
  padding-right: 10px;

  cursor: pointer;

  min-width: 410px;
}

.sync-button {
  font-size: 42px;
  width: 42px;
  height: 42px;

  margin-right: 10px;
  margin-left: 10px;
}

.sync-button-disabled {
  color: darkgray !important;
  cursor: default !important;
}
