.sync-panel {
  display: grid;

  grid-template-columns: 24px auto;
  column-gap: 5px;
  row-gap: 5px;

  align-items: center;

  min-width: 250px;

  padding-left: 10px;
  padding-right: 10px;
}

.sync-panel-active {
  cursor: pointer;
}

.press-to-sync {
  padding-left: 5px;
  font-size: x-small;
}
