<app-bd-dialog [loadingWhen$]="loading$">
  <app-bd-dialog-toolbar
    header="Compare/Edit {{ file$ | async }}"
    [panel]="true"
    [route]="['..', '..']"
  >
    <div class="flex-auto"></div>
    <app-bd-button
      text="Apply all changes from the product."
      icon="fast_forward"
      tooltip="below"
      (click)="onApplyChanges()"
    ></app-bd-button>
    <app-bd-button
      text="Apply"
      color="primary"
      icon="done"
      [collapsed]="false"
      [disabled]="!(content !== originalContent)"
      (click)="onSave()"
    ></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div
      *ngIf="!(loading$ | async) && file$ | async as file"
      class="flex flex-col h-full"
    >
      <app-bd-editor-diff
        class="grow basis-0"
        [(modifiedContent)]="content"
        [originalContent]="contentTemplate"
        [path]="file"
      ></app-bd-editor-diff>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
