<mat-toolbar class='mat-elevation-z1'>
  <span class="fill-space"></span>
  <mat-form-field class="search datafile-search-field" [floatLabel]='"never"'>
    <mat-icon matSuffix>search</mat-icon>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search..." />
  </mat-form-field>
</mat-toolbar>

<div class="content" *ngIf='isLoading()'>
  <mat-spinner></mat-spinner>
</div>
<div class="content" *ngIf='!isLoading()'>
  <table mat-table class="users-table" [dataSource]="dataSource" matSort [matSortActive]="INITIAL_SORT_COLUMN" [matSortDirection]="INITIAL_SORT_DIRECTION">

    <ng-container matColumnDef="gravatar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <app-user-avatar [gravatar]='!isLoading() && settings.getSettings().general.enableGravatar' [mail]='element.email'></app-user-avatar>
      </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Account&nbsp;name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Display&nbsp;name</th>
      <td mat-cell *matCellDef="let element" class="col-wide">{{ element.fullName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element" class="col-wide">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="globalPermissions">
        <th mat-header-cell *matHeaderCellDef>Global permissions</th>
        <td mat-cell *matCellDef="let element" class="col-wide">
          <mat-chip-list *ngIf="getGlobalPermission(element) !== null">
            <mat-chip color="primary" [selected]="getGlobalPermission(element) === 'ADMIN'" class="permission">{{ getGlobalPermission(element) }}</mat-chip>
          </mat-chip-list>
        </td>
    </ng-container>

    <ng-container matColumnDef="inactive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Inactive</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.inactive">check_box</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="authenticatedBy">
      <th mat-header-cell *matHeaderCellDef>Authenticated by</th>
      <td mat-cell *matCellDef="let element" class="col-wide">{{ getAuthenticatedBy(element) }}</td>
    </ng-container>

    <ng-container matColumnDef="lastActiveLogin">
      <th mat-header-cell *matHeaderCellDef>Last active login</th>
      <td mat-cell *matCellDef="let element" class="col-wide"><span *ngIf="element.lastActiveLogin">{{ element.lastActiveLogin | date:'dd.MM.yyyy hh:mm.ss'}}</span></td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" align="right">
        <mat-menu #appMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="onEdit(element)" [disabled]="element.external">Edit...</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="onSetPassword(element)" [disabled]="element.external || isCurrentUser(element)">Set Password...</button>
          <button mat-menu-item (click)="onGlobalPermissions(element)" [disabled]="isCurrentUser(element)">Global Permissions...</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="onSetInactive(element, true)" *ngIf="!element.inactive" [disabled]="element.external || isCurrentUser(element)">Set Inactive</button>
          <button mat-menu-item (click)="onSetInactive(element, false)" *ngIf="element.inactive" [disabled]="element.external || isCurrentUser(element)">Set Active</button>
          <button mat-menu-item (click)="onDelete(element)" [disabled]="isCurrentUser(element)">Delete</button>
        </mat-menu>
        <button class="option-button" mat-icon-button [matMenuTriggerFor]="appMenu" appClickStopPropagation>
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns"></tr>

  </table>
  <mat-paginator
    [pageSizeOptions]="[10, 20, 50, 100, 1000]"
    showFirstLastButtons>
  </mat-paginator>
</div>
<button mat-fab class="add-button" *ngIf='!isLoading() && !settings.getSettings().auth.disableBasic' (click)="onAdd()"><mat-icon>add</mat-icon></button>
