.instance-group-card {
  width: 270px;
  height: 150px;
  cursor: pointer;
}

.title {
  max-width: 155px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-menu {
  float: right;
}

.spacer {
  flex: 1 1 auto;
}

.header-image {
  background-size: cover;
  border-radius: 10%;
}

.mat-card-actions {
  text-align: right;
}
