.fill-space {
  flex: 1 1 auto;
}

.box {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

.config-card {
  margin: 20px;
  min-width: 90%;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

.config-card-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.config-title-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.filelist-table {
  width: 100%;
}

.wide-column {
  width: 100%;
}

.icon-column {
  min-width: 40px;
}

.path-field {
  margin-top: 15px !important;
  width: 100%;
}

.content-field {
  width: 100%;
}

.config-card-form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.ace-editor {
  flex: 1 1 auto;
  margin-top: 10px;
  width: 100%;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
}

.add-button {
  top: auto !important;
  right: 40px !important;
  bottom: 40px !important;
  left: auto !important;
  position: fixed !important;
  z-index: 10;
}

.upload-button {
  top: auto !important;
  right: 40px !important;
  bottom: 110px !important;
  left: auto !important;
  position: fixed !important;
  z-index: 10;
}

.mat-column-delete {
  text-align: center;
}

.mat-column-copy {
  text-align: center;
}

.mat-column-edit {
  text-align: center;
}

.edit-card-title {
  margin-top: 8px;
  margin-bottom: 0px !important;
}

.uploadDialogContent {
  display: flex;
  flex-direction: column;
}

.uploadDialogContent > * {
  margin-top: 5px;
}

.upload-card {
  min-width: 400px;
}

.dropZone {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #ccc;
}

.dropZoneIcon {
  margin-right: 10px;
}

.browseButton {
  position: relative;
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

.icon-stack {
  position: relative;
  width: 24px;
  height: 24px;
}

.icon-stack-main {
  position: absolute;
  top: 0;
  left: 0;
}

.icon-stack-overlay {
  position: absolute;
  bottom: -2px;
  right: -3px;

  max-width: 10px;
  max-height: 10px;
}

.margin-top {
  margin-top: 10px;
}

.upload-dropped {
  font-size: 48px;
  width: 48px;
  height: 48px;

  align-self: center;
}
