<app-bd-dialog>
  <app-bd-dialog-toolbar header="Local Changes" [closeablePanel]="true"></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px">
      <div>The following <strong>local, unsaved</strong> can be discarded.</div>
      <app-bd-data-table [records]="records" [columns]="columns" [sortData]="null"></app-bd-data-table>
      <app-bd-button
        [collapsed]="false"
        text="Discard Changes"
        icon="settings_backup_restore"
        (click)="doDiscard()"
        [disabled]="!edit.hasSaveableChanges()"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
