<app-bd-dialog>
  <app-bd-dialog-toolbar header="Local Changes" [panel]="true"></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px">
      <div>The following <strong>local, unsaved</strong> changes have been performed.</div>
      <app-bd-data-table [records]="records" [columns]="columns" [sortData]="null"></app-bd-data-table>
      <app-bd-panel-button
        text="Compare Local with Base"
        icon="compare"
        [collapsed]="false"
        [toggle]="false"
        [disabled]="!(edit.hasSaveableChanges$ | async)"
        [relative]="true"
        [route]="['diff']"
      ></app-bd-panel-button>
      <app-bd-button
        [collapsed]="false"
        text="Discard All Changes"
        icon="settings_backup_restore"
        (click)="doDiscard()"
        [disabled]="!(edit.hasSaveableChanges$ | async)"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
