<app-bd-dialog [loadingWhen$]="loading$">
  <app-bd-dialog-toolbar header="Details" [closeablePanel]="true"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px" *ngIf="serverDetails.server$ | async as server">
      <div><strong>Name:</strong>&nbsp;{{ server.hostName }}</div>
      <div><strong>Description:</strong>&nbsp;{{ server.description }}</div>
      <div><strong>URI:</strong>&nbsp;{{ server.uri }}</div>
      <div><strong>Last Sync.:</strong>&nbsp;{{ formatDate(server.lastSync) }}</div>
      <ng-container *ngIf="server.update.updateAvailable">
        <div fxLayout="row" fxLayoutAlign="start center">
          <strong>Update available:</strong>&nbsp;{{ formatVersion(server.update.updateVersion)
          }}<mat-icon class="bd-text-warn bd-small-icon">system_update</mat-icon>
        </div>
        <div gdGap="10px" gdColumns="24px auto" gdAlignColumns="start center" *ngIf="!servers.isSynchronized(server) && !server.update.forceUpdate">
          <mat-icon class="bd-text-warn">warning</mat-icon>Please synchronize to enable update related actions.
        </div>
        <div gdGap="10px" gdColumns="24px auto" gdAlignColumns="start center" *ngIf="!servers.isSynchronized(server) && server.update.forceUpdate">
          <mat-icon class="bd-text-warn">warning</mat-icon>A major version update must be installed to re-enable synchronizing.
        </div>
        <div class="bd-description-text" [style.text-align]="'justify'">
          An update can be transfered without installing to prepare a future update up front. This option is only available if the update package is not yet
          present on the managed server.
        </div>
        <app-bd-button
          text="Transfer Update Package"
          icon="cloud_upload"
          [collapsed]="false"
          [disabled]="(transfering$ | async) || !server.update.packagesToTransfer?.length || !(servers.isSynchronized(server) || server.update.forceUpdate)"
          [loadingWhen$]="transfering$"
          (click)="doUpdateTransfer(server)"
          [matTooltip]="!server.update.packagesToTransfer?.length ? 'All packages have already been transfered' : null"
          matTooltipPosition="above"
        ></app-bd-button>
        <app-bd-button
          [text]="!server.update.packagesToTransfer?.length ? 'Install Update' : 'Transfer & Install Update'"
          icon="system_update"
          [collapsed]="false"
          color="toolbar"
          [disabled]="(installing$ | async) || !(servers.isSynchronized(server) || server.update.forceUpdate)"
          [loadingWhen$]="installing$"
          (click)="doUpdateInstall(server)"
        ></app-bd-button>
      </ng-container>
      <div><strong>Nodes:</strong></div>
      <app-bd-data-display [records]="getMinionRecords(server)" [columns]="columns">
        <app-bd-no-data>
          <strong>This version is not used in any instance.</strong>
        </app-bd-no-data>
      </app-bd-data-display>
      <app-bd-button
        [collapsed]="false"
        text="Synchronize"
        icon="history"
        (click)="doSynchronize(server)"
        [loadingWhen$]="synchronizing$"
        [disabled]="synchronizing$ | async"
        [matTooltip]="!servers.isSynchronized(server) ? 'The server is not synchronized. Click to synchronize now' : null"
        [ngClass]="!servers.isSynchronized(server) ? 'bd-text-warn' : []"
        color="inherit"
      ></app-bd-button>
      <app-bd-panel-button
        text="Edit Server Details"
        icon="edit"
        [collapsed]="false"
        [toggle]="false"
        [route]="['edit']"
        [relative]="true"
      ></app-bd-panel-button>
      <app-bd-button
        [collapsed]="false"
        text="Delete"
        icon="delete"
        color="toolbar"
        (click)="doDelete(server)"
        [disabled]="!auth.isCurrentScopeAdmin() || (loading$ | async)"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
