<app-bd-dialog>
  <app-bd-dialog-toolbar
    header="Configure Endpoints of {{ (edit.process$ | async)?.name }}{{ hasPendingChanges ? '*' : '' }}"
    [panel]="true"
    [route]="['..']"
  >
    <div fxFlex="1 0 auto"></div>
    <app-bd-button
      text="Apply"
      [collapsed]="false"
      color="primary"
      icon="done"
      (click)="onSave()"
      [disabled]="!hasPendingChanges || isFromInvalid"
    ></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <form form #epForm="ngForm">
      <div
        *ngIf="edit.process$.value?.endpoints?.http?.length"
        [style.padding-top.px]="2"
        fxLayout="column"
        fxLayoutGap="10px"
      >
        <div
          *ngFor="let endpoint of edit.process$.value?.endpoints?.http; let i = index"
          class="bd-rect-card"
          fxLayout="column"
        >
          <div class="bd-bg-toolbar" fxLayout="row">
            <div class="bd-default-padding">
              Endpoint
              <strong
                >{{ endpoint.id }} - {{ endpoint.path }} {{
                endpoint.contextPath.value ? ('(' + endpoint.contextPath.value +
                ')') : '' }}{{ endpoint.contextPath.linkExpression ? ('(' +
                endpoint.contextPath.linkExpression + ')') : '' }}</strong
              >
            </div>
            <div fxFlex="1 0 auto"></div>
            <div class="bd-default-padding bd-description-text">
              {{ endpoint.type }}
            </div>
          </div>
          <div class="bd-default-padding">
            <div>
              <div
                [style.padding-top.px]="20"
                gdColumns.sm="100%"
                [gdColumns.gt-sm]="'calc(50% - 5px) calc(50% - 5px)'"
                gdGap="5px 10px"
              >
                <app-config-desc-element card="cfg.ep.port">
                  <app-bd-value-editor
                    [name]="'epPort' + i"
                    label="Port"
                    [(ngModel)]="endpoint.port"
                    [required]="true"
                    [completionPrefixes]="completionPrefixes"
                    [completions]="completions"
                    [type]="TYPE_PORT"
                    [process]="process"
                    [instance]="instance"
                    [system]="system"
                  ></app-bd-value-editor>
                </app-config-desc-element>

                <ng-template #linkToggleAuthType>
                  <app-bd-expression-toggle
                    [style.opacity]="'0.3'"
                    [link]="false"
                    [disabled]="true"
                  ></app-bd-expression-toggle>
                </ng-template>
                <app-config-desc-element card="cfg.ep.authType">
                  <app-bd-form-select
                    name="epAuthType{{ i }}"
                    label="Authentication"
                    [(ngModel)]="endpoint.authType"
                    [values]="authTypeValues"
                    [labels]="authTypeLabels"
                    [prefix]="linkToggleAuthType"
                  ></app-bd-form-select>
                </app-config-desc-element>

                <app-config-desc-element card="cfg.ep.authUser">
                  <app-bd-value-editor
                    [name]="'epUser' + i"
                    label="User"
                    [(ngModel)]="endpoint.authUser"
                    [required]="true"
                    [completionPrefixes]="completionPrefixes"
                    [completions]="completions"
                    [type]="TYPE_STRING"
                    [process]="process"
                    [instance]="instance"
                    [system]="system"
                    [disabled]="endpoint.authType === 'NONE'"
                    [required]="endpoint.authType !== 'NONE'"
                  ></app-bd-value-editor>
                </app-config-desc-element>

                <app-config-desc-element card="cfg.ep.authPass">
                  <app-bd-value-editor
                    [name]="'epPass' + i"
                    label="Password"
                    [(ngModel)]="endpoint.authPass"
                    [required]="true"
                    [completionPrefixes]="completionPrefixes"
                    [completions]="completions"
                    [type]="TYPE_PASSWORD"
                    [process]="process"
                    [instance]="instance"
                    [system]="system"
                    [disabled]="endpoint.authType === 'NONE'"
                    [required]="endpoint.authType !== 'NONE'"
                  ></app-bd-value-editor>
                </app-config-desc-element>

                <app-config-desc-element card="cfg.ep.secure">
                  <app-bd-value-editor
                    [name]="'epSecure' + i"
                    label="Secure (Use HTTPS)"
                    [(ngModel)]="endpoint.secure"
                    [required]="true"
                    [completionPrefixes]="completionPrefixes"
                    [completions]="completions"
                    [type]="TYPE_BOOLEAN"
                    [process]="process"
                    [instance]="instance"
                    [system]="system"
                  ></app-bd-value-editor>
                </app-config-desc-element>

                <ng-template #linkToggleTrust>
                  <app-bd-expression-toggle
                    [style.opacity]="'0.3'"
                    [link]="false"
                    [disabled]="true"
                  ></app-bd-expression-toggle>
                </ng-template>
                <app-config-desc-element card="cfg.ep.trustAll">
                  <app-bd-form-toggle
                    name="epTrustAll{{ i }}"
                    label="Trust All Certificates"
                    [(ngModel)]="endpoint.trustAll"
                    [prefix]="linkToggleTrust"
                  ></app-bd-form-toggle>
                </app-config-desc-element>

                <app-config-desc-element card="cfg.ep.trustStore">
                  <app-bd-value-editor
                    [name]="'tsPath' + i"
                    label="Trust Store Path"
                    [(ngModel)]="endpoint.trustStore"
                    [required]="true"
                    [completionPrefixes]="completionPrefixes"
                    [completions]="completions"
                    [type]="TYPE_STRING"
                    [process]="process"
                    [instance]="instance"
                    [system]="system"
                    [disabled]="!isSecure(endpoint) || endpoint.trustAll"
                    [required]="isSecure(endpoint) && !endpoint.trustAll"
                  ></app-bd-value-editor>
                </app-config-desc-element>

                <app-config-desc-element card="cfg.ep.trustStorePass">
                  <app-bd-value-editor
                    [name]="'tsPass' + i"
                    label="Trust Store Password"
                    [(ngModel)]="endpoint.trustStorePass"
                    [required]="true"
                    [completionPrefixes]="completionPrefixes"
                    [completions]="completions"
                    [type]="TYPE_PASSWORD"
                    [process]="process"
                    [instance]="instance"
                    [system]="system"
                    [disabled]="!isSecure(endpoint) || endpoint.trustAll"
                    [required]="isSecure(endpoint) && !endpoint.trustAll"
                  ></app-bd-value-editor>
                </app-config-desc-element>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-bd-no-data *ngIf="!edit.process$.value?.endpoints?.http?.length">
        <p>This process has no defined endpoints to configure.</p>
      </app-bd-no-data>
    </form>
  </app-bd-dialog-content>
</app-bd-dialog>
