<div class="local-wrapper flex justify-start items-center">
  <div
    gdColumns="90px 36px auto 36px"
    gdGap="5px"
    gdAlignColumns="start center"
    class="flex-auto"
  >
    <div>{{ probe.type }}</div>
    <mat-icon
      class="material-symbols-filled"
      [matTooltip]="'Status: ' + probe.status"
      [ngClass]="class"
      >{{ icon }}</mat-icon
    >
    <div>{{ probe.time | date: 'HH:mm:ss' }}</div>
    <app-bd-button-popup text="Details" icon="info">
      <mat-card
        appearance="outlined"
        [style.padding.px]="10"
        class="mat-typography flex flex-col gap-1"
      >
        <div class="bd-description-text">
          {{ probe.type }} - Status {{ probe.status }}
        </div>
        <mat-divider [style.position]="'relative'"></mat-divider>
        <div class="bd-description-text">Probe Response:</div>
        <div
          [style.width.px]="(narrow$ | async) ? 400 : 800"
          class="flex h-[400px]"
        >
          <app-bd-editor
            class="w-full h-full"
            [readonly]="true"
            [content]="content$ | async"
          ></app-bd-editor>
        </div>
      </mat-card>
    </app-bd-button-popup>
  </div>
</div>
<mat-divider></mat-divider>
