.local-version-text {
  font-size: 0.7em;
  font-weight: 300;
  color: var(--bd-text-secondary);

  align-self: center;
  padding-right: 10px;
}

.local-issues {
  background-color: var(--bd-warn);
  color: var(--bd-warn-contrast);
}
