<app-bd-dialog>
  <app-bd-dialog-toolbar header="Configuration - {{ headerName$ | async }}">
    <div fxFlex="1 0 auto"></div>
    <div class="local-version-text" *ngIf="edit.current$ | async as inst">
      <ng-container *ngIf="!(narrow$ | async)"
        >Current Version: {{ inst.instance.tag }}, Active: {{ inst.activeVersion?.tag ? inst.activeVersion.tag : 'None' }}</ng-container
      >
    </div>
    <ng-container *ngIf="(edit.current$ | async)?.managedServer?.update?.updateAvailable">
      <app-bd-button
        text="Server Update Available"
        icon="system_update"
        [collapsed]="narrow$ | async"
        color="accent"
        (click)="
          areas.navigateBoth(['/servers', 'browser', areas.groupContext$.value], ['panels', 'servers', 'details', edit.current$.value?.managedServer?.hostName])
        "
      ></app-bd-button>
      <mat-divider *ngIf="cfg.isCentral()" [vertical]="true"></mat-divider>
    </ng-container>
    <ng-container *ngIf="cfg.isCentral()">
      <ng-container *ngIf="edit.current$ | async as instance">
        <app-bd-server-sync-button [server]="instance.managedServer"></app-bd-server-sync-button>
        <mat-divider [vertical]="true"></mat-divider>
      </ng-container>
    </ng-container>
    <app-bd-panel-button
      text="Instance Settings"
      icon="settings"
      [route]="['panels', 'instances', 'settings']"
      [disabled]="!servers.isSynchronized((edit.current$ | async)?.managedServer)"
      tooltip="below"
    ></app-bd-panel-button>
    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-button
      [matTooltip]="!(edit.undo$ | async) ? 'Undo not possible' : 'Undo ' + (edit.undo$ | async)?.description"
      matTooltipPosition="below"
      text="Undo"
      icon="undo"
      [disabled]="!(edit.undo$ | async)"
      (click)="edit.undo()"
    ></app-bd-button>
    <app-bd-button
      [matTooltip]="!(edit.redo$ | async) ? 'Redo not possible' : 'Redo ' + (edit.redo$ | async)?.description"
      matTooltipPosition="below"
      text="Redo"
      icon="redo"
      [disabled]="!(edit.redo$ | async)"
      (click)="edit.redo()"
    ></app-bd-button>
    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-panel-button
      text="Local Changes"
      icon="settings_backup_restore"
      [route]="['panels', 'instances', 'changes']"
      tooltip="below"
      [disabled]="!edit.hasSaveableChanges()"
    ></app-bd-panel-button>
    <app-bd-button
      text="Save Changes"
      icon="save"
      color="primary"
      [disabled]="!servers.isSynchronized((edit.current$ | async)?.managedServer) || !edit.hasSaveableChanges() || (edit.incompatible$ | async)"
      [matTooltip]="(edit.incompatible$ | async) ? 'Saving is not possible due to a conflict on the server' : 'Save all changes'"
      matTooltipPosition="below"
      (click)="edit.save()"
    ></app-bd-button>
  </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px" [style.padding-top.px]="2">
      <div *ngIf="edit.incompatible$ | async" class="bd-rect-card">
        <div fxLayout="column">
          <div class="bd-default-padding bd-warning-text">
            <strong>SAVING NOT POSSIBLE</strong> due to conflicting changes on the server. You must reload the page to resume editing.
          </div>
        </div>
      </div>

      <ng-container *ngIf="edit.current$ | async as instance">
        <ng-container *ngIf="servers.isSynchronized(instance?.managedServer)">
          <app-bd-banner *ngIf="instance.banner && instance.banner.text" [banner]="instance.banner"></app-bd-banner>

          <div *ngIf="isEmptyInstance() && !!(templates$ | async)?.length" class="bd-rect-card">
            <div fxLayout="row" [style.padding.px]="20">
              <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="center center" fxLayoutGap="5px">
                <div>The instance is currently empty. You can use templates to quickly get started. Access the templates here:</div>
                <app-bd-panel-button
                  color="primary"
                  icon="auto_fix_high"
                  text="Apply Instance Template"
                  tooltip="below"
                  [route]="['panels', 'instances', 'settings', 'templates']"
                ></app-bd-panel-button>
              </div>
            </div>
          </div>

          <ng-container *ngFor="let node of serverNodes$ | async; trackBy: doTrack">
            <app-config-node [nodeName]="node.nodeName"></app-config-node>
          </ng-container>

          <app-config-node *ngIf="clientNode$ | async as node" [nodeName]="node.nodeName"></app-config-node>
        </ng-container>
      </ng-container>

      <app-bd-no-data *ngIf="!servers.isSynchronized((edit.current$ | async)?.managedServer)">
        <p [style.text-align]="'center'">
          <strong>{{ (edit.current$ | async)?.instanceConfiguration.name }}</strong> is not synchronized with the controlling server
          <strong>{{ (edit.current$ | async).managedServer.hostName }}</strong>
        </p>
        <p>Synchronize the instance to (re-)enable editing.</p>
        <app-bd-server-sync-button [collapsed]="false" [server]="(edit.current$ | async).managedServer"></app-bd-server-sync-button>
      </app-bd-no-data>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
