<app-bd-dialog [loadingWhen$]="loading$">
  <app-bd-dialog-toolbar
    [header]="'Update ' + nodeName"
    [panel]="true"
    [route]="['..']"
  >
  </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="5px">
      <ng-container *ngIf="isCurrent; else updateOk">
        <app-bd-notification-card
          type="generic"
          [dismissable]="false"
          header="Update Not Required"
          icon="build"
        >
          <div>
            An update is not required, as the current version is already
            installed on the node.
          </div>
        </app-bd-notification-card>
      </ng-container>
      <ng-template #updateOk>
        <span
          >The node <strong>{{nodeName}}</strong> will be updated to the version
          currently running on the master:
          <strong>{{version?.version}}</strong></span
        >
        <strong>
          Be aware that after the update it may take a few seconds until the
          update is recognized by the master server.
        </strong>
      </ng-template>
      <mat-divider></mat-divider>
      <app-bd-button
        text="Perform Update"
        icon="build"
        color="primary"
        [collapsed]="false"
        [disabled]="isCurrent || (updating$ | async)"
        (click)="performUpdate()"
        [loadingWhen$]="updating$"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
