<mat-card [ngClass]="['instance-card', 'instance-card-' + instanceDto.instanceConfiguration.purpose]"
    [routerLink]="['/instance/overview', instanceGroupName, instanceDto.instanceConfiguration.uuid]" attr.data-cy='instance-{{instanceDto.instanceConfiguration.name}}'>
  <mat-card-header>
    <app-instance-group-logo mat-card-avatar [instanceGroupName]='instanceGroupName'></app-instance-group-logo>
    <mat-card-title>{{instanceDto.instanceConfiguration.name}}</mat-card-title>
    <mat-card-subtitle>Instance ({{instanceDto.instanceConfiguration.uuid}})</mat-card-subtitle>
    <span class="fill-space"></span>
    <mat-menu #appMenu="matMenu" xPosition="before">
      <button mat-menu-item [routerLink]="['/instance/edit', instanceGroupName, instanceDto.instanceConfiguration.uuid]">Edit</button>
      <button mat-menu-item (click)="delete()">Delete</button>
    </mat-menu>
    <button class="option-button" mat-icon-button [matMenuTriggerFor]="appMenu" appClickStopPropagation>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>{{instanceDto.instanceConfiguration.description}}</p>

    <p>
        <span *ngIf='instanceDto.productDto'>Product: <b [matTooltip]='instanceDto.productDto.name'>{{instanceDto.productDto.description}}</b></span>
        <span *ngIf='!instanceDto.productDto'>Product: <b>{{instanceDto.instanceConfiguration.product.name}}</b></span>
        Tag: <b>{{instanceDto.instanceConfiguration.product.tag}}</b>
        <span *ngIf='!instanceDto.productDto'>&nbsp;<span class="product-unavailable" matTooltip="Required product version is not available.">N/A</span></span>

        <span *ngIf='instanceDto.activeProduct'>&nbsp; <b>(</b>currently running -- Product Tag: <b>{{instanceDto.activeProduct.tag}}
          <span *ngIf='!instanceDto.activeProductDto'>&nbsp;<span class="product-unavailable" matTooltip="Required product version is not available.">N/A</span></span>)</b></span>
    </p>
  </mat-card-content>
</mat-card>
