.local-chip {
  text-transform: uppercase;
  font-size: smaller;
  border-radius: 3px;
  padding: 0px 5px;
}

.local-CLIENT-chip {
  background-color: #8a007c;
  color: white;
}

.local-READ-chip {
  background-color: #303f9f;
  color: white;
}

.local-WRITE-chip {
  background-color: #2f729e;
  color: white;
}

.local-ADMIN-chip {
  background-color: #c2185b;
  color: white;
}
