.local-banner {
  white-space: normal;
  height: auto;
  padding: 10px;
  max-height: 30vh;
}

.local-banner-text {
  overflow: auto;
}

.local-banner-text > pre {
  margin: 0px;
}

.local-banner-info {
  font-size: small;
  line-height: normal;
}
