<app-bd-dialog>
  <app-bd-dialog-toolbar
    header="Upload Software"
    [panel]="true"
  ></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px">
      <app-bd-file-drop
        (fileAdded)="fileAdded($event)"
        [types]="['.zip', '.jar']"
      ></app-bd-file-drop>
      <app-bd-file-upload
        *ngFor="let file of files; let i = index"
        [file]="file"
        [url]="software.uploadUrl$ | async"
        (dismiss)="onDismiss(i)"
        (success)="software.load()"
      ></app-bd-file-upload>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
