.mat-dialog-content {
  display: flex;
  flex-direction: column;
}

.container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
}

.label {
  grid-column-end: span 2;
  justify-self: center;
  line-height: 32px;
}

.label-selected {
  opacity: 1;
}

.label-unselected {
  opacity: 0.6;
}

.slider {
  grid-column: 2 / span 6;
  margin-left: -8px;
  margin-right: -8px;
}

.grid-content {
  display: grid;
  grid-template-columns: 80px auto;
}
