<div class="progress-element-grid">
  <mat-icon *ngIf="element.children.length > 0">expand_more</mat-icon>
  <mat-icon *ngIf="element.children.length <= 0" svgIcon="progress"></mat-icon>
  <ng-container *ngIf="element.snapshot.max === -1">
    <div class="progress-label">
      {{ element.snapshot.name }}
      <ng-container *ngIf="element.snapshot.current > 0">({{ element.snapshot.current }})</ng-container>
    </div>
    <mat-progress-bar mode="indeterminate" [color]="element.snapshot.cancel ? 'accent' : 'primary'"></mat-progress-bar>
  </ng-container>
  <ng-container *ngIf="element.snapshot.max !== -1">
    <div class="progress-label" *ngIf="element.snapshot.max === 0">
      {{ element.snapshot.name }} ({{ element.snapshot.current }})
    </div>
    <div class="progress-label" *ngIf="element.snapshot.max !== 0">
      {{ element.snapshot.name }} ({{ element.snapshot.current }}/{{ element.snapshot.max }})
    </div>
    <mat-progress-bar
      mode="determinate"
      [color]="element.snapshot.cancel ? 'accent' : 'primary'"
      [value]="getProgressValueFromElement(element.snapshot)"
    ></mat-progress-bar>
  </ng-container>
  <div
    [matTooltip]="
      isCancelAllowed(element.snapshot)
        ? 'Cancel this activity.'
        : 'Cannot cancel activity of user ' + element.snapshot.user
    "
  >
    <button
      mat-icon-button
      (click)="cancel(element.snapshot)"
      [disabled]="element.snapshot.cancel || !isCancelAllowed(element.snapshot)"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>
<div class="progress-children" *ngFor="let child of element.children">
  <app-remote-progress-element [element]="child"></app-remote-progress-element>
</div>
