<ng-template #previewTemplate>
  <div class="flex w-[800px] h-[500px]">
    <app-bd-editor
      class="flex-auto"
      [content]="previewContent$ | async"
      [path]="previewName$ | async"
      [readonly]="true"
    ></app-bd-editor>
  </div>
</ng-template>

<app-bd-dialog [loadingWhen$]="hives.loading$">
  <app-bd-dialog-toolbar
    [header]="'Browse ' + (bhive$ | async)"
    [panel]="true"
    [relative]="true"
    [route]="['..']"
  >
    <div class="flex-auto"></div>
    <app-bd-button
      *ngIf="path$ | async"
      icon="navigate_before"
      text="Back to Parent"
      color="primary"
      (click)="onNavigateUp()"
    ></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <app-bd-data-table
      [records]="entries$ | async"
      [columns]="columns"
      [sort]="sort"
      (recordClick)="onClick($event)"
    ></app-bd-data-table>
  </app-bd-dialog-content>
</app-bd-dialog>
