<div class="bd-default-padding flex flex-col gap-2.5">
  <p>
    Configuring a mail receiver allows the master BDeploy server to automatically sync its settings with other BDeploy
    clients.
  </p>

  <div class="p-3 grid grid-cols-[32px_150px_auto] gap-2.5 items-center pl-4"
       [class.bd-secondary-text]="!settings.settings$.value.mailReceiverSettings.enabled">
    <mat-icon></mat-icon>
    <div>Current state:</div>
    <div> {{settings.settings$.value.mailReceiverSettings.enabled ? 'Enabled' : 'Disabled'}}</div>

    <mat-icon>link</mat-icon>
    <div>URL:</div>
    <div>{{settings.settings$.value.mailReceiverSettings.url}}</div>

    <mat-icon>account_circle</mat-icon>
    <div>Username:</div>
    <div>{{settings.settings$.value.mailReceiverSettings.username}}</div>
  </div>
</div>
