<form #form="ngForm">
  <div class="local-header">
    <div
      fxLayout="row wrap"
      fxLayoutGap="10px grid"
      *ngIf="app && edit.process$ | async as process"
    >
      <app-config-desc-element card="cfg.name" class="local-field">
        <app-bd-form-input
          label="Process Name"
          name="name"
          [(ngModel)]="process.name"
          errorDisplay="immediate"
          required
          appTrimmed
          [appEditProcessNameValidator]="process.uid"
        ></app-bd-form-input>
      </app-config-desc-element>
      <app-config-desc-element card="cfg.control.startType" class="local-field">
        <app-bd-form-select
          label="Start Type"
          name="startType"
          [(ngModel)]="process.processControl.startType"
          [values]="startTypes"
          [labels]="startTypeLabels"
          errorDisplay="immediate"
        ></app-bd-form-select>
      </app-config-desc-element>
      <app-config-desc-element card="cfg.control.keepAlive" class="local-field">
        <app-bd-form-toggle
          label="Keep Alive"
          name="keepAlive"
          [(ngModel)]="process.processControl.keepAlive"
          [disabled]="!app.descriptor.processControl.supportsKeepAlive"
        ></app-bd-form-toggle>
      </app-config-desc-element>
      <app-config-desc-element card="cfg.control.noRetries" class="local-field">
        <app-bd-form-input
          label="Number of Retries"
          name="noOfRetries"
          [(ngModel)]="process.processControl.noOfRetries"
          [disabled]="!app.descriptor.processControl.supportsKeepAlive"
          type="number"
          [required]="app.descriptor.processControl.supportsKeepAlive"
          errorDisplay="immediate"
        ></app-bd-form-input>
      </app-config-desc-element>
      <app-config-desc-element
        card="cfg.control.attachStdin"
        class="local-field"
      >
        <app-bd-form-toggle
          label="Attach StdIn"
          name="attachStdIn"
          [(ngModel)]="process.processControl.attachStdin"
          [disabled]="!app.descriptor.processControl.attachStdin"
        ></app-bd-form-toggle>
      </app-config-desc-element>
      <app-config-desc-element
        card="cfg.control.gracePeriod"
        class="local-field"
      >
        <app-bd-form-input
          class="local-field"
          label="Grace Period"
          name="gracePeriod"
          [(ngModel)]="process.processControl.gracePeriod"
          [disabled]="!app.descriptor.processControl.gracePeriod"
          type="number"
          errorDisplay="immediate"
          required
        ></app-bd-form-input>
      </app-config-desc-element>
    </div>
  </div>
</form>
