<app-bd-dialog [loadingWhen$]="products.loading$">
  <app-bd-dialog-toolbar header="Products">
    <div class="flex-auto"></div>
    <app-bd-data-sorting
      [columns]="productColumns.defaultProductsColumns"
      [sort]="sort"
      [disabled]="!isCardView"
      (sortChange)="dataTable.sort = $event"
    ></app-bd-data-sorting>
    <app-bd-data-grouping
      [multiple]="!isCardView"
      (groupingChange)="dataTable.grouping = $event"
      [definitions]="grouping"
      [records]="products.products$ | async"
      [defaultGrouping]="defaultGrouping"
      [presetKey]="presetKeyValue"
    ></app-bd-data-grouping>
    <app-bd-button
      [isToggle]="true"
      icon="grid_view"
      text="Toggle Card Mode"
      [(toggle)]="isCardView"
      tooltip="below"
      [disabled]="bulkMode.toggle && !!bulkMode.rla?.isActive"
    ></app-bd-button>
    <app-bd-panel-button
      #bulkMode
      icon="library_add_check"
      text="Bulk Manipulation"
      [route]="['panels', 'products', 'bulk-manip']"
      tooltip="below"
      [disabled]="(auth.isCurrentScopeWrite$ | async) === false || isCardView"
    ></app-bd-panel-button>
    <mat-divider [vertical]="true"></mat-divider>
    @if (cfg.isCentral$ | async) {
      <app-bd-panel-button
        icon="sync_alt"
        text="Synchronize Product Versions"
        [route]="['panels', 'products', 'sync']"
        [disabled]="(auth.isCurrentScopeWrite$ | async) === false"
        tooltip="below"
      ></app-bd-panel-button>
    }
    <app-bd-panel-button
      icon="drive_file_move"
      text="Import Product..."
      [route]="['panels', 'products', 'transfer']"
      [disabled]="(auth.isCurrentScopeWrite$ | async) === false"
      tooltip="below"
    ></app-bd-panel-button>
    <app-bd-panel-button
      icon="cloud_upload"
      text="Upload Product..."
      [route]="['panels', 'products', 'upload']"
      [disabled]="(auth.isCurrentScopeWrite$ | async) === false"
      tooltip="below"
    ></app-bd-panel-button>
  </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <app-bd-data-display
      #dataTable
      [columns]="productColumns.defaultProductsColumns"
      [records]="products.products$ | async"
      [recordRoute]="getRecordRoute"
      [checkMode]="bulkMode.toggle && !!bulkMode.rla?.isActive"
      [checked]="bulk.selection$ | async"
      (checkedChange)="bulk.selection$.next($event)"
      [presetKey]="presetKeyValue"
      [grid]="isCardView"
      >
      <app-bd-no-data>
        <p>No products have been uploaded yet.</p>
        <p>Start by uploading a new one.</p>
        <app-bd-panel-button
          icon="cloud_upload"
          text="Upload Product..."
          [collapsed]="false"
          [route]="['panels', 'products', 'upload']"
        ></app-bd-panel-button>
      </app-bd-no-data>
    </app-bd-data-display>
  </app-bd-dialog-content>
</app-bd-dialog>
