<section class="mat-typography dialog">
  <form [formGroup]="instanceGroupFormGroup" (ngSubmit)="onSubmit()">
    <mat-toolbar class="mat-elevation-z1 header-toolbar">
      <button mat-icon-button type="button" [disabled]="loading" (click)='location.back()'><mat-icon>chevron_left</mat-icon></button>
      <span *ngIf="isCreate() == false">Instance Group: {{nameParam}}</span>
      <span class="fill-space"></span>
      <button mat-raised-button color="primary" type="submit" [disabled]="loading || !isModified() || !instanceGroupFormGroup.valid">SAVE</button>
    </mat-toolbar>

    <div class="field-container margin-container">
      <mat-grid-list cols="2" rowHeight="5em">
        <mat-grid-tile>
          <mat-form-field>
            <input class="input-field" matInput [readonly]="!isCreate()"
              formControlName="name" placeholder="Instance group name (Cannot be changed after creation!)" />
            <mat-error *ngIf="nameControl.invalid">{{getErrorMessage(nameControl)}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <ng-template #infoPopup>
            <mat-card class="info-card">
              <div class="mat-title">Automatically cleanup unused product versions</div>
              <mat-card-content>
                If this option is enabled, old product versions that are no<br>
                longer in use by instances of this instance group are deleted<br>
                automatically. To avoid that a product vanishes completely,<br>
                the very latest product version always remains.                
              </mat-card-content>
            </mat-card>
          </ng-template>
          <div class="boolean-param-field">
            <mat-slide-toggle class="boolean-param-widget" formControlName="autoDelete"></mat-slide-toggle>
            <label class="boolean-param-label">Automatic Cleanup</label>
          </div>
          <div class="icons">
            <button mat-icon-button type="button" #infoButton (click)="openOverlay(infoButton, infoPopup)">
              <mat-icon class="info-icon">info</mat-icon>
            </button>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2">
          <mat-form-field>
            <input class="input-field" matInput
              formControlName="description" placeholder="Description" />
            <mat-error *ngIf="descriptionControl.invalid">{{getErrorMessage(descriptionControl)}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="logo-box">
        <span class="logo-title">Logo</span>
        <button mat-icon-button class="logo-button" type="button" [disabled]="loading" (click)="fileInput.click()"><mat-icon>folder_open</mat-icon></button>
        <button mat-icon-button class="logo-button" type="button" [disabled]="loading" (click)="deleteLogo()"><mat-icon>delete</mat-icon></button>
        <input type="file" hidden (change)="onLogoChange($event)" #fileInput>
      </div>

      <div class="logo-box logo-preview">
        <div class="logo-img" *ngIf="getLogoUrl() != null">
          <img class="logo" [src]="getLogoUrl()">
        </div>
      </div>
    </div>
  </form>
</section>
