<ng-template #addTemplate>
  <div>Provide an ID, a value and an optional description for the new variable.</div>
  <form #addForm="ngForm">
    <app-bd-form-input
      [(ngModel)]="newValue.id"
      name="id"
      label="Variable ID"
      required
      appTrimmed
      appEditUniqueValueValidator
      [disallowedValues]="newUsedIds"
      errorDisplay="immediate"
      [suggested]="suggestedIds"
    ></app-bd-form-input>
    <app-bd-value-editor
      [(ngModel)]="newValue.value"
      name="value"
      label="Value"
      [required]="true"
      [type]="newValue.type"
      [instance]="instance"
      [system]="system"
      [applications]="apps"
      [completionPrefixes]="completionPrefixes"
      [completions]="completions"
      [customEditor]="newValue.customEditor"
      [product]="instance?.config?.product"
      [group]="(instanceGroups.current$ | async)?.name"
    ></app-bd-value-editor>
    <app-bd-form-input [(ngModel)]="newValue.description" name="description" label="Description"></app-bd-form-input>
    <mat-divider></mat-divider>
    <app-bd-form-select
      [ngModel]="newValue.type"
      [values]="typeValues"
      name="type"
      label="Value Type"
      (ngModelChange)="onTypeChange($event)"
    ></app-bd-form-select>
    @if (editorValues) {
      <app-bd-form-select
        [(ngModel)]="newValue.customEditor"
        [values]="editorValues"
        name="editor"
        label="Custom Editor (Plugin)"
        [allowNone]="true"
      ></app-bd-form-select>
    }
  </form>
</ng-template>

<ng-template #editTemplate>
  <div>Provide a new value and/or description for <strong>{{newValue.id}}</strong>.</div>
  <form #editForm="ngForm">
    <app-bd-value-editor
      [(ngModel)]="newValue.value"
      name="value"
      label="Value"
      [required]="true"
      [type]="newValue.type"
      [instance]="instance"
      [system]="system"
      [applications]="apps"
      [completionPrefixes]="completionPrefixes"
      [completions]="completions"
      [customEditor]="newValue.customEditor"
      [product]="instance?.config?.product"
      [group]="(instanceGroups.current$ | async)?.name"
    ></app-bd-value-editor>
    <app-bd-form-input [(ngModel)]="newValue.description" name="description" label="Description"></app-bd-form-input>
    <mat-divider></mat-divider>
    <app-bd-form-select
      [ngModel]="newValue.type"
      [values]="typeValues"
      name="type"
      label="Value Type"
      (ngModelChange)="onTypeChange($event)"
    ></app-bd-form-select>
    @if (editorValues) {
      <app-bd-form-select
        [(ngModel)]="newValue.customEditor"
        [values]="editorValues"
        name="editor"
        label="Custom Editor (Plugin)"
        [allowNone]="true"
      ></app-bd-form-select>
    }
  </form>
</ng-template>

<div class="flex justify-center">
  <div class="flex-auto flex flex-col gap-2.5">
    <mat-accordion [multi]="true" class="local-headers-align">
      @for (group of groups; track doTrack($index, group)) {
        @if (hasGroupSearchMatch(group)) {
          <mat-expansion-panel #panel>
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="groupForm.invalid ? 'bd-warning-text' : ''">
                {{ group.name }}
              </mat-panel-title>

              <!-- if the panel is expanded and the screen is narrow, the buttons are aligned to the end and texts are hidden -->
              <mat-panel-description [ngClass]="panel.expanded ? 'flex-row-reverse sm:flex-row': ''">
                <span [ngClass]="panel.expanded ? 'hidden sm:block': ''">
                  <span>{{ getValueCount(group) }}/{{ group.pairs.length }} variables shown.</span>
                  @if (groupForm.invalid && !panel.expanded) {
                    <span class="bd-warning-text hidden sm:block text-xs">Validation Failed</span>
                  }
                </span>
                @if (panel.expanded) {
                  <div class="flex gap-1">
                    @if (group.isCustom) {
                      <app-bd-button
                        text="Copy selected variables"
                        tooltipPosition="below"
                        icon="content_copy"
                        (click)="doCopyChecked()"
                        [disabled]="!checked?.length || !isCustomGroupSelected"
                        appClickStopPropagation
                      ></app-bd-button>
                    } @else {
                      <app-bd-button
                        text="Copy all variables"
                        tooltipPosition="below"
                        icon="content_copy"
                        (click)="doCopyAll(group)"
                        appClickStopPropagation
                      ></app-bd-button>
                    }
                    <app-bd-button
                      text="Paste variables"
                      tooltipPosition="below"
                      icon="content_paste_go"
                      [disabled]="!(clipboardVars$ | async).length"
                      [tooltip]="!(clipboardVars$ | async).length ? 'No variables found in the clipboard. Also check clipboard access.' : null"
                      (click)="doPaste(group)"
                      appClickStopPropagation
                    ></app-bd-button>
                    @if (group.isCustom) {
                      <app-bd-button
                        text="Add Custom Variable"
                        tooltipPosition="below"
                        icon="add"
                        (click)="onAddCustomVariable(addTemplate)"
                        appClickStopPropagation
                      ></app-bd-button>
                    }
                    @if (group.isCustom) {
                      <app-bd-button
                        [text]="isCustomGroupSelected ? 'Confirm Selection' : 'Select Variables'"
                        [icon]="isCustomGroupSelected ? 'check' : 'tune'"
                        tooltipPosition="below"
                        [disabled]="!group.pairs.length && !isCustomGroupSelected"
                        [isToggle]="true"
                        [(toggle)]="isCustomGroupSelected"
                        appClickStopPropagation
                      ></app-bd-button>
                    }
                  </div>
                }
              </mat-panel-description>

              </mat-expansion-panel-header>
              <form #groupForm="ngForm" class="flex flex-col">
                @if (group.isCustom && isCustomGroupSelected) {
                  <div
                    class="flex justify-start items-center pt-5 self-center bd-hint-text"
                    >
                    <span class="local-edit-desc">
                      Use the <mat-icon>delete</mat-icon> button to remove variables. When you are done, press the
                      <mat-icon>check</mat-icon> button to confirm.
                    </span>
                  </div>
                }
                <div
                  class="pt-5 grid grid-cols-1 gap-x-2.5 gap-y-1"
                  [ngClass]="getValueCount(group) <= 1 ? [] : ['md:grid-cols-2']"
                  >
                  <!-- Empty group hint -->
                  @if (getValueCount(group) === 0) {
                    <div class="bd-hint-text">
                      No variables are currently configured in this group.
                    </div>
                  }
                  <!-- Single variable -->
                  @for (p of group.pairs; track p) {
                    @if (hasPairSearchMatch(p)) {
                      <div
                        [attr.data-testid]="p.descriptor ? p.descriptor.id : p.value.id"
                        class="flex"
                        >
                        <ng-template #popup>
                          <app-bd-variable-desc-card [descriptor]="p.descriptor" [variable]="p.value"></app-bd-variable-desc-card>
                        </ng-template>
                        <!-- Checkbox for select mode... -->
                        @if (group.isCustom && isCustomGroupSelected) {
                          <div
                            class="local-select-wrapper flex flex-col justify-center items-center"
                            >
                            <mat-checkbox
                              [checked]="isChecked(p)"
                              (change)="toggleCheck(p)"
                              appClickStopPropagation
                              class="truncate local-table-checkbox"
                            ></mat-checkbox>
                            <mat-icon
                              (click)="onRemoveCustomVariable(p, group)"
                              matTooltip="Click to remove this custom variable"
                              [matTooltipShowDelay]="500"
                              matRipple
                              class="local-add-remove cursor-pointer"
                              >delete</mat-icon
                              >
                            </div>
                          }
                          <ng-template #actions>
                            @if (group.isCustom && !isCustomGroupSelected) {
                              <mat-icon
                                class="local-hover-button cursor-pointer"
                                matTooltip="Click to edit the variable"
                                [matTooltipShowDelay]="500"
                                (click)="onEditCustomVariable(p, editTemplate)"
                                appClickStopPropagation
                                >edit</mat-icon
                                >
                              }
                            </ng-template>
                            <!-- editor for the linked value, including custom editor plugins, etc. -->
                            <app-bd-value-editor
                              [label]="!!p.descriptor ? p.descriptor.name : p.value.id"
                              [name]="p.value.id"
                              [ngModel]="p.value?.value"
                              (ngModelChange)="doChangeVariable(p, $event)"
                              [defaultValue]="p.descriptor?.defaultValue"
                              errorDisplay="immediate"
                              [appBdPopup]="popup"
                              appBdPopupTrigger="hover"
                              [appBdPopupDelay]="1000"
                              appBdPopupPosition="above-right"
                              [disabled]="(group.isCustom && isCustomGroupSelected) || p.descriptor?.fixed || isOverwritten(p)"
                              [editorDisabled]="!p.editorEnabled"
                              [suggested]="p.descriptor?.suggestedValues"
                              class="local-form-input flex-auto"
                              [instance]="instance"
                              [system]="system"
                              [applications]="apps"
                              [type]="p.descriptor?.type || p.value.type"
                              [completionPrefixes]="completionPrefixes"
                              [completions]="completions"
                              [customEditor]="p.descriptor?.customEditor"
                              (customEditorLoaded)="doSetCustomEditorState(p, $event)"
                              [product]="instance?.config?.product"
                              [group]="(instanceGroups.current$ | async)?.name"
                              [actions]="actions"
                              [validateRegex]="p.descriptor?.validateRegex"
                              [warningMessage]="isOverwritten(p) ? getOverwrittenWarningMessage(p) : ''"
                              >
                            </app-bd-value-editor>
                          </div>
                        }
                      }
                    </div>
                  </form>
                </mat-expansion-panel>
              }
            }
          </mat-accordion>
        </div>
      </div>
