<app-bd-data-display
  [records]="node.nodeConfiguration.applications"
  [columns]="columns"
  [grid]="gridWhen$ | async"
  [grouping]="groupingWhen$ | async"
  [recordRoute]="getRecordRoute"
  [sortData]="null"
  [presetKey]="presetKeyValue"
  [grid]="isCardView"
  [checkMode]="bulkMode"
  [checked]="(bulk.selection$ | async)[node.nodeName] || []"
  (checkedChange)="bulk.update(node.nodeName, $event)"
>
  <ng-template #dataDisplayExtraCardDetails let-record="record">
    <ng-container *ngFor="let param of getPinnedParameters(record)">
      <mat-icon class="bd-small-icon">push_pin</mat-icon>
      <span class="truncate">{{ param.name }} = {{ param.value }}</span>
    </ng-container>
  </ng-template>
</app-bd-data-display>
