<app-bd-data-display
  [records]="processList()"
  [columns]="columns"
  [grid]="gridWhen$ | async"
  [grouping]="groupingWhen$ | async"
  [recordRoute]="getRecordRoute"
  [sortData]="null"
  [presetKey]="presetKeyValue"
  [grid]="isCardView"
  [checkMode]="bulkMode"
  [checked]="(bulk.selection$ | async)[node.nodeName] || []"
  (checkedChange)="bulk.update(node.nodeName, $event)"
>
  <ng-template #dataDisplayExtraCardDetails let-record="record">
    @for (param of getPinnedParameters(record); track doTrack($index, param)) {
      <mat-icon class="bd-small-icon" matTooltip="Pinned Parameter" [matTooltipShowDelay]="1000">push_pin</mat-icon>
      <span class="truncate">{{ param.name }} = {{ param.value }}</span>
    }
  </ng-template>
</app-bd-data-display>
