<app-bd-dialog [loadingWhen$]="loading$">
  <app-bd-dialog-toolbar header="Add Instance" [panel]="true"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <form class="flex flex-col gap-2.5" #form="ngForm" (ngSubmit)="onSave()">
      <div>Creating instance: <strong>{{ config.id }}</strong></div>
      <div class="bd-warning-text" *ngIf="!prodList?.length">No products are available. Upload a product first.</div>
      <div class="bd-warning-text" *ngIf="isCentral && !serverList?.length">
        No managed server available. Link a managed server first.
      </div>
      <app-bd-form-input label="Name" name="name" [(ngModel)]="config.name" required appTrimmed></app-bd-form-input>
      <app-bd-form-input
        label="Description"
        name="description"
        [(ngModel)]="config.description"
        required
      ></app-bd-form-input>
      <app-bd-form-select
        label="Purpose"
        name="purpose"
        [(ngModel)]="config.purpose"
        [values]="purposes"
        required
      ></app-bd-form-select>
      <app-bd-form-select
        #system
        label="System"
        name="system"
        [(ngModel)]="systemSel"
        [values]="systemKeys"
        [labels]="systemLabels"
        [allowNone]="true"
        (ngModelChange)="onSystemChange(system.value)"
        [appSystemOnServerValidator]="server?.hostName"
      ></app-bd-form-select>
      <app-bd-form-toggle
        label="Automatic Startup"
        name="autoStart"
        [(ngModel)]="config.autoStart"
      ></app-bd-form-toggle>
      <app-bd-form-toggle
        label="Automatic Uninstallation"
        name="autoUninstall"
        [(ngModel)]="config.autoUninstall"
      ></app-bd-form-toggle>
      <app-bd-form-select
        label="Product"
        name="product"
        [(ngModel)]="selectedProduct"
        (ngModelChange)="updateProduct()"
        [values]="prodList"
        [labels]="productNames"
        required
      ></app-bd-form-select>
      <app-bd-form-select
        label="Product Version"
        name="version"
        [(ngModel)]="config.product.tag"
        [disabled]="!selectedProduct"
        [values]="selectedProduct?.versions"
        required
      ></app-bd-form-select>
      <app-bd-form-input
        label="Product Version Regular Expression"
        matTooltip="Only product versions matching this regular expression will be presented when updating the product version"
        matTooltipPosition="above"
        name="productFilterRegex"
        [(ngModel)]="config.productFilterRegex"
      ></app-bd-form-input>
      <app-bd-form-select
        *ngIf="isCentral"
        label="Managed Server"
        name="server"
        [(ngModel)]="server"
        [values]="serverList"
        [labels]="serverNames"
        required
        (ngModelChange)="delayRevalidateSystem(form.controls['system'])"
      ></app-bd-form-select>

      <app-bd-button
        type="submit"
        text="Save"
        [collapsed]="false"
        icon="save"
        color="primary"
        [disabled]="form.invalid"
      ></app-bd-button>
    </form>
  </app-bd-dialog-content>
</app-bd-dialog>
