<app-bd-dialog>
  <app-bd-dialog-toolbar header="Details" [panel]="true" [route]="['..', '..']"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px" *ngIf="singleProduct.product$ | async as prod">
      <app-bd-data-display [records]="prod.instanceTemplates" [columns]="columns">
        <app-bd-no-data>
          <div>This product has no instance templates.</div>
        </app-bd-no-data>
      </app-bd-data-display>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
