:host {
  z-index: 100;
  height: 100%;

  position: absolute;
}

.local-sizing {
  height: 100%;
  padding: 14px;
}

.local-footer {
  font-size: smaller;
}

.local-header {
  color: var(--bd-primary);
  padding-bottom: 3px;
}

.local-server-type-wrapper {
  transform: rotate(-90deg);
}

.local-server-type {
  position: relative;
  left: 20px; /* attention: rotated coordinates! */
  color: var(--bd-text-secondary);
}

.local-activity-popup-sizing {
  max-width: calc(100% - 10px);
  width: 700px;
}

.local-acitvity-indicator {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
}

.local-activity-bg {
  width: 36px;
  height: 36px;
  position: absolute;
  top: -6px;
  left: -6px;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.local-action-hidden {
  /* required for animations to work properly */
  display: none;
}
