:host {
  z-index: 100;
  height: 100%;

  position: absolute;
}

.local-sizing {
  height: 100%;
  padding: 14px;
}

.local-footer {
  font-size: smaller;
}

.local-header {
  color: var(--bd-primary);
  padding-bottom: 3px;
}

.local-server-type-wrapper {
  transform: rotate(-90deg);
}

.local-server-type {
  position: relative;
  left: 20px; /* attention: rotated coordinates! */
  color: var(--bd-text-secondary);
}

.local-action-hidden {
  /* required for animations to work properly */
  display: none;
}
