<ng-template #activitiesPopup>
  <mat-card
    appearance="outlined"
    [style.padding.px]="10"
    [class.local-activity-collapsed]="!expanded"
    [class.local-activity-expanded]="expanded"
    class="mat-typography local-activity-popup-sizing"
    fxLayout="column"
    fxLayoutGap="5px"
  >
    <app-bd-activities></app-bd-activities>
  </mat-card>
</ng-template>

<div
  class="bd-rect-card local-sizing local-nav-bar"
  fxLayout="column"
  fxLayoutGap="5px"
>
  <!-- Logo & Expand Button -->
  <div
    fxLayout="row"
    [style.min-height.px]="100"
    [style.height.px]="100"
    [style.padding-bottom.px]="14"
    fxLayoutAlign="center center"
  >
    <div class="local-hamburger-button">
      <div
        class="hamburger hamburger--arrow"
        [ngClass]="{ 'is-active': expanded }"
        (click)="expanded = !expanded"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </div>
    </div>
    <h2
      *ngIf="expanded"
      class="local-header"
      [@delayedFadeIn]="{ value: 'dummy', params: { delay: '0.15s' } }"
      [@delayedFadeOut]="{ value: 'dummy', params: { delay: '0s' } }"
    >
      BDeploy
    </h2>
  </div>

  <!-- Groups -->
  <app-main-nav-button
    icon="view_carousel"
    text="Instance Groups"
    [collapsed]="!expanded"
    [route]="['/groups/browser']"
  ></app-main-nav-button>

  <app-main-nav-button
    icon="storage"
    *ngIf="!(authService.isGlobalExclusiveReadClient$ | async)"
    text="Software Repositories"
    [collapsed]="!expanded"
    [route]="['/repositories/browser']"
  ></app-main-nav-button>

  <mat-divider class="local-divider"></mat-divider>
  <app-main-nav-button
    [style.padding-top.px]="5"
    *ngIf="!(authService.isCurrentScopedExclusiveReadClient$ | async)"
    [visible]="!!(areas.groupContext$ | async)"
    icon="settings_system_daydream"
    text="Instances"
    [collapsed]="!expanded"
    [route]="['/instances', 'browser', areas.groupContext$.value]"
  ></app-main-nav-button>

  <app-main-nav-button
    *ngIf="!(authService.isCurrentScopedExclusiveReadClient$ | async)"
    [visible]="!!(areas.groupContext$ | async)"
    icon="apps"
    text="Products"
    [collapsed]="!expanded"
    [route]="['/products', 'browser', areas.groupContext$.value]"
  ></app-main-nav-button>

  <app-main-nav-button
    [visible]="!!(areas.groupContext$ | async)"
    icon="computer"
    text="Client Applications"
    [collapsed]="!expanded"
    [route]="['/groups', 'clients', areas.groupContext$.value]"
  ></app-main-nav-button>

  <app-main-nav-button
    *ngIf="(cfgService.isCentral$ | async) && !(authService.isCurrentScopedExclusiveReadClient$ | async)"
    [visible]="!!(areas.groupContext$ | async)"
    icon="dns"
    text="Managed Servers"
    [collapsed]="!expanded"
    [route]="['/servers', 'browser', areas.groupContext$.value]"
    [disabled]="!(authService.isCurrentScopeAdmin$ | async)"
    [matTooltip]="(authService.isCurrentScopeAdmin$ | async) ? null : 'Only administrators can maintain managed server configuration'"
    matTooltipPosition="right"
  ></app-main-nav-button>

  <app-main-nav-button
    *ngIf="!(authService.isCurrentScopedExclusiveReadClient$ | async)"
    [visible]="!!(areas.groupContext$ | async)"
    icon="inventory_2"
    text="Systems"
    [collapsed]="!expanded"
    [route]="['/systems', 'browser', areas.groupContext$.value]"
  ></app-main-nav-button>

  <!-- Instance -->

  <mat-divider
    class="local-divider"
    *ngIf="areas.groupContext$ | async"
    [@delayedFadeIn]="{ value: 'dummy', params: { delay: '0s' } }"
    [@delayedFadeOut]="{ value: 'dummy', params: { delay: '0s' } }"
  ></mat-divider>

  <app-main-nav-button
    [style.padding-top.px]="5"
    [visible]="!!(areas.instanceContext$ | async)"
    icon="dashboard"
    text="Instance Dashboard"
    [collapsed]="!expanded"
    [route]="['/instances', 'dashboard', areas.groupContext$.value, areas.instanceContext$.value]"
  ></app-main-nav-button>

  <app-main-nav-button
    [visible]="!!(areas.instanceContext$ | async)"
    svgIcon="instance-settings"
    text="Instance Configuration"
    [collapsed]="!expanded"
    [route]="['/instances', 'configuration', areas.groupContext$.value, areas.instanceContext$.value]"
    [disabled]="!(authService.isCurrentScopeWrite$ | async)"
    [matTooltip]="(authService.isCurrentScopeWrite$ | async) ? null : 'Insufficient permissions to change configuration'"
    matTooltipPosition="right"
  ></app-main-nav-button>

  <app-main-nav-button
    [visible]="!!(areas.instanceContext$ | async)"
    icon="source"
    text="Data Files"
    [collapsed]="!expanded"
    [route]="['/instances', 'data-files', areas.groupContext$.value, areas.instanceContext$.value]"
  ></app-main-nav-button>

  <app-main-nav-button
    [visible]="!!(areas.instanceContext$ | async)"
    icon="history"
    text="Instance History"
    [collapsed]="!expanded"
    [route]="['/instances', 'history', areas.groupContext$.value, areas.instanceContext$.value]"
  ></app-main-nav-button>

  <!-- Footer -->
  <div fxFlex="1 0 auto"></div>
  <div class="local-server-type-wrapper-expanded" *ngIf="expanded">
    <span
      class="local-server-type"
      [@delayedFadeIn]="{ value: 'dummy', params: { delay: '0.15s' } }"
      >{{ cfgService.config.mode }}</span
    >
  </div>
  <div
    *ngIf="expanded"
    [@delayedFadeIn]="{ value: 'dummy', params: { delay: '0.15s' } }"
    fxLayout="row"
    fxLayoutAlign="start center"
    [appBdPopup]="activitiesPopup"
    appBdPopupPosition="right-above"
    [style.padding-bottom.px]="10"
    [class.bd-disabled-text]="!(activities.activities$ | async)?.length"
    [class.bd-accent-text]="!!(activities.activities$ | async)?.length"
    [style.cursor]="'pointer'"
  >
    <mat-spinner
      class="bd-inherited-spinner"
      [mode]="!!(activities.activities$ | async)?.length ? 'indeterminate' : 'determinate'"
      [value]="!(activities.activities$ | async)?.length ? 100 : 0"
      [diameter]="24"
    ></mat-spinner>
    <div
      *ngIf="!!(activities.activities$ | async)?.length"
      [style.padding-left.px]="10"
      class="bd-text"
    >
      {{ (activities.activities$ | async)?.length }} Activities.
    </div>
    <div
      *ngIf="!(activities.activities$ | async)?.length"
      [style.padding-left.px]="10"
      class="bd-disabled-text"
    >
      No Activities.
    </div>
  </div>

  <div
    *ngIf="!expanded && !!(activities.activities$ | async)?.length"
    [@delayedFadeIn]="{ value: 'dummy', params: { delay: '0.15s' } }"
    fxLayout="row"
    [style.padding-left.px]="6"
    [appBdPopup]="activitiesPopup"
    appBdPopupPosition="right-above"
    class="bd-accent-text"
    [style.cursor]="'pointer'"
  >
    <mat-spinner class="bd-inherited-spinner" [diameter]="24"></mat-spinner>
  </div>

  <div *ngIf="!expanded" class="local-short-version">
    <div
      [style.width.px]="36"
      [@delayedFadeIn]="{ value: 'dummy', params: { delay: '0.15s' } }"
    >
      {{ cfgService.config.version | formatVersionShort }}
    </div>
  </div>
  <div
    fxLayout="column"
    fxLayoutGap="5px"
    *ngIf="expanded"
    class="local-footer"
    [@delayedFadeIn]="{ value: 'dummy', params: { delay: '0.15s' } }"
  >
    <div gdColumns="50px auto" gdGap="5px">
      <span>Version:</span>
      <span>{{ cfgService?.config?.version | formatVersion }}</span>
    </div>
  </div>
  <app-bd-button
    *ngIf="cfgService.isNewGitHubReleaseAvailable$ | async"
    fxFlexAlign="center center"
    icon="system_update"
    text="New Release"
    color="toolbar"
    [collapsed]="!expanded"
    tooltip="right"
    [isToggle]="true"
    [toggleOnClick]="false"
    (click)="goToGitHub()"
  ></app-bd-button>
  <mat-divider class="local-divider"></mat-divider>
  <app-main-nav-button
    [style.padding-top.px]="5"
    icon="settings"
    text="Administration"
    [collapsed]="!expanded"
    [route]="['/admin/']"
    [disabled]="!(authService.isGlobalAdmin$ | async)"
  ></app-main-nav-button>
  <a
    href="/assets/doc/index.html"
    target="_blank"
    class="bd-button-link"
    aria-label="Help"
  >
    <app-bd-button
      fxFlexAlign="center center"
      icon="help_outline"
      text="Help"
      color="toolbar"
      [collapsed]="!expanded"
    ></app-bd-button>
  </a>
</div>
