<app-bd-dialog [loadingWhen$]="clients.loading$">
  <app-bd-dialog-toolbar header="Client Applications">
    <div class="flex-auto"></div>
    <app-bd-data-grouping
      [multiple]="!isCardView"
      (groupingChange)="dataTable.grouping = $event"
      [definitions]="grouping"
      [defaultGrouping]="!isCardView ? defaultGrouping : [defaultGrouping[1]]"
      [records]="filteredApps$ | async"
      [presetKey]="presetKeyValue"
    ></app-bd-data-grouping>
    <app-bd-button
      [isToggle]="true"
      icon="grid_view"
      text="Toggle Card Mode"
      [(toggle)]="isCardView"
      tooltip="below"
    ></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <app-bd-data-display
      #dataTable
      [columns]="columns"
      [records]="filteredApps$ | async"
      [recordRoute]="getRecordRoute"
      [presetKey]="presetKeyValue"
      [grid]="isCardView"
    >
      <app-bd-no-data>
        <p class="text-center">No instance in this instance group has configured client applications.</p>
      </app-bd-no-data>
    </app-bd-data-display>
  </app-bd-dialog-content>
</app-bd-dialog>
