<app-bd-dialog>
  <app-bd-dialog-toolbar header="Data Files Bulk Manipulation" [panel]="true"></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px">
      <div>
        <strong>{{ dataFilesBulkService.selection.length }}</strong> data files selected.
      </div>
      <mat-divider></mat-divider>
      <app-bd-button
        [collapsed]="false"
        [disabled]="!dataFilesBulkService.selection.length || (deleting$ | async)"
        [loadingWhen$]="deleting$"
        text="Delete Selected Data Files"
        icon="delete"
        (click)="onDelete()"
      ></app-bd-button>
      <!-- TODO: Markus to uncomment this when api is ready. -->
      <!-- <app-bd-button
        [collapsed]="false"
        [disabled]="!dataFilesBulkService.selection.length || (deleting$ | async)"
        text="Download Selected Data Files"
        icon="cloud_download"
        (click)="onDownload()"
      ></app-bd-button> -->
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
