@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin instance-template-theme($theme) {
  $dark: map-get($theme, 'is-dark');
  $warn: mat.get-color-from-palette(map-get($theme, 'accent'));
  $error: mat.get-color-from-palette(map-get($theme, 'warn'));
  $message: if($dark, mat.get-color-from-palette(mat.$grey-palette, 600), mat.get-color-from-palette(mat.$grey-palette, 400));

  .template-warning {
    color: $warn;
    margin-right: 5px;
  }

  .template-error {
    color: $error;
    margin-right: 5px;
  }

  .template-message {
    color: $message;
    margin-right: 5px;
  }
}
