.flex-content {
  display: flex;
  flex-direction: column;
}

.description {
  line-height: normal;
  white-space: normal;
}

.center-toggles {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 5px;
  margin-bottom: 5px;
}

.toggle-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 180px;
  max-width: 180px;

  min-height: 180px;
  max-height: 180px;
}

mat-button-toggle-group {
  flex-wrap: wrap;
}

.hintText {
  font-size: smaller;
  border-bottom: 1px dotted grey;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.node-mapping {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.node-mapping-container {
  min-height: 100px;
  max-height: 250px;
  overflow: auto;
}

.spacer {
  flex: 1 0 auto;
}

.node-select {
  margin-left: 10px;
  max-width: 300px;
}

.status {
  display: flex;
  flex-direction: row;
}

.status > * {
  margin-right: 10px;
}

.variable-fields {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.mat-dialog-content {
  max-height: 95%;
}

.message-container {
  display: grid;
  grid-template-columns: 24px auto;
  grid-template-rows: repeat(auto-fill, minmax(32px, min-content));

  align-items: center;

  row-gap: 5px;
  column-gap: 5px;
}

.flex-reverse-scroll {
  display: flex;
  flex-direction: column-reverse;
  max-height: 200px;
  overflow-y: auto;
}

.mat-dialog-actions {
  justify-content: flex-end;
}
