<app-bd-dialog>
  <app-bd-dialog-toolbar header="Viewing {{ (file$ | async)?.path }}" [panel]="true" [route]="['..', '..']">
    <div fxFlex="1 0 auto"></div>
    <app-bd-button
      text="Follow Changes"
      tooltip="left"
      icon="sync"
      [isToggle]="true"
      [toggle]="follow$ | async"
      (toggleChange)="follow$.next($event)"
    ></app-bd-button>
    <mat-divider [vertical]="true"></mat-divider>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <app-bd-terminal [content$]="content$"></app-bd-terminal>
  </app-bd-dialog-content>
</app-bd-dialog>
