<app-bd-dialog>
  <app-bd-dialog-toolbar header="Logging">
    <div fxFlex="1 0 auto"></div>
    <app-bd-panel-button
      icon="edit"
      text="Edit Configuration"
      color="primary"
      [collapsed]="false"
      [route]="['panels', 'admin', 'logging', 'config']"
    ></app-bd-panel-button>
    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-button icon="refresh" text="Refresh" (click)="loggingAdmin.reload()"></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <mat-tab-group #tabGroup [(selectedIndex)]="selectedIndex" animationDuration="0ms">
      <mat-tab *ngFor="let logDirectory of loggingAdmin.directories$ | async" label="{{ logDirectory.minion }}">
        <app-bd-data-table [records]="logDirectory.entries" [columns]="columns" [sort]="sort" [recordRoute]="getRecordRoute"></app-bd-data-table>
      </mat-tab>
    </mat-tab-group>
  </app-bd-dialog-content>
</app-bd-dialog>
