<ng-template #cfgEditor>
  <h1 mat-dialog-title>Edit Logging Configuration</h1>
  <div mat-dialog-content class="flex-content">
    <app-file-editor class="log-config-editor" [(content)]="configContent" path="log4j2.xml"></app-file-editor>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Apply</button>
  </div>
</ng-template>

<div class="box">
  <mat-toolbar class="mat-elevation-z1 header-toolbar">
    <button mat-raised-button color="primary" class="datafile-config-button" (click)="openConfigEditor(cfgEditor)">
      Edit Logging Configuration
    </button>
    <span class="fill-space"></span>
    <button mat-button (click)="reload()"><mat-icon>refresh</mat-icon></button>
  </mat-toolbar>

  <ng-template #terminal>
    <app-file-viewer
      class="output-overlay"
      (closeEvent)="closeOutputOverlay()"
      [title]="activeRemoteDirectoryEntry ? activeRemoteDirectoryEntry.path : ''"
      [initialEntry]="getCurrentOutputEntryFetcher()"
      [contentFetcher]="getOutputContentFetcher()"
      [contentDownloader]="getContentDownloader()"
      [follow]="false"
    >
    </app-file-viewer>
  </ng-template>

  <!-- file listing -->
  <mat-card class="datafiles-card">
    <mat-card-content class="datafiles-card-content">
      <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChanged($event)">
        <mat-tab *ngFor="let logDirectory of logDirectories" label="{{ logDirectory.minion }}">
          <table
            mat-table
            class="filelist-table"
            [dataSource]="dataSource"
            matSort
            [matSortActive]="INITIAL_SORT_COLUMN"
            [matSortDirection]="INITIAL_SORT_DIRECTION"
          >
            <caption style="display: none">
              Log Files
            </caption>

            <ng-container matColumnDef="icon">
              <th scope="col" mat-header-cell *matHeaderCellDef></th>
              <td
                mat-cell
                *matCellDef="let entry"
                class="icon-column"
                (click)="openOutputOverlay(logDirectory, entry, terminal)"
              >
                <mat-icon>subject</mat-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="path">
              <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Data file path</th>
              <td
                mat-cell
                *matCellDef="let entry"
                class="wide-column"
                (click)="openOutputOverlay(logDirectory, entry, terminal)"
              >
                {{ entry.path }}
              </td>
            </ng-container>

            <ng-container matColumnDef="size">
              <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
              <td mat-cell *matCellDef="let entry" class="size-column">{{ formatSize(entry.size) }}</td>
            </ng-container>

            <ng-container matColumnDef="lastModified">
              <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Last modification</th>
              <td mat-cell *matCellDef="let entry" class="lastModified-column">
                {{ formatLastModified(entry.lastModified) }}
              </td>
            </ng-container>

            <ng-container matColumnDef="download">
              <th scope="col" mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let entry" align="right">
                <button mat-icon-button (click)="download(logDirectory, entry)">
                  <mat-icon>cloud_download</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let entry; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[10, 20, 50, 100, 1000]"
            showFirstLastButtons
            [pageSize]="pageSize"
            (page)="pageSize = $event.pageSize"
            [pageIndex]="INITIAL_PAGE_INDEX"
            [length]="logDirectory.entries.length"
          >
          </mat-paginator>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
