<ng-template #addCustom>
  <div fxLayout="column" fxLayoutGap="10px" [style.max-width.px]="500">
    <div>Provide a unique ID for the custom parameter.</div>
    <app-bd-form-input
      #validateCustom
      name="id"
      label="Unique ID"
      appEditCustomIdValidator
      appEditUniqueValueValidator
      [disabled]="customTemp.isEdit"
      [disallowedValues]="getAllValueIds()"
      [(ngModel)]="customTemp.id"
      required
      appTrimmed
    ></app-bd-form-input>
    <div>
      You can choose a predecessor from the list of existing parameters. The
      custom parameter will be added <em>after</em> the selected parameter, or
      at the start of the list if none is selected.
    </div>
    <app-bd-form-select
      label="Predecessor"
      name="predecessor"
      [values]="getAllValueIds()"
      [labels]="getAllValueIdLabels()"
      [allowNone]="true"
      [(ngModel)]="customTemp.predecessor"
    ></app-bd-form-select>
    <div>
      You may also provide a value right away, or edit the value later on. The
      value is put on the final command line <strong>as is</strong>, so make
      sure to give a propper command line argument.
    </div>
    <app-bd-form-input
      name="value"
      label="Custom Parameter Value"
      [(ngModel)]="customTemp.value"
    ></app-bd-form-input>
  </div>
</ng-template>

<div
  class="bd-default-padding"
  *ngIf="process && app"
  fxLayout="column"
  fxLayoutGap="10px"
>
  <!-- Single parameter group -->
  <mat-accordion [multi]="true" class="local-headers-align">
    <ng-container *ngFor="let group of groups$ | async; let i = index">
      <mat-expansion-panel #panel *ngIf="hasGroupSearchMatch(group)">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ group.name }} </mat-panel-title>
          <mat-panel-description *ngIf="!(narrow$ | async)">
            <span *ngIf="!search"
              >{{ getValueCount(group) }}/{{ group.pairs.length }} parameters
              configured.</span
            >
            <span *ngIf="!!search"
              >Configured or optional parameters match search.</span
            >
            <span
              *ngIf="groupForm.invalid && !panel.expanded"
              class="bd-warning-text"
              [style.font-size]="'smaller'"
              >Validation Failed</span
            >
            <div *ngIf="panel.expanded" fxLayout="row" fxLayoutGap="5px">
              <app-bd-button
                *ngIf="group.isCustom"
                text="Add Custom Parameter"
                icon="add"
                (click)="onAddCustomParameter(addCustom)"
                appClickStopPropagation
              ></app-bd-button>
              <app-bd-button
                [text]="group.isSelectMode ? 'Confirm Selection' : 'Select Parameters'"
                [icon]="group.isSelectMode ? 'check' : 'tune'"
                tooltip="below"
                [disabled]="!hasOptionals(group)"
                [isToggle]="true"
                [(toggle)]="group.isSelectMode"
                appClickStopPropagation
              ></app-bd-button>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form #groupForm="ngForm" fxLayout="column">
          <div
            fxFlexAlign="center"
            *ngIf="group.isSelectMode"
            fxLayout="row"
            fxLayoutAlign="start center"
            class="bd-hint-text"
            [style.padding-top.px]="20"
          >
            <span class="local-edit-desc">
              Use the <mat-icon>add</mat-icon> and
              <mat-icon>delete</mat-icon> buttons in front of each optional
              parameter to add or remove them. Mandatory parameters cannot be
              removed. When you are done, press the
              <mat-icon>check</mat-icon> button to confirm.
            </span>
          </div>
          <div
            [style.padding-top.px]="20"
            gdColumns.sm="100%"
            [gdColumns.gt-sm]="getValueCount(group) <= 1 && !group.isSelectMode ? '100%' : 'calc(50% - 5px) calc(50% - 5px)'"
            gdGap="5px 10px"
          >
            <!-- Empty group hint -->
            <div
              *ngIf="getValueCount(group) === 0 && !group.isSelectMode"
              class="bd-hint-text"
            >
              No parameters are currently configured in this group.
            </div>

            <!-- Single parameter -->
            <ng-container *ngFor="let p of sortPairs(group.pairs)">
              <div
                [attr.data-cy]="p.descriptor ? p.descriptor.id : p.value.id"
                fxLayout="row"
                *ngIf="(!!p.value || group.isSelectMode) && hasPairSearchMatch(p)"
              >
                <ng-template #popup>
                  <app-param-desc-card
                    [descriptor]="p.descriptor"
                  ></app-param-desc-card>
                </ng-template>

                <!-- Checkbox for select mode... -->
                <div
                  class="local-select-wrapper"
                  *ngIf="group.isSelectMode"
                  fxLayout="column"
                  fxLayoutAlign="center center"
                >
                  <mat-icon
                    *ngFor="let canToggle of [canAddRemove(p) | async]"
                    (click)="!canToggle ? null : doAddRemoveParameter(group, p)"
                    [class.bd-disabled-text]="!canToggle"
                    [matTooltip]="!canToggle ? 'Parameter cannot be added or removed, see description.' : 'Click to add or remove this optional parameter'"
                    [matTooltipShowDelay]="500"
                    matRipple
                    [style.cursor]="'pointer'"
                    class="local-add-remove"
                    >{{ !canToggle ? 'lock' : !!p.value ? 'delete' : 'add'
                    }}</mat-icon
                  >
                </div>

                <ng-template #actions>
                  <ng-container *ngIf="!group.isSelectMode">
                    <!-- hidden input so that pinning is part of the form (validation, enablement, etc.) -->
                    <input
                      #pin
                      [name]="'pin-' + (p.value ? p.value.id : p.descriptor.id)"
                      type="checkbox"
                      [(ngModel)]="p.value.pinned"
                      [style.display]="'none'"
                    />
                    <mat-icon
                      class="local-hover-button"
                      [class.local-pin-inactive]="!p.value.pinned"
                      [class.local-pin-active]="p.value.pinned"
                      matTooltip="Click to pin the parameter to the process details panel."
                      [matTooltipShowDelay]="500"
                      (click)="doTogglePin(p)"
                      [style.cursor]="'pointer'"
                      appClickStopPropagation
                      >push_pin</mat-icon
                    >
                    <mat-icon
                      *ngIf="group.isCustom"
                      class="local-hover-button"
                      matTooltip="Click to edit the parameter"
                      [matTooltipShowDelay]="500"
                      (click)="onEditCustomParameter(p, addCustom)"
                      [style.cursor]="'pointer'"
                      appClickStopPropagation
                      >edit</mat-icon
                    >
                  </ng-container>
                  <mat-icon
                    *ngIf="p.descriptor?.global && globalsAllowed"
                    class="bd-secondary-text"
                    matTooltip="Global parameters are the same on all processes."
                    [matTooltipShowDelay]="500"
                    >public</mat-icon
                  >
                </ng-template>

                <!-- editor for the linked value, including custom editor plugins, etc. -->
                <app-bd-value-editor
                  fxFlex="1 0 auto"
                  [label]="!!p.descriptor ? p.descriptor.name : p.value.id"
                  [name]="p.value ? p.value.id : p.descriptor.id"
                  [ngModel]="p.value?.value"
                  (ngModelChange)="doChangeParam(p, $event)"
                  [defaultValue]="p.descriptor?.defaultValue"
                  errorDisplay="immediate"
                  [required]="p.descriptor?.mandatory"
                  [appBdPopup]="popup"
                  appBdPopupTrigger="hover"
                  [appBdPopupDelay]="1000"
                  appBdPopupPosition="above-right"
                  [disabled]="group.isSelectMode || p.descriptor?.fixed"
                  [editorDisabled]="!p.editorEnabled"
                  [suggested]="p.descriptor?.suggestedValues"
                  class="local-form-input"
                  [process]="process"
                  [instance]="instance"
                  [system]="system"
                  [applications]="instances.stateApplications$ | async"
                  [type]="p.descriptor?.type"
                  [completionPrefixes]="completionPrefixes"
                  [completions]="completions"
                  [customEditor]="p.descriptor?.customEditor"
                  (customEditorLoaded)="doSetCustomEditorState(p, $event)"
                  [product]="(edit.product$ | async)?.key"
                  [group]="(groups.current$ | async)?.name"
                  [appServerIssuesValidator]="p.value ? p.value.id : p.descriptor.id"
                  [actions]="actions"
                >
                </app-bd-value-editor>
              </div>
            </ng-container>
          </div>
        </form>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>

  <!-- CLI Preview -->
  <mat-divider></mat-divider>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Command Line Preview </mat-panel-title>
    </mat-expansion-panel-header>
    <div [style.padding-top.px]="20">
      <app-history-process-config
        [baseConfig]="edit.process$ | async"
        [baseDescriptor]="(edit.application$ | async).descriptor"
        [compareConfig]="edit.process$ | async"
        [onlyCommand]="true"
      ></app-history-process-config>
    </div>
  </mat-expansion-panel>
</div>
