.page-container {
  margin: 20px;
}

.spinner-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.spinner-container > div {
  margin: 15px;
}

.margin-button {
  margin-left: 10px;
}
