<div class="page-container">
  <h1>Manual Cleanup</h1>

  <p>
    This page allows to perform manual cleanup on a local master. Note that this does not work on a
    <strong>remote</strong> master.
  </p>
  <p *ngIf="!cleanupModel && !loadingCleanupModel">
    Note that this can be an expensive operation. Click 'Calculate Cleanup Actions' once ready.
  </p>

  <ng-container *ngIf="!loadingCleanupModel">
    <button mat-raised-button [color]="cleanupModel ? 'primary' : 'warn'" (click)="onCalculate()">
      {{ (cleanupModel ? 'Re-' : '') + 'Calculate Cleanup Actions' }}
    </button>
  </ng-container>

  <ng-container *ngIf="cleanupModel">
    <button
      mat-raised-button
      color="warn"
      (click)="onPerform()"
      [disabled]="!hasAction() || performingCleanupModel"
      class="margin-button"
    >
      Execute all Actions
    </button>
    <button mat-raised-button color="primary" (click)="onClear()" class="margin-button">
      Reset (Auto. in {{ clearCounter }} s)
    </button>
  </ng-container>

  <ng-container *ngIf="loadingCleanupModel">
    <div class="spinner-container">
      <mat-spinner [diameter]="48"></mat-spinner>
      <div>Calculating Actions...</div>
    </div>
  </ng-container>

  <ng-container *ngIf="cleanupModel && hasAction()">
    <ng-container *ngFor="let group of cleanupModel">
      <app-master-cleanup-group [group]="group"></app-master-cleanup-group>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="cleanupModel && !hasAction()">
    <p>No actions to be performed...</p>
  </ng-container>
</div>
