<app-bd-dialog>
  <app-bd-dialog-toolbar header="Cleanup">
    <div class="flex-auto"></div>
    @if (cleanup.cleanup$ | async) {
      <app-bd-button
        [collapsed]="false"
        icon="clear"
        text="Abort Cleanup"
        (click)="cleanup.cancelCleanup()"
      ></app-bd-button>
    }
    @if (cleanup.cleanup$ | async; as clean) {
      <app-bd-button
        [collapsed]="false"
        icon="cleaning_services"
        [text]="(cleanup.performing$ | async) ? 'Performing...' : 'Perform (' + (cleanup.countdown$ | async) + 's.)'"
        (click)="cleanup.performCleanup(clean)"
        [loadingWhen$]="cleanup.performing$"
        [disabled]="cleanup.performing$ | async"
      ></app-bd-button>
    }
    <app-bd-button
      [collapsed]="false"
      color="primary"
      icon="cleaning_services"
      text="Calculate"
      (click)="cleanup.calculateCleanup()"
      [loadingWhen$]="cleanup.loading$"
      [disabled]="cleanup.loading$ | async"
    ></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div class="bd-default-padding">
      @if (!(cleanup.loading$ | async) && cleanup.cleanup$ | async; as groups) {
        <mat-tab-group dynamicHeight animationDuration="0ms">
          @for (group of groups; track group) {
            <mat-tab>
              <ng-template mat-tab-label>{{ group.name }}</ng-template>
              <ng-template matTabContent>
                <app-bd-data-table [records]="group.actions" [columns]="columns"></app-bd-data-table>
              </ng-template>
            </mat-tab>
          }
        </mat-tab-group>
      }

      @if (!(cleanup.cleanup$ | async)) {
        <app-bd-no-data>
          <p class="bd-hint-text">No actions to be performed.</p>
        </app-bd-no-data>
      }
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
