@use '~@angular/material' as mat;

@mixin instance-history-timeline-theme($theme) {
  $isDark: map-get($theme, 'is-dark');
  .timeline_line {
    background-color: mat.get-color-from-palette(if($isDark, mat.define-palette(mat.$grey-palette, 700), mat.define-palette(mat.$grey-palette, 400)));
  }

  .timeline_circle {
    box-shadow: 0 0 3px 1px if($isDark, rgba(0, 0, 0, 0.3), rgba(50, 50, 50, 0.3));
  }
}
