<div class="bd-image-upload-container flex flex-col">
  <div class="bd-image-upload-title-container flex justify-start items-center">
    <span class="local-title flex-auto">Logo</span>
    <button
      aria-label="Browse"
      mat-icon-button
      type="button"
      [disabled]="disabled"
      (click)="fileInput.click()"
    >
      <mat-icon>folder_open</mat-icon>
    </button>
    <button
      aria-label="Delete"
      mat-icon-button
      type="button"
      [disabled]="disabled"
      (click)="resetImage(); fileInput.value = null"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <input type="file" hidden (change)="onImageChange($event)" #fileInput />
  </div>

  <div class="local-preview-container flex-auto">
    <img class="logo" [src]="image" alt="logo" *ngIf="image" />
    <img
      class="logo-dummy"
      src="/assets/no-image.svg"
      alt="logo"
      *ngIf="!image"
    />
    <p *ngIf="!image">No logo defined</p>
  </div>
</div>
