.local-title {
  padding-left: 20px;
}

.local-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.logo {
  object-fit: contain;
  width: 100%;
  max-width: 220px;
  max-height: 120px;
}

.logo-dummy {
  width: 70px;
  height: 70px;
}
