.node-card {
  flex: 1 0 auto;
  margin: 15px;
  padding: 0 !important;
}

.node-card-header {
  padding: 10px !important;
  border-radius: 5px 5px 0px 0px;
  height: 24px;
}

.node-card-content {
  padding: 5px !important;
}

.node-card-subtitle {
  margin-top: -11px !important;
  margin-bottom: 0;
}

.instance-node-avatar-container {
  width: 24px;
}

.port-parameters {
  display: grid;
  grid-template-columns: 50% 50%;

  margin: 20px;

  column-gap: 10px;
  row-gap: 5px;

  align-items: center;
}

.port-parameter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.port-editor {
  flex: 1 0 auto;
}

.port-actions {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
}

.port-actions button {
  margin: 5px;
}

.list-heading {
  margin-top: 30px;
  margin-left: 15px;
}

.center {
  text-align: center;
}

.headerText {
  font-size: 1.5em;
  margin-left: 15px;
  vertical-align: middle;
}

.icons {
  margin-left: 5px;
}
