.container {
  flex: 1 1 auto;
  margin-top: 5px;
  padding: 10px 20px;
}

.fill-space {
  flex: 1 1 auto;
}

mat-form-field {
  flex: 1 1 auto;
  margin-left: 1em;
}

.container {
  flex: 1 1 auto;
  margin-top: 5px;
  padding: 10px 20px;
}

.align-left {
  justify-content: start;
}

.header {
  font-weight: bolder;
}

.spacer {
  margin-left: 20px;
}

.subHeader {
  font-size: smaller;
  font-weight: lighter;
  height: 32px;
  padding-left: 55px;
  margin-top: -10px;
}

.textarea-param-field {
  min-height: 120px;
}

.boolean-param-field {
  flex: 1 1 auto;
  justify-content: left;
  margin-left: 1em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.boolean-param-widget {
  margin: -1em 0em 0em 0em;
}

.boolean-param-label {
  position: absolute;
  left: 0;
  margin: -2.5em 1em;
  padding: 0.5em;
  font-size: 0.75em;
  text-overflow: ellipsis;
}
