<form [formGroup]="softwareRepoFormGroup" (ngSubmit)="onSubmit()" fxLayout="column" [style.height]="'100%'">
  <mat-toolbar class="mat-elevation-z1 header-toolbar">
    <button
      mat-icon-button
      type="button"
      [disabled]="loading"
      (click)="routingHistoryService.back('softwarerepo/browser')"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span *ngIf="isCreate() == false">Software Repository: {{ nameParam }}</span>
    <span class="fill-space"></span>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loading || !isModified() || !softwareRepoFormGroup.valid"
    >
      SAVE
    </button>
  </mat-toolbar>

  <div class="bd-scroll-container">
    <div class="field-container margin-container">
      <mat-form-field>
        <input
          class="input-field"
          matInput
          [readonly]="!isCreate()"
          formControlName="name"
          placeholder="Software Repository name (Cannot be changed after creation!)"
        />
        <mat-error *ngIf="nameControl.invalid">{{ getErrorMessage(nameControl) }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input class="input-field" matInput formControlName="description" placeholder="Description" />
        <mat-error *ngIf="descriptionControl.invalid">{{ getErrorMessage(descriptionControl) }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
