/* From http://mcg.mbitson.com/#!?bdblue=%23005a9e&bdred=%23dc000f&bdorange=%23eb8d00&bdgreen=%234cbc02&bdgrey=%23454545&themename=bdall */
$md-bdblue: (
        50: #e0ebf3,
        100: #b3cee2,
        200: #80adcf,
        300: #4d8cbb,
        400: #2673ad,
  // used in theme
        500: #005a9e,
        600: #005296,
  // used in theme
        700: #00488c,
        800: #003f82,
        900: #002e70,
        A100: #9fbeff,
        A200: #6c9bff,
        A400: #3978ff,
        A700: #1f67ff,
        contrast: (
                50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: #ffffff,
                400: #ffffff,
                500: #ffffff,
                600: #ffffff,
                700: #ffffff,
                800: #ffffff,
                900: #ffffff,
                A100: rgba(black, 0.87),
                A200: rgba(black, 0.87),
                A400: #ffffff,
                A700: #ffffff,
        ),
);

$md-bdred: (
        50: #fbe0e2,
        100: #f5b3b7,
        200: #ee8087,
        300: #e74d57,
        400: #e12633,
  // used in theme
        500: #dc000f,
        600: #d8000d,
        700: #d3000b,
        800: #ce0008,
        900: #c50004,
        A100: #ffeded,
        A200: #ffbaba,
        A400: #ff8787,
        A700: #ff6e6e,
        contrast: (
                50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: #ffffff,
                400: #ffffff,
                500: #ffffff,
                600: #ffffff,
                700: #ffffff,
                800: #ffffff,
                900: #ffffff,
                A100: rgba(black, 0.87),
                A200: rgba(black, 0.87),
                A400: rgba(black, 0.87),
                A700: rgba(black, 0.87),
        ),
);

$md-bdorange: (
        50: #fdf1e0,
        100: #f9ddb3,
        200: #f5c680,
        300: #f1af4d,
        400: #ee9e26,
  // used in theme
        500: #eb8d00,
        600: #e98500,
        700: #e57a00,
        800: #e27000,
        900: #dd5d00,
        A100: #ffffff,
        A200: #ffe1d1,
        A400: #ffc19e,
        A700: #ffb085,
        contrast: (
                50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: rgba(black, 0.87),
                400: rgba(black, 0.87),
                500: rgba(black, 0.87),
                600: rgba(black, 0.87),
                700: rgba(black, 0.87),
                800: rgba(black, 0.87),
                900: #ffffff,
                A100: rgba(black, 0.87),
                A200: rgba(black, 0.87),
                A400: rgba(black, 0.87),
                A700: rgba(black, 0.87),
        ),
);

$md-bdgreen: (
        50: #eaf7e1,
        100: #c9ebb3,
        200: #a6de81,
        300: #82d04e,
        400: #67c628,
        500: #4cbc02,
        600: #45b602,
  // used in theme
        700: #3cad01,
        800: #33a501,
        900: #249701,
        A100: #ccffc2,
        A200: #a1ff8f,
        A400: #76ff5c,
        A700: #60ff42,
        contrast: (
                50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: rgba(black, 0.87),
                400: rgba(black, 0.87),
                500: rgba(black, 0.87),
                600: #ffffff,
                700: #ffffff,
                800: #ffffff,
                900: #ffffff,
                A100: rgba(black, 0.87),
                A200: rgba(black, 0.87),
                A400: rgba(black, 0.87),
                A700: rgba(black, 0.87),
        ),
);

$md-bdgrey: (
        50: #e9e9e9,
        100: #c7c7c7,
        200: #a2a2a2,
        300: #7d7d7d,
        400: #616161,
  // used in theme
        500: #454545,
        600: #3e3e3e,
  // used in theme
        700: #363636,
        800: #2e2e2e,
        900: #1f1f1f,
        A100: #f07a7a,
        A200: #eb4c4c,
        A400: #ff0505,
        A700: #eb0000,
        contrast: (
                50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: #ffffff,
                400: #ffffff,
                500: #ffffff,
                600: #ffffff,
                700: #ffffff,
                800: #ffffff,
                900: #ffffff,
                A100: rgba(black, 0.87),
                A200: #ffffff,
                A400: #ffffff,
                A700: #ffffff,
        ),
);
