<app-bd-dialog>
  <app-bd-dialog-toolbar header="Apply System Template">
    <div class="flex-auto"></div>
    <app-bd-button
      text="Back to Instance Browser"
      icon="arrow_back"
      tooltip="below"
      [routerLink]="['/instances', 'browser', (groups.current$ | async)?.name]"
    ></app-bd-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div class="flex flex-col gap-2.5">
      <mat-stepper
        #stepper
        [linear]="true"
        orientation="horizontal"
        (selectionChange)="onStepSelectionChange($event)"
        [selectedIndex]="(cfg.isCentral$ | async) ? 0 : 1"
        labelPosition="bottom"
        animationDuration="200"
      >
        <mat-step label="Target Server" [completed]="serverSelectionCompleted" [editable]="!serverSelectionCompleted">
          <div [attr.data-cy]="'step-server'" class="flex flex-col gap-2.5 p-2.5">
            <div *ngIf="!isCentral; else selectManaged">Choosing a target server is not required for your setup.</div>
            <ng-template #selectManaged>
              <div>Choose the target server. The system and all instances will be created on the selected server.</div>
              <app-bd-form-select
                [values]="serverDtos"
                [labels]="serverLabels"
                label="Choose Server"
                name="managedServer"
                [(ngModel)]="selectedServer"
                (ngModelChange)="serverSelectionCompleted = !!selectedServer"
              ></app-bd-form-select>
            </ng-template>
            <div class="flex">
              <app-bd-button
                color="primary"
                [collapsed]="false"
                text="Next"
                [disabled]="!serverSelectionCompleted"
                (click)="stepper.next()"
              ></app-bd-button>
            </div>
          </div>
        </mat-step>
        <mat-step label="System Template" [completed]="!!this.template">
          <div [attr.data-cy]="'step-template-upload'" class="flex flex-col gap-2.5 p-2.5">
            <app-bd-file-drop
              *ngIf="!file"
              [types]="['.yaml']"
              hintText="Drop System Template"
              (fileAdded)="readSystemTemplate($event)"
            ></app-bd-file-drop>
            <app-bd-file-upload
              *ngIf="file"
              [url]="systems.getTemplateUploadUrl()"
              [file]="file"
              [resultEvaluator]="onUploadResult"
              [parameters]="[{id: 'server', name: 'server', type: 'string', value: selectedServer?.hostName}]"
              (dismiss)="onDismiss()"
            ></app-bd-file-upload>
            <div class="flex">
              <app-bd-button
                color="primary"
                [collapsed]="false"
                text="Next"
                [disabled]="!template"
                (click)="stepper.next()"
              ></app-bd-button>
            </div>
          </div>
        </mat-step>
        <mat-step label="Missing Products" [completed]="importProductsState.completed">
          <div [attr.data-cy]="'step-import-missing-products'" class="flex flex-col gap-2.5 p-2.5">
            <app-bd-notification-card
              *ngIf="importProductsState.error"
              icon="warning"
              type="warning"
              header="Failed to import products"
            >
              <div class="text-justify">{{ importProductsState.error }}</div>
            </app-bd-notification-card>
            <div>{{ importProductsState.message }}</div>
            <app-bd-data-table
              *ngIf="template?.productsToImport"
              [records]="template.productsToImport"
              [columns]="importProductCols"
              [sortData]="null"
            ></app-bd-data-table>
            <mat-spinner *ngIf="importProductsState.loading" [diameter]="24"></mat-spinner>
            <div class="flex">
              <app-bd-button
                color="primary"
                [collapsed]="false"
                text="Next"
                [disabled]="importProductsState.loading"
                (click)="onImportMissingProducts()"
              ></app-bd-button>
            </div>
          </div>
        </mat-step>
        <mat-step label="Name and Purpose" [completed]="name && purpose">
          <div [attr.data-cy]="'step-name-purpose'" class="flex flex-col gap-2.5 p-2.5">
            <form #namePurposeForm="ngForm">
              <app-bd-form-input
                errorDisplay="immediate"
                [required]="true"
                name="name"
                label="System Name"
                [(ngModel)]="name"
                appEditUniqueValueValidator
                [disallowedValues]="systemNames$ | async"
                appTrimmed
              ></app-bd-form-input>
              <app-bd-form-select
                label="Purpose"
                name="purpose"
                [(ngModel)]="purpose"
                [values]="purposes"
                required
              ></app-bd-form-select>
            </form>
            <div class="flex">
              <app-bd-button
                color="primary"
                [collapsed]="false"
                text="Next"
                [disabled]="namePurposeForm.invalid"
                (click)="stepper.next()"
              ></app-bd-button>
            </div>
          </div>
        </mat-step>
        <mat-step label="System Template Variables" [completed]="isAllSystemVariablesSet">
          <div [attr.data-cy]="'step-system-variables'" class="flex flex-col gap-2.5 p-2.5">
            <ng-container *ngFor="let v of requiredSystemVariables">
              <app-bd-form-input
                [(ngModel)]="systemVariables[v.id]"
                [attr.name]="v.name"
                [label]="v.name"
                [matTooltip]="v.description"
                matTooltipPosition="above"
                [suggested]="v.suggestedValues"
                required
                (ngModelChange)="validateHasAllSystemVariables()"
                errorDisplay="immediate"
              ></app-bd-form-input>
            </ng-container>
            <ng-container *ngIf="!requiredSystemVariables.length">
              <div class="bd-description-text pb-5">No system template variables.</div>
            </ng-container>
            <div class="flex">
              <app-bd-button
                color="primary"
                [collapsed]="false"
                text="Next"
                [disabled]="!isAllSystemVariablesSet"
                (click)="stepper.next();"
              ></app-bd-button>
            </div>
          </div>
        </mat-step>
        <mat-step label="Instance Templates" [completed]="isAllTemplateGroupsSelected && isAllVariablesSet">
          <div [attr.data-cy]="'step-instance-templates'" class="flex flex-col gap-2.5 p-2.5">
            <mat-tab-group #tabGroup animationDuration="0ms">
              <mat-tab *ngFor="let tpl of templates">
                <ng-template matTabLabel>
                  <div
                    [class.local-required-label]="tpl.isApplyInstance && (!tpl.isAnyGroupSelected || !tpl.isAllVariablesSet)"
                  >
                    {{ tpl.expandedName }}
                  </div>
                </ng-template>
                <div [attr.data-cy]="'tab-' + tpl.expandedName" class="flex gap-1">
                  <div class="flex-auto flex flex-col gap-2.5 p-2.5">
                    <app-bd-form-toggle
                      label="Apply this instance"
                      [(ngModel)]="tpl.isApplyInstance"
                      (ngModelChange)="toggleSkipInstance($event, tpl)"
                    ></app-bd-form-toggle>
                    <ng-container *ngIf="tpl.isApplyInstance">
                      <app-bd-form-select
                        *ngFor="let group of tpl.tpl.groups"
                        [label]="'Group \'' + group.name + '\''"
                        [matTooltip]="group.description"
                        matTooltipPosition="above"
                        [attr.name]="group.name"
                        [values]="tpl.nodeNames[group.name]"
                        [labels]="tpl.nodeLabels[group.name]"
                        [(ngModel)]="tpl.groups[group.name]"
                        (ngModelChange)="validateAnyGroupSelected(tpl)"
                      ></app-bd-form-select>
                    </ng-container>
                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div class="grow-[2] flex flex-col gap-2.5 p-2.5">
                    <ng-container *ngIf="tpl.isApplyInstance; else: noApply">
                      <ng-container *ngFor="let v of tpl.requiredVariables">
                        <app-bd-form-input
                          [(ngModel)]="tpl.variables[v.id]"
                          [attr.name]="v.name"
                          [label]="v.name"
                          [matTooltip]="v.description"
                          matTooltipPosition="above"
                          [suggested]="v.suggestedValues"
                          required
                          (ngModelChange)="validateHasAllVariables(tpl)"
                          errorDisplay="immediate"
                        ></app-bd-form-input>
                      </ng-container>
                      <ng-container *ngIf="!tpl.requiredVariables.length">
                        <div class="bd-description-text py-4">No template variables.</div>
                      </ng-container>
                    </ng-container>
                    <ng-template #noApply>
                      <div class="bd-description-text py-4">This instance will not be applied.</div>
                    </ng-template>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
            <div class="flex">
              <app-bd-button
                color="primary"
                [collapsed]="false"
                text="Next"
                [disabled]="!isAllTemplateGroupsSelected || !isAllVariablesSet || !isAnyInstanceApplied"
                (click)="stepper.next()"
              ></app-bd-button>
            </div>
          </div>
        </mat-step>
        <mat-step label="Application">
          <div [attr.data-cy]="'step-applying'" class="flex flex-col gap-2.5 p-5">
            <div class="flex gap-2.5 justify-start items-center">
              <mat-spinner [diameter]="24"></mat-spinner>
              <div>Working on it...</div>
            </div>
          </div>
        </mat-step>
        <mat-step label="Result">
          <div [attr.data-cy]="'step-done'" class="flex flex-col gap-2.5 p-5" *ngIf="result">
            <div *ngIf="resultIsSuccess">
              <app-bd-notification-card
                icon="check"
                [type]="resultHasWarnings ? 'warning' : 'generic'"
                [header]="'Instances have been created' + (resultHasWarnings ? ' (with warnings)' : '.')"
                [dismissable]="false"
              >
                <div>
                  You may now head back to the
                  <a [routerLink]="['/instances', 'browser', (groups.current$ | async)?.name]">Instance Browser</a>
                  to start using the created instances, or inspect detailed results below.
                </div>
              </app-bd-notification-card>
            </div>
            <div *ngIf="!resultIsSuccess">
              <app-bd-notification-card type="error" header="Problems occured." [dismissable]="false">
                Applying was not fully successful. You can find details about the problem(s) encountered below. Note
                that some instance may still have been created successfully. Please make sure to create the remaining
                instances manually.
              </app-bd-notification-card>
            </div>
            <app-bd-data-table [records]="result.results" [columns]="resultCols" [sortData]="null"></app-bd-data-table>
            <div class="flex">
              <app-bd-button
                text="Finish"
                color="primary"
                [collapsed]="false"
                [routerLink]="['/instances', 'browser', (groups.current$ | async)?.name]"
              ></app-bd-button>
            </div>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
