<div class="bd-rect-card" fxLayout="column">
  <div class="bd-default-padding local-header" fxLayout="column">
    <div class="bd-type-text">Usage Statistics</div>
    <div class="bd-title-text">Client Applications</div>
  </div>
  <div class="bd-default-padding">
    <app-bd-data-display
      [records]="node.nodeConfiguration.applications"
      [columns]="columns"
      [grid]="gridWhen$ | async"
      [grouping]="groupingWhen$ | async"
      [recordRoute]="getRecordRoute"
    ></app-bd-data-display>
  </div>
</div>
