<div class="bd-rect-card" fxLayout="column">
  <div class="bd-default-padding local-header" fxLayout="column">
    <div class="bd-type-text">Virtual Node</div>
    <div class="bd-title-text">Client Applications</div>
  </div>
  <app-node-state-panel [items]="nodeStateItems$ | async" [narrowWhen$]="narrowWhen$"></app-node-state-panel>
  <ng-container *ngIf="!(collapsedWhen$ | async)">
    <mat-divider></mat-divider>
    <div class="bd-default-padding">
      <app-bd-data-display
        [records]="node.nodeConfiguration.applications"
        [columns]="columns"
        [grid]="gridWhen$ | async"
        [grouping]="groupingWhen$ | async"
        [recordRoute]="getRecordRoute"
        [sortData]="null"
      ></app-bd-data-display>
    </div>
  </ng-container>
</div>
