<div class="bd-rect-card flex flex-col">
  <div class="bd-default-padding local-header flex flex-col">
    <div class="bd-type-text">Virtual Node</div>
    <div class="bd-title-text">Client Applications</div>
  </div>
  <app-node-state-panel
    [items]="nodeStateItems$ | async"
    [narrowWhen$]="narrowWhen$"
  ></app-node-state-panel>
  <ng-container *ngIf="!(collapsedWhen$ | async)">
    <mat-divider></mat-divider>
    <div class="bd-default-padding">
      <app-bd-data-display
        [records]="node.nodeConfiguration.applications"
        [columns]="columns"
        [grid]="gridWhen$ | async"
        [recordRoute]="getRecordRoute"
        [sortData]="null"
        [presetKey]="presetKeyValue"
        [grid]="isCardView"
      ></app-bd-data-display>
    </div>
  </ng-container>
</div>
