/* .breadcrumbs {
  display: flex;
  margin-bottom: 1em;
}

.breadcrumb:not(:last-child) .link {
  cursor: pointer;
  color: cadetblue;
}

.separator {
  margin: 0 0.3em;
} */

.breadcrumb {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
  counter-reset: flag;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  float: left;
  font-size: 12px;
  line-height: 36px;
  padding: 0 10px 0 30px;
  position: relative;
  color: var(--bd-text);

  background: var(--bd-bg-dialog);
  transition: background-color 0.4s;

  display: flex;
  flex: 0 1 auto;
  min-width: 0;
}

/* since the first link does not have a triangle before it we can reduce
   the left padding to make it look consistent with other links */
.breadcrumb a:first-child {
  padding-left: 36px;
}
.breadcrumb a:first-child:before {
  left: 14px;
}
.breadcrumb a:last-child {
  padding-right: 20px;
  flex: 1 1 auto;
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px; /*half of square's length*/
  /*same dimension as the line-height of .breadcrumb a */
  width: 36px;
  height: 36px;
  /*
    as you see the rotated square takes a larger height. which makes it tough
    to position it properly. So we are going to scale it down so that the diagonals
    become equal to the line-height of the link. We scale it to 70.7% because if square's:
	   length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	   if diagonal required = 1; length = 1/1.414 = 0.707
  */
  transform: scale(0.707) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;
  /*stylish arrow design using box shadow*/
  box-shadow: 1px -1px 0 1px rgba(0, 0, 0, 0.3);
  /*
		5px - for rounded arrows and
		50px - to prevent hover glitches on the border created using shadows*/
  border-radius: 0 5px 0 50px;

  background: var(--bd-bg-dialog);
  transition: background-color 0.4s;
}

/* we dont need an arrow after the last link */
.breadcrumb a:last-child:after {
  content: none;
}

/* home icon on the first breadcrumb */
.breadcrumb a:first-child:before {
  content: 'home';
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 8px;
  font-family: 'Material Symbols Outlined';
  font-size: 20px;
  font-weight: 300;
}

.breadcrumb a:hover,
.breadcrumb a.active,
.breadcrumb a:hover:after,
.breadcrumb a.active:after {
  background: var(--bd-breadcrumb-hover);
  cursor: pointer;
}
