<app-bd-dialog>
  <app-bd-dialog-toolbar header="Bulk Manipulate Products" [panel]="true"></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    @if (bulk.selection$ | async; as selected) {
      <div class="flex flex-col gap-2.5">
        <div><strong>{{ selected.length }}</strong> products selected.</div>
        <mat-divider></mat-divider>
        <app-bd-button
          [collapsed]="false"
          [disabled]="!selected.length || (deleting$ | async)"
          [loadingWhen$]="deleting$"
          text="Delete Selected Product Versions"
          icon="delete"
          (click)="onDelete()"
        ></app-bd-button>
      </div>
    }
  </app-bd-dialog-content>
</app-bd-dialog>
