.instance-group-card {
  width: 270px;
  height: 150px;
  cursor: pointer;
}

.title {
  max-width: 155px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-menu {
  float: right;
}

.spacer {
  flex: 1 1 auto;
}

.header-image {
  background-size: cover;
  border-radius: 10%;
}

.mat-card-actions {
  text-align: right;
}

.group-description {
  word-break: break-word;
  overflow: hidden;

  /* This has been tested with chrome and firefox! */
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
