<div
  class="local-drop-zone"
  [ngClass]="disabled ? 'local-drop-zone-disabled' : active ? 'local-drop-zone-active' : []"
  appFileDrop
  (filesHovered)="active = $event"
  (filesDropped)="onFilesDropped($event)"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="15px"
>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-icon class="local-drop-icon">cloud_upload</mat-icon>
    <span class="local-drop-text">{{ hintText }}, or&nbsp;</span>
    <button [disabled]="disabled" (click)="doSelectFiles()" class="local-drop-browse" [ngClass]="disabled ? 'local-drop-browse-disabled' : []">browse.</button>
    <input type="file" #file style="display: none" (change)="onFilesAdded()" [accept]="types" multiple />
  </div>
  <div *ngIf="validationError$ | async" fxLayout="row" fxLayoutAlign="center center" class="local-error">
    <mat-icon class="local-drop-icon">report</mat-icon>
    <div>Unsupported File Type.</div>
    <div *ngIf="!!types" fxLayout="row">
      &nbsp;Supported:
      <div *ngFor="let type of types">
        &nbsp;<strong>{{ type }}</strong>
      </div>
    </div>
  </div>
</div>
