<div
  class="local-drop-zone flex flex-col gap-2.5 justify-center items-center"
  [ngClass]="disabled ? 'local-drop-zone-disabled' : active ? 'local-drop-zone-active' : []"
  appFileDrop
  (filesHovered)="active = $event"
  (filesDropped)="onFilesDropped($event)"
  >
  <div class="flex justify-center items-center">
    <mat-icon class="local-drop-icon">cloud_upload</mat-icon>
    <div class="local-drop-text flex">
      <div>
        {{ hintText }}, or
        <button
          [disabled]="disabled"
          (click)="doSelectFiles()"
          class="local-drop-browse"
          [ngClass]="disabled ? 'local-drop-browse-disabled' : []"
          >
          browse.
        </button>
      </div>
      <input type="file" #file style="display: none" (change)="onFilesAdded()" [accept]="types" multiple />
    </div>
  </div>
  @if (validationError$ | async) {
    <div class="local-error flex justify-center items-center">
      <mat-icon class="local-drop-icon">report</mat-icon>
      <div>Unsupported File Type.</div>
      @if (!!types) {
        <div class="flex">
          &nbsp;Supported:
          @for (type of types; track type) {
            <div>&nbsp;<strong>{{ type }}</strong></div>
          }
        </div>
      }
    </div>
  }
</div>
