.local-drop-zone {
  height: 100px;
  border: 1px dashed #ccc;
  box-sizing: border-box;
  padding: 1em;
}

.local-drop-zone-disabled {
  background-color: var(--bd-bg-toolbar);
}

.local-drop-icon {
  margin-right: 10px;
  min-width: 24px;
}

.local-drop-browse {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  color: var(--bd-primary);
}

.local-drop-browse-disabled {
  color: #ccc;
}

.local-drop-zone-active {
  border: 2px dashed var(--bd-primary) !important;
}

.local-error {
  color: var(--bd-warn);
  font-size: smaller;
}
