.flex-content {
  display: flex;
  flex-direction: column;
}

.colors-row {
  display: flex;
  flex-direction: row;
}

.colors-row mat-form-field:first-child {
  flex: 1 1 auto;
  margin-right: 10px;
}

.colors-row mat-form-field:last-child {
  flex: 1 1 auto;
  margin-left: 10px;
}

.colors-row input {
  height: 40px;
}

textarea {
  resize: none;
}

.mat-dialog-actions {
  justify-content: flex-end;
}
