<h1 mat-dialog-title>Edit Banner</h1>
<form [formGroup]="bannerFormGroup">
  <div mat-dialog-content class="flex-content">
    <div class="colors-row">
      <mat-form-field>
        <input matInput type="color" formControlName="foregroundColor" placeholder="Foreground Color" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="color" formControlName="backgroundColor" placeholder="Background Color" />
      </mat-form-field>
    </div>
    <mat-form-field>
      <textarea
        matInput
        formControlName="text"
        placeholder="Banner Text"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="4"
      >
      </textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="button" [mat-dialog-close]="null">Cancel</button>
    <button mat-raised-button type="button" [mat-dialog-close]="getResult4Remove()" [disabled]="!canRemove()">
      Remove Banner
    </button>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [mat-dialog-close]="getResult()"
      [disabled]="!bannerFormGroup.valid || !canSet()"
    >
      Set Banner
    </button>
  </div>
</form>
