.local-sizing {
  position: absolute;

  /* mitigate dialog standard padding */
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
}

.local-login-area {
  width: 350px;
}

.local-logo-area {
  min-width: 250px;
}

.local-header {
  color: var(--bd-text-secondary);
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
  padding-bottom: 10px;
}

.local-hinge {
  animation: hinge 2s ease;
}
@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  15%,
  45% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  30% {
    transform: rotate(40deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  60% {
    transform: rotate(40deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: rotate(40deg) translateY(300px) translateX(250px);
    transform-origin: top left;
    opacity: 0;
  }
  81% {
    transform: rotate(0deg) translate(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
