<app-bd-dialog [loadingWhen$]="loading$" [hideContentWhenLoading]="false">
  <app-bd-dialog-content>
    <div class="local-sizing flex-auto flex flex-col md:flex-row">
      <div class="local-logo-area bd-glow-bg flex-auto flex flex-col justify-center items-center">
        <app-bd-logo [size]="200" [ngClass]="logoClass" (click)="onLogoClick()"></app-bd-logo>
      </div>
      <div class="grow-[2] flex justify-center items-center">
        <div class="local-login-area flex flex-col flex-auto gap-2.5 m-4">
          <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="local-header">BDeploy Login</div>
            <app-bd-form-input #userInput [(ngModel)]="user" name="user" label="Username" required></app-bd-form-input>
            <app-bd-form-input
              #passInput
              [(ngModel)]="pass"
              name="pass"
              label="Password"
              type="password"
              [passwordShowable]="true"
              required
            ></app-bd-form-input>
            <div class="flex justify-start items-center">
              <div *ngIf="loginFailed">
                <mat-error>{{ loginFailedMessage }}</mat-error>
              </div>
              <div class="flex-auto"></div>
              <button
                mat-raised-button
                [disabled]="loginForm.invalid && !(userInput.autoFilled && passInput.autoFilled)"
                type="submit"
                color="accent"
              >
                Login
              </button>
            </div>
          </form>
          <div class="flex flex-col gap-2.5" *ngIf="cfg.webAuthCfg?.auth0?.enabled || cfg.webAuthCfg?.okta?.enabled">
            <div class="local-divider">
              <span>OR</span>
            </div>
            <ng-container *ngIf="cfg.webAuthCfg?.auth0?.enabled">
              <app-bd-button
                class="flex-auto"
                svgIcon="auth0"
                [text]="'Login using ' + cfg.webAuthCfg.auth0.displayName"
                [collapsed]="false"
                (click)="loginAuth0()"
              ></app-bd-button>
            </ng-container>
            <ng-container *ngIf="cfg.webAuthCfg?.okta?.enabled">
              <app-bd-button
                class="flex-auto"
                svgIcon="okta"
                [text]="'Login using ' + cfg.webAuthCfg.okta.displayName"
                [collapsed]="false"
                (click)="loginOkta()"
              ></app-bd-button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
