<ng-template #nodePortList>
  <app-instance-node-port-list [instanceGroup]='instanceGroupName' [instanceId]='processConfig.instance.uuid' [instanceTag]='processConfig.version.key.tag' [instanceActiveTag]='activatedInstanceTag' [minionName]='node.nodeName' [node]='node'></app-instance-node-port-list>
</ng-template>

<mat-card #appNodeCard class="node-card instance-node-card-theme">

  <!-- server applications node header -->
  <mat-card-header *ngIf="!isClientApplicationsNode()" class='node-card-header instance-node-card-header-theme'>
    <div mat-card-avatar class='instance-node-avatar-container' *ngIf='minionConfig'>
      <mat-icon class='instance-node-avatar' [svgIcon]='minionConfig.os'></mat-icon>
    </div>
    <div mat-card-avatar class='instance-node-avatar-container' *ngIf='!minionConfig'>
      <mat-icon class='instance-node-avatar'>device_unknown</mat-icon>
    </div>
    <mat-card-title>{{ node.nodeName }}</mat-card-title>
    <mat-card-subtitle class='node-card-subtitle'>Published server applications</mat-card-subtitle>
    <span class="fill-space"></span>
    <ng-container *ngIf="minionState && !manageApplications">
      <button mat-icon-button *ngIf='isNodeOnline()' (click)="showNodePortList(nodePortList)" matTooltip="Show ports"><mat-icon>power</mat-icon></button>
      <mat-icon class='instance-node-online' *ngIf='isNodeOnline()' [matTooltip]="getNodeStatusTooltip()">flight_takeoff</mat-icon>
      <mat-icon class='instance-node-offline' *ngIf='!isNodeOnline()' [matTooltip]="getNodeStatusTooltip()">error</mat-icon>
    </ng-container>
    <ng-container *ngIf="!minionConfig">
        <mat-icon class='instance-node-offline' [matTooltip]="getNodeStatusTooltip()">error</mat-icon>
    </ng-container>
    <div *ngIf='manageApplications && !isReadonly'>
      <mat-menu #appMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="onPaste()"><mat-icon>post_add</mat-icon>Paste</button>
      </mat-menu>
      <button class="option-button" mat-icon-button [matMenuTriggerFor]="appMenu" appClickStopPropagation>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <!-- client applications node header -->
  <mat-card-header *ngIf="isClientApplicationsNode()" class='node-card-header instance-node-card-header-theme'>
    <div mat-card-avatar class='instance-node-avatar-container'>
      <mat-icon class='instance-node-avatar'>computer</mat-icon>
    </div>
    <mat-card-title>Client Applications</mat-card-title>
    <mat-card-subtitle class='node-card-subtitle'>Published client applications</mat-card-subtitle>
    <span class="fill-space"></span>
    <div *ngIf='manageApplications && !isReadonly'>
      <mat-menu #appMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="onPaste()"><mat-icon>post_add</mat-icon>Paste</button>
      </mat-menu>
      <button class="option-button" mat-icon-button [matMenuTriggerFor]="appMenu" appClickStopPropagation>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content class='node-card-content'>
    <div *ngIf='!hasApps() && manageApplications' class='init-hint'>
      <span *ngIf="!isClientApplicationsNode()" class='init-hint-center'>Drop server application here</span>
      <span *ngIf="isClientApplicationsNode()" class='init-hint-center'>Drop client application here</span>
    </div>
    <div class="new-flex-container" #dragulaContainer dragula="APPS" [dragulaModel]="nodeApps" [ngClass]="getDragulaNodeClasses()">
      <div *ngIf='!hasApps() && !manageApplications' class='empty-hint'>
        <span *ngIf="!isClientApplicationsNode()">There are currently no server applications assigned to this node.</span>
        <span *ngIf="isClientApplicationsNode()">There are currently no client applications assigned to this node.</span>
      </div>
      <app-application-configuration-card *ngFor="let process of nodeApps"
        [instanceGroupName]="instanceGroupName"
        class="process-card"
        [ngClass]="getDragulaAppClasses(process)"
        [appConfig]="process"
        [instanceVersion]="processConfig.version"
        [activatedTag]="activatedInstanceTag"
        [productMissing]="productMissing"
        [selected]="selectedProcess!=null && selectedProcess == process"
        (removeEvent)="removeProcess(process)"
        (editEvent)="fireEditAppConfigEvent(process)"
        (editEndpointsEvent)="fireEditEndpointsAppConfigEvent(process)"
        (click)="onSelect(process)"
        (downloadClickAndStartEvent)="downloadClickAndStartEvent.next($event)"
        (downloadInstallerEvent)="downloadInstallerEvent.next($event)"
        [isReadonly]="isReadonly"
        [isClient]="isClientApplicationsNode()"
        [isInstanceDirty]="isInstanceDirty">
      </app-application-configuration-card>
    </div>
  </mat-card-content>
</mat-card>
