<ng-template #editorPopup>
  <mat-card
    appearance="outlined"
    class="mat-typography flex flex-col gap-2.5 p-2.5 min-w-[500px]"
  >
    <div class="bd-text-ellipsis">
      <strong>Edit Value</strong>
    </div>
    <div #editorPanel *ngIf="editor" class="editorPanel"></div>
    <div class="flex gap-2.5 justify-end">
      <app-bd-button
        text="Cancel"
        [collapsed]="false"
        (click)="popup.closeOverlay()"
      ></app-bd-button>
      <app-bd-button
        text="Apply"
        color="primary"
        [collapsed]="false"
        [disabled]="!valid"
        (click)="apply()"
      ></app-bd-button>
    </div>
  </mat-card>
</ng-template>

<mat-icon
  class="cursor-pointer"
  (click)="prepareEditor()"
  [appBdPopup]="editorPopup"
  appBdPopupPosition="below-left"
  appBdPopupTrigger="click"
  (appBdPopupOpened)="popup = $event"
  [class.bd-secondary-text]="!plugin"
  [matTooltip]="
    !plugin
      ? !error
        ? 'Required custom editor not (yet) loaded'
        : 'Error loading custom editor: ' + error.statusText
      : readonly
      ? 'Open custom editor to see parameter value'
      : 'Open custom editor to modify the parameter value'
  "
  >{{ readonly ? 'visibility' : 'edit' }}</mat-icon
>
