@use '~@angular/material' as mat;

@mixin file-upload-theme($theme) {
  $dark: map-get($theme, 'is-dark');

  $primary: map-get($theme, 'primary');
  $accent: map-get($theme, 'accent');
  $warn: map-get($theme, 'warn');

  .dropZoneActive {
    border: 2px dashed mat.get-color-from-palette($primary) !important;
  }

  .browseButton {
    color: mat.get-color-from-palette($primary);
  }

  .uploadSuccessful {
    color: mat.get-color-from-palette($primary);
  }

  .uploadError {
    color: mat.get-color-from-palette($warn);
  }
}
