@use '~@angular/material' as mat;

@include mat.core();

@import 'app-common.scss';
@import 'app-externals.scss';
@import 'dragular.scss';
@import 'app-ngx-charts-dark.scss';
@import 'app-scrollbars.scss';

@import 'app/modules/core/components/bd-popup/bd-popup-theme.scss';
@import 'app/modules/core/components/bd-image-upload/bd-image-upload-theme.scss';
@import 'app/modules/core/components/bd-form-toggle/bd-form-toggle-theme.scss';

@import 'app/modules/primary/admin/components/admin-shell/admin-shell.theme.scss';

// TODO: remove legacy
@import 'app/modules/primary/admin/components/file-upload/file-upload-theme.scss';

@mixin all-themes($theme) {
  @include mat.all-component-themes($theme);
  @include common-classes($theme);
  @include bd-popup-theme($theme);
  @include bd-image-upload-theme($theme);
  @include bd-form-toggle-theme($theme);

  @include settings-shell-theme($theme);

  // TODO: remove legacy
  @include file-upload-theme($theme);

  $dark: map-get($theme, 'is-dark');

  // general element themings
  .mat-badge-content {
    background-color: rgb(194, 194, 194);
    color: black;
  }
  .mat-row:hover,
  .mat-card:hover {
    background-color: if($dark, #3e3e3e, #fafafa);
    transition: background-color 0.2s ease;
  }

  .mat-row-route-active,
  .mat-card-route-active {
    background-color: if($dark, #525252, #dfdfdf);
  }

  .mat-row-route-active:hover,
  .mat-card-route-active:hover {
    background-color: if($dark, #575757, #d8d8d8);
  }

  a {
    color: if($dark, mat.get-color-from-palette(mat.$blue-palette, 300), mat.get-color-from-palette(mat.$blue-palette, 800));
  }

  // Define scrollbar style on each element as it is not inherited in some cases.
  * {
    @include scrollbars(mat.get-color-from-palette(map-get($theme, 'primary')), if($dark, #555555, #cccccc));
  }

  // Pseudo selector to define variables on the main theme class.
  & {
    $primary: map-get($theme, 'primary');
    $accent: map-get($theme, 'accent');
    $warn: map-get($theme, 'warn');
    $bg: map-get($theme, 'background');
    $fg: map-get($theme, 'foreground');
    $maintb: map-get($theme, 'main-toolbar');

    --bd-primary: #{mat.get-color-from-palette($primary)};
    --bd-accent: #{mat.get-color-from-palette($accent)};
    --bd-warn: #{mat.get-color-from-palette($warn)};
    --bd-main-bar: #{mat.get-color-from-palette($maintb)};

    --bd-text: #{mat.get-color-from-palette($fg, 'text')};
    --bd-text-secondary: #{mat.get-color-from-palette($fg, 'secondary-text')};
    --bd-text-success: #{if($dark, mat.get-color-from-palette(mat.$green-palette, 300), mat.get-color-from-palette(mat.$green-palette, 700))};
    --bd-text-very-light: rgb(116, 116, 116);
    --bd-text-disabled: #{mat.get-color-from-palette($fg, 'disabled-text')};

    --bd-bg-dialog: #{mat.get-color-from-palette($bg, 'dialog')};
    --bd-bg-toolbar: #{mat.get-color-from-palette($bg, 'app-bar')};
    --bd-bg-disabled: #{mat.get-color-from-palette($fg, base, if($dark, 0.05, 0.02))};
    --bd-bg-grey: #{mat.get-color-from-palette($fg, base, if($dark, 0.2, 0.4))};

    --bd-primary-darker: #{mat.get-color-from-palette($primary, 'darker')};
    --bd-accent-darker: #{mat.get-color-from-palette($accent, 'darker')};
    --bd-warn-darker: #{mat.get-color-from-palette($warn, 'darker')};
    --bd-main-bar-darker: #{mat.get-color-from-palette($maintb, 900)};

    --bd-primary-contrast: #{mat.get-color-from-palette($primary, 'default-contrast')};
    --bd-accent-contrast: #{mat.get-color-from-palette($accent, 'default-contrast')};
    --bd-warn-contrast: #{mat.get-contrast-color-from-palette($warn, 800)}; // intentionally pick the darker color to force a white contrast if available.
    --bd-main-bar-contrast: #{mat.get-color-from-palette($maintb, 'default-contrast')};

    --bd-lighten-bg: #{if($dark, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5))};
  }

  .inline-code {
    font-family: monospace;
    padding: 2px 4px;
    color: if($dark, white, black);
    background-color: if($dark, #333333, #eeeeee);
    border-radius: 3px;
  }
}

@mixin theme-chooser($theme) {
  $theme-bg: map-get($theme, 'background');
  $theme-primary: mat.get-color-from-palette(map-get($theme, 'primary'));
  $theme-accent: mat.get-color-from-palette(map-get($theme, 'accent'));
  $theme-main-tb: mat.get-color-from-palette(map-get($theme, 'main-toolbar'));

  .preview-background {
    cursor: pointer;
    display: block;
    position: relative;
    margin: 3px;
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: map-get($theme-bg, 'background');
  }

  .preview-accent {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    right: 4px;
    bottom: 4px;
    background-color: $theme-accent;
  }

  .preview-selected {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    color: $theme-accent;
  }

  .preview-circle {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 34px;
    height: 34px;
    border-radius: 25%;
    background: linear-gradient(to right, $theme-main-tb 0%, $theme-main-tb 50%, $theme-primary 51%, $theme-primary 100%);
  }
}

/* Theme definitions - keep in sync with ThemeService.Theme */
@function add-toolbar-color($theme, $toolbar-palette) {
  @return map-merge(
    $theme,
    (
      'main-toolbar': $toolbar-palette,
    )
  );
}

@function override-theme-background($theme, $key, $value) {
  $bg: map-get($theme, background);
  $bg: map-merge(
    $bg,
    (
      $key: $value,
    )
  );
  @return map-merge(
    $theme,
    (
      background: $bg,
    )
  );
}

/* "proper" yellow */
$app-yellow-def: (
  50: #fffee8,
  100: #fbf315,
  200: #fbf315,
  300: #fbf315,
  400: #fbf315,
  500: #fbf315,
  600: #fbf315,
  700: #cfc912,
  800: #cfc912,
  900: #cfc912,
  A100: #fbf315,
  A200: #fbf315,
  A400: #fbf315,
  A700: #fbf315,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  ),
);
$app-yellow-palette: mat.define-palette($app-yellow-def);

/* light theme - default */
$app-light-primary: mat.define-palette(mat.$indigo-palette, 500);
$app-light-accent: mat.define-palette(mat.$pink-palette, A200);
$app-light-warning: mat.define-palette(mat.$orange-palette, A700);
$app-light-theme: add-toolbar-color(mat.define-light-theme($app-light-primary, $app-light-accent, $app-light-warning), $app-light-primary);
.app-light-theme {
  @include all-themes($app-light-theme);
}
.app-light-theme-chooser {
  @include theme-chooser($app-light-theme);
}

/* light theme with yellow toolbar */
$app-light-yellow-primary: mat.define-palette(mat.$grey-palette, 700);
$app-light-yellow-accent: mat.define-palette(mat.$red-palette);
$app-light-yellow-warning: mat.define-palette(mat.$orange-palette);
$app-light-yellow-theme: add-toolbar-color(
  mat.define-light-theme($app-light-yellow-primary, $app-light-yellow-accent, $app-light-yellow-warning),
  $app-yellow-palette
);
.app-light-yellow-theme {
  @include all-themes($app-light-yellow-theme);
}
.app-light-yellow-theme-chooser {
  @include theme-chooser($app-light-yellow-theme);
}

/* dark blue theme */
$app-dark-primary: mat.define-palette(mat.$indigo-palette, 200);
$app-dark-accent: $app-yellow-palette;
$app-dark-warning: mat.define-palette(mat.$deep-orange-palette);
$app-dark-theme: add-toolbar-color(mat.define-dark-theme($app-dark-primary, $app-dark-accent, $app-dark-warning), mat.define-palette(mat.$indigo-palette, 500));
$app-dark-theme: override-theme-background($app-dark-theme, app-bar, #3d3c3e);
.app-dark-theme {
  @include all-themes($app-dark-theme);
  @include ngx-charts-dark();
}
.app-dark-theme-chooser {
  @include theme-chooser($app-dark-theme);
}

/* dark yellow theme */
$app-dark-yellow-primary: $app-yellow-palette;
$app-dark-yellow-accent: mat.define-palette(mat.$blue-palette, 700);
$app-dark-yellow-warning: mat.define-palette(mat.$deep-orange-palette);
$app-dark-yellow-theme: add-toolbar-color(
  mat.define-dark-theme($app-dark-yellow-primary, $app-dark-yellow-accent, $app-dark-yellow-warning),
  $app-yellow-palette
);
$app-dark-yellow-theme: override-theme-background($app-dark-yellow-theme, app-bar, #3d3c3e);
.app-dark-yellow-theme {
  @include all-themes($app-dark-yellow-theme);
  @include ngx-charts-dark();
}
.app-dark-yellow-theme-chooser {
  @include theme-chooser($app-dark-yellow-theme);
}
