@import '~@angular/material/theming';

/**
 * Classes required for every page's layout. A typical page should be built of three main divs as
 * follows to create a properly scrolling layout (toolbar not scrolling, content scrolling):
 *  +-------------------------------------------+
 *  | class='bd-page-root'                      |
 *  | +---------------------------------------+ |
 *  | | class='bd-page-toolbar'               | |
 *  | +---------------------------------------+ |
 *  | +---------------------------------------| |
 *  | | class='bd-scroll-container'           | |
 *  | |                                       | |
 *  | +---------------------------------------+ |
 *  +-------------------------------------------+
 */
@mixin root-layout-classes($theme) {
  /* class for the top level <div> in each route-target component */
  .bd-page-root {
    position: absolute;

    height: 100%;
    width: 100%;

    overflow: hidden;
  }

  /* a typical toolbar on top of each page */
  .bd-page-toolbar {
    margin-bottom: 3px;
    @include mat-overridable-elevation(1);
  }

  /* A scrolling container, which means that content to large for the current size will be reachable with scrollbars */
  .bd-scroll-container {
    overflow: auto;
  }

  /* Text in the given element will not wrap and be ellipsized when overflowing */
  .bd-text-ellipsis {
    overflow: hidden; // ellipsis only works if overflow is hidden
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /* Layout helper for small icons displayed in table cells and card's detail section */
  .bd-small-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;

    position: relative;
    top: -1px;
  }
}

/**
 * The root style classes provide commonly used styling like highlights, non-theme coloring, shadows, etc.
 */
@mixin root-style-classes($theme) {
  /* A rectangular "card". This is different from mat-card in that it does not have rouded corners, *and* it does not have any spacing, margin or else associated. */
  .bd-rect-card {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    background: mat-color($background, card);
    color: mat-color($foreground, text);

    @include mat-overridable-elevation(2);
  }

  .bd-toggle-highlight {
    background-color: var(--bd-main-bar-darker);
    color: var(--bd-main-bar-contrast);
  }

  .bd-inverted-color {
    background-color: var(--bd-main-bar);
    color: var(--bd-main-bar-contrast);
  }

  /* Use when wrapping a button in an <a> tag - will remove underlines on button contents */
  .bd-button-link {
    text-decoration: none;
  }

  .bd-hint-text {
    font-size: smaller;
    font-style: italic;
    text-align: center;
  }

  .bd-description-text {
    font-size: smaller;
    color: var(--bd-text-secondary);
  }

  .bd-no-backdrop {
    background-color: rgba($color: #000000, $alpha: 0);
  }

  .bd-slight-backdrop {
    background-color: rgba($color: #000000, $alpha: 0.16);
  }

  .bd-normal-backdrop {
    background-color: rgba($color: #000000, $alpha: 0.32);
  }

  .bd-text-warn {
    color: var(--bd-warn);
  }

  .bd-glow-bg {
    background: radial-gradient(circle, var(--bd-main-bar) 0%, var(--bd-main-bar-darker) 100%);
    color: var(--bd-main-bar-contrast);
  }
}

/**
 * The root spacing classes provide generic spacing, margin, padding classes to be used for all spacing...
 * The need to be global for overlays (menus, etc.).
 */
@mixin root-spacing-classes($theme) {
  .bd-offset-top5px {
    margin-top: 5px;
  }

  .bd-offset-bottom5px {
    margin-bottom: 5px;
  }

  .bd-default-padding {
    margin-top: 10px;
    padding: 0px 10px 10px 10px;
  }
}

@mixin common-classes($theme) {
  @include root-layout-classes($theme);
  @include root-style-classes($theme);
  @include root-spacing-classes($theme);
}
