/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

/* These styles cannot be on html and body elements, as *mobile* browsers ignore them there */
.index-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.error-snackbar {
  max-width: 100% !important;
}

.tooltip-with-newline {
  white-space: pre-line;
}

/**
 * during UI tests, disable all tooltips globally. not only do they look strange in
 * screenshots, but they also cause tests to fail, since they may block clicks to elements
 * in cypress, even though they are invisible.
 */
.ui-test .mat-tooltip-panel {
  display: none;
}
