@import 'tailwindcss';

@source './**/*.{html,ts}';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.error-snackbar {
    max-width: 100% !important;
}

.tooltip-with-newline {
    white-space: pre-line;
}

/**
 * during UI tests, disable all tooltips globally. not only do they look strange in
 * screenshots, but they also cause tests to fail, since they may block clicks to elements
 * in cypress, even though they are invisible.
 */
.ui-test .mat-mdc-tooltip-panel {
    display: none;
}

.mat-mdc-tooltip-panel {
    pointer-events: none;
}

.bd-dialog-container .mat-mdc-dialog-container {
    padding: 0;
}

/* fix for outlined mat-form-field bug with tailwind css https://github.com/angular/components/issues/26102 */
.mdc-notched-outline__notch {
    border-right: none;
}
