<app-bd-dialog [loadingWhen$]="instances.loading$">
  <app-bd-dialog-toolbar
    header="Dashboard - {{ !!activeInstance ? activeInstance.instanceConfiguration.name : currentInstance?.instanceConfiguration.name }}"
  >
    <div fxFlex="1 0 auto"></div>
    <div
      class="local-version-text"
      *ngIf="activeInstance"
      [matTooltip]="!activeInstance.managedServer?.hostName ? null : 'On ' + activeInstance.managedServer.hostName"
    >
      <ng-container *ngIf="!(narrow$ | async)"
        >Showing Active Version: {{ activeInstance.activeVersion.tag }}<span
          *ngIf="!!activeInstance.managedServer?.hostName"
        >
          on {{ activeInstance.managedServer.hostName }}</span
        ></ng-container
      >
      <ng-container *ngIf="narrow$ | async"
        >Ver.: {{ activeInstance.activeVersion.tag }}</ng-container
      >
    </div>
    <ng-container
      *ngIf="activeInstance?.managedServer?.update?.updateAvailable && (auth.isCurrentScopeAdmin$ | async)"
    >
      <app-bd-button
        text="Server Update Available"
        icon="system_update"
        [collapsed]="narrow$ | async"
        color="accent"
        (click)="
          areas.navigateBoth(['/servers', 'browser', areas.groupContext$.value], ['panels', 'servers', 'details', activeInstance?.managedServer?.hostName])
        "
      ></app-bd-button>
      <mat-divider *ngIf="isCentral" [vertical]="true"></mat-divider>
    </ng-container>
    <ng-container *ngIf="isCentral">
      <ng-container *ngIf="currentInstance">
        <app-bd-server-sync-button
          [server]="currentInstance.managedServer"
        ></app-bd-server-sync-button>
        <mat-divider [vertical]="true"></mat-divider>
      </ng-container>
    </ng-container>
    <app-bd-data-grouping
      [multiple]="!(gridMode$ | async)"
      (groupingChange)="grouping$.next($event)"
      [definitions]="groupingDefinitions"
      [records]="allApplications$ | async"
      [defaultGrouping]="defaultGrouping"
      presetKey="dashboard"
    ></app-bd-data-grouping>
    <app-bd-button
      [isToggle]="true"
      icon="grid_view"
      text="Toggle Card Mode"
      [toggle]="gridMode$ | async"
      (toggleChange)="gridMode$.next($event)"
      tooltip="below"
      [disabled]="collapsed$ | async"
    ></app-bd-button>
    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-button
      [isToggle]="true"
      icon="unfold_less"
      text="Collapsed Mode"
      [toggle]="collapsed$ | async"
      (toggleChange)="collapsed$.next($event)"
      tooltip="below"
    ></app-bd-button>
    <app-bd-panel-button
      #bulkBtn
      text="Bulk Control"
      icon="library_add_check"
      [route]="['panels', 'instances', 'bulk-control']"
      tooltip="below"
      [disabled]="!(auth.isCurrentScopeWrite$ | async)"
    ></app-bd-panel-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <ng-container>
      <ng-container *ngIf="!!currentInstance?.hasProduct">
        <div
          *ngIf="currentInstance?.instance.tag !== currentInstance?.activeVersion?.tag"
          class="bd-rect-card"
          fxLayout="column"
          [style.margin-bottom.px]="10"
        >
          <div fxLayout="row" class="bd-default-padding" fxLayoutGap="5px">
            <div fxLayout="column" fxFlex="1 0 0">
              <div *ngIf="!!currentInstance?.activeVersion?.tag">
                This instance has a newer configuration version available to be
                activated ({{ currentInstance?.instance.tag }}). You can
                <strong>install and activate</strong> this version now.
              </div>
              <div *ngIf="!currentInstance?.activeVersion?.tag">
                This instance has no active version. You can install and
                activate the current version now.
              </div>
              <div class="bd-description-text">
                To <strong>install, uninstall or activate</strong> other
                versions, please go to the
                <a
                  [routerLink]="['/instances', 'history', areas.groupContext$.value, areas.instanceContext$.value]"
                  >instance history</a
                >.
              </div>
            </div>
            <ng-container *ngIf="states$ | async as state">
              <app-bd-button
                fxFlexAlign="center"
                color="primary"
                text="Install"
                icon="layers"
                (click)="doInstall(currentInstance?.instance.tag)"
                [collapsed]="isInstalled"
                [disabled]="(installing$ | async) || isInstalled || !(auth.isCurrentScopeWrite$ | async)"
                [loadingWhen$]="installing$"
                tooltip="below"
              ></app-bd-button>
              <app-bd-button
                fxFlexAlign="center"
                color="primary"
                text="Activate"
                icon="star"
                (click)="doActivate(currentInstance?.instance.tag)"
                [collapsed]="!isInstalled"
                [disabled]="(activating$ | async) || !isInstalled || !(auth.isCurrentScopeWrite$ | async)"
                [loadingWhen$]="activating$"
                tooltip="below"
              ></app-bd-button>
            </ng-container>
          </div>
        </div>
      </ng-container>

      <div fxLayout="column" fxLayoutGap="10px" *ngIf="activeInstance">
        <app-bd-banner
          *ngIf="activeInstance.banner && activeInstance.banner.text"
          [banner]="activeInstance.banner"
        ></app-bd-banner>

        <!-- Each node in the instance (the ones containing applications only) -->
        <ng-container *ngIf="instances.activeNodeCfgs$ | async as nodes">
          <app-bd-no-data *ngIf="!nodes?.nodeConfigDtos?.length">
            <p [style.text-align]="'center'">
              <strong>{{ currentInstance?.instanceConfiguration.name }}</strong>
              does not have any configured applications in the current instance
              version. Dashboard not available.
            </p>
            <p [style.text-align]="'center'">
              Configure, install and activate instance version first.
            </p>
            <app-bd-button
              text="Configure Instance"
              icon="settings"
              [collapsed]="false"
              [routerLink]="['/instances', 'configuration', areas.groupContext$ | async, areas.instanceContext$ | async]"
              [disabled]="!(auth.isCurrentScopeWrite$ | async)"
            ></app-bd-button>
          </app-bd-no-data>
          <app-instance-server-node
            *ngFor="let node of serverNodes$ | async"
            [node]="node"
            [gridWhen$]="gridMode$"
            [groupingWhen$]="grouping$"
            [collapsedWhen$]="collapsed$"
            [narrowWhen$]="narrow$"
            [bulkMode]="bulkBtn.toggle && bulkBtn.rla?.isActive"
          ></app-instance-server-node>
          <app-instance-client-node
            *ngIf="clientNode$ | async as node"
            [gridWhen$]="gridMode$"
            [groupingWhen$]="grouping$"
            [collapsedWhen$]="collapsed$"
            [narrowWhen$]="narrow$"
            [node]="node"
          ></app-instance-client-node>
        </ng-container>
      </div>

      <!-- Show hint if there is no active version. -->
      <app-bd-no-data *ngIf="!activeInstance">
        <p [style.text-align]="'center'">
          <strong>{{ currentInstance?.instanceConfiguration.name }}</strong>
          does not have an active version. Dashboard not yet available.
        </p>
        <p [style.text-align]="'center'">
          Configure, install and activate instance version first.
        </p>
        <app-bd-button
          text="Configure Instance"
          icon="settings"
          [collapsed]="false"
          [routerLink]="['/instances', 'configuration', areas.groupContext$ | async, areas.instanceContext$ | async]"
          [disabled]="!(auth.isCurrentScopeWrite$ | async)"
        ></app-bd-button>
      </app-bd-no-data>
    </ng-container>
  </app-bd-dialog-content>
</app-bd-dialog>
