<app-bd-dialog [loadingWhen$]="instances.loading$">
  <app-bd-dialog-toolbar header="Dashboard">
    <div class="flex-auto"></div>
    @if (activeInstance()) {
      <div
        class="local-version-text"
        [matTooltip]="!activeInstance().managedServer?.hostName ? null : 'On ' + activeInstance().managedServer.hostName"
        >
        @if (!(narrow$ | async)) {
          Showing Active Version: {{ activeInstance().activeVersion.tag }}@if (!!activeInstance().managedServer?.hostName) {
          <span
            >
            on {{ activeInstance().managedServer.hostName }}</span
            >
          }
        }
        @if (narrow$ | async) {
          Ver.: {{ activeInstance().activeVersion.tag }}
        }
      </div>
    }
    @if (activeInstance()?.managedServer?.update?.updateAvailable && (auth.isCurrentScopeAdmin$ | async)) {
      <app-bd-button
        text="Server Update Available"
        icon="system_update"
        [collapsed]="narrow$ | async"
        color="accent"
        (click)="
          areas.navigateBoth(['/servers', 'browser', areas.groupContext$.value], ['panels', 'servers', 'details', activeInstance()?.managedServer?.hostName])
        "
      ></app-bd-button>
      @if (isCentral) {
        <mat-divider [vertical]="true"></mat-divider>
      }
    }
    @if (isCentral) {
      @if (currentInstance()) {
        <app-bd-server-sync-button [server]="currentInstance().managedServer"></app-bd-server-sync-button>
        <mat-divider [vertical]="true"></mat-divider>
      }
    }
    <app-bd-data-grouping
      [multiple]="!(gridMode$ | async)"
      (groupingChange)="grouping$.next($event)"
      [definitions]="groupingDefinitions"
      [records]="allApplications$ | async"
      [defaultGrouping]="defaultGrouping"
      presetKey="dashboard"
    ></app-bd-data-grouping>
    <app-bd-button
      [isToggle]="true"
      icon="grid_view"
      text="Toggle Card Mode"
      [toggle]="gridMode$ | async"
      (toggleChange)="gridMode$.next($event)"
      tooltipPosition="below"
      [disabled]="collapsed$ | async"
    ></app-bd-button>
    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-button
      [isToggle]="true"
      icon="unfold_less"
      text="Collapsed Mode"
      [toggle]="collapsed$ | async"
      (toggleChange)="collapsed$.next($event)"
      tooltipPosition="below"
    ></app-bd-button>
    <app-bd-panel-button
      #bulkBtn
      text="Bulk Control"
      icon="library_add_check"
      [route]="['panels', 'instances', 'bulk-control']"
      tooltipPosition="below"
      [disabled]="!(auth.isCurrentScopeWrite$ | async)"
    ></app-bd-panel-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <ng-container>
      @if (hasProduct()) {
        @if (currentInstance().instance.tag !== currentInstance().activeVersion?.tag && (servers.isCurrentInstanceSynchronized$ | async)) {
          <div
            class="bd-rect-card flex flex-col mb-2.5"
            >
            <div class="bd-default-padding flex gap-1">
              <div class="flex-auto flex flex-col">
                @if (!!currentInstance().activeVersion?.tag) {
                  <div>
                    This instance has a newer configuration version available to be activated (version {{
                      currentInstance().instance.tag
                    }}). You can
                    <strong>install and activate</strong> this version now.
                  </div>
                }
                @if (!currentInstance().activeVersion?.tag) {
                  <div>
                    This instance has no active version. You can install and activate the current version
                    (version {{ currentInstance().instance.tag }}) now.
                  </div>
                }
                <div class="bd-description-text">
                  To <strong>install, uninstall or activate</strong> other versions, please go to the
                  <a [routerLink]="['/instances', 'history', areas.groupContext$.value, areas.instanceContext$.value]"
                    >instance history</a
                    >.
                  </div>
                </div>
                  <app-bd-button
                    color="primary"
                    text="Install"
                    icon="deployed_code_update"
                    (click)="doInstall(currentInstance().instance.tag)"
                    [collapsed]="isInstalled()"
                    [disabled]="!(states$ | async) || (mappedInstall$ | async) || isInstalled() || !(auth.isCurrentScopeWrite$ | async) || !hasProduct() || !hasMinMinionVersion()"
                    [loadingWhen$]="mappedInstall$"
                    tooltip="installButtonDisabledMessage()"
                    tooltipPosition="below"
                  ></app-bd-button>
                  <app-bd-button
                    color="primary"
                    text="Activate"
                    icon="deployed_code_alert"
                    (click)="doActivate(currentInstance().instance.tag)"
                    [collapsed]="!isInstalled()"
                    [disabled]="!(states$ | async) || (mappedActivate$ | async) || !isInstalled() || !(auth.isCurrentScopeWrite$ | async)"
                    [loadingWhen$]="mappedActivate$"
                    tooltipPosition="below"
                  ></app-bd-button>
              </div>
            </div>
          }
        }

      @if (activeInstance()) {
          <div class="flex flex-col gap-2.5">
            @if (activeInstance().banner && activeInstance().banner.text) {
              <app-bd-banner
                [banner]="activeInstance().banner"
              ></app-bd-banner>
            }
            <!-- Each node in the instance (the ones containing applications only) -->
            @if (instances.activeNodeCfgs$ | async; as nodes) {
              @if (!nodes?.nodeConfigDtos?.length) {
                <app-bd-no-data>
                  <p class="text-center">
                    <strong>{{ currentInstance()?.instanceConfiguration.name }}</strong>
                    does not have any configured applications in the current instance version. Dashboard not available.
                  </p>
                  <p class="text-center">Configure, install and activate instance version first.</p>
                  <app-bd-button
                    text="Configure Instance"
                    icon="settings"
                    [collapsed]="false"
                    (click)="goToInstanceConfiguration()"
                    [disabled]="!(auth.isCurrentScopeWrite$ | async)"
                  ></app-bd-button>
                </app-bd-no-data>
              }
              @for (node of serverNodes$ | async; track node) {
                <app-instance-server-node
                  [node]="node"
                  [gridWhen$]="gridMode$"
                  [groupingWhen$]="grouping$"
                  [collapsedWhen$]="collapsed$"
                  [narrowWhen$]="narrow$"
                  [bulkMode]="bulkBtn.toggle && bulkBtn.rla?.isActive"
                ></app-instance-server-node>
              }
              @if (clientNode$ | async; as node) {
                <app-instance-client-node
                  [gridWhen$]="gridMode$"
                  [groupingWhen$]="grouping$"
                  [collapsedWhen$]="collapsed$"
                  [narrowWhen$]="narrow$"
                  [node]="node"
                ></app-instance-client-node>
              }
            }
          </div>
        }

        <!-- Show hint if there is no active version. -->
      @if (!activeInstance()) {
          <app-bd-no-data>
            <p class="text-center">
              <strong>{{ currentInstance()?.instanceConfiguration.name }}</strong>
              does not have an active version. Dashboard not yet available.
            </p>
            <p class="text-center">Configure, install and activate instance version first.</p>
            <app-bd-button
              text="Configure Instance"
              icon="settings"
              [collapsed]="false"
              (click)="goToInstanceConfiguration()"
              [disabled]="!(auth.isCurrentScopeWrite$ | async)"
            ></app-bd-button>
          </app-bd-no-data>
        }
      </ng-container>
    </app-bd-dialog-content>
  </app-bd-dialog>
