<app-bd-dialog [loadingWhen$]="saving$">
  <app-bd-dialog-toolbar header="Add User" [panel]="true"></app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <form #form="ngForm" (ngSubmit)="onSave()" class="flex flex-col gap-1">
      <app-bd-form-input
        name="name"
        label="Username"
        [(ngModel)]="addUser.name"
        required
        appIdentifier
      ></app-bd-form-input>
      <app-bd-form-input name="fullName" label="Full Name" [(ngModel)]="addUser.fullName"></app-bd-form-input>
      <app-bd-form-input
        name="email"
        label="E-Mail Address"
        [(ngModel)]="addUser.email"
        type="email"
        email
        appTrimmed
      ></app-bd-form-input>
      <app-bd-form-input
        name="pass"
        label="New Password"
        [(ngModel)]="addUser.password"
        type="password"
        [passwordShowable]="true"
        minlength="12"
        maxlength="128"
        required
      ></app-bd-form-input>
      <app-bd-form-input
        name="passConfirm"
        label="Confirm Password"
        [(ngModel)]="addConfirm"
        type="password"
        [passwordShowable]="true"
        minlength="12"
        maxlength="128"
        required
        [appPasswordVerification]="addUser.password"
      ></app-bd-form-input>
      <password-strength-meter [password]="addUser.password"></password-strength-meter>
      <app-bd-button
        color="primary"
        [collapsed]="false"
        text="Save"
        icon="save"
        [disabled]="form.invalid"
      ></app-bd-button>
    </form>
  </app-bd-dialog-content>
</app-bd-dialog>
