<ng-template #renameDialog>
  <app-bd-form-input
    class="min-w-[300px]"
    label="New Name"
    name="newName"
    [(ngModel)]="newName"
    appCfgFileNameValidator
    required
    appTrimmed
    #renameInput
  ></app-bd-form-input>
</ng-template>

<div class="flex justify-start items-center">
  <app-bd-button
    text="Rename"
    icon="drive_file_rename_outline"
    [disabled]="!renameAllowed || (!!record.persistent && !record.persistent.instanceId && !record.modification?.file)"
    (click)="onRename(renameDialog)"
  ></app-bd-button>
</div>
