<app-bd-dialog [loadingWhen$]="loading$">
  <app-bd-dialog-toolbar header="User Accounts">
    <div class="flex-auto"></div>
    <app-bd-data-grouping
      (groupingChange)="dataDisplay.grouping = $event; dataDisplay.update()"
      [definitions]="grouping"
      [records]="authAdmin.users$ | async"
      presetKey="userAdmin"
    ></app-bd-data-grouping>
    <mat-divider [vertical]="true"></mat-divider>
    <app-bd-panel-button
      [collapsed]="false"
      color="primary"
      text="Create User..."
      icon="add"
      [route]="['panels', 'admin', 'add-user']"
      [disabled]="(settings.settings$ | async)?.auth.disableBasic"
      [matTooltip]="settings.settings$.value?.auth.disableBasic ? 'Local user management is disabled' : 'Create a local user account'"
    ></app-bd-panel-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div class="bd-default-padding">
      <app-bd-data-table
        #dataDisplay
        [records]="authAdmin.users$ | async"
        [columns]="columns"
        [recordRoute]="getRecordRoute"
        [sort]="sort"
      >
      </app-bd-data-table>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
