<app-bd-dialog
  [loadingWhen$]="loading$"
  [resetWhen$]="detailsService.softwarePackage$"
>
  <app-bd-dialog-toolbar
    header="Details"
    [panel]="true"
  ></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div
      fxLayout="column"
      fxLayoutGap="10px"
      *ngIf="detailsService.softwarePackage$ | async as software"
    >
      <ng-container *ngIf="software?.type === 'Product'">
        <div gdColumns="70px auto" gdGap="5px">
          <strong>ID:</strong>
          <div>{{ software.product }}</div>
          <strong>Name:</strong>
          <div>{{ software.name }}</div>
          <strong>Version:</strong>
          <div>{{ software.key.tag }}</div>
          <strong>Vendor:</strong>
          <div>{{ software.vendor }}</div>
        </div>

        <ng-container *ngIf="detailsService.softwarePackage$ | async as prod">
          <app-bd-expand-button [text]="'Labels'" icon="label">
            <app-bd-data-display
              [records]="detailsService.labels$ | async"
              [columns]="labelColumns"
            >
              <app-bd-no-data>
                <div>This product has no labels.</div>
              </app-bd-no-data>
            </app-bd-data-display>
          </app-bd-expand-button>

          <app-bd-expand-button
            text="Application Templates"
            icon="bookmark_border"
          >
            <app-bd-data-display
              [records]="prod.applicationTemplates"
              [columns]="appTemplColumns"
            >
              <app-bd-no-data>
                <div>This product has no application templates.</div>
              </app-bd-no-data>
            </app-bd-data-display>
          </app-bd-expand-button>

          <app-bd-expand-button text="Instance Templates" icon="bookmarks">
            <app-bd-data-display
              [records]="prod.instanceTemplates"
              [columns]="instTemplColumns"
            >
              <app-bd-no-data>
                <div>This product has no instance templates.</div>
              </app-bd-no-data>
            </app-bd-data-display>
          </app-bd-expand-button>

          <app-bd-expand-button text="Plugins" icon="extension">
            <app-bd-data-display
              [records]="softwareDetailsPlugins$ | async"
              [columns]="pluginColumns"
            >
              <app-bd-no-data>
                <div>This product has no plugins.</div>
              </app-bd-no-data>
            </app-bd-data-display>
          </app-bd-expand-button>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="software?.type === 'External Software'">
        <div><strong>ID:</strong>&nbsp;{{ software.key.name }}</div>
        <div><strong>Version:</strong>&nbsp;{{ software.key.tag }}</div>
      </ng-container>

      <app-bd-button
        [collapsed]="false"
        text="Download"
        icon="cloud_download"
        (click)="doDownload()"
        [loadingWhen$]="preparing$"
        [disabled]="preparing$ | async"
      ></app-bd-button>
      <app-bd-button
        [collapsed]="false"
        text="Delete"
        icon="delete"
        (click)="doDelete(software)"
        [disabled]="!(auth.isCurrentScopeAdmin$ | async)"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
