<app-bd-dialog [loadingWhen$]="loading$" [resetWhen$]="detailsService.softwarePackage$">
  <app-bd-dialog-toolbar header="Details" [panel]="true"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div class="flex flex-col gap-2.5" *ngIf="detailsService.softwarePackage$ | async as software">
      <ng-container *ngIf="software?.type === 'Product'">
        <div class="grid grid-cols-[70px_auto] gap-1">
          <strong>ID:</strong>
          <div>{{ asProduct(software).product }}</div>
          <strong>Name:</strong>
          <div>{{ asProduct(software).name }}</div>
          <strong>Version:</strong>
          <div>{{ asProduct(software).key.tag }}</div>
          <strong>Vendor:</strong>
          <div>{{ asProduct(software).vendor }}</div>
        </div>

        <app-bd-expand-button [text]="'Labels'" icon="label">
          <app-bd-data-display [records]="detailsService.labels$ | async" [columns]="labelColumns">
            <app-bd-no-data>
              <div>This product has no labels.</div>
            </app-bd-no-data>
          </app-bd-data-display>
        </app-bd-expand-button>

        <app-bd-expand-button text="Application Templates" icon="bookmark_border">
          <app-bd-data-display [records]="asProduct(software).applicationTemplates" [columns]="appTemplColumns">
            <app-bd-no-data>
              <div>This product has no application templates.</div>
            </app-bd-no-data>
          </app-bd-data-display>
        </app-bd-expand-button>

        <app-bd-expand-button text="Instance Templates" icon="bookmarks">
          <app-bd-data-display [records]="asProduct(software).instanceTemplates" [columns]="instTemplColumns">
            <app-bd-no-data>
              <div>This product has no instance templates.</div>
            </app-bd-no-data>
          </app-bd-data-display>
        </app-bd-expand-button>

        <app-bd-expand-button text="Plugins" icon="extension">
          <app-bd-data-display [records]="softwareDetailsPlugins$ | async" [columns]="pluginColumns">
            <app-bd-no-data>
              <div>This product has no plugins.</div>
            </app-bd-no-data>
          </app-bd-data-display>
        </app-bd-expand-button>
      </ng-container>

      <ng-container *ngIf="software?.type === 'External Software'">
        <div><strong>ID:</strong>&nbsp;{{ software.key.name }}</div>
        <div><strong>Version:</strong>&nbsp;{{ software.key.tag }}</div>
      </ng-container>

      <app-bd-button
        [collapsed]="false"
        text="Download BHive"
        icon="cloud_download"
        (click)="doDownload(false)"
        [loadingWhen$]="preparingBHive$"
        [disabled]="preparingBHive$ | async"
      ></app-bd-button>
      <app-bd-button
        [collapsed]="false"
        text="Download Content"
        icon="cloud_download"
        (click)="doDownload(true)"
        [loadingWhen$]="mappedPrepC$"
        [disabled]="mappedPrepC$ | async"
      ></app-bd-button>
      <app-bd-button
        [collapsed]="false"
        text="Delete"
        icon="delete"
        (click)="doDelete(software)"
        [disabled]="(isRequiredByProduct$ | async) || !(auth.isCurrentScopeAdmin$ | async)"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
