<div class="bd-default-padding">
  <p>Configuring a mail server will allow BDeploy to send e-mails to the master BDeploy server.</p>

  <div class="grid grid-cols-[32px_150px_auto] gap-2.5 items-center"
       [class.bd-secondary-text]="!settings.settings$.value.mailSenderSettings.enabled">
    <mat-icon></mat-icon>
    <div>Current state:</div>
    <div> {{settings.settings$.value.mailSenderSettings.enabled ? 'Enabled' : 'Disabled'}}</div>

    <mat-icon>link</mat-icon>
    <div>URL:</div>
    <div>{{ settings.settings$.value.mailSenderSettings.url }}</div>

    <mat-icon>account_circle</mat-icon>
    <div>Username:</div>
    <div>{{ settings.settings$.value.mailSenderSettings.username }}</div>

    <mat-icon>outgoing_mail</mat-icon>
    <div>Sender Address:</div>
    <div>{{ settings.settings$.value.mailSenderSettings.senderAddress }}</div>

    <mat-icon>inbox</mat-icon>
    <div>Receiver Address:</div>
    <div>{{ settings.settings$.value.mailSenderSettings.receiverAddress }}</div>

    <mat-icon>settings_system_daydream</mat-icon>
    <div>Managed Server Name:</div>
    <div>{{ settings.settings$.value.mailSenderSettings.managedServerName }}</div>
  </div>
</div>
