<app-bd-dialog>
  <app-bd-dialog-toolbar header="View version {{ base$ | async }} of {{ (instances.current$ | async)?.instanceConfiguration.name }}" [closeablePanel]="true">
    <div fxFlex="1 0 auto"></div>
    <app-bd-panel-button
      #backButton
      [collapsed]="narrow$ | async"
      text="Back to overview"
      icon="arrow_back"
      [toggle]="false"
      [route]="['..', '..']"
      [relative]="true"
    ></app-bd-panel-button>
  </app-bd-dialog-toolbar>
  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px" *ngIf="config$ | async as cfg" [style.padding-top.px]="2">
      <div class="bd-rect-card" fxLayout="column">
        <div fxLayout="column">
          <div fxLayout="row" class="bd-default-padding" [style.padding-bottom.px]="0">
            <div fxLayout="column">
              <div class="bd-type-text">Instance Configuration</div>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px" class="bd-default-padding">
          <app-history-header-config fxFlex="50%" [baseConfig]="cfg.config" [compareConfig]="cfg.config"></app-history-header-config>
        </div>
      </div>

      <!-- Nodes. -->
      <ng-container *ngFor="let node of cfg.nodes?.nodeConfigDtos">
        <div class="bd-rect-card" *ngIf="!!node.nodeConfiguration?.applications?.length">
          <div fxLayout="column">
            <div fxLayout="row" class="bd-default-padding" [style.padding-bottom.px]="0">
              <div fxLayout="column">
                <div class="bd-type-text">NODE</div>
                <div class="bd-title-text">{{ getNodeName(node) }}</div>
              </div>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="10px" class="bd-default-padding">
            <app-history-process-config
              *ngFor="let app of node.nodeConfiguration.applications"
              [baseConfig]="app"
              [compareConfig]="app"
              [baseDescriptor]="cfg?.nodes?.applications[app.application.name]"
              [hasProcessControl]="hasProcessControl(node)"
            ></app-history-process-config>
          </div>
        </div>
      </ng-container>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
