<div
  class="local-sizing"
  [class.local-bg-toolbar]="background === 'toolbar'"
  [class.local-bg-dialog]="background === 'dialog'"
  fxLayout="row"
  fxFlex="1 0 auto"
>
  <div
    class="local-icon-area"
    [class]="type === 'generic' ? 'bd-glow-bg' : type === 'error' ? 'bd-glow-bg-error' : 'bd-glow-bg-warn'"
    *ngIf="!collapsed"
    fxFlex="0 0 auto"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-icon *ngIf="!!icon && type === 'generic'">{{ icon }}</mat-icon>
    <mat-icon
      *ngIf="!!svgIcon && type === 'generic'"
      [svgIcon]="svgIcon"
    ></mat-icon>
    <mat-icon *ngIf="type !== 'generic'">
      {{ type === 'error' ? 'error' : 'warning' }}</mat-icon
    >
  </div>
  <div
    fxFlex="2 0 0"
    fxLayout="column"
    fxLayoutGap="10px"
    fxLayoutAlign="center stretch"
    [class.local-content-collapsed]="collapsed"
    [class.local-content-expanded]="!collapsed"
  >
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
      <ng-container *ngIf="collapsed">
        <mat-icon *ngIf="!!icon && type === 'generic'">{{ icon }}</mat-icon>
        <mat-icon
          *ngIf="!!svgIcon && type === 'generic'"
          [svgIcon]="svgIcon"
        ></mat-icon>
        <mat-icon *ngIf="type !== 'generic'">
          {{ type === 'error' ? 'error' : 'warning' }}</mat-icon
        >
      </ng-container>
      <div class="bd-text-ellipsis">
        <strong>{{ header }}</strong>
      </div>
      <div
        fxFlex="1 0 auto"
        fxLayout="row"
        fxLayoutGap="5px"
        *ngIf="dismissable"
      >
        <div fxFlex="1 0 auto"></div>
        <app-bd-micro-icon-button
          data-cy="notification-dismiss"
          (click)="dismiss.emit(null)"
          [disabled]="disabled"
          >close</app-bd-micro-icon-button
        >
      </div>
    </div>
    <div class="bd-scroll-container" fxLayout="column">
      <ng-content></ng-content>
    </div>
  </div>
</div>
