<div
  class="local-sizing"
  [class.local-bg-toolbar]="background === 'toolbar'"
  [class.local-bg-dialog]="background === 'dialog'"
  fxLayout="row"
  fxFlex="1 0 auto"
>
  <div class="bd-glow-bg local-icon-area" fxFlex="0 0 auto" fxLayout="column" fxLayoutAlign="center center">
    <mat-icon *ngIf="!!icon" [ngClass]="warning ? 'bd-warning-text' : []">{{ icon }}</mat-icon>
    <mat-icon *ngIf="!!svgIcon" [ngClass]="warning ? 'bd-warning-text' : []" [svgIcon]="svgIcon"></mat-icon>
  </div>
  <div fxFlex="2 0 0" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center stretch" class="local-content">
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
      <div class="bd-text-ellipsis">
        <strong>{{ header }}</strong>
      </div>
      <div fxFlex="1 0 auto" fxLayout="row" fxLayoutGap="5px" *ngIf="dismissable">
        <div fxFlex="1 0 auto"></div>
        <app-bd-micro-icon-button data-cy="notification-dismiss" (click)="dismiss.emit(null)" [disabled]="disabled">close</app-bd-micro-icon-button>
      </div>
    </div>
    <div class="bd-scroll-container" fxLayout="column">
      <ng-content></ng-content>
    </div>
  </div>
</div>
