<div
  class="local-sizing flex-auto flex min-h-0 max-h-full overflow-auto"
  [class.local-bg-toolbar]="background === 'toolbar'"
  [class.local-bg-dialog]="background === 'dialog'"
  >
  @if (!collapsed) {
    <div
      class="local-icon-area flex-none flex flex-col justify-center items-center"
      [ngClass]="type === 'generic' ? 'bd-glow-bg' : type === 'error' ? 'bd-glow-bg-error' : 'bd-glow-bg-warn'"
      >
      @if (!!icon && type === 'generic') {
        <mat-icon>{{ icon }}</mat-icon>
      }
      @if (!!svgIcon && type === 'generic') {
        <mat-icon [svgIcon]="svgIcon"></mat-icon>
      }
      @if (type !== 'generic') {
        <mat-icon> {{ type === 'error' ? 'error' : 'warning' }}</mat-icon>
      }
    </div>
  }
  <div
    class="grow flex flex-col gap-2.5 justify-center items-stretch"
    [class.local-content-collapsed]="collapsed"
    [class.local-content-expanded]="!collapsed"
    >
    <div class="flex gap-1 justify-start items-center">
      @if (collapsed) {
        @if (!!icon && type === 'generic') {
          <mat-icon>{{ icon }}</mat-icon>
        }
        @if (!!svgIcon && type === 'generic') {
          <mat-icon [svgIcon]="svgIcon"></mat-icon>
        }
        @if (type !== 'generic') {
          <mat-icon> {{ type === 'error' ? 'error' : 'warning' }}</mat-icon>
        }
      }
      <div class="truncate">
        <strong>{{ header }}</strong>
      </div>
    </div>
    <div class="overflow-auto flex flex-col p-0.5">
      <ng-content></ng-content>
    </div>
  </div>
  @if (dismissable) {
    <div class="local-dismiss-area flex-none flex justify-center items-center">
      <app-bd-micro-icon-button data-testid="notification-dismiss" (click)="dismiss.emit(null)" [disabled]="disabled"
        >close</app-bd-micro-icon-button
        >
      </div>
    }
  </div>
