.local-sizing {
  min-height: 100px;
  max-width: 100%;
}

.local-bg-toolbar {
  background-color: var(--bd-bg-toolbar);
}

.local-bg-dialog {
  background-color: var(--bd-bg-dialog);
}

.local-icon-area {
  width: 64px;
}

.local-content {
  padding: 10px;
}
