<div class='loading-container' *ngIf='loading'>
  <mat-spinner diameter="24"></mat-spinner>
</div>
<ng-container *ngIf="!loading">

  <div class="update-container" *ngIf="showUpdateComponent()">
    <app-managed-server-update [serverName]="server.hostName" [instanceGroupName]="instanceGroupName" [updateDto]="updateDto" (updateEvent)="onUpdateEvent($event)">
    </app-managed-server-update>
  </div>

  <div class='node-table-container' *ngIf='dataSource'>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 node-table">
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

      <ng-container matColumnDef="minion">
        <th mat-header-cell *matHeaderCellDef>
          Minion Name
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.key }}
          <ng-container *ngIf="row.config.master">*</ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="os">
        <th mat-header-cell *matHeaderCellDef>OS</th>
        <td mat-cell *matCellDef="let row">
          <mat-icon [svgIcon]='row.config.os' matTooltip='{{ row.config.os }}'></mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef>System Version</th>
        <td mat-cell *matCellDef="let row">
          {{ getVersion(row.config.version) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef>URL (as known by target server)</th>
        <td mat-cell *matCellDef="let row">
          {{ row.config.remote.uri }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">
          <ng-container>
            <mat-spinner *ngIf="isUpdateInProgress()" class="update-table-icon" diameter="24"> </mat-spinner>
            <mat-icon *ngIf="synchronized && !isUpdateInProgress()" [ngClass]='getStatusClass(row.key)' matTooltip="{{getStatusTooltip(row.key)}}">{{ getStatusIcon(row.key) }}</mat-icon>
            <span *ngIf="!synchronized && !isUpdateInProgress()"> - </span>
          </ng-container>
        </td>
      </ng-container>
    </table>
  </div>
</ng-container>

<mat-action-row>
  <span class='last-sync-label'>Last sync.: {{ getDate(server.lastSync)}}</span>
  <button mat-button (click)='synchronize()' [disabled]='loading || isUpdateInProgress()'>Synchronize</button>
  <button mat-button (click)='edit()' [disabled]='loading || isUpdateInProgress()'>Edit...</button>
  <button mat-button (click)='delete()' [disabled]='loading || isUpdateInProgress()'>Delete</button>
</mat-action-row>
