name: BDeploy CI - Windows
on: [push]

jobs:
  build:
    name: Build and test on Windows
    runs-on: windows-latest

    steps:
    - name: Checkout from GIT
      uses: actions/checkout@v2
        
    - name: Setup JDK 17
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: 17

    - name: Setup NodeJS
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Build and Test
      env:
        NODE_OPTIONS: '--max_old_space_size=1400'
      run: ./gradlew --stacktrace clean build releaseTest -PcypressIgnoreExitValue -PrecordCypress -PcypressBrowser=electron -PcypressNoCoverage=yes -PcypressNoCentral=yes -PcypressTimeout=600000 '-Dtestlogger.theme=plain-parallel'

