<app-bd-notification-card
  [header]="header$ | async"
  [icon]="icon$ | async"
  [disabled]="processing$ | async"
  [type]="(failed$ | async) ? 'warning' : 'generic'"
  (dismiss)="onDismiss()"
  >
  @if ((processing$ | async) || (uploading$ | async)) {
    <mat-progress-bar
      [mode]="(uploading$ | async) ? 'determinate' : 'indeterminate'"
      [value]="status.progressObservable | async"
    ></mat-progress-bar>
  }
  @if ((uploading$ | async) || (processing$ | async)) {
    <div class="break-all bd-description-text">
      Working on it...
    </div>
  }
  @if ((failed$ | async) || (finished$ | async)) {
    <div class="break-all bd-description-text">
      {{ (failed$ | async) ? status.error : this.resultEvaluator(status) }}
    </div>
  }
</app-bd-notification-card>
