<app-bd-notification-card
  [header]="header$ | async"
  [icon]="icon$ | async"
  [disabled]="processing$ | async"
  [type]="(failed$ | async) ? 'warning' : 'generic'"
  (dismiss)="onDismiss()"
>
  <mat-progress-bar
    *ngIf="(processing$ | async) || (uploading$ | async)"
    [mode]="(uploading$ | async) ? 'determinate' : 'indeterminate'"
    [value]="status.progressObservable | async"
  ></mat-progress-bar>
  <div
    *ngIf="(uploading$ | async) || (processing$ | async)"
    class="break-all bd-description-text"
  >
    {{ processingHint$ | async }}
  </div>
  <div
    *ngIf="(failed$ | async) || (finished$ | async)"
    class="break-all bd-description-text"
  >
    {{ (failed$ | async) ? status.detail : this.resultEvaluator(status) }}
  </div>
</app-bd-notification-card>
