<div [ngClass]="maxHeight === null ? 'flex-auto flex flex-col' : 'overflow-auto'"
     [style]="{'max-height': maxHeight === null ? 'auto' : maxHeight}">
  <table
    [id]="id"
    mat-table
    [dataSource]="dataSource"
    matSort
    [matSortActive]="sort ? sort.active : null"
    [matSortDirection]="sort ? sort.direction : null"
    class="flex-auto w-full"
    cdkDropList
    [cdkDropListData]="records"
    [cdkDropListConnectedTo]="dragConnected"
    [cdkDropListDisabled]="!dragReorderMode"
    (cdkDropListDropped)="onDrop($event)"
    [trackBy]="trackNode"
    [class.local-header-hidden]="headerHidden"
    >
    <caption style="display: none">
      {{ caption }}
    </caption>

    <ng-container>
      <tr mat-header-row *matHeaderRowDef="_visibleColumns; sticky: true"></tr>
    </ng-container>

    <!-- each record is a router link -->
    @if (!!recordRoute) {
      <tr
        mat-row
        *matRowDef="let row; columns: _visibleColumns"
        (click)="!checkMode && row.node.item ? recordClick.emit(row.node.item) : undefined"
        [routerLink]="!!row.node.item ? recordRoute(row.node.item) : []"
        [routerLinkActive]="!!row.node.item ? 'mat-row-route-active' : []"
        [class.cursor-pointer]="!!row.node.item"
        [class.cursor-auto]="!row.node.item"
        class="local-row group"
        cdkDrag
      ></tr>
    }

    <!-- no router links, delegate clicking to outside -->
    @if (!recordRoute) {
      <tr
        mat-row
        *matRowDef="let row; columns: _visibleColumns"
        (click)="!checkMode && row.node.item ? recordClick.emit(row.node.item) : undefined"
        [class.cursor-pointer]="!!row.node.item"
        [class.cursor-auto]="!row.node.item"
        class="group"
        cdkDrag
      ></tr>
    }

    <!-- In case no data is available (empty data, filter, etc.) -->
    <tr class="mdc-data-table__row" *matNoDataRow>
      <td class="mdc-data-table__cell" [attr.colspan]="_visibleColumns.length" class="bd-hint-text">
        No data to show.
      </td>
    </tr>

    <!-- static ellipsis footer in case more data is available -->
    <tr
      mat-footer-row
      *matFooterRowDef="_visibleColumns.length ? [_visibleColumns[0]] : []"
      [style.display]="hasMoreData ? 'table-row' : 'none'"
    ></tr>

    @for (col of _columns; track col) {
      @let first = (_visibleColumns.indexOf(col.id) === 0);
      <ng-container [matColumnDef]="col.id">
        <!-- Column headers -->
        <th
          scope="col"
          mat-header-cell
          *matHeaderCellDef
          [style.width]="col.width ? col.width : 'auto'"
          [matTooltip]="col.description"
          [matTooltipShowDelay]="1000"
          mat-sort-header
          [disabled]="!sortData"
          >
          @if (!checkMode || !first) {
            <div
              [style.marginLeft.px]="first && !!grouping?.length ? '40' : null"
              class="truncate"
              >
              {{ col.name }}
            </div>
          }
          @if (checkMode && first) {
            <mat-checkbox
              #cb
              [checked]="isAllChecked()"
              [indeterminate]="!isAllChecked() && isAnyChecked()"
              (change)="toggleCheckAll(cb)"
              appClickStopPropagation
              [disabled]="headerCheckForbidden || (!checkedFrozenWhen$ ? false : (checkedFrozenWhen$ | async))"
              class="truncate local-table-checkbox"
              >{{ col.name }}</mat-checkbox
              >
            }
          </th>
          <td mat-footer-cell *matFooterCellDef [attr.colspan]="_visibleColumns.length" class="bd-hint-text w-auto max-w-0">
            Some data is hidden. Use the search and/or sort to find it.
          </td>
          <ng-container *matCellDef="let row">
            <!-- First column, can not be an action. -->
            @if (first) {
              <td
                mat-cell
                [ngClass]="col.classes && row.node.item ? col.classes(row.node.item) : []"
                [style.width]="col.width ? col.width : 'auto'"
                class="max-w-0"
                [attr.colspan]="row.expandable ? _columns.length : 1"
                >
                <!-- Text for the first column, either group name or item text -->
                <div
                  class="local-first-column flex justify-start items-center"
                  [style.marginLeft.px]="row.expandable ? 0 : getNoExpandIndent(row.level)"
                  [style.fontWeight]="row.expandable ? 'bold' : 'normal'"
                  [matTooltip]="!row.expandable ? (!!col.tooltip ? col.tooltip(row.node.item) : row.node.groupOrFirstColumn) : null"
                  [matTooltipShowDelay]="col.tooltipDelay ? col.tooltipDelay : 1000"
                  >
                  <!-- Button to expand or collapse a group -->
                  @if (row.expandable) {
                    <button
                      mat-icon-button
                      class="local-expand-button"
                      [style.marginLeft.px]="row.level * 24"
                      (click)="treeControl.toggle(row)"
                      aria-label="Expand / Collapse"
                      appClickStopPropagation
                      >
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{ treeControl.isExpanded(row) ? 'expand_more' : 'chevron_right' }}
                      </mat-icon>
                    </button>
                  }
                  <!-- Either simple label or check box in check mode -->
                  @if (!checkMode) {
                    <!-- issue with angular: it cannot pick up the drag handle since it is in a child template, so the *whole* row can be dragged... -->
                    @if (dragReorderMode) {
                      <mat-icon cdkDragHandle class="local-drag-handle cursor-grab mb-[1px]"
                        >drag_indicator</mat-icon
                        >
                      }
                      @if (!col.component || row.expandable) {
                        <div class="truncate grow basis-0 text-left">
                          {{ row.node.groupOrFirstColumn }}
                        </div>
                      }
                      @if (!!col.component && !row.expandable) {
                        <app-bd-data-component-cell
                          [record]="row.node.item"
                          [column]="col"
                        ></app-bd-data-component-cell>
                      }
                    }
                    @if (checkMode) {
                      <mat-checkbox
                        #cb
                        [checked]="isChecked(row)"
                        [indeterminate]="isPartiallyChecked(row)"
                        (change)="toggleCheck(row, cb)"
                        appClickStopPropagation
                        [disabled]="row.node.checkForbidden || (!checkedFrozenWhen$ ? false : (checkedFrozenWhen$ | async))"
                        class="truncate local-table-checkbox"
                        >
                        @if (!col.component || row.expandable) {
                          <div class="truncate grow basis-0 text-left">
                            {{ row.node.groupOrFirstColumn }}
                          </div>
                        }
                        @if (!!col.component && !row.expandable) {
                          <app-bd-data-component-cell
                            [record]="row.node.item"
                            [column]="col"
                          ></app-bd-data-component-cell>
                        }
                      </mat-checkbox>
                    }
                  </div>
                </td>
              }
              <!-- Columns after the first one -->
              @if (!first && !col.action && !row.expandable) {
                <td
                  mat-cell
                  [ngClass]="col.classes && row.node.item ? col.classes(row.node.item) : []"
                  [style.width]="col.width ? col.width : 'auto'"
                  class="max-w-0"
                  >
                  @if (!row.expandable) {
                    @if (!isImageColumn(col)) {
                      @if (!col.component) {
                        <div
                          class="truncate"
                          [matTooltip]="getTooltipTextFor(col, row.node.item)"
                          [matTooltipShowDelay]="col.tooltipDelay ? col.tooltipDelay : 1000"
                          >
                          {{ col.data(row.node.item) }}
                        </div>
                      }
                      @if (!!col.component) {
                        <app-bd-data-component-cell
                          [record]="row.node.item"
                          [column]="col"
                        ></app-bd-data-component-cell>
                      }
                    }
                    @if (isImageColumn(col)) {
                      <div class="flex justify-start items-center">
                        @if (!!col.data(row.node.item)) {
                          <img
                            class="local-row-image"
                            [style.maxWidth]="col.width ? col.width : null"
                            [alt]="col.data(row.node.item)"
                            [src]="getImageUrl(col, row.node.item)"
                            />
                        }
                      </div>
                    }
                  }
                </td>
              }
              <!-- Items with an action (collapsed button), this may not occur on the first column -->
              @if (col.action && !row.expandable) {
                <td
                  mat-cell
                  [ngClass]="col.classes && row.node.item ? col.classes(row.node.item) : []"
                  [style.width]="col.width ? col.width : 'auto'"
                  class="max-w-0"
                  >
                  <div class="flex justify-start items-center">
                    @if (row.node.item) {
                      <app-bd-button
                        [text]="getDataAsStringFor(col, row.node.item)"
                        [tooltip]="getTooltipTextFor(col, row.node.item)"
                        [tooltipPosition]="col.tooltipPosition || 'left'"
                        [icon]="col.icon ? col.icon(row.node.item) : getUnknownIcon(col)"
                        (click)="col.action(row.node.item)"
                        [disabled]="!col.actionDisabled ? false : col.actionDisabled(row.node.item)"
                        appClickStopPropagation
                      ></app-bd-button>
                    }
                  </div>
                </td>
              }
            </ng-container>
          </ng-container>
        }
      </table>
    </div>
