<div fxFlex="1 0 auto" fxLayout="column">
  <table
    [id]="id"
    mat-table
    [dataSource]="dataSource"
    matSort
    [matSortActive]="sort ? sort.active : null"
    [matSortDirection]="sort ? sort.direction : null"
    fxFlex="1 0 auto"
    [style.width]="'100%'"
    cdkDropList
    [cdkDropListData]="records"
    [cdkDropListConnectedTo]="dragConnected"
    [cdkDropListDisabled]="!dragReorderMode"
    (cdkDropListDropped)="onDrop($event)"
  >
    <caption style="display: none">
      {{ caption }}
    </caption>

    <ng-container *ngIf="!headerHidden">
      <tr mat-header-row *matHeaderRowDef="_visibleColumns; sticky: true"></tr>
    </ng-container>

    <!-- each record is a router link -->
    <ng-container *ngIf="!!recordRoute">
      <tr
        mat-row
        *matRowDef="let row; columns: _visibleColumns"
        (click)="!checkMode && row.node.item ? recordClick.emit(row.node.item) : undefined"
        [routerLink]="!!row.node.item ? recordRoute(row.node.item) : []"
        [routerLinkActive]="!!row.node.item ? 'mat-row-route-active' : []"
        [style.cursor]="!!row.node.item ? 'pointer' : 'auto'"
        class="local-row"
        cdkDrag
      ></tr>
    </ng-container>

    <!-- no router links, delegate clicking to outside -->
    <ng-container *ngIf="!recordRoute">
      <tr
        mat-row
        *matRowDef="let row; columns: _visibleColumns"
        (click)="!checkMode && row.node.item ? recordClick.emit(row.node.item) : undefined"
        [style.cursor]="!!row.node.item ? 'pointer' : 'auto'"
        cdkDrag
      ></tr>
    </ng-container>

    <!-- In case no data is available (empty data, filter, etc.)-->
    <tr class="mat-row" *matNoDataRow>
      <td
        class="mat-cell"
        [attr.colspan]="_visibleColumns.length"
        class="bd-hint-text"
      >
        No data to show.
      </td>
    </tr>

    <!-- static ellipsis footer in case more data is available -->
    <tr
      mat-footer-row
      *matFooterRowDef="[_visibleColumns[0]]"
      [style.display]="hasMoreData ? 'table-row' : 'none'"
    ></tr>

    <ng-container
      *ngFor="let col of _columns; let i = index"
      [matColumnDef]="col.id"
    >
      <!-- Column headers -->
      <th
        scope="col"
        mat-header-cell
        *matHeaderCellDef
        [style.width]="col.width ? col.width : 'auto'"
        [matTooltip]="col.description"
        [matTooltipShowDelay]="1000"
        mat-sort-header
        [disabled]="!sortData"
      >
        <div
          [style.marginLeft.px]="i === 0 && !!grouping?.length ? '40' : null"
          class="bd-text-ellipsis"
          *ngIf="!checkMode || i !== 0"
        >
          {{ col.name }}
        </div>

        <mat-checkbox
          #cb
          *ngIf="checkMode && i === 0"
          [checked]="isAllChecked()"
          [indeterminate]="!isAllChecked() && isAnyChecked()"
          (change)="toggleCheckAll()"
          appClickStopPropagation
          [disabled]="!checkedFrozenWhen$ ? false : (checkedFrozenWhen$ | async)"
          class="bd-text-ellipsis local-table-checkbox"
          >{{ col.name }}</mat-checkbox
        >
      </th>

      <td
        mat-footer-cell
        *matFooterCellDef
        [style.width]="'auto'"
        [style.maxWidth]="0"
        [attr.colspan]="_visibleColumns.length"
        class="bd-hint-text"
      >
        Some data is hidden. Use the search and/or sort to find it.
      </td>

      <ng-container *matCellDef="let row">
        <!-- First column, can not be an action. -->
        <ng-container *ngIf="i === 0">
          <td
            mat-cell
            [ngClass]="col.classes && row.node.item ? col.classes(row.node.item) : []"
            [style.width]="col.width ? col.width : 'auto'"
            [style.maxWidth]="0"
            [attr.colspan]="row.expandable ? _columns.length : 1"
          >
            <!-- Text for the first column, either group name or item text -->
            <div
              class="local-first-column"
              [style.marginLeft.px]="row.expandable ? 0 : getNoExpandIndent(row.level)"
              [style.fontWeight]="row.expandable ? 'bold' : 'normal'"
              [matTooltip]="!row.expandable ? (!!col.tooltip ? col.tooltip(row.node.item) : row.node.groupOrFirstColumn) : null"
              [matTooltipShowDelay]="col.tooltipDelay ? col.tooltipDelay : 1000"
              fxLayout="row"
              fxLayoutAlign="start center"
            >
              <!-- Button to expand or collapse a group -->
              <button
                *ngIf="row.expandable"
                mat-icon-button
                [style.marginLeft.px]="row.level * 24"
                (click)="treeControl.toggle(row)"
                aria-label="Expand / Collapse"
                appClickStopPropagation
              >
                <mat-icon class="mat-icon-rtl-mirror">
                  {{ treeControl.isExpanded(row) ? 'expand_more' :
                  'chevron_right' }}
                </mat-icon>
              </button>

              <!-- Either simple label or check box in check mode -->
              <ng-container *ngIf="!checkMode">
                <!-- issue with angular: it cannot pick up the drag handle since it is in a child template, so the *whole* row can be dragged... -->
                <mat-icon
                  *ngIf="dragReorderMode"
                  cdkDragHandle
                  [style.cursor]="'grab'"
                  [style.margin-bottom.px]="1"
                  class="local-drag-handle"
                  >drag_indicator</mat-icon
                >
                <div
                  *ngIf="!col.component || row.expandable"
                  class="bd-text-ellipsis"
                  fxFlex="1 0 0"
                  [style.text-align]="'left'"
                >
                  {{ row.node.groupOrFirstColumn }}
                </div>
                <app-bd-data-component-cell
                  *ngIf="!!col.component && !row.expandable"
                  [componentType]="col.component"
                  [record]="row.node.item"
                  [column]="col"
                ></app-bd-data-component-cell>
              </ng-container>
              <mat-checkbox
                #cb
                *ngIf="checkMode"
                [checked]="isChecked(row)"
                [indeterminate]="isPartiallyChecked(row)"
                (change)="toggleCheck(row, cb)"
                appClickStopPropagation
                [disabled]="!checkedFrozenWhen$ ? false : (checkedFrozenWhen$ | async)"
                class="bd-text-ellipsis local-table-checkbox"
                >{{ row.node.groupOrFirstColumn }}</mat-checkbox
              >
            </div>
          </td>
        </ng-container>

        <!-- Columns after the first one -->
        <ng-container *ngIf="i !== 0 && !col.action && !row.expandable">
          <td
            mat-cell
            [ngClass]="col.classes && row.node.item ? col.classes(row.node.item) : []"
            [style.width]="col.width ? col.width : 'auto'"
            [style.maxWidth]="0"
          >
            <ng-container *ngIf="!row.expandable">
              <ng-container *ngIf="!isImageColumn(col)">
                <div
                  *ngIf="!col.component"
                  class="bd-text-ellipsis"
                  [matTooltip]="!!row.node.item ? (!!col.tooltip ? col.tooltip(row.node.item) : col.data(row.node.item)) : null"
                  [matTooltipShowDelay]="col.tooltipDelay ? col.tooltipDelay : 1000"
                >
                  {{ col.data(row.node.item) }}
                </div>
                <app-bd-data-component-cell
                  *ngIf="!!col.component"
                  [componentType]="col.component"
                  [record]="row.node.item"
                  [column]="col"
                ></app-bd-data-component-cell>
              </ng-container>
              <ng-container *ngIf="isImageColumn(col)">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <img
                    class="local-row-image"
                    [style.maxWidth]="col.width ? col.width : null"
                    *ngIf="!!col.data(row.node.item)"
                    [alt]="col.data(row.node.item)"
                    [src]="getImageUrl(col, row.node.item)"
                  />
                </div>
              </ng-container>
            </ng-container>
          </td>
        </ng-container>

        <!-- Items with an action (collapsed button), this may not occur on the first column -->
        <ng-container *ngIf="col.action && !row.expandable">
          <td
            mat-cell
            [style.width]="col.width ? col.width : 'auto'"
            [style.maxWidth]="0"
          >
            <div fxLayout="row" fxLayoutAlign="start center">
              <app-bd-button
                *ngIf="row.node.item"
                [ngClass]="col.classes && row.node.item ? col.classes(row.node.item) : []"
                [text]="col.data(row.node.item)"
                tooltip="left"
                [icon]="col.icon ? col.icon(row.node.item) : getUnknownIcon(col)"
                (click)="col.action(row.node.item)"
                [disabled]="!col.actionDisabled ? false : col.actionDisabled(row.node.item)"
                appClickStopPropagation
              ></app-bd-button>
            </div>
          </td>
        </ng-container>
      </ng-container>
    </ng-container>
  </table>
</div>
