<ng-template #chooser>
  <mat-card class="chooser-card">
    <div class="chooser-grid">
      <div *ngFor="let t of themeService.getThemes()" [ngClass]="t + '-chooser'">
        <div class="preview-background" (click)="themeService.updateTheme(t)">
          <div class="preview-circle">
            <div class="preview-selected" *ngIf="t === themeService.getCurrentTheme()">
              <mat-icon>check_circle_outline</mat-icon>
            </div>
          </div>
          <div class="preview-accent"></div>
        </div>
      </div>
    </div>
  </mat-card>
</ng-template>
<div #trigger>
  <app-bd-button
    icon="format_color_fill"
    text="Change Color-Theme"
    tooltip="below"
    [inverseColor]="true"
    (click)="openOverlay(trigger, chooser)"
  ></app-bd-button>
</div>
