<ng-template #assignTemplate>
  <div fxLayout="column" fxLayoutGap="5px">
    <p>An existing permission on the selected scope will be replaced.</p>
    <app-bd-form-select [values]="scopes$ | async" [labels]="labels$ | async" [(ngModel)]="assignScope" label="Select Permission Scope"></app-bd-form-select>
    <app-bd-form-select [values]="allPerms" label="Permission" [(ngModel)]="assignPerm"></app-bd-form-select>
  </div>
</ng-template>

<ng-template #editTemplate>
  <form #editForm="ngForm" fxLayout="column" fxLayoutGap="5px">
    <app-bd-form-input name="fullName" label="Full Name" [(ngModel)]="editUser.fullName"></app-bd-form-input>
    <app-bd-form-input name="email" label="E-Mail Address" [(ngModel)]="editUser.email"></app-bd-form-input>
    <app-bd-form-input name="pass" label="New Password" [(ngModel)]="editUser.password" type="password"></app-bd-form-input>
    <app-bd-form-input
      name="passConfirm"
      label="Confirm Password"
      [(ngModel)]="passConfirm"
      type="password"
      [appPasswordVerification]="editUser.password"
      errorDisplay="immediate"
      [required]="!!editUser.password?.length"
    ></app-bd-form-input>
  </form>
</ng-template>

<app-bd-dialog [loadingWhen$]="loading$">
  <app-bd-dialog-toolbar header="User Details" [panel]="true"> </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px" *ngIf="user$ | async as user">
      <div fxLayout="row" fxLayoutGap="10px">
        <app-user-avatar [mail]="user?.email" [hostSize]="64" [avatarSize]="64"></app-user-avatar>
        <div fxFlex="1 0 auto" gdColumns="70px 180px" gdGap="3px 5px" [style.max-width.px]="250">
          <div><strong>Username:</strong></div>
          <div class="bd-text-ellipsis" [matTooltip]="user.name" [matTooltipShowDelay]="1000">{{ user.name }}</div>
          <div><strong>Full Name:</strong></div>
          <div class="bd-text-ellipsis" [matTooltip]="user.fullName" [matTooltipShowDelay]="1000">{{ user.fullName }}</div>
          <div><strong>E-Mail:</strong></div>
          <div class="bd-text-ellipsis" [matTooltip]="user.email" [matTooltipShowDelay]="1000">{{ user.email }}</div>
        </div>
      </div>

      <div class="local-chip local-inactive-chip" *ngIf="user.inactive">INACTIVE</div>
      <div class="local-chip local-inactive-chip" *ngIf="isCurrentUser(user)">Current user - editing restricted.</div>

      <app-bd-data-table [records]="user.permissions" [columns]="permColumns"></app-bd-data-table>

      <app-bd-button
        [disabled]="isCurrentUser(user)"
        *ngIf="!user.inactive"
        [collapsed]="false"
        icon="person_off"
        text="Deactivate Account"
        (click)="onSetInactive(user, true)"
      ></app-bd-button>
      <app-bd-button
        [disabled]="isCurrentUser(user)"
        *ngIf="user.inactive"
        [collapsed]="false"
        icon="person"
        text="Activate Account"
        (click)="onSetInactive(user, false)"
      ></app-bd-button>

      <app-bd-button [collapsed]="false" icon="security" text="Assign Permission" (click)="onAssignPermission(user)"></app-bd-button>

      <app-bd-button
        [collapsed]="false"
        icon="edit"
        text="Edit User"
        [disabled]="user.external || isCurrentUser(user)"
        (click)="onEdit(user)"
        [matTooltip]="user.external ? 'Editing is only possible for local users.' : null"
      ></app-bd-button>

      <app-bd-button
        [disabled]="isCurrentUser(user)"
        icon="delete"
        text="Delete User"
        color="primary"
        [collapsed]="false"
        (click)="onDelete(user)"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
