<app-bd-dialog [loadingWhen$]="loading$">
  <app-bd-dialog-toolbar header="User Details" [panel]="true"> </app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px" *ngIf="user$ | async as user">
      <div fxLayout="row" fxLayoutGap="10px">
        <app-user-avatar [mail]="user?.email" [hostSize]="64" [avatarSize]="64"></app-user-avatar>
        <div fxFlex="1 0 auto" gdColumns="70px 180px" gdGap="3px 5px" [style.max-width.px]="250">
          <div><strong>Username:</strong></div>
          <div class="bd-text-ellipsis" [matTooltip]="user.name" [matTooltipShowDelay]="1000">{{ user.name }}</div>
          <div><strong>Full Name:</strong></div>
          <div class="bd-text-ellipsis" [matTooltip]="user.fullName" [matTooltipShowDelay]="1000">{{ user.fullName }}</div>
          <div><strong>E-Mail:</strong></div>
          <div class="bd-text-ellipsis" [matTooltip]="user.email" [matTooltipShowDelay]="1000">{{ user.email }}</div>
        </div>
      </div>

      <div class="local-chip local-inactive-chip" *ngIf="user.inactive">INACTIVE</div>
      <div class="local-chip local-inactive-chip" *ngIf="isCurrentUser">Current user - editing restricted.</div>

      <app-bd-data-table [records]="user.permissions" [columns]="permColumns"></app-bd-data-table>

      <app-bd-button
        [disabled]="isCurrentUser"
        *ngIf="!user.inactive"
        [collapsed]="false"
        icon="person_off"
        text="Deactivate Account"
        (click)="onSetInactive(user, true)"
      ></app-bd-button>
      <app-bd-button
        [disabled]="isCurrentUser"
        *ngIf="user.inactive"
        [collapsed]="false"
        icon="person"
        text="Activate Account"
        (click)="onSetInactive(user, false)"
      ></app-bd-button>
      <app-bd-panel-button
        [collapsed]="false"
        text="Assign Permission..."
        icon="security"
        [route]="['panels', 'admin', 'user-detail', user.name, 'permission']"
      ></app-bd-panel-button>
      <app-bd-panel-button
        [collapsed]="false"
        text="Edit User..."
        icon="edit"
        [route]="['panels', 'admin', 'user-detail', user.name, 'edit']"
        [disabled]="user.external || isCurrentUser"
        [matTooltip]="user.external ? 'Editing is only possible for local users.' : null"
      ></app-bd-panel-button>
      <app-bd-button [disabled]="isCurrentUser" icon="delete" text="Delete User" [collapsed]="false" (click)="onDelete(user)"></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
