<app-bd-dialog>
  <app-bd-dialog-toolbar
    header="Manage Nodes"
    [panel]="true"
    [route]="['..']"
  ></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div class="flex flex-col gap-2.5">
      <div>
        You can choose which of the nodes available on the server will be
        available for configuration in this instance.
      </div>
      <app-bd-data-table
        [records]="records"
        [columns]="columns"
        [checkMode]="true"
        [(checked)]="checked"
        (checkedChange)="onCheckedChange($event)"
        [checkChangeAllowed]="checkChangeAllowed"
      ></app-bd-data-table>
      <app-bd-button
        text="Apply"
        icon="done"
        [collapsed]="false"
        color="primary"
        [disabled]="!hasPendingChanges || !(servers.isCurrentInstanceSynchronized$ | async)"
        (click)="onSave()"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
