<app-bd-dialog>
  <app-bd-dialog-toolbar header="Manage Nodes" [panel]="true" [route]="['..']"></app-bd-dialog-toolbar>

  <app-bd-dialog-content>
    <div fxLayout="column" fxLayoutGap="10px">
      <div>You can choose which of the nodes available on the server will be available for configuration in this instance.</div>
      <app-bd-data-table
        [records]="records"
        [columns]="columns"
        [checkMode]="true"
        [(checked)]="checked"
        (checkedChange)="onCheckedChange($event)"
        [checkChangeAllowed]="checkChangeAllowed"
      ></app-bd-data-table>
      <app-bd-button
        text="Apply"
        icon="done"
        [collapsed]="false"
        color="primary"
        [disabled]="!isDirty() || !servers.isSynchronized(edit.current$.value?.managedServer)"
        (click)="onSave()"
      ></app-bd-button>
    </div>
  </app-bd-dialog-content>
</app-bd-dialog>
