<mat-toolbar class="mat-elevation-z1 header-toolbar">
  <button mat-icon-button type="button" (click)='location.back()'><mat-icon>chevron_left</mat-icon></button>
  <span>Instance Group: {{instanceGroupName}}</span>
  <span class="fill-space"></span>
  <app-remote-progress [scope]='[instanceGroupName]'></app-remote-progress>
  <mat-form-field class="search">
    <mat-label></mat-label>
    <input matInput type="text" hint="Filter" [(ngModel)]="instanceDtoList.searchString" (ngModelChange)="instanceDtoList.applyFilter()">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</mat-toolbar>

<div *ngIf="loading" class="loading-container">
  <mat-progress-spinner [mode]="'indeterminate'" class="loading-spinner" mode></mat-progress-spinner>
</div>
<ng-container *ngIf="!loading">
  <div *ngIf="!hasProducts && instanceDtoList.isEmpty()" class="list-heading center">
    <p>
      <span class="headerText">No products are available in this instance group. Start by uploading a new one so that a new instance can be created.</span>
    </p>
    <p>
      <span class="material-icons headerIcon">apps</span>
      <span class="headerText"><a [routerLink]="['/instancegroup/products', instanceGroupName]">Manage Products</a></span>
    </p>
  </div>
  <div *ngIf="hasProducts && instanceDtoList.isEmpty()" class="list-heading center">
    <p>
      <span class="headerText">No instances have been defined yet.</span>
    </p>
    <p>
      <span class="material-icons headerIcon">add</span>
      <span class="headerText"><a color="primary" [routerLink]="['/instance/add', instanceGroupName]">Create Instance</a></span>
    </p>
  </div>
  <div *ngFor="let purpose of purposes">
    <p class="list-heading">{{purpose}}</p>
    <div  class="card" *ngFor="let instanceDto of getInstanceDtosByPurpose(purpose)">
      <app-instance-card [instanceDto]='instanceDto' [instanceGroupName]='instanceGroupName' (removeEvent)='remove(instance)'></app-instance-card>
    </div>
    <mat-divider class="list-divider"></mat-divider>
  </div>
</ng-container>

<button mat-fab class="add-button" [routerLink]="['/instance/add', instanceGroupName]" [disabled]="!hasProducts">
  <mat-icon>add</mat-icon>
</button>
<button mat-fab class="products-button" matTooltip="Manage Products..." [routerLink]="['/instancegroup/products', instanceGroupName]" color="primary">
  <mat-icon>apps</mat-icon>
</button>
<button mat-fab class="clientApps-button" matTooltip="Client Applications..." [routerLink]="['/instancegroup/clientapps', instanceGroupName]" color="primary">
  <mat-icon>computer</mat-icon>
</button>
