.add-button {
  top: auto !important;
  right: 40px !important;
  bottom: 40px !important;
  left: auto !important;
  position: absolute;
}

.products-button {
  top: auto !important;
  right: 40px !important;
  bottom: 110px !important;
  left: auto !important;
  position: absolute;
}

.clientApps-button {
  top: auto !important;
  right: 40px !important;
  bottom: 180px !important;
  left: auto !important;
  position: absolute;
}

.permissions-button {
  top: auto !important;
  right: 40px !important;
  bottom: 250px !important;
  left: auto !important;
  position: absolute;
}

.servers-button {
  top: auto !important;
  right: 40px !important;
  bottom: 320px !important;
  left: auto !important;
  position: absolute;
}

.card {
  margin-left: 40px;
  margin-right: 20px;
}

.card-menu {
  float: right;
}

.spacer {
  flex: 1 0 auto;
}

.fill-space {
  flex: 1 0 auto;
}

.list-grouping {
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
}

.list-heading {
  margin-top: 30px;
  margin-left: 20px;
}

.center {
  text-align: center;
}

.headerText {
  font-size: 1.3em;
  margin-left: 15px;
  vertical-align: middle;
}

.headerIcon {
  font-size: 2em;
  vertical-align: middle;
}

.loading-container {
  flex: 1 0 auto;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.headerText .mat-icon {
  margin: 0 5px 5px 0;
}

.headerButton .mat-icon {
  margin: 0 5px 2px 0;
}
